<!DOCTYPE HTML>
<html style="height: 100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{%PAGE_TITLE%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{%TOOLBOX_PATH%}css/bootstrap.min.css">
    <link rel="stylesheet" href="{%TOOLBOX_PATH%}css/toolbox_styles.css">
    <link href="{%template_base%}/CSS/font-awesome-4.2.0/css/font-awesome.css" rel="stylesheet">

    <script type="text/javascript" src="{%URL_PATH%}js/jquery-2.1.1.min.js"></script>
    <script src="{%template_base%}/js/bootstrap.min.js"></script>
    {%EXTRA_CSS%}
    {%HEAD_EXTRAS%}
    <script>
        $(document).ready(function () {
            $(".loginModal").click(function () {
                if( $("#registerModalContent").hasClass('in') ){
                    $('#registerModalContent').modal('toggle');
                }
                $("#loginModalContent").modal();
            });
            $(".registerModal").click(function () {
                if( $("#loginModalContent").hasClass('in') ) {
                    $('#loginModalContent').modal('toggle');
                }
                $("#registerModalContent").modal();
            });

            $("select").select2({
                theme: "bootstrap",
                placeholder: "Select an option"
            });
        });
    </script>

</head>

<body style="height: 100%;">
<div class="top-bar-sct">
    <div id="background-cheat-leftnav" class="{%container%}">
        <div class="row">
            <div class="col-xs-12">
                <div class="loginModal reg-btns pull-right">
                    <span>
                        {%langRegister%} / {%langLogin%}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="banner-sct">
    <div class="{%container%}">
        <div class="row">
            <div class="col-md-6">
                <div class="logo-area hidden-xs hidden-sm">
                    <img class="img-responsive" src="{%logo_img%}">
                </div>
                <div class="logo-area visible-xs visible-sm">
                    <img class="img-responsive center-block" src="{%logo_img_small%}">
                </div>
            </div>
            <div class="col-md-6 menu-nav">
                <ul class="hidden-xs hidden-sm list-inline pull-right">
                    <li>Platform</li>
                    <li>Project</li>
                    <li>FAQ</li>
                </ul>
                <ul class="visible-xs visible-sm list-inline text-center">
                    <li>Platform</li>
                    <li>Project</li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- BEGIN welcomeBlock -->
<div class="description-sct">
    <div class="{%container%}">
        <div class="row">
            <div class="jumbotron jumbotron-login jumbotron-toolbox">
                <h2>{%toolboxTitle%}</h2>
                <p>{%infoAbout%}</p>
                {%socialSharingLinks%}
            </div>
        </div>
    </div>
</div>
<!-- END welcomeBlock -->
<div class="search-sct">
    <div class="{%container%}">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default criterias">
                    <div class="panel-body">
                        <div class="inner-heading text-center">Search form</div>
                        <div class="row">
                            <form method='get' action='{%formAction%}'>
                                <!-- BEGIN selectFieldBlock -->
                                <div class="col-xs-6 col-sm-3">
                                    <div class="form-group">
                                        <label for="{%selectFieldId%}">{%selectFieldLabel%}</label>
                                        <select id="{%selectFieldId%}" name='{%selectFieldName%}' class="form-control" multiple>
                                            <!-- BEGIN selectOptionBlock -->
                                            <option value="{%selectOptionValue%}" {%selectOptionSelected%}>{%selectOptionTitle%}</option>
                                            <!-- END selectOptionBlock -->
                                        </select>
                                    </div>
                                </div>
                                <!-- END selectFieldBlock -->
                                <div class="col-xs-12" style="padding-top: 50px; padding-bottom: 20px;">
                                    <button class="btn btn-success center-block">{%langSearch%}</button>
                            </div>
                            </form>
                        </div>
                        <!-- BEGIN statsBlock -->
                        <div class="col-xs-12 panel-inner-footer">
                            <div class="row text-center">
                                <div class="col-sm-4">
                                    <b>{%langTotalCourses%} : </b> {%totalCourses%}
                                </div>
                                <div class="col-sm-4">
                                    <b>{%langTotalUsers%} : </b> {%totalUsers%}
                                </div>
                                <div class="col-sm-4">
                                    <b>{%langTotalVisits%} : </b> {%totalVisits%}
                                </div>
                            </div>
                        </div>
                        <!-- END statsBlock -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BEGIN resultListBlock -->
<div class="result-sct">
    <div class="{%container%}">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                <div class="panel-body">
                    <div class="inner-heading text-center">Search Results</div>
                    <div class="search-count text-center"><span class="text-muted"><b>{%resultNumEntries%}</b> {%resultNumEntriesFound%}</span></div>
                    <div class="row">
                        <!-- BEGIN resultBlock -->
                        <div class="col-sm-6">
                            <div class="panel panel-success result-wrapper">
                                <div class="panel-heading">
                                    <div class="panel-title"><a href="{%resultLink%}">{%resultTitle%} <i class="fa fa-arrow-circle-o-right pull-right"></i></a></div>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-xs-8 result-content">
                                            {%resultContent%}
                                        </div>
                                        <div class="col-xs-4 result-meta">
                                            <ul class="list-unstyled">
                                                <!-- BEGIN resultMetaBlock -->
                                                <li><span class="fa {%resultMetaIcon%}"></span>&nbsp;&nbsp;{%resultMetaLabel%}</li>
                                                <!-- END resultMetaBlock -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END resultBlock -->
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- END resultListBlock -->
<div class="footer-sct">
    <!-- BEGIN footerBlock -->
    <footer class="footer">
        <div class="{%container%}">
            <div class="row footer-main">
                {%FOOTER%}
            </div>
        </div>
    </footer>
    <!-- END footerBlock -->
    <div class="copyright-note">
        <div id="bgr-cheat-footer" class="{%container%}">
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center">
                        <span>{%COPYRIGHT%} &mdash; <a href="{%TERMS_URL%}">{%LANG_TERMS%}</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="loginModalContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{%langLogin%}</h4>
            </div>
            <div class="modal-body">
                {%loginForm%}
            </div>
            <div class="modal-footer">
                {%noAccountPleaseRegister%}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="registerModalContent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabelRegister">{%langRegister%}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form>
                            <div class="form-group">
                                <label class="hidden" for="inputName">{%langName%}</label>
                                <input type="text" class="form-control" name="givenname_form" id="inputName" placeholder="{%langName%}">
                            </div>
                            <div class="form-group">
                                <label class="hidden" for="inputSurname">{%langSurname%}</label>
                                <input type="text" class="form-control" name="surname_form" id="inputSurname" placeholder="{%langSurname%}">
                            </div>
                            <div class="form-group">
                                <label class="hidden" for="inputUsername">{%langUsername%}</label>
                                <input type="text" class="form-control" name="uname" id="inputUsername" placeholder="{%langUsername%}">
                            </div>
                            <div class="form-group">
                                <label class="hidden" for="inputEmail">{%langEmail%}</label>
                                <input type="email" class="form-control" name="email" id="inputEmail" placeholder="{%langEmail%}">
                            </div>
                            <div class="form-group">
                                <label class="hidden" for="inputPassword">{%langPass%}</label>
                                <input type="password" class="form-control" name="password1" id="inputPassword" placeholder="{%langPass%}">
                            </div>
                            <div class="form-group">
                                <label class="hidden" for="inputPassword1">{%langConfirmation%}</label>
                                <input type="password" class="form-control" name="password" id="inputPassword1" placeholder="{%langConfirmation%}">
                            </div>
                            <button type="button" class="btn btn-primary btn-block">{%langSubmit%}</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                {%alreadyHaveAccount%}
            </div>
        </div>
    </div>
</div>
</body>
</html>
<!-- END mainBlock -->
