div#content_login p{line-height:1.4}
div#navigation{backgroundX:red;}
div#extra{backgroundX:#FF8539}

div#wrapper{float:left;width:99%;margin-right:-200px}
div#content_login{margin-right:200px; padding-leftX:10px;}
div#navigation{float:right;width:200px;}
div#extra{float:right;clear:right;width:200px}
div#footer{clear:both;width:100%}

.extraMessage {
	background-image: url(../../images/important.gif);
	background-repeat: no-repeat;
    margin-left: 50px;
	background-position: 12px 6px;
	padding-top: 12px;
	padding-left: 65px;
	padding-bottom: 12px;
	background-color: #ffffff;
    border-left : 10px solid #F57A00;
	border-top : 1px solid Gray;
	border-bottom : 1px solid Gray;
    width: 99%;
}
