html {
    background-color: #8C2A32;
    padding: 5px 5px 5px 5px;
}

body {
    font-size: 10px;
    font-family: Verdana, Arial;
    background-color: #ffffff;
    color: #666666;
    line-height: 1.3;
}


hr {
    border: 0;
    border: 1px solid #cccccc;}

h3 {
    font-size: 14pt;
    background: #dfdfdf;
    border-bottom: 3px solid #8C2A32;
    padding: 8px;
    font-variant: normal;
    font-weight: bold;
}

h4 {
    font-size: 12px;
    font-family: Verdana, Arial;
    padding: 10px;
    border-bottom: 1px dotted silver;
}

p {
    padding: 10px;
    text-align: justify;
}

.helptopic {
    font-size: 11px;
    font-family: Verdana, Arial;
    text-align:justify;
    line-height: 1.3;
    margin-right: 10px;
    margin-left: 10px;
}

.lihelptopic {
    font-size: 11px;
    font-family: Verdana, Arial;
    text-align:justify;
    line-height: 1.3;
    margin-right: 10px;
    margin-left: 10px;
    list-style-type: square;
}

