
.select2-selection.select2-selection--multiple{ 
    min-height:30px !important;
    border-radius: 35px !important;
    border: 0px !important;
    margin-top:5px;
    background-color: #e8e8e8;
    color: #001146;
    font-size: 14px;
    font-family: 'Manrope-SemiBold', sans-serif;
}

.select2-selection--multiple:before { content: ""; position: absolute; right: 15px; top: 53%; border-top: 5px solid #005ad9;
    border-left: 5px solid transparent; border-right: 5px solid transparent; background: transparent;
}


.select2-selection__rendered{ overflow-y: auto ;  background: transparent; }

.select2.select2-container{ width:100% !important; background: transparent; }

.select2-selection__rendered{ padding-left: 15px !important; padding-right: 15px !important; }

.select2-dropdown--below{ border: 0px !important; background-color: #e8e8e8 !important; }
