<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{page_title}</title>
<link href="{template_base}/ebook_fullscreen.css" rel="stylesheet" type="text/css" />
{ebook_head}
<script type='text/javascript' src='{js_base}/jquery-1.2.1.min.js'></script>
<script type='text/javascript' src='{js_base}/jquery-ui-1.8.1.custom.min.js'></script>
<script type='text/javascript' src='{js_base}/jquery.cookie.js'></script>
<script type='text/javascript'>
function change_section() {
    top.location='{ebook_url_base}'+document.getElementsByName('section')[0].value+'/{unit_parameter}';
}
</script>

</head>

<body>
<div class="tools">

<div class='ebook_left'>
<img src='{img_base}/ds_logo.png' alt='{ds_logo}' title='{ds_logo}' />
<a href='{course_home_link}'><strong><br />
{course_title}</strong></a>&nbsp;

<select name='section' onChange="change_section();" class='auth_input'>
<!-- BEGIN chapter_select_options -->
<option value='{chapter_id}'{chapter_selected}>{chapter_title}</option>
<!-- END chapter_select_options -->
</select>
</div>


<div class='ebook_right'>

<!-- BEGIN back_link_active -->
<a href='{back_chapter_link}'><img src='{img_base}/back.png' alt='{back_chapter_title}' title='{back_chapter_title}' /></a>
<!-- END back_link_active -->
<!-- BEGIN back_link_inactive -->
<img src='{img_base}/back_grey.png' alt='' />
<!-- END back_link_inactive -->

<!-- BEGIN next_link_active -->
<a href='{next_chapter_link}'><img src='{img_base}/next.png' alt='{next_chapter_title}' title='{next_chapter_title}' /></a>
<!-- END next_link_active -->
<!-- BEGIN next_link_inactive -->
<img src='{img_base}/next_grey.png' alt='' />
<!-- END next_link_inactive -->

<a href='{exit_fullscreen_link}'><img src='{img_base}/nofullscreen.png' class="nofullscreen" alt='{$langLeave}' title='{$langBackCourse}' /></a>

</div>

<div class="clear"> </div>
</div>
<div class="clear"> </div>

<!-- BEGIN section_titles -->
<div id='menu_right_hidden'><img src='{img_base}/show.png' id='show_img' /></div>
<div id='menu_right'> 
  <img src='{img_base}img/hide.png' class='ebook_right' id='hide_img' />

<!-- BEGIN section_title_entry -->
  <p{class_active}><a href='{section_link}'>{section_title}</a></p>
<!-- END section_title_entry -->
</div>
<!-- END section_titles -->

<div class='ebook_body'>{ebook_body}</div>

<script type='text/javascript'>
if ($.cookie('ebook_menu') == 'closed') {
	$('#menu_right').hide();
} else {
	$('#menu_right_hidden').hide();
}
$('#hide_img').click(function() {
  $('#menu_right').toggle('slide');
  $('#menu_right_hidden').toggle('slide');
  $.cookie('ebook_menu', 'closed', { path: '/' });
});
$('#show_img').click(function() {
  $('#menu_right_hidden').toggle('slide');
  $('#menu_right').toggle('slide');
  $.cookie('ebook_menu', 'open', { path: '/' });
});
</script>
</body>
</html>
