html {
        margin-bottom: 1px;
        height: 100%!important; /* For Firefox */
        height: auto;
}

body {
        margin:  auto;
        padding: 0;
        width: 980px;
        margin-bottom: 1px;
        height: 100%!important; /* For Firefox */
        height: auto;
        background-color: #dfdfdf;

}

#menu_right a, .tools a {
        text-decoration: none;
        color: #627aad;
}

#menu_right a:hover, #menu_right a:focus, .tools a:hover, .tools a:focus  {
        color: #627aad;
        text-decoration: underline;
}

.ebook_right {
        float: right;
        padding: 5px;
        text-align: right;
        }

.ebook_left {
        float: left;
        padding: 5px;
        width: 300px;     
}

.controls {
        padding-top: 8px;
        text-align: center;
}

a img {
        border: none;
}


.header {
        position: fixed;
        top: 0;
        height: 100px;
        width: 980px;
        margin: 0 auto;
        border-bottom: 3px solid #73849b;
        background-color: #ffffff;
        
}

.tools {
        height: 30px;
        width: 980px;
        font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
        font-size: 13px;
        z-index: 1;
        background-color: #687A92;
        float: left;
        
}

.tools a {
        color: #ffffff;
        text-decoration:none;
}
.tools a:hover {
        text-decoration:underline;
        color: #ffffff;
}

.logo {
float: left;}

.clear {
        clear: both;
}

.nofullscreen {
}

.menu_right {
        display: none;
        width: 330px;
        height: auto;
        padding: 20px;
        background-color: #eceff5;
        border: #3B5998 1px solid;
        z-index: 2;
}


.menu_right, a.trigger {
        font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
}
.menu_right a, a.trigger {
        text-decoration: none;
}
.menu_right a:hover, a.trigger:hover {
        text-decoration: underline;
}

a.trigger {
        position: fixed;
        text-decoration: none;
        top: 120px; right: 0;
        padding: 10px 15px 10px 40px;
        background: #eceff5 url(img/ebook/show.png) 15% 55% no-repeat;
        display: block;
}

a.trigger:hover {
        background: #eceff5 url(img/ebook/show.png) 15% 55% no-repeat;
}

a.trigger.active {
        background: #eceff5 url(img/ebook/hide.png) 15% 55% no-repeat;
}

.menu_right .active {
        background-color: #cfd8ea;
        padding: 2px;
        border: 1px solid #ffffff;
        font-weight: bold;
}

.ebook_body {
        margin-top: 100px;
        clear: both;
        background-color: #ffffff;
        
}
