
#leftnav_perso {
	float: left;
	width: 48.4%;
	margin: 0;
	margin-left:1%;
	padding-top: 1em;
}

#content_main_perso {
	float:right;
	clear:right;
	width:48.5%;
	margin:0;
	padding-top: 1em;
}

table.blocks {
	border: none !important;
	border-collapse: separate;
	font-family: Verdana, Arial, sans-serif;
	font-size:12px;
}

.persoBoxTitle {
	text-align: left !important;
	padding: 6px !important;
	background: #CAC3B5 !important;
	font-size: 10px !important;
	color: #727266 !important;
	border-top: 1px solid #a33033 !important;
	border-bottom: 1px solid #a33033 !important;
	border-left: 1px solid #CAC3B5 !important;
	border-right: 1px solid #CAC3B5 !important;
	margin-bottom: 0.8em !important;
	font-weight : bold;
    word-wrap: break-word !important;
    overflow: hidden !important;
}

table.blocks a {
	//width:99%;
	display: block;
}

div.blocks a {
	color: #333333; 
	text-decoration:none; 
	padding: 2px 5px;
}

div.blocks a:link {
	color: #333333; 
}

//===[IF prof - lessons block]
div.statut a{
	color: #333333; 
	background-color: #CCFF99; 
	text-decoration:none; 
	padding: 2px 5px;
}

div.statut a:link{
	color: #333333; 
	background-color:#CCFF99; 
}

div.statut a:visited {
	color: #333333; 
	background-color:#CCFF99; 
}

//===[END:: IF prof - lessons block]

div.blocks a:active {
	background-color:#fbfbfb;
}

div.blocks a:visited {
	background-color:#fff;
}

div.blocks a:hover {
	background-color:#fbfbfb;
}

//===[BEGIN assignments block]

table.assign, th.assign, td.assign {
	border: none;
	border-collapse: collapse;
	font-family: Verdana, Arial, sans-serif;
	font-size:12px;
	color: #green;
}

table.assign {
	border : 1px solid #ffffff !important;
}


//===[END assignments block]

.datacontainer {
        width: 100%;
        padding: 0;
}

.datacontainer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
}

.datacontainer a {
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left:1px;
	//width: 99.9%;
	//margin-right:14px;
	border-bottom: 1px solid #fbfbfb;
}

.datacontainer a:link, .datalist a:visited {
	text-decoration: none;
}

.datacontainer a:hover {
	background-color: #fff;
	color: #727266
	text-decoration: none;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left:1px;
}

.datacontainer li.category {
	margin-top: 1px;
	margin-left: 1px;
	display: block;
	padding: 3px;
	color: #CAC3B5;
	border-bottom: 1px solid #EDECDF;
	font-weight: bold;
}

//---------------
#assigncontainer {
	width: 100%;
	padding:0;
}


#assigncontainer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
}

#assigncontainer a {
	display: block;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-left:1px;
	<!--[if lte IE 6]>
	//width: 99.9%;
	<![endif]-->

}

#assigncontainer a:link, #assignlist a:visited {
	text-decoration: none;
}

#assigncontainer a:hover {
	display:block;
	padding-top: 1px;
	padding-bottom: 1px;
	background-color: #fff;
	text-decoration: none;

}

#assigncontainer li.category {
	margin-top: 0px;
	margin-left: 0px;
	display: block;
	padding: 0px;
	color: #727266;
	font-weight: bold;
}

.lessonslist_header {
	border : 0px !important;
	padding: 0px !important;
	background-color: transparent !important;
	border-bottom: 1px solid #EDECDF !important;
	color: #CAC3B5;
}


.title_pos {
	display: block;
	padding-left: 14px;
	color: #727266;
	font-weight: bold;
    overflow: hidden;
    white-space: pre;           /* CSS2 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP printers */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3 (and 2.1 as well, actually) */
    word-wrap:   break-word;    /* IE */
    word-break:  break-all;
    word-wrap: breakword;
}

.more_pos {
	color: #727266;
    padding-left: 10px;
}

.content_pos {
  	display: block;
	padding-left: 14px;
    color: #727266;
    padding-top: 0px;
}

p.content_pos {
  	display: block;
	padding-left: 10px;
    font-size: 10px;
    color: #727266;
}

cite.content_pos {
	padding-left: 0px;
	font-style : normal;
	color: #CAC3B5;
}

.content_pos_announce {
	padding-left: 14px;
}

.assign_pos {
	padding-left: 18px;
	color: #727266;
	font-weight: bold;
}

.create_course_icon {
	width: 16px;
	height: 16px;
	background-image: url(img/profile.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 2px 0 4px 20px;
	margin: .5em 0;
}

.search_icon {
	width: 16px;
	height: 16px;
	background-image: url(img/search.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 2px 0 4px 20px;
	margin: .5em 0;
}

.admin_icon {
	width: 16px;
	height: 16px;
	background-image: url(img/admin-tools.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 4px 0 4px 20px;       
	margin: .5em 0;
}

.square_bullet {
	background-image: url(img/arrow_grey.gif);
	background-repeat: no-repeat;
	background-position: 4px 6px;
}

.square_bullet2 {
	background-image: url(img/arrow_grey.gif);
	background-repeat: no-repeat;
	background-position: 4px 6px;
}

.square_bullet3 {
	background-image: url(img/arrow_grey.gif);
	background-repeat: no-repeat;
	background-position: 4px 6px;
    font-weight: bold;
}

.enroll_icon {
	width: 16px;
	height: 16px;
	background-image: url(img/enroll.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 4px 0 4px 20px;
	margin: .5em 0;
}

.create_lesson {
	width: 16px;
	height: 16px;
	background-image: url(img/create_lesson.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 4px 0 4px 20px;
	margin: .5em 0;
}

.tick {
	background-image: url(img/tick.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-position: 0px 2px;
}

.exclamation {
	background-image: url(img/exclamation.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	background-position: 0px 2px;
}



.announce_date{
	color: #727266;
}

.announce_pos {
  	display: block;
	padding-left: 0px;
    color: #727266;
    padding-top: 0px;
}
