<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- BEGIN mainBlock -->
<html>
<head>
<title>{PAGE_TITLE}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="author" content="Evelthon Prodromou - http://www.prodromou.eu" />
<meta name="copyright" content="Copyright 2007-2009 GUnet - http://www.gunet.gr" />
<meta name="keywords" content="elearning, lms, cms, open eclass, openeclass, eclass, e-class, learning, management, system, asynchronous, synchronous" />
<link href="{TOOL_PATH}template/classic/theme.css" rel="stylesheet" type="text/css" />
<link href="{TOOL_PATH}template/classic/tool_content.css" rel="stylesheet" type="text/css" />
<link href="{TOOL_PATH}template/classic/perso.css" rel="stylesheet" type="text/css" />
{TOOL_CSS}

<link rel="SHORTCUT ICON" href="{URL_PATH}template/classic/img/eclass-icon.ico" />

 {HEAD_EXTRAS}

</head>
<body {BODY_ACTION}>

<div id="container">
	<div id="header">
		<a id="logo" href="{URL_PATH}" title="Home Page"></a>

		<div id="fbar_info">
			<div class="user">{LANG_USER} {USER_NAME} {USER_SURNAME}
   				<a href="{LOGOUT_LINK}index.php?logout=yes" title="{LANG_LOGOUT}" >{LANG_LOGOUT}</a>
   			</div>
    		<div class="langSwitch">
    			{OTHER_LINKS}
    		</div>
		</div>
  	</div>

	<div id="thirdBar">
		<div id="tbar_info">
			<div id="search">
				<p class="title">{SEARCH_TITLE}</p>
				<form name="form1" id="form1" method="post" action="{URL_PATH}modules/search/search.php">
					<input type="text" name="search_terms" size="14" />
					<input value="OK" name="submit" type="submit" />
				</form>
				<p><a href="{URL_PATH}modules/search/search.php" title="advanced search" >{SEARCH_ADVANCED}</a></p>
			</div>

		    <div id="bread">
			<!-- BEGIN breadCrumbHomeBlock -->
				<ul>
					<li class="first">{BREAD_HREF_FRONT}{BREAD_TEXT}{BREAD_HREF_END}
					<!-- END breadCrumbHomeBlock -->

					<!-- BEGIN breadCrumbStartBlock -->
						<ul>
							<li>{BREAD_ARROW} {BREAD_HREF_FRONT}{BREAD_TEXT}{BREAD_HREF_END}

							<!-- END breadCrumbStartBlock -->

							<!-- BEGIN breadCrumbEndBlock -->
							</li>
						</ul>

							<!-- END breadCrumbEndBlock -->
			</div>

			<div>
				<span class="{THIRDBAR_LEFT_ICON}"></span><span class="lesson">{THIRD_BAR_TEXT}</span>
			</div>
		</div>

	</div>



 	<div id="content">
  		<div id="leftnav_perso">
   			<table width="100%">
   				<thead>
   					<tr>
      					<th> {LANG_MY_PERSO_LESSONS} </th>
      				</tr>
      			</thead>
      			<tbody>
      				<tr class="odd">
      					<td>
      						{LESSON_CONTENT}
      					</td>
     				</tr>
      			</tbody>
      		</table>

      		<br />

      		<table width="100%">
      			<thead>
      				<tr>
      					<th>
      						{LANG_MY_PERSO_ANNOUNCEMENTS}
      					</th>
      				</tr>
      			</thead>
      			<tbody>
      				<tr class="odd">
      					<td>
      						{ANNOUNCE_CONTENT}
     					</td>
     				</tr>
      			</tbody>
      		</table>

      		<br />

      		<table width="100%">
      			<thead>
      				<tr>
      					<th>
      						{LANG_MY_PERSO_AGENDA}
      					</th>
      				</tr>
      			</thead>
      			<tbody>
      				<tr class="odd">
      					<td>
	      					{AGENDA_CONTENT}
     					</td>
     				</tr>
      			</tbody>
      		</table>

	  	</div>

	  	<div id="content_main_perso">

	  		<table width="100%">
      			<thead>
      				<tr>
      					<th>
      						{LANG_MY_PERSO_DEADLINES}
      					</th>
      				</tr>
      			</thead>
      			<tbody>
      				<tr class="odd">
      					<td>
      						{ASSIGN_CONTENT}
     					</td>
     				</tr>
      			</tbody>
      		</table>

      		<br />
      		<table width="100%">
      			<thead>
      				<tr>
      					<th>
      						{LANG_MY_PERSO_DOCS}
      					</th>
      				</tr>
      			</thead>
      			<tbody>
      				<tr class="odd">
      					<td>
      						{DOCS_CONTENT}
     					</td>
     				</tr>
     			</tbody>
     		</table>

     		<br />

     		<table width="100%">
     			<thead>
     				<tr>
     					<th>
     						{LANG_PERSO_FORUM}
     					</th>
     				</tr>
     			</thead>
     			<tbody>
     				<tr class="odd">
     					<td>
     						{FORUM_CONTENT}
     					</td>
     				</tr>
      			</tbody>
      		</table>

		</div>

  		<div id="clearfooter"></div>

  		<div id="footer">
			<p>
			<a href="info/copyright.php">{LANG_COPYRIGHT_NOTICE}</a>
			</p>
    	</div>
	</div>
</div>
<!-- END mainBlock -->

</body>
</html>
