
 #leftnav_perso
{
float: left;
width: 49%;
margin: 0;
//paddingX: 1em;
padding-top: 1em;
paddingX:0;
background-colorX: red;
border-bottomX: 1px solid #a2a2a3;
border-rightX: 1px solid #a2a2a3;
border-leftX: 1px solid #a2a2a3;
}

#content_main_perso
{
floatX:right;
margin-left:50%;
margin-top:32px;
//margin-top:0px;
margin-leftX: 190px;
padding-top: 1em;
max-widthX: 100%;
background-colorX:yellow;
}

table.blocks {
border: none !important;
border-collapse: collapse;
font-family: Verdana, Arial, sans-serif;
font-size:12px;
}

table.blocks a {
//width:98%;
border: 1px solid #a2a2a3;
display: block;
}

div.blocks a {
color: #333333; 
background-color: #e5edf9;
text-decoration:none; 
font-sizeX:11px;
line-heightX:16px;
font-familyX: Tahoma, verdana, sans-serif;
padding: 2px 5px;
}

div.blocks a:link {
color: #333333; 
background-color: #e5edf9;
}
//===[IF prof - lessons block]
div.statut a{
color: #333333; 
background-color: #CCFF99; 
text-decoration:none; 
padding: 2px 5px;
}

div.statut a:link{
color: #333333; 
background-color:#CCFF99; 
}

div.statut a:visited {
color: #333333; 
background-color:#CCFF99; 
}

//===[END:: IF prof - lessons block]

div.blocks a:active {
colorR: #333333; 
background-color:#fbcb1b;
border: 1px solid #a2a2a3;
}

div.blocks a:visited {
colorR: #333333;
background-colorX:#fbcb1b;
border: 1px solid #a2a2a3;
}

div.blocks a:hover {
colorR: white;
background-color:#fbcb1b;
border: 1px solid #a2a2a3;
}

div.blocks (
position:absolute;
top:0;
left:0;
)

//===[BEGIN assignments block]
#my_assign{
}
table.assign, th.assign, td.assign {
	border: none;
	border-collapse: collapse;
	font-family: Verdana, Arial, sans-serif;
	font-size:12px;
	color: #green;
	
}

th.assign {
	border : 1px solid orange;
}


//===[END assignments block]

 #datacontainer { width: 100%; padding:0;}

#datacontainer ul
{
margin: 0;
padding: 0;
list-style-type: none;
font-family: Arial, Helvetica, sans-serif;
}

#datacontainer a
{
display: block;
paddingX: 3px;
padding-top: 3px;
padding-bottom: 3px;
margin-left:1px;
//width: 99.9%;
//margin-right:14px;
background-colorR: #036;
border-bottom: 1px solid #e5edfa;
}

a.bottomX {
display: block;
padding: 3px;
margin-left:1px;
widthH: 98%;
background-colorR: #036;
border-bottom: 2px solid #e5edfa;
}
#datacontainer a:link, #datalist a:visited
{
colorR: #EEE;
text-decoration: none;
background-colorR: green;
}

#datacontainer a:hover
{
background-color: #fbcb1b;
color: #0066cc;
text-decoration: none;
paddingX: 3px;
padding-top: 3px;
padding-bottom: 3px;
margin-left:1px;
}

#datacontainer li.category
{
margin-top: 1px;
margin-left: 1px;
display: block;
padding: 3px;
color:#4f76a3;
background-color: #e6edf5;
border: 1px solid #ff9933;
font-weight: bold;
}
.title_pos {
padding-left: 14px;
color: #045bb3;
font-weight: bold;
}
.content_pos {
padding-left: 14px;
}



.create_course_icon
{
	width: 16px;
	height: 16px;
	background-image: url(img/profile.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 2px 0 4px 20px;
	margin: .5em 0;
}

.search_icon
{
	width: 16px;
	height: 16px;
	background-image: url(img/search.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 2px 0 4px 20px;
	margin: .5em 0;
}

.admin_icon
{
	width: 16px;
	height: 16px;
	background-image: url(img/admin-tools.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 4px 0 4px 20px;
	margin: .5em 0;
}
.square_bullet
{
	widthX: 5px;
	heightX: 5px;
	background-image: url(img/square_bullet.gif);
	background-repeat: no-repeat;
	background-position: 4px 8px;
	paddingX: 4px 0 4px 20px;
	marginX: .5em 0;
}

.enroll_icon
{
	width: 16px;
	height: 16px;
	background-image: url(img/enroll.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 4px 0 4px 20px;
	margin: .5em 0;
}

.create_lesson
{
	width: 16px;
	height: 16px;
	background-image: url(img/create_lesson.gif);
	background-repeat: no-repeat;
	background-position: 0 50%;
	padding: 4px 0 4px 20px;
	margin: .5em 0;
}



table {
	border-top: 3px solid #0066cc;
}