/* ----------------Open eClass default theme CSS----------------- */
/*
 *     Table Of Sections
 *  ----------------------------
 *  1. Basic HTML tags
 *  2. Basic Formatted Elements
 *  3. Basic Layout
 *  4. Header
 *  5. Content
 *  6. Breadcrumbs
 *  7. Search
 *  8. Left Navigation
 *  9. Basic Icons
 * 10. Forms
 * 11. Tables
 * 12. Footer
 * 13. Modules ->tool_content.css
 * ----------------------------
 */



/* 1. Basic HTML tags  */


html {
	margin-bottom: 1px;
	height: 100%!important; /*For Firefox*/
	height: auto;
	background-color: #ebebeb;
	}

body {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #897a7a;
	line-height: 15px;
}

h1 {
    font-size:18px;
}

h2 {
    font-size:16px;
}

h3 {
    font-size:14px;
}

h4 {
    font-size:11px;
	color: #a33134;
	background-color: #eceff5;
	border-bottom: 2px solid #e5eaf1;
	padding: 5px;
}

h5 {
    font-size:11px;
}

a img {
	border: none;
}

tr.odd {
    background: #edecdf;
}

tr.even {
    background: #ffffff;
}

td.odd {
    background: #edecdf;
}

td.even {
    background: #ffffff;
}

th {
    text-align: left;
}




table {
    border: 1px solid red;
}


table, th, td {
    border-collapse: collapse;
    font-family: "Tahoma",  Verdana, Arial, Helvetica, sans-serif; 
    font-size: 11px;
}

table a:link {
    text-decoration: none;
}

table a:visited {
    text-decoration: none;
}

table a:hover {
    text-decoration: underline !important;
}

td, th {
    padding: 4px;
}

td.bold {
    font-weight: bold;
}




.left {
    text-align: left; !important;
}
 
.center {
    text-align: center; !important;
}

.right {
    text-align: right; !important;
}

.red {
    color: #ff0000; !important;
}

/* 2. Basic Formatted Elements  */

a:link, a:active, a:visited {
        color: #a33134;
        text-decoration: none;
}

a:hover {
    	text-decoration: underline;
        color: #a33134;
}

legend {
	color: #ffffff;
	padding: 8px;
	font-weight: bold;
	background-color: #727266;
	
}

fieldset {
	padding: 10px;
	font-weight: normal;
	background-color: #edecdf;
	margin-bottom: 20px;
}

fieldset table.th {
       background-color: #edecdf !important;
       font-weight: normal;
}



/* 3. Basic Layout  */

#container {
	margin-left:auto;
	margin-right:auto;
	width: 980px;
	min-height:700px;
	position:relative;  /* needed for footer... check again */
	background-image: url(img/menu_bg.gif);
    background-repeat: repeat-y;
    background-color: #fffee9;
	border: 1px solid #b3b3b3;
}

.title1 {
        background-color:#edecdf;
        font-weight: bold;
        padding: 5px;
        border-bottom: 1px solid #cac3b5; /* BEIGE  */ 
}

.sub_title1 {
        padding: 5px;
        border-bottom: 1px dotted #cac3b5; /* BEIGE  */
}

.descr_title {
        background-color:#edecdf;
        font-weight: bold;
        padding: 5px;
        border-bottom: 1px solid #cac3b5; /* BEIGE  */
}

.unit_title {
        font-weight: bold;
        padding: 5px;
        background-color:#ffffff;
        border-bottom: 1px dotted #cac3b5; /* BEIGE  */
        font-size: 14px;
        text-align: center;
}


/* 4. Header  */

#header {
	height: 80px;
	width:980px;
    border-bottom: 3px solid #a33134;
	background-color:#edecdf;
	margin: 0;
 	overflow:hidden;
	position:relative; 	
    z-index:2;
	/*overflow-x:hidden;
    overflow-y:hidden; we can delete?*/     
}

#logo {
	float: left;
	width: 400px;
	height: 100px;
	margin-top: 0px;
	margin-left: 0px;
    background-image: url(img/logo_bg_50.gif);
    background-repeat: no-repeat;
	/*	overflow:visible; we can delete?*/
}

#firstBar {
	width:100%;
	height: 25px;
	background-color: #cac3be;
	position:relative;
	z-index:2;
}

#fbar_info {
	float: right;
	margin-top: 10px;
	margin-right: 2px;
	overflow: visible;
	max-width: 370px;
	text-align: right;
}
#fbar_info .logout a {
	float:right;
	margin-top:0.4em;
	margin-right:2px;
    text-decoration: none;
    font-weight: normal;
}

#fbar_info .logout a:hover {
	text-decoration: underline;
    color: #e79544;
    font-weight: normal;
}

#secondBar {
	width:100%;
	height: 25px;
	background-color: #ffffff;
	position:relative;
	z-index:2;
}
#secondBar p {
	position:absolute;
	padding-left:10px;
	padding-top:-5px;

}

#fbar_info .user {
	float: right;
	color: #727266;
    margin-right: 0.2em;
	margin-top: 0.1em;
	text-align: right;
	display: block;
	clear: right;
}

#fbar_info .user a {
	text-decoration: none;
	color: #e79544;
	font-weight: bold;
}

#fbar_info .user a:hover {
    text-decoration: underline;
    color: #e79544;
    font-weight: bold;
}

#fbar_info .langSwitch {
	clear: right;
	margin-top: 40px;
	margin-right: 0.2em;
	font-size: 10px;
	display: block;
	text-align: right;
}

#fbar_info .langSwitch select {
	text-decoration: none;
    font-size: 10px;
    color: #727266;
    font-weight: bold;
}

#fbar_info .langSwitch a {
	text-decoration: none;
    font-size: 10px;
    color: #727266;
    font-weight: bold;
}

#fbar_info .langSwitch a:hover {
	text-decoration: underline;
    font-size: 10px;
    color: #727266;
    font-weight: bold;
}

		
/* 5. Content  */

#content {
	width: 980px;
	margin-top:81px;
}

#content_main {
	margin-top:81px;
	margin-left: 190px;
	padding-right: 10px;
	padding-left: 5px;
	border-top: 1px dotted #d8dfea;
}

#thirdBar {
	float: left;
	width: 100%;
	height:71px;
	min-height:81px;
}


/* 6. Breadcrumbs */

#bread {
	padding: 10px;
	position: absolute;
	margin-left: 180px;
	margin-right: 10px;
	display: block;
	height: 68px;

}

#bread a, bread a:link, bread a:active, bread a:visited {
	color: #727266;
	text-decoration: none;
	font-weight: normal;
	
}

#bread a:hover {
	text-decoration: underline;
	color: #a33134;
	font-weight: normal;
}

#bread ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
	border: none;
} 

#bread li {
	margin-left: 0;
	padding-left: 2px;
	border: none;
	list-style: none;
	display: inline;
    font-weight: bold;
	color:#727266;
	}


/* 7. Search */

#search {
	position:absolute;
	top:0px;
	height:80px;
	width:180px;
	background-color: #727266;
	color:#ffffff;
}

#search p, #search form {
	margin-top:5px;
	margin-left: 10px;
	margin-bottom:2px;
}

#search p.title {
	font-weight:bold;
	margin-top: 10px;
	color: #ffffff;
	font-size: 13px;
}

#search a {
	color: #ffffff;
	font-weight:normal;
	text-decoration: none;
	vertical-align: middle;
	font-size: 11px;
	font-family: "Tahoma", Arial, Helvetica, sans-serif;
}

#search a:hover {
	text-decoration: underline;
	vertical-align: middle;
}

#search input.ok {
	border: none;
	vertical-align: middle;
	margin-top: -5px;
	margin-right:0px;
	width: 18px;
	height: 18px;

}

#search input.key {
    vertical-align:middle;
	margin-bottom: 5px;
	border: 1px solid #cac3b5;
	width: 135px;
	color: #727266; /* DARK BEIGE */
	font-family: "Tahoma", Arial, Helvetica, sans-serif;
}


/* 8. Left Navigation */

#sidebar {
	float: right;
	width: 170px;
	padding:5px 0;
}



#leftnav {
	float: left;
	width: 180px;
	margin: 0;
	padding:0;

}

#leftSub {
	float:left;
	clear:left;
	width:180px;
}



#tbar_info .lesson {
	font-size:18px;
	font-weight: bold;
	color:#a33134;
	margin-top: 47px;
	position:relative;
	float:left;
}

#tbar_info {
	position:relative;
	height:57px;
	margin-left:0px;

}


#navcontainer {
   width: 180px;
}

#navcontainer ul {
	margin:0;
	padding:0px 0px 1px 0px;
	list-style-type: none;
}

#navcontainer a {
	display: block;
	padding: 3px;
	width: 170px;
	border-bottom: 1px solid #eee;
	margin-top: 2px;
	margin-left: 2px;
    color: #cac3be;
    text-decoration: none;
    font-weight: normal;
}


#navcontainer a:link, #navlist a:visited {
	color: #727266;
	text-decoration: none;
	margin-top: 1px;
	margin-left: 1px;
	width: 170px;
	padding:3px;
	border: 1px solid #cac3be;
}

#navcontaner a.inactive {
	color: #3b5998;
}

#navcontainer a:hover {
	color: #ffffff;
	background-color: #727266;
	margin-top: 1px;
	margin-left: 1px;
	width: 170px;
	padding:3px;
	border: 1px solid #edecdf;
    text-decoration: none;
    font-weight: normal;
}

#navcontainer li.category {
	margin-top: 8px;
	margin-left: 4px;
	margin-bottom: 8px;
	display: block;
	padding: 4px;
	width: 163px;
	color: #edecdf;
	background-color: #727266;
    font-weight: bold;
}

#navcontainer li.split {
	margin-top: 8px;
	margin-left: 3px;
	margin-bottom:8px;
	border: 1px solid #bdc7d8;
	display: block;
	padding: 0px;
	height:2px;
	width: 172px;
	background-color: #afafaf;
}

#navcontainer li.spacer {
	display: block;
	height:8px;
	width: 172px;
}

#navcontainer li.toolAdmin {
	margin-top: 1px;
	margin-left: 1px;
	display: block;
	padding: 3px;
	width: 172px;
	color:#FFFFFF;
	background-color:#009933;
}

#navcontainer li img {
	float:left;
	margin-right:5px;
	clear:left;
}









/* 9. Basic Icons */

.lesson_icon {
    float: left;
	width: 32px;
	height: 32px;
	margin-top: 40px;
	margin-left: 200px;
	margin-right: 10px;
	background-image: url(img/lesson_icon.png);
	background-repeat: no-repeat;
	overflow:visible;
}

.admin_bar_icon {
	float: left;
	width: 32px;
	height: 32px;
	margin-top: 40px;
	margin-left: 220px;
	background-image: url(img/admin-tools.gif);
	background-repeat: no-repeat;
	overflow:visible;
}

.logo_icon {
	float: left;
	width: 24px;
	height: 24px;
	margin-top: 44px;
	margin-left: 170px;
	background-image: url(img/logo_icon.gif);
	background-repeat: no-repeat;
	overflow:visible;
}

.briefcase_icon {
	float: left;
	width: 32px;
	height: 32px;
	margin-top:40px;
	margin-left: 200px;
	margin-right: 10px;
	background-image: url(img/briefcase.png);
	background-repeat: no-repeat;
	overflow:visible;
}



.HelpIcon {
  padding-bottom: 0px;
}


.actmod {
  color: #CEC3B5;
  font-size: 11px !important;
  padding: 10px;
}

.actmod a {
	width: 250px;
    padding: 1px;
    font-size: 11px !important;
    color: #CEC3B5 !important;
    text-decoration: none !important;
    font-weight: normal !important;
}



.actmod a.deactivate_module:hover {
  	color: #3b5998 !important;
    padding: 1px;
	text-decoration: none !important;
    font-size: 11px !important;
    font-weight: normal !important;
	width: 250px;
}

.actmod a.activate_module:hover {
  	color: green !important;
    padding: 1px;
	text-decoration: none !important;
    font-size: 11px !important;
    font-weight: normal !important;
	width: 250px;
}









#footer {
	position:absolute;
	bottom:0;
	width:100%;
	height: 50px;
	background-color: #ffffff;
	border-top: 3px solid #A33033;
}

#footer p {
	float:none;
	vertical-align:middle;
	color:black;
	padding:0.4em;
}


/* Footer Flags  */
		
#eu_flag {
	float: right;
	width: 30px;
	height: 20px;
	margin-top:4px;
	margin-right: 4px;
	background-image: url(img/eu_flag.gif);
	background-repeat: no-repeat;
	//background-position: center left;
	overflow:visible;
}

#gr_flag {
	float: right;
	width: 30px;
	height: 20px;
	margin-top:4px;
	margin-right: 4px;
	background-image: url(img/gr_flag.gif);
	background-repeat: no-repeat;
	//background-position: center left;
	overflow:visible;
}

#other_flag {
	float: right;
	width: 35px;
	height: 20px;
	margin-top:4px;
	margin-right: 4px;
	background-image: url(img/other_flag.gif);
	background-repeat: no-repeat;
	//background-position: center left;
	overflow:visible;
}

#epeaek_flag {
	float: right;
	width: 24px;
	height: 20px;
	margin-top:4px;
    margin-top:4px;
	margin-right: 4px;
	background-image: url(img/epeaek_flag.gif);
	background-repeat: no-repeat;
	//background-position: center left;
	overflow:visible;
}

#infosoc_flag {
	float: right;
	width: 27px;
	height: 20px;
	margin-top:4px;
	margin-right: 4px;
	background-image: url(img/infosoc_flag.gif);
	background-repeat: no-repeat;
	//background-position: center left;
	overflow:visible;
}

* html #footer {height:29px;he\ight:28px;}

#clearfooter {height:57px;width:100%;clear:both}








.alert1 {
	background-color:#fef5be;
	border-top: 2px solid #fdd425;
	border-bottom: 2px solid #fdd425;
	padding: 10px 50px;
	background-image:url(img/warning.png); background-repeat:no-repeat; background-position: left;}
    
    

.caution {
	background-color:#fbdfdf;
	border-top: 2px solid #f2804d;
	border-bottom: 2px solid #f2804d;
	padding: 10px 50px;
	background-image:url(img/caution.png); background-repeat:no-repeat; background-position: left;}
	

.success {
	background-color:#e4f8aa;
	border-top: 2px solid #a2d410;
	border-bottom: 2px solid #a2d410;
	padding: 10px 50px;
	background-image:url(img/success.png); background-repeat:no-repeat; background-position: left;}

	
/*.caution {
    background-image: url(../../images/important.gif);
    background-repeat: no-repeat;
    background-position: 7px 7px;
    padding-left : 60px;
    background-color: #fff;
    border-color: #E0E0E0
}

.caution_NoBorder {
    background-image: url(../../images/important.gif);
    background-repeat: no-repeat;
    background-position: 7px 7px;
    padding-left : 60px;
    background-color: #fff;
}*/




/*.caution_small {
	background-image: url(img/exclamation.gif);
	background-repeat: no-repeat;
	background-position: 4px 1px;
	padding-left : 25px;
	padding-bottom : 4px;
    padding-top : 1px;
	color: #D46452;
}

p.caution_small{
  border-bottom: 1px solid #F0C9C1;
  border-top: 1px solid #F0C9C1;
  border-left: 1px solid #F0C9C1;
  border-right: 1px solid #F0C9C1;
}


.success_small {
	background-image: url(img/well-done.gif);
	background-repeat: no-repeat;
	background-position: 3px 1px;
	padding-left : 30px;
	padding-top : 4px;
	padding-bottom : 6px;
	color: #727266;
}

p.success_small{
  border-bottom: 1px solid #edecdf;
  border-top: 0px solid #BAEFBF;
  border-left: 0px solid #BAEFBF;
  border-right: 0px solid #edecdf;
}


.well-done {
    background-image: url(./img/tick.gif);
    background-repeat: no-repeat;
    background-position: 7px 7px;
    padding: 0.5em 0 0.5em 60px;
    margin: 0.5em 0.5em 1em 0;
    background-color: #fff;
    border: 1px dotted #E0E0E0;
}

.success {
    background-image: url(img/well-done.gif);
    background-repeat: no-repeat;
    background-position: 1px 1px;
    padding-left : 27px;
    font-size: 11px;
    font-style: normal;
}

.success em {
    color: #E36154;
}*/









#topic_title_id {
        border-bottom: 1px dotted #a2a2a3;
        background: #ffffff;
        padding:2px;
        padding-top:5px;
        color: #e79544;
        font-weight:bold;
}

.invisible, .invisible td, .invisible a {
	font-style: italic;
	color: silver !important;
}

li a img, input[type=image] {
        vertical-align: middle;
}

.feed {
	padding: 1px 0 0 10px; 
}



input[type=submit] {
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	font-family: "Tahoma", Arial, Helvetica, sans-serif;
	background-color: #727266;
	border: 1px solid #cac3b5;
	padding: 3px;
}

input[type=reset] {
	color: #ffffff;
	font-size: 11px;
	font-weight: bold;
	font-family: "Tahoma", Arial, Helvetica, sans-serif;
	background-color: #727266;
	border: 1px solid #cac3b5;
	padding: 3px;
}



.right_msg_title {

font-weight: bold;
background-color: #eceff5;
padding: 3px;
border-top: 1px solid #94a3c4;}


/* 11. Tables */

	/* Basic Table Formatting */
	
.tbl {
	padding: 5px;
	border: none;
}


.tbl_border {
	border: 1px solid #000000;
}

.tbl_courseid {
	border: 1px solid #000000;
        background-color: #edecdf;
}

.tbl_courseid th {
        font-weight: bold;
        background-color: #cac3b5;
        padding: 3px;
}



.tbl_header_row {
	font-weight: bold;
	text-align: center;
	background-color: #edecdf; /* LIGHTER BEIGE  */
	padding: 3px;
}

.tbl th {
	font-weight: bold;
	background-color: #edecdf; /* BEIGE  */
	padding: 3px;
}

.tbl_border th {
        font-weight: bold;
        background-color: #cac3b5; /* BEIGE  */
        padding: 3px;
}


.tbl_course_type {
         border: none;
         margin-top: 13px;
}

	/* Alternating Table Row   */
	
.tbl_alt {
        padding: 5px;
        border: none;
	border: 1px solid #000000;
       
}	
	
.tbl_alt th {
        font-weight: bold;
        background-color: #cac3b5; /* BEIGE  */
        text-align: center;
        padding: 3px;
}

.tbl_alt td, .tbl_alt th {
	vertical-align: top;
}

.tbl_alt .odd {
	background-color: #edecdf; /* LIGHTER BEIGE  */
}	
	
	
.tbl_alt .even {
	background-color: #ffffff; /* WHITE  */
}	

.tbl_alt_border {
        background-color: #ffffff; /* WHITE  */
        border-bottom: 1px dotted #cac3b5; /* BEIGE  */
}
	
/*	Hover effect to table rows */	
	
.tbl_alt tr:hover td { 
  background-color: #ffeb96;
} 


/* Alternating Table Row NO_Border   */

.tbl_alt_bordless {
        padding: 5px;
        border: none;
}

.tbl_alt_bordless tr{
        border-bottom: 1px dotted #cac3b5; /* BEIGE  */;
}


.tbl_alt_bordless th {
        font-weight: bold;
        background-color: #cac3b5; /* BEIGE  */
        text-align: center;
        padding: 3px;
}

.tbl_alt_bordless td, .tbl_alt_bordless th {
        vertical-align: top;
}

.tbl_alt_bordless .odd {
        background-color: #edecdf; /* LIGHTER BEIGE  */
}


.tbl_alt_bordless .even {
        background-color: #ffffff; /* WHITE  */
}

/*      Hover effect to table rows */

.tbl_alt_bordless tr:hover td {
  background-color: #ffeb96;
}





/*	Sortable Table*/	

.sortable {
    border: 1px solid #000000;
}


table.sortable a.sortheader {
    background-color: #cac3b5;
    color: #727266;
    font-weight: bold;
    text-decoration: none;
    padding : 0px;
    display: block;
}

table.sortable tr:hover td {
background-color: #ffeb96

}
 
table.sortable_odd {
        background-color: #edecdf; /* LIGHTER BEIGE  */
}


table.sortable_even {
        background-color: #cac3b5; /* BEIGE  */
}

.sortable th {
        background-color: #cac3b5; /* BEIGE  */
}

a.sortheader, a.sortheader:link, a.sortheader:active, a.sortheader:visited {
    background-color: #cac3b5;
    color: #727266;
    font-weight: bold;
    text-decoration: underline;
}

a.sortheader:hover {
    background-color: #ececdf;
    color: #000;
    font-weight: normal;
    text-decoration: underline;
}


table.sortable span.sortarrow {
    color: #000;
    text-decoration: none;
}


/* ITEMS TO DELETE  */



/** html #mainheader {height:136px;he\ight:135px}  */

/** html #header {height:60px;he\ight:60px}*/

/*.upgrade-main {
        background-image: none !important;
        background-color: white;
}*/



/*.logout_icon {
	float: right;
	width: 14px;
	height: 13px;
	margin-top:0.1em;
	margin-right: 0.2em;
	background-image: url(img/logout_icon.gif);
	background-repeat: no-repeat;
	//background-position: center left;
	overflow:visible;
}*/



/** html #mainnav {height:22px;he\ight:20px}
*/



/*#content_main_no_nav {
	margin-top:22px;
	//margin-top:8px;
	padding: 1em;
	max-width: 100%;
}*/





/*.month {font-weight: bold;}

.headers {
	font-weight: bold;
	font-style: italic;

}*/




