<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- BEGIN mainBlock -->

<html>

<head>

<title>e-class v2.0 base theme</title>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-7" />

<!--<link href="../../template/classic/theme.css" rel="stylesheet" type="text/css" />

<link href="../../template/classic/tool_content.css" rel="stylesheet" type="text/css" />-->

<link href="{TOOL_PATH}template/classic/theme.css" rel="stylesheet" type="text/css" />

<link href="{TOOL_PATH}template/classic/tool_content.css" rel="stylesheet" type="text/css" />

{TOOL_CSS}





<link rel="icon" href="http://#/eclass/favicon.ico" type="image/x-icon" />

<link rel="shortcut icon" href="http://#/eclass/favicon.ico" type="image/x-icon" />



 {HEAD_EXTRAS}



</head>

<body {BODY_ACTION}>



 

<div id="container"> 

 <!--  <div id="mainheader"> 

    <div class="blank2"></div>-->

    <!-- for decoration only -->

  <!-- </div> --> 

  <div id="header"> 

    

	<a id="logo" href="#" title="eClass home"></a>

	<a id="gunet_logo" href="#" title="eClass home"></a>

		

    				<!-- <ul id="headerMenu">

					<li class="active"><a href="/home">ΑΡΧΙΚΗ ΣΕΛΙΔΑ</a></li>

					<li><a href="/profile">Αλλαγη προφιλ</a></li>

					<li><a href="/">Αποσυνδεση</a></li>

					<li><a href="/contact/">ΕΠΙΚΟΙΝΩΝΙΑ</a></li>

					<li><a href="/feed.xml">RSS Feed</a></li>

				</ul> -->

  </div>

  

  <div id="firstBar"> 

  	<span class="user">{LANG_USER} {USER_NAME} {USER_SURNAME}</span>

    <span class="logout"><a class="{LOGOUT_CLASS_ICON}" href="{TOOL_PATH}index.php?logout=yes" title="{LANG_LOGOUT}"></a><a href="{LOGOUT_LINK}index.php?logout=yes" title="{LANG_LOGOUT}" >{LANG_LOGOUT}</a></span>

  </div>

  

	<div id="secondBar"> 

  	

	<span id="bread">

	<!-- BEGIN breadCrumbHomeBlock -->

	<ul>

	<li class="first">{BREAD_HREF_FRONT}{BREAD_TEXT}{BREAD_HREF_END}		

			<!-- END breadCrumbHomeBlock -->

			

						<!-- BEGIN breadCrumbStartBlock -->

							<ul>

								<li>{BREAD_ARROW} {BREAD_HREF_FRONT}{BREAD_TEXT}{BREAD_HREF_END}

							<!-- END breadCrumbStartBlock -->	

							<!-- BEGIN breadCrumbEndBlock -->

								</li>

							</ul>

							<!-- END breadCrumbEndBlock -->

						

	</span>

	

	

		<!--<span id="bread">

			<ul>

				<li class="first"><a href="{BREAD_START_LINK}">{BREAD_START}</a>

					<ul>

						<li>&#187; <a href="#">Εισαγωγή στις Τηλεπικοινωνίες</a>

							<ul>

								<li>&#187; Υλικό Μαθήματος

								</li>

							</ul>

						</li>

					</ul>

				</li>

			</ul>

		</span>-->

  		<span class="langSwitch"><a href="{LOCALIZE_LINK}" title="{LANG_LOCALIZE}" accesskey="l" target="_self">{LANG_LOCALIZE}</a></span>

  </div>

	<div id="thirdBar">

		<span class="{THIRDBAR_LEFT_ICON}"></span><span class="lesson">{THIRD_BAR_TEXT}</span>

		{INV1} 	<form name="form1" id="form1" method="post" action="../../modules/search/search.php">

  									<input type="text" name="search_terms" />

									<input type="image" name="Submit" src="{TOOL_PATH}template/classic/img/search_icon.gif" alt="Search" width="14" WIDTH="13" BORDER="0">

								</form>  

		 {INV2}

	  </div>

  <div id="content"> 



	 <!--  <div id="content_mainHeader">Περιγραφή Μαθήματος</div> -->


<div id="leftSub">
	  <div id="leftnav"> 

	  

 			 <div id="navcontainer">

				<ul id="navlist">

					<!-- BEGIN leftNavCategoryBlock -->

  					<li class="{NAV_CSS_CAT_CLASS}">{ACTIVE_TOOLS}</li>

						<!-- BEGIN leftNavLinkBlock -->

 						 	<li class="{TOOL_ICON}"><div><a href="{TOOL_LINK}"><img src="{TOOL_PATH}template/classic/img/agenda.gif" width="14" height="16" border="0" /> {TOOL_TEXT}</a></div></li>

						<!-- END leftNavLinkBlock -->

					<!-- END leftNavCategoryBlock -->

				</ul>

			</div>


	  </div>
	
<p><strong>Χώρος για εικόνες.</strong> Αυτό θα χρησιμοποιείται μόνο στην αρχική σελίδα του e-Class! </p>
</div>



	  <div id="content_main">

	  	<!-- <div id="content_container"> -->

	  		

			<div id="tool_title">

				<span class="tool_name">{TOOL_NAME}</span>

				<span class="help">{HELP_LINK_ICON} {HELP_LINK}</span>

			</div>

	  		<!--<div id="tool_operations">

				<span class="operation"><a href="#"><img src="img/create_doc_icon.gif" width="14" height="16" border="0" /></a><a href="#" title="Δημιουργία εγγράφου" target="_self">Δημιουργία εγγράφου</a></span>

				<span class="operation"><a href="#"><img src="img/upload_doc_icon.gif" width="15" height="16" border="0" /></a><a href="#" title="Ανέβασμα εγγράφου" target="_self">Ανέβασμα εγγράφου</a></span>

				<span class="operation"><a href="#"><img src="img/create_catalog_icon.gif" width="14" height="11" border="0" /></a><a href="#" title="Δημιουργία καταλόγου" target="_self">Δημιουργία καταλόγου</a></span>

				<span class="operation"><a href="#"><img src="img/store_zip_icon.gif" width="16" height="16" border="0" /></a><a href="#" title="Αποθήκευση (zip)" target="_self">Αποθήκευση (zip)</a></span>

			</div>-->

		

			

			{TOOL_CONTENT}

			

			

<!--<table summary="testing..." width="99%">

			<caption>Υπάρχων υλικό μαθήματος</caption> -->

			<!--<thead>

				<tr>

					<th scope="col">Τύπος</th>

					<th scope="col">Όνομα</th>

					<th scope="col">Σχόλια</th>

					<th width="5%" scope="col">Μέγεθος</th>

					<th scope="col">Ημερομηνία</th>

					<th scope="col">Μορφοποίηση</th>

				</tr>

			</thead>	

			<tfoot>



				<tr>

					<th scope="row">Σύνολο</th>

					<td colspan="5">4 αρχεία</td>

				</tr>

			</tfoot>

			<tbody>

				<tr >

					<th scope="row"><a href="#"><img src="img/videos_icon.gif" width="22" height="16" border="0" /></a></th>



					<td>videos</td>

					<td>Σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο</td>

					<td>15 kb</td>

					<td>06.09.2005</td>

					<td>

						<a href="#"><img src="img/edit_icon.gif" width="15" height="15" border="0" />

						<a href="#"><img src="img/delete_icon.gif" width="14" height="14" border="0" />

						<a href="#"><img src="img/move_icon.gif" width="16" height="16" border="0" />

						<a href="#"><img src="img/eye_icon.gif" width="16" height="12" border="0" />

					</td>

				</tr>

				<tr class="odd">

					<th scope="row"><a href="#"><img src="img/images_icon.gif" width="25" height="14" border="0" /></th>



					<td>images</td>

					<td>Σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο</td>

					<td>2 MB</td>

					<td>06.05.2004</td>

					<td>

						<a href="#"><img src="img/edit_icon.gif" width="15" height="15" border="0" />

						<a href="#"><img src="img/delete_icon.gif" width="14" height="14" border="0" />

						<a href="#"><img src="img/move_icon.gif" width="16" height="16" border="0" />

						<a href="#"><img src="img/eye_icon.gif" width="16" height="12" border="0" />

					</td>

				</tr>

				<tr >

					<th scope="row"><a href="#"><img src="img/audio_icon.gif" width="25" height="14" border="0" /></th>



					<td>audio</td>

					<td>Σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο</td>

					<td>1 MB</td>

					<td>13.06.2005</td>

					<td>

						<a href="#"><img src="img/edit_icon.gif" width="15" height="15" border="0" />

						<a href="#"><img src="img/delete_icon.gif" width="14" height="14" border="0" />

						<a href="#"><img src="img/move_icon.gif" width="16" height="16" border="0" />

						<a href="#"><img src="img/eye_icon.gif" width="16" height="12" border="0" />

					</td>

				</tr>

				<tr class="odd">

					<th scope="row"><a href="#"><img src="img/document_icon.gif" width="23" height="17" border="0" /></th>



					<td>example_document.html</td>

					<td>Σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο σχόλιο</td>

					<td>373 kb</td>

					<td>07.02.2006</td>

					<td>

						<a href="#"><img src="img/edit_icon.gif" width="15" height="15" border="0" />

						<a href="#"><img src="img/delete_icon.gif" width="14" height="14" border="0" />

						<a href="#"><img src="img/move_icon.gif" width="16" height="16" border="0" />

						<a href="#"><img src="img/eye_icon.gif" width="16" height="12" border="0" />

					</td>

				</tr>

							

	  </tbody>		

		</table>-->



			

	 	<!-- </div> -->

	</div>

  

  <div id="clearfooter"></div>

  

  <!-- to clear footer -->

  <div id="footer"> 

 

  <a id="eu_flag" href="#" title="EU"></a>

  <a id="gr_flag" href="#" title="GR"></a>

  <a id="other_flag" href="#" title=""></a>

  <a id="epeaek_flag" href="#" title="EPEAEK"></a>

  <a id="infosoc_flag" href="#" title="INFOSOC"></a>

    <!-- <div class="divider1"></div>-->

    <div class="blank"></div> 

    <!-- for decoration only -->

   

	<p >

		<!-- <img id="euFlag" src="../img/EUflag.jpg" width="45" height="28" />

		<img id="grFlag" src="../img/GreeceFlag.gif" width="41" height="28" />

		<img id="infosoc" src="../img/infosoc.gif" width="44" height="32" />

		<img id="epeaek" src="../img/EPEAEK.gif" width="36" height="32" border="0" /> -->

		Copyright 2006 GUnet - <a href="claroline/auth/copyright.php">Πληροφορίες Πνευματικών Δικαιωμάτων</a>

		



	</p>

    </div>

</div>





<!-- END mainBlock -->



</body>

</html>