h1 {
	font-size:18px;
}

h2 {
	font-size:16px;
}

h3 {
	font-size:14px;
}

h4 {
	font-size:12px;
}

h5 {
	font-size:10px;
}

p, ul {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

a, a:link, a:active, a:visited {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
    color: #575656;
    text-decoration: none;
    vertical-align: middle;
    font-weight: normal;
}

a:hover {
	text-decoration: underline;
    font-size: 11px;
    color: #a33033;
	vertical-align: middle;
    font-weight: normal;
}

#tool_title {
	width: 99%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 30px;
	font-size: 14px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
    color: #727266;
	text-align: left;
}

#tool_content li {
	list-style-type: square; 
	font-size: 11px;
}

#operations_container {
	margin-bottom: 0.5em;
	overflow: hidden;
	border: 1px dotted #a33033;
	padding: 6px;
	background: #CAC3B5;
	text-align: right;
    font-size: 10px;
}

#operations_container a{
   color: black;
   font-size: 11px;
   font-weight: normal;
   vertical-align: middle;
   text-decoration: none;
}

#operations_container a:hover{
	text-decoration: underline;
	color: #a33033;
	vertical-align: middle;
}


#opslist
{
list-style-type: none;
margin: 0;
padding: 0;
}

#opslist li
{
display: inline;
padding: 0;
margin: 0;
}

#opslist li:before { content: " | "; }
#opslist li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html #opslist li
{
border-left: 1px solid black;
padding: 0 0.4em 0 0.4em;
margin: 0 0.4em 0 -0.4em;
}
/*IE7 only*/
html>body #opslist li {
*border-left: 1px solid black;
*padding: 0 0.4em 0 0.4em;
*margin: 0 0.4em 0 -0.4em;
}

/*Win IE browsers - hide from Mac IE\*/
* html #opslist { height: 1%; }

* html #opslist li
{
display: block;
float: left;
}
/*End hide*/

/*Mac IE 5*/
* html #opslist li:first-child { border-left: 0; }

table, th, td {
	border-collapse: separate;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

caption {
	font-size: 1px;
	font-weight: bold;
	margin: 5px;
	text-align: left;
}

td, th {
	padding: 4px;
}


.caution {
	background-image: url(./img/exclamation.gif);
	background-repeat: no-repeat;
	background-position: 4px 4px;
	padding-left : 24px;
   	background-color:#FBEC5D;
}

.success {
	background-image: url(./img/tick.gif);
	background-repeat: no-repeat;
	background-position: 4px 4px;
	padding-left : 24px;
   	background-color:#CCFF99;
}

.inactive {
   background-color:#B0C4DE;
}

thead th {
	text-align: center;
	color: #727266;
    border: 1px dotted #727266;
	padding: 6px;
	background: #edecdf;
	font-size: 90% !important;
}

.left{
	text-align: left;
}

thead td {
	text-align: left;
	padding: 6px;
	font-size: 90% !important;
}

tbody th {
	font-weight: normal;
}

tbody tr {
    background: #FFFFFF;
    font-size: 11px;
}

tbody td {
    font-size: 11px;
    border-bottom: 1px dotted #edecdf;
}

tbody tr.odd {
    background: #F7F9FC;
}

tfoot tr {
    background: #FFFFFF;
    font-size: 11px;
}

tfoot td {
    background: #edecdf;
    font-size: 11px;
    border: 1px dotted #edecdf;
}

table a:link {
	color: #718ABE;
	text-decoration: none;
}

table a:visited {
	color: #718ABE;
	text-decoration: none;
}

table a:hover {
	color: #718ABE;
	text-decoration: underline !important;
}

tfoot th, tfoot td {
	font-size: 85%;
}

ul.listBullet {
	list-style-image: url(img/square_bullet.gif);
}

table.htmlarea tr {
        background: none;
}

table.htmlarea td {
        padding: 0;
        background: none;
}

