.blog_posts {
    float: left; 
    width: 75%; 
    word-wrap:break-word;
}

.blog_post {
    margin-bottom: 10px;
}

.blog_post_content {
    margin-bottom: 10px;
}

.blog_post_title {
    margin-bottom: 10px;
}

.blog_post_empty_space {
	margin-bottom: 40px;
}

.blog_tree {
    list-style-type: none; 
    padding: 0;
    margin-left: 0;
}

.blog_tree_m_cur {
    list-style-type: disk;
    padding: 0;
    margin-left: 15px;
}

.blog_tree_m {
    display:none;
    list-style-type: disk;
    padding: 0;
    margin-left: 15px;
}

.blog_tree_y_cur {
    list-style-type: none;
    padding: 0;
    margin-left: 15px;
}

.blog_tree_y {
    display:none;
    list-style-type: none;
    padding: 0;
    margin-left: 15px;
}