<!-- BEGIN mainBlock -->
<!DOCTYPE HTML>
<html>
    <head>
        <title>{%PAGE_TITLE%}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="copyright" content="Copyright 2003-2009 GUnet - http://www.gunet.gr">
        <meta name="keywords" content="elearning, lms, cms, openeclass, open eclass, eclass, e-class, learning, management, system, asynchronous, synchronous, teleteaching, GUnet">
        <meta name="robots" content="NOFOLLOW,INDEX">
        <link href="{%template_base%}/theme.css" rel="stylesheet" type="text/css">
        {%EXTRA_CSS%}
        {%TOOL_CSS%}
        <link rel="SHORTCUT ICON" href="{%img_base%}/eclass-icon.ico">
        {%HEAD_EXTRAS%}
    </head>

    <body {%BODY_ACTION%}>
        <div id="container">
            <!-- BEGIN HeaderBlock -->
            <!-- END HeaderBlock -->
            
            <!-- BEGIN professorBlock -->
            <!-- END professorBlock -->
            
            <!-- BEGIN LoggedInBlock -->
            <!-- END LoggedInBlock -->
            <!-- BEGIN LoggedOutBlock -->
            <!-- END LoggedOutBlock -->
            <!-- BEGIN sideBarCourseBlock -->
            <!-- BEGIN sideBarCourseNotifyBlock -->
            <!-- END sideBarCourseNotifyBlock -->
            <!-- END sideBarCourseBlock -->
            
            <!-- BEGIN breadCrumbHomeBlock -->
            <!-- END breadCrumbHomeBlock -->
            <!-- BEGIN breadCrumbStartBlock -->
            <!-- END breadCrumbStartBlock -->
            <!-- BEGIN breadCrumbEndBlock -->
            <!-- END breadCrumbEndBlock -->




            <div id="content">  
                <!-- BEGIN leftNavBlock -->
                <div class="leftnav">
                    <div class="navmenu">
                        <div class="navcontainer">
                            <ul class="navlist">
                                <!-- BEGIN leftNavCategoryBlock -->
                                <!-- BEGIN leftNavCategoryTitleBlock -->
                                <li class="{%NAV_CSS_CAT_CLASS%}">{%ACTIVE_TOOLS%}</li>
                                <!-- END leftNavCategoryTitleBlock -->
                                <!-- BEGIN leftNavLinkBlock -->
                                <li class="{%TOOL_ICON%}">
                                    <div><a href="{%TOOL_LINK%}"{%TOOL_ATTR%}><img
                                                src="{%img_base%}/{%IMG_FILE%}" width="16"
                                                height="16" alt="" />{%TOOL_TEXT%}</a></div>
                                </li>
                                <!-- END leftNavLinkBlock -->
                                <!-- END leftNavCategoryBlock -->
                            </ul>
                        </div>
                    </div>
                    {%ECLASS_LEFTNAV_EXTRAS%}
                </div>
                <!-- END leftNavBlock -->
                <div id="{%CONTENT_MAIN_CSS%}">
                    <!-- BEGIN toolTitleBlock -->
                    <!-- END toolTitleBlock -->

                    <!-- BEGIN TOOL CONTENT -->
                    {%EXTRA_MSG%}
                    {%TOOL_CONTENT%}

                    <!-- END TOOL CONTENT -->
                </div>

                <div id="clearfooter"></div>

            </div>
        </div>

        <!-- END mainBlock -->
    </body>
</html>
