<!DOCTYPE HTML>
<html lang='{%LANG%}'>
  <head>
      <title>{%PAGE_TITLE%}</title>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="{%template_base%}/CSS/bootstrap-custom.css?v={%ECLASS_VERSION%}">
    {%HEAD_EXTRAS%}
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col col-xs-12 text-center'>
          <p><img src='{%template_base%}/img/logo_eclass.png' alt=''></p>
          <div class='alert alert-default'>
            {%TOOL_CONTENT%}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
