td.highlight {
	background: #eaffd5 !important;
    text-align: center;
    font-size: 9px;}

td.highlight a {
	color: #ff0000;
}

td.highlight a:hover {
	color: #ff3f00;
    text-decoration: underline;
}

.add_user a {
	color: #029516 !important;
}

.add_user a:hover {
	color: #02c81c !important;
    text-decoration: underline;
}

.UsersHead {
  background: #edecdf;
  text-align: center !important;
  font-weight: bold;
  font-size: 10px !important;
}


table.NavUsers{
    padding: 2px;
    vertical-align: middle;
    border-top: 1px solid #CAC3B5;
    border-bottom: 1px solid #CAC3B5;
    border-left: 1px solid #CAC3B5;
    border-right: 1px solid #CAC3B5;
    }

table.NavUser tbody{
    padding: 2px;
    vertical-align: middle;
}

table.NavUser th{
	text-align: center;
	padding: 4px;
	padding-bottom: 6px;
	padding-top: 6px;
	font-weight: bold;
	font-size:10px !important;
	background : #edecdf;
    border-bottom: 1px dotted #CAC3B5;
    border-top: 0px dotted #CAC3B5;
}

table.NavUser td {
	color: #727266;
	vertical-align: top;
	padding : 5px 4px 4px 4px;
    border-bottom: 1px dotted #CAC3B5;
}



table.Users_Operations {
    background: none;
    vertical-align: middle;
    padding: 2px;
    background: #CAC3B5;
    font-size: 11px;
    color: #000000;
    border-top: 1px solid #a33033;
    border-bottom: 1px solid #a33033;
	border-left: 1px solid #CAC3B5;
	border-right: 1px solid #CAC3B5;
}

table.Users_Operations tr {
    padding: 4px;
    font-size: 11px;
}

table.Users_Operations th {
    padding: 4px;
    font-size: 11px;

}

table.Users_Operations td {
    padding: 4px;
    font-size: 11px;
}

table.Users_Operations td {
    padding: 2px !important;
}

table.Users_Operations a {
   color: #000000;
   font-size: 10px;
   font-weight: normal;
   text-decoration: none;
}

table.Users_Operations a:hover {
       text-decoration: underline;
       color: #ffffff;
       font-size: 10px;
}





/* Pagination
---------------------------------------- */
.pagination {
	height: 1%; /* IE tweak (holly hack) */
	width: auto;
	text-align: right;
	margin-top: 5px;
	float: right;
}

.pagination span.page-sep {
	display: none;
}

li.pagination {
	margin-top: 0;
}

.pagination strong, .pagination b {
	font-weight: normal;
}

.pagination span strong {
	padding: 0 2px;
	margin: 0 2px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #bfbfbf;
	border: 1px solid #bfbfbf;
	font-size: 0.9em;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
	font-weight: normal;
	text-decoration: none;
	color: #747474;
	margin: 0 2px;
	padding: 0 2px;
	background-color: #eeeeee;
	border: 1px solid #bababa;
	font-size: 0.9em;
	line-height: 1.5em;
}

.pagination span a:hover {
	border-color: #d2d2d2;
	background-color: #d2d2d2;
	color: #FFF;
	text-decoration: none;
}

.pagination img {
	vertical-align: middle;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	display: block;
	float: left;
	width: auto;
	margin-top: 0;
	padding: 1px 0px 1px 0px;
	font-size: 0.9em;
	background: none no-repeat;
}

.pages{
	float: right;
	width: auto;
	margin-top: 0;
	padding: 1px 1px 1px 1px;
	font-size: 0.9em;
}

.row .pagination span a, li.pagination span a {
	background-color: #FFFFFF;
}

.row .pagination span a:hover, li.pagination span a:hover {
	background-color: #d2d2d2;
}
