
/* 
======================================================
    SASS for eClass v3.0 - version 0.82 - 27/7/2014
======================================================
*/


/* SASS VARIABLES */

/* Colors */
$mainmenu-color: #2E3033;
$mainarea-color: #F0F4F6;
$header-color: #FAFAFA;
$sidebar-color: #E8ECEF;

$hover-color: #4DA1E4;
$green-color: #6BCE6B;
$red-color: #CE6B6B;

$main-text-color: #222222;
$main-text-reversed-color: #F4F4F4;


/* Metrics */
$sidebar-width: 240px;


/* Font families */
$main-font: 'Open Sans';
$icon-font: 'FontAwesome';






/* SASS MIXINS */

@mixin user-select($value)
{
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  -o-user-select: $value;
  user-select: $value;
}

@mixin box-sizing($type)
{ 
  box-sizing: $type;
  -moz-box-sizing: $type;
  -webkit-box-sizing: $type;
}

@mixin box-shadow($value)
{
  box-shadow: $value;
  -moz-box-shadow: $value;
  -webkit-box-shadow: $value;
}

@mixin border-radius($value)
{
  border-radius: $value;
  -webkit-border-radius: $value;
  -moz-border-radius: $value;
}

@mixin transition($value)
{
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  -ms-transition: $value;
  transition: $value;
}

@mixin background-size($value)
{
  -webkit-background-size: $value;
  -moz-background-size: $value;
  -o-background-size: $value;
  background-size: $value;
}

@mixin transform($value)
{
  behavior:url(-ms-transform.htc);  
  -moz-transform:rotate($value);  
  -webkit-transform:rotate($value);  
  -o-transform:rotate($value);  
  -ms-transform:rotate($value);
}

@mixin transform-origin($value)
{
  -moz-transform-origin: $value;
  -webkit-transform-origin: $value;
  -o-transform-origin: $value;
  -ms-transform-origin: $value;
  transform-origin: $value;
}








/*
  MAIN LAYOUT
  Sticky flexible footer - http://pixelsvsbytes.com/blog/2011/09/sticky-css-footers-the-flexible-way/
*/

html, body
{
  height: 100%;
  margin: 0pt;

  font-family: $main-font;
}

.Frame
{
  display: table;
  height: 100%;
  width: 100%;

  background: $mainarea-color;

  padding-left: 180px;
  padding-right: 0;
    
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

.Row
{
  display: table-row;
  height: 1px;
}

.Row.Expand
{
  height: auto;
}



/* MAIN SECTION */

#header{

  .header-content{
    position:fixed;
    width:100%;
    left:0px;
    z-index:10000;

    padding: 0px 180px;
    padding-right: 0;

    background: $header-color;

    @include box-sizing(border-box);

    //border-bottom: 1px solid #D8D8D8;

    @include box-shadow(0px 1px 4px rgba(0, 0, 0,0.15));

    //outline: 1px solid rgba(0, 0, 0,.1);
  
    #uni-info{
    display: inline-block;
    float: left;
    font-size: 0.75em;

      .uni-icon{
        display: inline-block;
        height:40px;
        width: auto;
        vertical-align: middle;
        padding: 6px;
        margin-right: 0.5em;

        @include box-sizing (border-box);

        img{
          max-height:100%;
          width:auto;
        }
      
      }
    }

  }

  .top-nav-wrapper
  {
    margin: 0;
  }

  .top-nav
  {
    float:right;
    height:50px;

    margin:0px;
    padding:0px;
    list-style-type: none;

    @include user-select(none);
  }

  .top-nav li
  {
    float:left;
    height:100%;
  }

  .top-nav li > *
  {
    width:4em;
    height:100%;
    display: inline-block;
   
    border-left: 1px solid rgba(0, 0, 0, 0.05);

    text-decoration: none;
    vertical-align: middle;
    text-align: center;

    color: #666;
    background-position: center;
    background-repeat: no-repeat;
    background-size:28%;
  
    &.auto-width{
      min-width:8em;
      width: auto;
      padding-right:1em;
      padding-left:1em;
    }

  }

  .username
  {
    font-size: 0.8em;
    padding-left: 5px;
  }
  
  .top-nav li > *:hover
  {
    background-color: $hover-color;

    color: white;
  
    .username{
      color: white!important;
    }
  }

  .top-nav li > * > * {
    top: 1em;
    position: relative;
    vertical-align: middle;
    display: inline-block;
  }

  .top-nav li.user-info{
    span{
      text-align: left;
    }

    .fa{     
      padding: 0 0.8em 0 1em;
    }

    .username{
      font-size: 0.85em;
    }
  }

  .top-nav li.sidebutton > span{

    &:hover{
      background: $hover-color;
      color:white;
    }
  }
}


#main > *
{
  padding-top:70px!important; /* equal to header height + some content padding */
}

#main{

  #content
  {

    position: relative;
    width: 100%;
    float: left;

    padding:3em;

    @include box-sizing(border-box);

    #title{

      padding: 1em 0em;

      text-align: left;

      .page-title{display: inline-block;}

      #doc-toggle
      {
        float: right;
        margin:1em 0em;
        margin-top: 0em;

        color: #868686;  

        @include user-select(none);
      }

    }

    #breadcrumb
    {
      padding:1em 0em;

      margin-bottom: 1em;

      color:rgb(167, 167, 167);

      font-size:0.8em;

      border-bottom:1px solid rgba(0,0,0,.05);
    }
  }
}



/* 
  Real TABLE LIST 
  for datatables
*/

table.my-table{
  width:100%;
  border-collapse: collapse;

  overflow: hidden;

  thead tr{
    font-size: 0.75em;
  }

  td{
    margin: 0px;
    padding: 0px;

    &.table-row-date{      
      color: rgba(0, 0, 0, 0.6);
      font-size: 0.8em;
      padding:1em 2em;
    }

    &.table-row-date,
    &.table-row-settings{
      text-align: center;
      width:1em;
      white-space: nowrap;
    }

    &.table-row-settings{
      text-align: right;
    }

    &.table-row-name{
      padding:0em 1em;
    }
  }

  .button{
    border:none;
    border-radius:0px;
    @include box-shadow(none);
    background: transparent;
    margin:0px;
  }

  .button:hover{
   background: $hover-color;
   color:white;
  }
  .item-options{
    position: relative;

    &:hover{
      .option-button{
        color: white;
        background: $hover-color;
      }
      ul{
        left:-300%;
      }
    }

    .option-button{
      position: relative;
      z-index: 2;
      color: #7E7E7E;
      background: #F8F8F8;


      width: 4.1em;
      padding: 1em 0em;
      display: inline-block;
      text-align: center;
      cursor: pointer;
    }

    ul{
      background:#333333;
      color: white;
      position: absolute;
      top: 0em;
      left: 0.05em;
      z-index: 1;
      padding: 0em;
      margin: 0em;

      list-style: none;

      @include transition(left 100ms linear);

      li{
        display: inline-block;
        width: 4.1em;
        padding: 1em 0em;
        text-align: center;
        cursor: pointer;

        &:hover{
          background: $hover-color;
        }
      }
    }
  }

}


/* Datatables fixes */

.dataTables_wrapper{
  padding-bottom:2em;

  thead tr{
    border-bottom: 1px solid #DADADA;
  }

  thead tr th:hover{
    background-color: #eee;
  }

  .dataTables_filter,
  .dataTables_length,
  .dataTables_info,
  .dataTables_paginate{    
    font-size: 0.85em;
    margin-bottom: 2em;
    color: rgba(0,0,0,0.4);
  }

  .dataTables_length{
    width: auto!important;
  }

  .dataTables_filter{
    float: none!important;
    width: auto!important;
  }


  .sorting_asc,
  .sorting_desc,
  .sorting{
    cursor:pointer;
  }

  input,select,textarea{
    width:auto;
  }

  tr{
    border-bottom: 1px solid #eee;

    &:hover{
      background: #FCFCFC!important;
    }
  }

  tr.odd{
    background-color: transparent;
  }

  tr.odd td.sorting_1 {
    background-color: #eee;
    background-color: transparent;
  }

  tr.even td.sorting_1 {
    background-color: #f6f6f6;
    background-color: transparent;
  }

  td:not(:last-child),th {
    border-right: 1px solid #eee;
  }

}


/* TABLE LIST */

ul.tablelist
{
  font-size: 0.8em;
  margin:0px;
  padding:0px;
  cursor:default;

  li.list-item
  {
    position:relative;

    max-height:3.35em;
    
    @include box-sizing(border-box);

    list-style-type: none;
    border-bottom:1px solid #eee;
    background:white;
    overflow:hidden;

    .item-right-cols > span:not(:last-child)
    {
      border-right:1px solid #eee;
    }

    .item-right-cols > span:first-child
    {
      border-left: 1px solid #eee;
    }

    .item-right-cols
    {
      float:right;
      position: absolute;
      top: 0px;
      right: 0px;
      max-width: 95%;
    }

    .item-right-cols > span,
    .item-title
    {
      padding:1em;
      display: inline-block;
    }


    .item-right-cols .item-content
    {
      font-size:0.9em;
    }

    .item-right-cols a
    {
      width:1em;

      padding:1em 1.4em;
      display:inline-block;
      text-align: center;
      cursor: pointer;
    }

    .item-right-cols .item-date
    {
      color:rgba(0,0,0,0.6);
      background:white;
      width: 4.5em;
      text-align: center;
      vertical-align: top;
    }

    .item-right-cols .item-options
    {
      padding:0px;
      margin-left:-0.26em;
      padding-right:3.8em;
    }

    .item-right-cols .item-options .options-icon
    {
      position:absolute;
      display:inline-block;

      top:0px;
      right:0px;
      width:1em;

      text-align:center;

      padding:1em 1.4em;

      color: #7E7E7E;
      background: #F8F8F8;
    }

    .item-right-cols .item-options:hover .options-icon
    {
      background: $hover-color;
      color:white;
    }

    .item-right-cols .options-content
    {
      display:block;
      
      margin-right:-20em;

      background:#333333;
      color:white;

      @include transition(all 150ms linear);
    }

    .item-options:hover .options-content
    {
      margin-right: 0em;
      background:#333333;
    }

    .item-right-cols .item-options a:hover
    {
      color:white;
      background: $hover-color;
    }


  }

  li.list-item:first-child,
   li.list-item:first-child .item-date{
  -webkit-animation: NEW-ITEM-FX 3s 1;
  -moz-animation:    NEW-ITEM-FX 3s 1;
  -o-animation:      NEW-ITEM-FX 3s 1;
  animation:         NEW-ITEM-FX 3s 1;
  }

  li.list-item:hover
  {
    background:#FCFCFC;
  }


}



/* BOX LIST */

.boxlist{

  padding:0px;

  .list-item{
    display:block;
    position:relative;
    width:100%;
    padding:0em;
    margin-bottom:1em;
    
    overflow:hidden;  /*important for the transition*/
    
    list-style-type:none;
    
    background:white;
    
    @include box-sizing(border-box);
  }

  .list-item.hidden{
    background:rgba(255,255,255,0.6);
  }

  .list-item.hidden .item-content{
    opacity:0.6;
  }

  .list-item:hover .side-header{
    color:#eee;
  }


  .list-item .item-content{

    width: 93%; /* a fallback for calc */
    width: -webkit-calc(100% - 4em);
    width: -moz-calc(100% - 4em);
    width: calc(100% - 4em);

    position: relative;    

    display: inline-block;

    padding-left: 1em;

    @include box-sizing(border-box);

  }

  .item-header{
    padding:1em 0em 0.5em 0em;
    border-bottom:1px solid #eee;
  }

  .item-header .item-title{
    margin:0px;
  }

  .item-header .item-date{
    font-size:0.8em;
    color:rgba(0,0,0,0.4);
  }

  .item-body{
    padding:1em 0em;
    min-height:5em;
    font-size:14px;
  }



  .list-item .item-side{
    display:inline-block;

    position: absolute;
    
    top:0px;
    right:0px;
    
    color:#eee;
    
    -webkit-transition: all 50ms linear;
    -moz-transition: all 50ms linear;
    -o-transition: all 50ms linear;
    -ms-transition: all 50ms linear;
    transition: all 50ms linear;
  }


  .list-item .option-button{
    display: inline-block;
    position: relative;
    z-index:9;

    padding: 1em 1.4em;

    background: #F8F8F8;
    color: #7E7E7E;

    text-align: center;

    width:1em; /* as long as its a content box... */

    @include border-radius(0px 2px 0px 0px);
    @include box-sizing(content-box);
  }

  .list-item .item-side .item-options:hover .option-button{
    background: $hover-color;
    color:white;
  }


  .list-item .item-side .item-options ul{
    position:relative;
    z-index:2;
    list-style-type:none;

    margin:0px;
    padding:0px;
    margin-right:-100%;

    background:#333333;
    @include transition(all 150ms linear);

  }

  .list-item .item-side .item-options:hover ul{
    margin-right:0%;
  }

  .list-item .item-side .item-options > *{
    float:right;
  }

  .list-item .item-side:hover .item-options ul{
    display:block;
  }

  .list-item .item-options ul li{
    display:inline-block;
    padding: 1em 1.4em;
    z-index: 2;

    width:1em;
    
    font-weight: 600;
    text-align: center;
    
    cursor: pointer;
    
    @include box-sizing(content-box);
  }


  .list-item .item-options ul li:hover{
    background:$hover-color;
  }
}

.delete-action{
  color:$red-color;
}

.delete-action:hover{
  background:$red-color!important;
  color:white!important;
}




/* 
MAIN MENU
LEFT NAV 
*/

#leftnav
{
  width:180px;
  height:100%;
  position:fixed;
  z-index:99999;

  background: #232C3A;

  @include box-shadow(inset -10px 0px 7px -7px #000000);


  .logo
  {
    width: 100%;

    min-height: 180px;

    background:url('../../img/eclass-new-logo.png') no-repeat center;
  }


  ul.navlist
  {
    width: 100%;

    margin: 0px;

    padding: 0px;

    list-style-type: none;

    overflow: hidden;
      
    @include box-sizing(border-box);

    ul{
      list-style:none;
      padding:0;
      padding-bottom:.5em;

      li{
        margin-bottom: 1px;
      }
    }

    > li:last-of-type{
        border-bottom: 1px solid rgb(65, 65, 65);
    }

    .title{
      color: #ADADAD;
      display: block;
      padding: 1em 10px;

      outline: none;

      font-weight: 200;

      cursor: pointer;

      border-top: 1px solid rgb(65, 65, 65);
      font-size: 0.75em;

      &:hover{
        color: $hover-color;
      }

      &.ui-state-active{
        border-bottom: none;
      }
    }
  }

  .navlist li a
  {
    width:100%;

    display:inline-block;

    padding: 1em;
    
    margin-left:10px;
   
    color: #FDFDFD;
      
    border-top: 1px solid rgba(255, 255, 255,0.05);

    text-decoration: none;

    @include box-sizing(border-box);
  }

  .navlist li:last-child > a{
      border-bottom: none;
  }

  .navlist li a.current
  {
    color: $main-text-color;
    background: #F0F4F6;

    @include box-shadow(0px 1px 8px 2px #000000);
    
    @include border-radius(2px);
    
    .fa{
      color: #2E3033;
    }

    &:hover{
      color:white;
    }
  }


  .navlist li a:hover
  {
    background: $hover-color;

    @include border-radius(2px);

    .fa{
      color:white;
    }

    /*background: -moz-linear-gradient(right , #2b78e4 30%, #333333 100%) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(right , #2b78e4 30%, #333333 100%) repeat scroll 0 0 transparent;
    background: -o-linear-gradient(right , #2b78e4 30%, #333333 100%) repeat scroll 0 0 transparent;*/
  }


  .navlist li a .fa
  {
    display: inline-block;
    width:2em;

    vertical-align: middle;

    color: #B3B3B3;
  }

  .navlist li a .leftnav-text
  {
    font-size: 0.8em;
  }


}



/* RIGHT SIDEBAR */

/* sidebar toggle class */

body.sidebar-opened{
  #sidebar{
    right: 0px;
    border-left: 1px solid rgba(0,0,0,.05);
    opacity: 1;
    //@include box-shadow(-7px 0px 15px -8px rgba(0,0,0,.3));
  }

  #header .header-content,
  .Frame{
    padding-right: $sidebar-width;
    @include transition(all 120ms linear);
  }
}

#sidebar
{
  position:fixed;

  height: 100%;
  width: $sidebar-width;

  right: -$sidebar-width;
  top:0px;

  z-index:10001;

  background: $sidebar-color;

  word-wrap:break-word;

  @include user-select(none);

  @include transition(all 120ms linear);

  &:hover{
    //@include box-shadow(-8px 0px 17px -8px rgba(0,0,0,.3));
  }


  h1,h2,h3,h4,h5,h6{
    color: #686868;
    font-weight: 600;
    margin-bottom: 0.6em;
    margin-top: 0.3em;
  }

  .toggle-sidebar{
    text-align: center;
    width: 3em;
    padding: 0.3em 0em;
    margin: 0.5em;

    float: right;
    color: #8B8B8B;
    display: inline-block;
    position: relative;
    border: 1px solid #CFCFCF;
    cursor: default;

    &:hover{
      background: $hover-color;
      border-color: $hover-color;
      color: white;
    }
  }

  ul,li{
    list-style-type: none;
    padding: 0em;
    margin: 0em;
  }

  .side-list{
    
    padding-bottom: 1em;

    .lesson-title{
      background: #344458;

      margin:0px;

      padding: 10px 15px;

      cursor: pointer;

      position: relative;

      outline: none;

      color: rgba(255,255,255,0.5);

      font-weight: 600;      

      margin: 0 16px;

      border: 1px solid #48586D;
      border-top-width: 0px;

      @include transition(all 100ms linear);

      //@include box-shadow(0px 1px 5px 0px rgba(0,0,0,.1));

      &:first-of-type{
        border-top-width: 1px;

        @include border-radius(4px 4px 0px 0px);
      }

      &:last-of-type{
        @include border-radius(0px 0px 4px 4px);
      }

      &:hover{
        background: #48586D;
        color: rgba(255,255,255,0.85);

        &:after{
          color: rgba(255,255,255,.6);
        }
      }

      &.ui-accordion-header-active{
        border-bottom: none;
        color: rgba(255,255,255,1);
        background: #425164;

      &:last-of-type{
        @include border-radius(0px);
      }

        &:after{
          color: $hover-color;
        }
      }
    }

    > div{

        background: #253447;
        
        border-top: none;

        color: rgba(255,255,255,.9);

        margin: 0 16px;

        &:last-of-type{
          @include border-radius(0px 0px 4px 4px);
        }
    }

    ul{
        padding:0em 2em 1em 1.35em;
        font-size: 0.75em;

        >li{
          padding: 5px 0em;          
        }
    }

    .lesson-id{
      opacity: 0.5;
      font-size:0.85em;
      font-weight:700;
    }

    .lesson-professor{
      font-weight: 600;
      padding-top:0px;
    }

    .lesson-notifications{

      margin-top:1em;

      .item{
        margin-right:1.5em;
        position: relative;

        .count{

          position: absolute;
          left: 0.8em;
          bottom: 0.8em;

          display: inline-block;
          text-align: center;

          background: $red-color;
          color: white;

          width: 1.5em;
          height: 1.5em;

          font-size:0.75em;
          font-weight: 600;
          //border: 2px solid #253447;

          @include border-radius(0.75em);
        }

        .fa{
          font-size: 1.2em;
          color: rgba(255,255,255,.8);
        }    
      }
    }

  }

}

#sidebar .blocks{

  .sidebar-title{
    margin: 0;
    font-weight: 600;
    padding-left: 13px;
    font-size: 0.75em; 
    text-transform: uppercase;
    padding: 1.375em;

    background: #EEF1F3;
  }

  .title{

    margin: 0;
    padding: 2em 0em!important;
    font-weight: 700;
    font-size: 0.7em;

    text-align: center;

    overflow: hidden;

    .txt{
      text-transform: uppercase;
    }

    i.fa{
      display: block;

      opacity:.9;
      font-size: 2.3em;

      margin-top: 0.4em;
    }

    .tricky{

      margin-left:-100%;
      width: 200%;
      position: relative;
      height: 45px;
      @include transition(margin-left 120ms linear);

      > div{        
        display: inline-block;
        width: 49%;
        height: 100%;
        position: relative;
        top: 0px;
        vertical-align: middle;
        padding: 0.5em 0em;

        @include transition(opacity 60ms linear);  
      }

      .icon{
        opacity: 1;
      }

      .description{
        font-weight: 400;
        padding:0.5em 1em;
        opacity: 0;
        @include box-sizing(border-box);
      }
    }

    &:hover:not(.ui-accordion-header-active){
      .tricky{
        margin-left: 0%;

        .description{
          opacity: .55;
        }

        .icon{
          opacity:0;
        }

      }

      .txt{
        color:$hover-color;
      }
    }

    &.ui-accordion-header-active{
      .tricky{
        margin-left: 0%;
        .description{
          opacity: .55;
        }
      }
    }

  }

  li.block{
    border-bottom: 1px solid rgba(0,0,0,.05);

    > .ui-accordion-content,
    > .ui-accordion-header-active {
      background: rgba(255,255,255,.3);
    }

    > .ui-accordion-content{
      padding:1em 0em;
    }

    textarea,input{
      width: 90%;
      margin: 0em auto 1em auto;
      display: block;
    }

    textarea{ 
      min-height: 12em;
    }

    button{
      margin: 1.1em;
      margin-top: 0em;
      font-size: 0.8em;
    }

    .goto{
      float: right;
      color: #7E7E7E;
      padding: 0.5em;
      margin-right: 0.5em;
    }

    .input-parent{
      position: relative;

      textarea,input{
        padding-left:2em;
        font-size: 13px;
      }

      .fa{
        position: absolute;
        top: 0.7em;
        left: 1.5em;
        z-index: 9;
        opacity: 0.2;
      }
    }
  }
}

.accordion{
  list-style: none;
  margin:0px;
  padding:0px;
  ul,li{
    margin:0px;
    padding:0px;
    list-style: none;
  }
}

.accordion-title,
.ui-accordion-header{
  
  padding-right: 2em!important;
  position: relative;
  display: block;
  outline: none!important;

  cursor: pointer;

  &:after{
        position: absolute;
        display: inline-block;
        
        width: 1em;
        height: 1em;
        right: 1em;
        top: 42%;
        top: calc(50% - 0.5em);
        font-family: $icon-font;
        font-size: 0.85em;

        content: "\f107";
        color: rgba(255,255,255,.2);
        moz-transform-origin: center center;
-webkit-transform-origin: center center;
-o-transform-origin: center center;
-ms-transform-origin: center center;
transform-origin: center center;

        @include transition(all 100ms linear);
  }
  
  &.ui-state-active:after{
    @include transform(180deg);
    @include transition(all 100ms linear);
  }  
}


/* ACCORDION LIST STYLE */

.accordion-list-style{

  .accordion-title{
    padding: 1em;
    margin:0em;

    .description{
      display: block;

      font-size: 0.8em;
      line-height: 2em;
      opacity: 1;
      color: #555555;
    }

    &:hover{
      background:#F0F2F3;
    }

    &:after{
      top: 2.9em;
    }

    &.ui-state-active{
      background: #FAFAFA;
      h4{
        color: $hover-color!important;
      }
    }
  }

  li:not(:last-child) .accordion-title{    
    border-bottom: 1px solid #E0E0E0;
  }

  li:last-child .content{
    border-top:1px solid #eee;
  }

  li .content{
    background: #EFF0F5;
    border-bottom:2px solid #eee;
    line-height:2em;
  }

  .content{
    padding:1em;
    padding-left:2.4em;
    line-height:1.6em;

    font-size:0.8em;

    img{
      float:left;
      margin: 0em 1em 1em 0em;
    }

    .label:hover{
      background: white;
    }
  }
}



/* FOOTER */

#footer 
{
  .content
  {
    padding:1em 3.8em;
    font-size:0.8em;
    color: #999999;
    background: #F0F4F6;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
}






/* GENERAL */

/* toolbox */

.toolbox
{

  display:inline-block;

  padding: 0.65em;

  color: #333;
  background: #F0F4F6;

  border-top: 1px solid rgb(216, 216, 216);
  border-bottom: 1px solid rgb(248, 248, 248);

  @include box-sizing(border-box);

  @include box-shadow(inset 0px -2px 8px rgb(221, 221, 221));

  @include border-radius(4px);


  position:relative;

  text-align: right;

  margin-right:0em;  

  ul
  {
    display:block;

    display: inline-block;

    margin:0px;

    padding:0px;
  }

  li
  {
    list-style-type: none;

    display: inline-block;
  }

  ul.toolbox-submenu
  {
    display:none;
  }
}

.toolbox:hover{
  .toolbox-submenu{
    display:inline-block;
  }
}

/* just inner emboss */

.inner-emboss
{
  display:inline-block;
  padding: 0.65em;

  @include border-radius(4px);

  color: #333;
  background: rgb(236, 236, 236);

  border-top: 1px solid rgb(216, 216, 216);
  border-bottom: 1px solid rgb(248, 248, 248);

  @include box-sizing(border-box);

  @include box-shadow(inset 0px -2px 8px rgb(221, 221, 221));
}

/* COURSE MAIN INFO CONTAINER */

#lesson-banner{

  position: relative;

  min-height: 13em;

  .banner-left{

    width: 40%;    
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;

    margin-right:1em;

    .banner-image{
      background: url('../../img/ph1.jpg') no-repeat center;
      width: 100%;
      height: 100%;
      position: relative;

      @include border-radius(2px 0px 0px 2px);

      @include background-size(cover);

      &:after{
        position: absolute;
        top: 0px;
        left: 0px;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 57%, rgba(255,255,255,0.25) 68%, rgba(255,255,255,0.85) 86%, rgba(255,255,255,0.95) 92%, rgba(255,255,255,1) 99%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(57%,rgba(255,255,255,0)), color-stop(68%,rgba(255,255,255,0.25)), color-stop(86%,rgba(255,255,255,0.85)), color-stop(92%,rgba(255,255,255,0.95)), color-stop(99%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 57%,rgba(255,255,255,0.25) 68%,rgba(255,255,255,0.85) 86%,rgba(255,255,255,0.95) 92%,rgba(255,255,255,1) 99%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(255,255,255,0) 57%,rgba(255,255,255,0.25) 68%,rgba(255,255,255,0.85) 86%,rgba(255,255,255,0.95) 92%,rgba(255,255,255,1) 99%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(255,255,255,0) 57%,rgba(255,255,255,0.25) 68%,rgba(255,255,255,0.85) 86%,rgba(255,255,255,0.95) 92%,rgba(255,255,255,1) 99%); /* IE10+ */
        background: linear-gradient(to right,  rgba(255,255,255,0) 57%,rgba(255,255,255,0.25) 68%,rgba(255,255,255,0.85) 86%,rgba(255,255,255,0.95) 92%,rgba(255,255,255,1) 99%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

      }

    }
  }

  .banner-content{
    margin-left: 40%;
    padding:1em;
    @include box-sizing(border-box);

    .banner-description{
      font-size:0.8em;
      min-height: 6em;
      line-height: 1.7em;
    }

    hr{
      margin-bottom: 0.8em;
    }

  }
}

#lesson-footer{
  font-size: 0.85em;
  text-align: center;

  img{
    position: relative;
    height: 100%;
    width: auto;
    vertical-align: middle;
    margin-right:1em;
    height: 3em;
  }

  .title{
    position: relative;
    display:block;
    text-align: center;
    margin: 1em auto;    
  }

  .contentbox > div{
    @include box-sizing(border-box);
  }



  .label-group{
    padding: 1em;
    padding-top:0em;

    font-size:0.85em;
  }
}


/* MY BOX */

.contentbox
{
  background:white;

  min-height: 2.4em;

  margin: 0.5em 0em;

  @include box-sizing(border-box);

  @include border-radius(2px);

  @include box-shadow(0 0px 7px #DDDDDD);

  h1,h2,h3,h4,h5,h6{
    margin: 0em 0em 0.6em 0em;
  }

}

/* MY BUTTON */

.button
{  
  font-family: $main-font;
  font-size:0.85em;

  padding:0.5em 1.2em;
  margin:0 0.2em;

  display:inline-block;
  position: relative;

  cursor:pointer;

  text-align: center;
  background:white;

  border:1px solid transparent;

  border-bottom: 1px solid #DADADA;

  @include user-select(none);

  @include box-sizing(border-box);

  @include border-radius(2px);

  @include box-shadow(0 0px 7px #DDDDDD);

  /*
    Giving right/reft margin on icons that ain't last/first childs
  */

  > .fa:not(:last-child){
    margin-right: 10px;
  }

  > .fa:not(:first-child){
    margin-left: 10px;
  }

  > .fa.fa-caret-down{
    margin-right:0px!important;
  }

  &:hover,
  &:focus
  {
    background: #F3F3F3;
    outline: 0;
  }

  &:active
  {    
    background: $hover-color!important;

    border-color: $hover-color;

    border-bottom-color: #3F87C1!important;

    color:white!important;

    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

}

/* flippin btn */

.flippin-btn {
  position:relative;
  border:0;
  margin:0;
  padding:0;
  cursor:pointer;
  font-size:1rem;
  font-weight:bold;
  color:rgba(0,0,0,0);
  background:transparent;
  border-radius:.25rem;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

.flippin-btn,
.flippin-btn:after,
.flippin-btn:before {
  padding:.6875rem 2rem;
  -webkit-transition:-webkit-transform 0.75s,background-color .125s;
  -moz-transition:-moz-transform 0.75s,background-color .125s;
  -ms-transition:-ms-transform 0.75s,background-color .125s;
  transition:transform 0.75s,background-color .125s;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;
  transform-style:preserve-3d;
}

.flippin-btn:after,
.flippin-btn:before {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  border-radius:.25rem;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  backface-visibility:hidden;

}

.flippin-btn:hover:before{
  background: $hover-color;
  color: white;
}

.flippin-btn:before {
  z-index:2;
  color:#fff;
  background-color: $hover-color;
color: #9C9C9C;
background-color: #FFFFFF;
  content:attr(data-label);
}

.flippin-btn:after {
  z-index:1;
  background-color:#999;
  background-repeat:no-repeat;
  background-position:center center;
  background-image:url(data:image/gif;base64,R0lGODlhEAAQAPIAAJmZmf///7CwsOPj4////9fX18rKysPDwyH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
  -webkit-transform:rotateX(180deg);
  -moz-transform:rotateX(180deg);
  -ms-transform:rotateX(180deg);
  transform:rotateX(180deg);
  content:'';
}

.flippin-btn:active:before {
  background-color:#3571c8;
}

.flippin-btn.loading {
  -webkit-transform:rotateX(180deg);
  -moz-transform:rotateX(180deg);
  -ms-transform:rotateX(180deg);
  transform:rotateX(180deg);
}

/* MY BUTTON COLORS */


.button.color-green
{
  color:white;
  background: $green-color;
  
  border-bottom: 1px solid #4AA04A;
  border-top: none;

  @include box-shadow(none);

  &:hover
  {
    background:#83DE83;
  }

}

.button.color-red
{
  color:white;
  background: $red-color;
  
  border-bottom: 1px solid #984B4B;
  border-top: none;

  @include box-shadow(none);

  &:hover
  {
    background:#E58080;
  }

}

.button.hover-blue:hover{
  background: $hover-color;
  border-color: $hover-color;
  border-bottom-color: #3F87C1;
  color:white;
}

/* MY BUTTON SIZES */

.button.size-xl{
  font-size:2em;
}

.button.size-l{
  font-size:1.5em;
}

.button.size-s{
  font-size:0.85em;
}



/* DROPDOWN */

.button.dropdown.opened{

  background: $hover-color!important;

  border-bottom-color: #3F87C1;

  color:white;

  .dropdown-menu{
    display:block;

    @include transition(all 150ms linear 1s);
  }

}

.button.dropdown.open-on-hover:hover{
  .dropdown-menu{
    display: block;
  }
}

ul.dropdown-menu{
  display: none;

  position: absolute;

  top: calc(100% + 0.1em);

  left: -1px;
  z-index: 1000;
  float: left;

  min-width: 100%;

  padding: 5px 0;
  margin: 2px 0 0;

  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);

  background-clip: padding-box;

  @include border-radius(2px);

  @include box-shadow(0px 6px 12px rgba(0,0,0,.175));
}

.float-right{
  .dropdown-menu{
    right:-1px;
    left: auto;
  }
}

ul.dropdown-menu:before{
  content: "";
  position: absolute;
  background: transparent;
  height:100%;
  width:100%;
  top:-0.4em;
  left:0px;
  z-index:-1;
}

ul.dropdown-menu li a{
  display: block;
  text-align: left;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}


.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  text-decoration: none;
  color: white;
  background-color: #4da1e4;
}



/* PAGINATION */

.my-pager
{
  margin:1em 0em;
  text-align: right;

  font-size: 0.85em;
}

.my-pager .items > .button
{
  padding:0.5em 0.8em;
  vertical-align: middle;
  cursor:pointer;
}

.my-pager .page-number
{
}

.my-pager .active
{  
  color: $hover-color!important;
  border-top: none;
  border-bottom: none;
  background: #E4E4E4;
  cursor:default!important;

  border: 1px solid #CECECE;

  @include box-shadow(inset 0px 2px 5px #D3D3D3);
}

.my-pager .items > span:hover
{
  color:$hover-color;
}


/* TOGGLE SWTICH */

.my-toggle > *
{
  vertical-align: middle;
}

.my-toggle .txt
{
  font-size:0.75em;
}

input.toggle
{
  position:relative;
  padding-left:5px;
  padding-right:5px;

  @include border-radius(15px);

  -webkit-appearance:button;

  cursor:pointer;  

  border: 1px solid #3D79A8;
  background-color: $hover-color;

  color:#FFF;
  white-space: nowrap;
  overflow:hidden;

  width:4em;
  height:2em;
  
  outline:none;

  @include box-shadow(inset 0px 1px 4px rgba(0, 0, 0,0.2));
}

input.toggle:after
{
  position:absolute;
  content:"";
  top:0px;
  right:0px;
  width:50%;
  height:100%;

  background:#eee;

  border-top: 0.2em solid rgb(253, 253, 253);

  @include border-radius(50%);

  @include box-sizing(border-box);

  @include box-shadow(0px 2px 5px rgba(0, 0, 0,0.5));
}

input.toggle:hover:after
{
  background:white;
}

input.toggle[type=checkbox]:checked
{
  border: 1px solid #aaaaaa;

  background-color: #dddddd;
}

input.toggle[type=checkbox]:checked:after
{
  left:0px;
}


/* INPUT TEXTAREA SELECT */

input,
textarea{
  width: 100%;
}

input,
textarea,select
{
  font-family: $main-font;
  padding: 0.5em;
  
  border: 1px solid #D5D5D5;
  @include border-radius(2px);
  
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  
  @inlcude transition(all 150ms linear);
}

input:focus,
textarea:focus,
select:focus{
  border-color: #66afe9;
  outline: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

textarea{
  resize: vertical;
}


/* TAG & LABEL */

.tag {
  display: inline;
  padding: 0.4em;
  font-size: 0.8em;
  line-height: 1;
  color: #fff;
  background: #999;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius(.25em);
}

.label-group{
    padding:2em 0em;
    padding-top:2.5em;
  .title{
    display:inline-block;
    margin-right: 1em;
    font-weight: 600;
    font-size:0.85em;
    opacity: 0.6;

  }  
}

.label
{
  font-size: 0.75em;
  display: inline-block;
  margin: 0 0.5em 0.8em 0;
  position: relative;

  border: 1px solid rgb(231, 231, 231);
  padding: .5em;
  border-radius: 2px;

  cursor: default;

  color:#A7A7A7;

  @include transition(background 100ms linear);

  > span{        
    font-weight: 600;
    color: #808080;
  }

  &:hover{
    background: #e7e7e7;
    color: #3D3D3D;
  }
}

/* HEADINGS */

h1{
  font-size:2em;
  font-weight:300;
}

h1.page-title
{
  margin:0em;
  font-weight: 400!important;
  color: #333;
}

#main{
  h1{
    color:#444;
  }

  h2,h3,h4,h5,h6{
    color: #777;
  }
}

.h-separator{
  border-bottom: 1px solid rgb(219, 219, 219);
  padding:0.6em 0em;
  color: #4da1e4;
}

hr{  
  height: 1px;
  border: none;
  background: #eee;
}

/* Misc */

/*
.description{
  font-size: 0.75em;
  display: block;
  font-style: italic;
  opacity:0.5;
}
*/

.button-row{
  margin:1em 0em;
}

.button-row > *{
  display:inline-block!important;
}

.align-center{
  text-align:center;
}

.align-right{
  text-align: right;
}

.align-left{
  text-align: left;
}

.float-right{
  float: right;
}

.padding{
  padding:0.5em;
}

.a-wrapper{
  margin:2em 0em;
}

.content-title{
  text-transform: uppercase;
}

.displaynone{
  display: none;
}

a{
  text-decoration: none;
  color: $hover-color;
}

a:hover{
  text-decoration: underline;
}

a.goto{
  
  position: relative;
  padding-right: 1.5em!important;
  font-size: 0.75em;
  
  &:after{
    content: "\f105";
    font-family: $icon-font;
    position: absolute;
    display:block;
    right:0px;
    top: calc(50% - 0.5em);
    width:1em;
    height:1em;
    color: #7E7E7E;
  }
}


/* Font awesome icons seem to be looking better on specific sizes */
.fa
{
  font-size:0.85em;
}

h3{
  font-weight: 600;
}

img{
  max-width: 100%;
  position: relative;
}




/* FIXED WIDTH */

body:not(.fixed-width){
  #sidebar .blocks{
    margin-top:0em!important;
  }
}

body.fixed-width{

  max-width: 1366px;
  margin: 0 auto;
  background: #1F252E;

  .Frame{
    background: #1F252E;
    position: relative;
    overflow:hidden;
  }

  #leftnav{
    z-index: 999;
    padding-top: 0em;
    top: 2.1em;
    background: #232C3A;
    @include box-shadow(none);
  }

  &.sidebar-opened{
    #sidebar{
      opacity: 1;
    }

    #header .header-content .top-nav li.sidebutton .fa{
      color: $hover-color;
    }
  }

  #header .header-content{
    color: #5F5F5F;
    position: fixed;
    width: 1186px;
    max-width: 100%;
    padding: 0em;
    padding-top: 2.1em;
    left: auto;
    background: #FAFAFA;
    outline: none;
    z-index: 10002;

    &:after,
    &:before{
      content: "";
      position: absolute;
      z-index: 999;
      width:2em;
      height:100%;
      bottom:0px;
      display:block;
      left: -2em;
      background: #1F252E;
    }

    &:after{
      right: -2em;
      left: auto;
    }

    .top-nav-wrapper{    
      position: relative;
      width: 100%;
      height: 50px;
      background: #DBDBDB;
      border-radius: 4px 4px 0px 0px;
      z-index:9999;

      @include box-shadow(0px -5px 10px 0px black);
    }

    .top-nav li{

      &:last-child > span{
        @include border-radius(0px 4px 0px 0px);
      }

      .fa{
        color:#5F5F5F;
      }

      & > span{
        border-left: 1px solid rgba(0,0,0, 0.08);
      }

      & > *:hover{
        color: white;
        .fa{
          color: white!important;
        }
      }

    }

    .fa{
      color: #B3B3B3;
    }
  }

  #main #content{
    z-index: 9999;
    margin-top: 3.1em;
    padding-top: 3.1em!important;
    border-radius: 0px;
    background: #F0F4F6;
    @include box-shadow(0px -7px 10px 0px black);
  }

  #sidebar{
    opacity: 0;
    position: absolute;
    padding-top: 85px;
    border-left:none;
    background: #E9ECEE;
    @include box-shadow(0px 0px 10px rgba(0,0,0,.3));
    @include box-sizing(border-box);
    .blocks{
      position: absolute;
      /* It's 239px (and not 240 px alike parent element) 'cause of the (1px border) && (border-box) rules of the parent */
      width: 240px;
    }
    .toggle-sidebar{
      display: none;
    }
  }

  .Frame,.header-content{
    padding-right: 0em!important;
  }

  .md-overlay{
    z-index: 99998;
  }

  .md-modal{
    z-index: 99999;
  }
}
/* end of fixed width alterations */





/* MODAL WINDOWS - http://tympanus.net/Development/ModalWindowEffects/ */

.md-modal.color-dark .md-content{
  background: #2E3033!important;
}

.md-modal .md-content p{
  font-size: 0.65em;
}

.md-modal .modal-icon{
  margin-right:10px;
}

.md-modal .md-close{
  background:rgba(0,0,0,.2);

  border:none;

  text-transform: uppercase;

  color:#eee;

  padding:0.5em 1em;

  font-size:0.75em;

  cursor:pointer;

  @include border-radius(2px);
}

.md-modal .md-close:hover{  
  background:rgba(0,0,0,.3);
  color:white;
}

.modal-overlay-bg-dark{
  background: rgba(35, 35, 35, 0.8)!important;
}




/* COLUMNS */

.column-one-half,
.column-one-third,
.column-one-fourth,
.column-three-fourth {
  float: left;
  margin-left: 2.564102564102564%;
}

.column-one-half,
.column-one-third,
.column-one-fourth,
.column-three-fourth {
  .contentbox{
    margin: 1em 0em;
  }
}
 
.column-one-half{
  width: 48.717948717948715%;
}
 
.column-one-third{
  width: 31.623931623931625%;
}

.column-one-fourth{
  width: 23.076923076923077%;
}

.column-three-fourth{
  width: 74.35897435897436%;
}
 
.column-first {
  clear: both;
  margin-left: 0;
}



/* CSS ANIMATIONS */

.transition{
  @include transition(all 150ms linear);
}

@-webkit-keyframes NEW-ITEM-FX
{
0%   {background: rgba(232, 255, 203,1);}
20%   {background: rgba(232, 255, 203,1);}
100%  {background: rgba(232, 255, 203,0);}
}


@-moz-keyframes NEW-ITEM-FX
{
0%   {background: rgba(232, 255, 203,1);}
20%   {background: rgba(232, 255, 203,1);}
100%  {background: rgba(232, 255, 203,0);}
}


@-o-keyframes NEW-ITEM-FX
{
0%   {background: rgba(232, 255, 203,1);}
20%   {background: rgba(232, 255, 203,1);}
100%  {background: rgba(232, 255, 203,0);}
}


@keyframes NEW-ITEM-FX
{
0%   {background: rgba(232, 255, 203,1);}
20%   {background: rgba(232, 255, 203,1);}
100% {background: rgba(232, 255, 203,0);}
}
