body {
   font-family: Verdana, "Times New Roman";
   font-size: 12px;
   font-weight: normal;
   margin-right: 2em;
   margin-left: 2em;
}

p {
   line-height: 110%;
}

ol, ul {
   line-height: 140%;
}


h1, h2, h3, h4, h5 {
   font-weight: bold;
}

h2 {
   font-size: 19px;
}

h3 {
   font-size: 16px;
}

h4 {
   font-size: 13px;
}

pre {
   margin-left: 3em;
   padding: .5em;
}

.note {
   background-color: #E6E6E6;
}

li.head {
   list-style-type: none;
   font-weight: bold;
}

li.c2 {
   list-style: none;
}

div.c1 {
   text-align: center;
}

