.sharingcontainer {
	margin-bottom: 10px;
}

.sharinglist {
	display: inline;
	padding-left: 10px;
}

.sharinglist li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}