.sharingcontainer {
	margin-bottom: 10px;
}

.sharinglist {
	display: inline;
	padding-left: 0px;
}

.sharinglist li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}

.fa-facebook-square,.fa-twitter-square,.fa-linkedin-square,.fa-envelope-square{width:25px; height:25px;}