/*
 *  ========================================================================
 *  * Open eClass
 *  * E-learning and Course Management System
 *  * ========================================================================
 *  * Copyright 2003-2024, Greek Universities Network - GUnet
 *  *
 *  * Open eClass is an open platform distributed in the hope that it will
 *  * be useful (without any warranty), under the terms of the GNU (General
 *  * Public License) as published by the Free Software Foundation.
 *  * The full license can be read in "/info/license/license_gpl.txt".
 *  *
 *  * Contact address: GUnet Asynchronous eLearning Group
 *  *                  e-mail: info@openeclass.org
 *  * ========================================================================
 *
 */

/*
 *  ========================================================================
 *  * Open eClass
 *  * E-learning and Course Management System
 *  * ========================================================================
 *  * Copyright 2003-2024, Greek Universities Network - GUnet
 *  *
 *  * Open eClass is an open platform distributed in the hope that it will
 *  * be useful (without any warranty), under the terms of the GNU (General
 *  * Public License) as published by the Free Software Foundation.
 *  * The full license can be read in "/info/license/license_gpl.txt".
 *  *
 *  * Contact address: GUnet Asynchronous eLearning Group
 *  *                  e-mail: info@openeclass.org
 *  * ========================================================================
 *
 */

                .clock {
                        position: relative;
                        width: 150px;
                        height: 150px;
                        margin: 20px auto 0 auto;
                        background: url(../images/clockface.jpg);
                        background-size: 100% 100%;
                        list-style: none;
                        border-radius: 50px;
                        }

                .sec, .min, .hour {
                        position: absolute;
                        width: 15px;
                        height: 150px;
                        top: 0px;
                        left: 67px;
                        }

                .sec {
                        background: url(../images/sechand.png);
                        background-size: 100% 100%;
                        z-index: 3;
                        }

                .min {
                        background: url(../images/minhand.png);
                        background-size: 100% 100%;
                        z-index: 2;
                        }

                .hour {
                        background: url(../images/hourhand.png);
                        background-size: 100% 100%;
                        z-index: 1;
                        }

