
.login-form-icon {
  width: 350px;
  height: 70px;
}

.user-bg {
  position: absolute;
  margin-left: 160px;

  width: 160px;
  height: 75px;
}

.icon-border {
  position: absolute;
  margin-left: 207px;
  margin-top: 7px;

  border-color: #003e87;
  border: solid thin;
  border-radius: 100%;
  width: 65px;
  height: 65px;

  padding-top: 10px;
  padding-left: 13px;
}

.user-account-icon {
  color: #003e87;
  border: none;
  font-size: 2.8em;
}

.login-form-body {
  /* margin-top:-20px; */
  width: 350px;
  height: 360px;
  background-color: white;
  border-radius: 15px;
}


.login-form-title {
  text-align: center;
  color: #003e87;
  padding-top: 30px;
}

.login-form-spacing {
  padding-top: 20px;
  text-align: center;
}

.login-form-spacing2 {
  padding-top: 17px;
  margin-top:-12px;
  text-align: center;
}

.login-forgot {
  color: orange;
}

.login-input {
  text-align: center;
  background-color: lightgrey;
  border: none;
  border-radius: 15px;
  /* width: 250px;
  height: 35px; */

}

.login-form-submit {
  border: solid thin;
  border-radius: 15px;
  border-color: #003e87;
  background-color: white;
  color: #003e87;
  font-size: 18px;
}

.login-form-submit:hover {
  background: #005ed7;
  color: #fff;
}

@import "bootstrap";

body {
  font-family: 'Manrope', sans-serif;
}

a {
  transition: all 0.2s;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: bold;
}

.input-group-text{
  background-color: transparent;
  border:transparent;
  border-bottom:solid 1px white;
  margin-top:1px;
}

.input-group-input{
  color:white;
  outline: none;
  height:32px; border:0; background-color: transparent; border-bottom:solid 1px white;
}

.button_lang_el{
  height:30px;
  width:30px;
  border-radius:50%;
  border:0;
  background:blue;
  color:white;
}

.button_lang_en{
  height:30px; border-radius:50%;
  width:30px;
  margin-left:0px;
  background:transparent;
  border:0;
  color:white;
}

.navbar-eclass {
  height: 170px;
  overflow: visible;
  background: rgba(0, 62, 135, 0.9);
  border: 0 none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  /* overflow: hidden; */
}


.eclass-nav-link-group {
  margin-top: 50px;
}

.eclass-nav-link {
  background: none;
  color: #fff;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
}

.eclass-nav-link:hover {
  background: none;
  color: #fff;
  text-decoration: underline;
}

.eclass-nav-link i {
  width: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #fff;
  margin-right: 10px;
  border-radius: 50%;
}

.eclass-nav-link i.active {
  border-color: #005ed7;
  background: #005ed7;
}




.block-title {
  font-weight: bold;
  color: #003e87;
  border-bottom: 1px solid #003e87;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.popular-lessons .lesson {
  margin-top: 15px;
  margin-bottom: 15px;
}

.popular-lessons .lesson img {
  width: 250px;
  border-radius: 50%;
}

.popular-lessons .lesson h3 a {
  font-weight: bold;
  color: #005ed7;
}

.popular-lessons .lesson .lesson-professor {
  color: #9d9d9c;
}

.popular-lessons .more-link {
  margin-top: 20px;
  text-align: center;
}

.popular-lessons .more-link a {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 3px 35px;
  border: 1px solid #005ed7;
  color: #005ed7;
  border-radius: 20px;
}

.popular-lessons .more-link a:hover {
  background: #005ed7;
  color: #fff;
  text-decoration: none;
}

.statistics {
  min-height: 400px;
  padding: 50px 15px;
  background: url('../images/statistics.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  color: #fff;
}

.statistics h2 {
  color: #fff;
}

.statistics>div {
  position: relative;
  z-index: 2;
}

.statistics>div .row>div {
  margin-bottom: 30px;
}

.statistics:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 0;
  background: #001146;
  opacity: 0.9;
}

.statistics i {
  font-size: 20px;
  background: #005ed7;
  border-radius: 50%;
  width: 60px;
  line-height: 60px;
  text-align: center;
}

.statistics .num {
  font-size: 60px;
  font-weight: bold;
}

.statistics .num span {
  font-weight: normal;
}

.statistics .num-text {
  font-size: 20px;
}

.ul_top_hypers li{
  display: inline;
  margin: 30px 30px;

}

.ul_top_hypers li a{
text-decoration: none;
}

.copyright{
  float:right;
  text-decoration: none;
  line-height: 30px;
}

.social_meadia_ul li{
  display: inline;
  float:right;
}

.ul_tools_site_footer li{
  line-height: 30px;
}

.a_tools_site_footer{
  text-decoration: none;
}

.ul_copyright li{
  line-height: 30px;
}

.social_meadia_ul li{
  padding: 5px;
}

.div_social{
  height:40px;
  width:40px;
  border-radius: 50px;
  background-color: blue;
  padding-top: 3px;
  padding-left: 12px;
}


.fab.fa-linkedin-in{
  font-size:19px;
}

.fab.fa-twitter{
  font-size:19px;
}

.fab.fa-facebook-f{
  font-size:19px;
}

.site-footer {
  padding: 45px 40px;
  background: #001146;
  color: #fff;
  font-size: 12px;
  width:auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* position: fixed;
  bottom:0; */
}

.site-footerMobile {
  background: #001146;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.site-footer a {
  font-size: 12px;
  color: #fff;
}

.site-footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-footer .social-icons {
  margin-bottom: 20px;
}

.site-footer .social-icons a {
  display: inline-block;
  text-align: center;
  margin-left: 15px;
  font-size: 16px;
  width: 30px;
  line-height: 30px;
  background: #005ed7;
  border-radius: 50%;
  border-radius: 50%;
}

.main-section>.row>div {
  padding: 50px;
}

.main-section>.row>div.sidebar {
  background: #f5f5f5;
}

.news-list .news-list-item {
  padding: 15px 0;
  border-bottom: 1px solid #dadada;
}

.news-list .news-list-item .date {
  color: #9d9d9c;
  font-weight: 600;
}

.news-list .news-list-item .title a {
  color: #003e87;
  font-size: 18px;
  font-weight: 600;
}

.intro-row {
  padding-top: 200px;
}

.intro {
  border-top-right-radius: 50px;
  background: #ffffff;
  color: #001146;
  width:auto;
}

/* --- home ------------------------------------------------------------------------------- */
/* --- testimonials ----------------------------------------------------------------------- */

.testimonials {
  background: #f5f5f5;
  padding: 80px 0;
  position: relative;
}

.testimonials .testimonial {
  position: relative;
  margin: 0 40px;
  padding: 100px 60px 60px 100px;
  border-radius: 15px;
  background: #fff;
  color: #001146;
  transition: all 0.4s;
  font-size: 16px;
}

.testimonials .testimonial>div {
  position: relative;
  z-index: 2;
}

.testimonials .testimonial:before {
  background: url(../images/testimonials-quote.png) no-repeat center;
  background-size: contain;
  content: "";
  position: absolute;
  left: 30px;
  top: 10px;
  width: 113px;
  height: 112px;
  opacity: 0.2;
  z-index: 0;
}

.testimonials .testimonial.slick-current {
  background: #003e87;
  color: #fff;
}

.testimonials .testimonial.slick-current:before {
  opacity: 1;
}

.testimonials .testimonial .testimonial-person {
  margin-top: 15px;
  font-style: italic;
}

.testimonials .slick-arrow {
  position: absolute;
  width: 66px;
  height: 66px;
  top: 50%;
  left: 9vw;
  transform: translate(-50%, -50%);
  background: url(../images/prev.svg) no-repeat center;
  background-size: contain;
  z-index: 99;
}

.testimonials .slick-arrow:before {
  display: none;
}

.testimonials .slick-arrow.slick-next {
  left: 78vw;
  background: url(../images/next.svg) no-repeat center;
  background-size: contain;
}


/* --- portfolio ----------------------------------------------------------------------- */
/* --- menu-links ---------------------------------------------------------------------- */
.intro-row-portfolio {
  padding-top: 200px;
}

.user-menu {
  background-color: white;
  border-radius: 15px;

}

.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-icon-bg {
  width: 240px;
  height: 75px;
}

.user-icon-border {
  border-color: #003e87;
  border: solid thin;
  border-radius: 100%;
  width: 65px;
  height: 65px;
}


.user-account-image {
  position: absolute;
  margin-left: -152px;
  margin-top: 7px;

  border-color: #003e87;
  border: solid thin;
  border-radius: 100%;
  width: 65px;
  height: 65px;
}


.button_collapse_main_section{
  width:220px;
  height:220px;
  border-radius: 50%;
  border: solid 2px #001146;
  background-color: #f5f5f5;
  margin:auto;
  display:block;
}




.user-menu-col {
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 180px;
}


.user-menu-icon {
  width: 35px;
  border: solid thin #0d6efd;
  border-radius: 100%;
  padding: 5px;
}

.user-menu-icon:hover {
  background-color: #0d6efd;
  color: white;
  padding: 5px;
}

.user-menu-icon i {
  width: 21px;
  font-size: 18px;
  margin-left: 3px;
}

.user-menu-logout {
  color: orange;
  text-decoration: none;
}

.user-menu-logout:hover {
  color: orange;
  text-decoration: underline;
}

.collapse-menu-button {
  color: blue;
}

.collapse-menu-button:hover {
  text-decoration: underline;
}

/* --- portfolio ----------------------------------------------------------------------- */
/* --- menu-links ---------------------------------------------------------------------- */


/* --- my-courses ----------------------------------------------------------------------- */
/* --------------- ---------------------------------------------------------------------- */

.my-courses-sidebar {
  background-color: #003F87;
  border-radius: 15px;
  color: white;
  padding: 15%;

}

.my-courses-sidebar>.row {

  margin-top: 20px;
  margin-bottom: 20px;
}

.my-courses-mainpic {
  height: 500px;
  width: 100%;
}

.my-courses-maindesc {
  width: 45%;
}

.my-courses-icons {
  margin-right: 15px;
}

.my-courses-block>.d-flex>i {
  margin-right: 15px;
}

.my-courses-diastimata {
  padding-bottom: 15px;
  margin-top: 22px;
}

.my-courses-blue {
  background-color: #003F87;
}

.checkbox_container2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark2 {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #ccc;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-top:0px;
  margin-left:-35px;
}

.checkmark2--bordered{
  background: transparent;
  border: 1px solid #fff;
  right: 20px;
}

.checkmark2--bordered::after{
  left: 8px !important;
    top: 3px !important;
}

/* On mouse-over, add a grey background color */


/* When the checkbox is checked, add a blue background */
.checkbox_container2 input:checked ~ .checkmark2 {
  background-color: #003F87;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox_container2 input:checked ~ .checkmark2:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_container2 .checkmark2:after {
  left: 9px;
  top: 5px;
  width: 8px;
  height: 14px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* --- table_mycourses ----------------------------------------------------------------------- */
/* --------------- ---------------------------------------------------------------------- */

.dataTables_filter{
  opacity:0;
}



.lesson-image:hover{
  opacity:0.5;
}


.paginate_button.current{
  background-color:white;
  border:solid 1px orange;
  color: white;
  border-radius:50%;
}

.paginate_button:hover{
  background-color:white;
  border:solid 1px orange;
  color: white;
}

.dataTables_length label{
  color: orange;
}

.dataTables_length select{
  border: 0;
}

.dataTables_info{

  color: orange;

}








































