
.ContentEclass{ min-width:100%; padding-left: 0px; padding-right: 0px; }

.basic-content {min-width:100% ; }

.site-footer {border-top-left-radius:0px; border-top-right-radius:0px;}

/* .container-fluid{min-width: 100% !important;} */

.container-fluid-jumbotron{min-width: 100% !important;}

.menu-item.active2{
    background-color: #EFF6FF;
    color: #0073E6;
    padding: 10px;
    border-radius: 4px;
}

@media(min-width:992px){
    /* #bgr-cheat-header {border-bottom-left-radius:85px; border-bottom-right-radius:0px;} */
    
    /* .eclass-nav-icon{margin-left:30px; margin-right:30px;} */
    
    .fa-question::before{width:30px; height:28px;}

    .container-homepage-content {max-width: 1920px !important;}

}

@media(max-width:991px){
    #bgr-cheat-header{border-radius:0px;}
}