
/****************************************************************************************************/
/***************** this is portfolio-calendar , courseHome-calendar *********************************/
/****************************************************************************************************/

.cal-row-fluid.cal-row-head{ color:#003e87;  background-color: white;  border-bottom: 1px solid #003e87; }

#cal-header{ border-top-left-radius: 15px; border-top-right-radius:15px ;}

@media (max-width: 991px){ #cal-header{  margin-left:0px;  margin-right:0px; } }

#current-month{  color:white; }

#cal-header .fa-chevron-left{ color:white; }

#cal-header .fa-chevron-right{ color:white; }

.number-day-cal{ font-size: 13.5px; color: #001146;}

.cal-day-outmonth > .number-day-cal {opacity: 0.2;}

/* .cal-day-today > .number-day-cal{ color:white; padding:3px 6px 2px 6px; border-radius: 50%; background-color: #005ad9;} */
.cal-day-today > .number-day-cal{  border-radius: 4px; }

.btn-calendar-prev, .btn-calendar-next{height:25px; width:25px; border-radius:50%; border:solid 1px #ffffff; font-size:11px;}

#cal-slide-content {
  -webkit-box-shadow: inset 0px 0px 15px 0px rgb(255, 255, 255) !important;
  box-shadow: inset 0px 0px 15px 0px rgb(255, 255, 255) !important;
  background: #ffffff !important;
}
#cal-slide-content a.event-item {
  color: #005ad9;
  font-weight: normal;
  line-height: 22px;
}
#cal-slide-content .event{
  width: 100%;
  height:5px;
}
.cal-day-today.cal-day-holiday .number-day-cal {
  background-color: #005ad9;
  padding: 1px 6px 1px 6px;
  border-radius: 2% !important;
  color: #ffffff;
}

/************************************rgba(255, 255, 255, 0.5)**********************************************/
/***************** this is mypersonal-calendar , courseHome-calendar *********************************/
/****************************************************************************************************/
@media(max-width:991px){
  .myPersonalCalendar,.personal-calendar-header{
    min-width:500px !important;
  }
}
.personal-calendar-header{
  padding:7px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.personal-calendar-header .btn-group .btn{
  font-size: 15px;
}
.personal-calendar-header .btn-group .btn.active{
  background: #005ad9 !important;
  border-radius: 5px !important;
}
.myPersonalCalendar .cal-row-fluid.cal-row-head{
  background: #e8e8e8;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom:0px;
}
.myPersonalCalendar .cal-row-fluid.cal-row-head .cal-cell1{
  color:#003e87;
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: none;
  font-weight: 600;
}
.myPersonalCalendar .cal-row-fluid.cal-row-head .cal-cell1:hover{
  background-color: transparent;
}
.myPersonalCalendar .number-day-cal{
  color: #003e87;
  font-size: 17px !important;
}
.myPersonalCalendar .cal-day-today .number-day-cal{
  color: #ffffff !important;
}
.myPersonalCalendar .cal-cell{
  border: solid 0.5px #f5f4f4 !important;
}
.myPersonalCalendar .fc-time-grid-event{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

@media(max-width:991px){
  .myCalendarEvents{
    min-width:500px !important;
  }
}
.myCalendarEvents .fc-header-toolbar{
  background: #003e87;
  border-color: #003e87;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:7px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 0px;
}
.myCalendarEvents .fc-header-toolbar .fc-prev-button{
  background: transparent;
  border: 0px;
  box-sizing:content-box;
  box-shadow: none;
}
.myCalendarEvents .fc-header-toolbar .fc-prev-button .fc-icon-left-single-arrow{
  color:#ffffff;
  text-shadow: none;
}
.myCalendarEvents .fc-header-toolbar .fc-prev-button.fc-state-hover{
  background: transparent;
}
.myCalendarEvents .fc-header-toolbar .fc-prev-button.fc-state-hover .fc-icon-left-single-arrow{
  color:#ffffff;
  text-shadow: none;
}
.myCalendarEvents .fc-header-toolbar .fc-next-button{
  background: transparent;
  border: 0px;
  box-sizing:content-box;
  box-shadow: none;
}
.myCalendarEvents .fc-header-toolbar .fc-next-button .fc-icon-right-single-arrow{
  color:#ffffff;
  text-shadow: none;
}
.myCalendarEvents .fc-header-toolbar .fc-next-button.fc-state-hover{
  background: transparent;
  border: 0px;
  box-sizing:content-box;
  box-shadow: none;
}
.myCalendarEvents .fc-header-toolbar .fc-next-button.fc-state-hover .fc-icon-right-single-arrow{
  color:#ffffff;
  text-shadow: none;
}
.myCalendarEvents .fc-today-button{
  background: transparent;
  color: #ffffff;
  text-shadow: none;
  border: 0px;
  box-sizing:content-box;
  box-shadow: none;
}
.myCalendarEvents .fc-header-toolbar .fc-center h2{
  font-size: 15px !important;
  color: #ffffff;
  padding: 8px;
  border-radius: 15px;
  background: transparent;
}
.myCalendarEvents .fc-header-toolbar .fc-right .fc-agendaDay-button{
  background: transparent;
  color: #ffffff;
  text-shadow: none;
  border: 0px;
  box-sizing:content-box;
  box-shadow: none;
}
.myCalendarEvents .fc-header-toolbar .fc-right .fc-agendaDay-button.fc-state-active{
  background: #005ad9 !important;
  border-radius: 5px;
  color: #ffffff;
  text-shadow: none;
  border: 0px;
  box-sizing:content-box;
  box-shadow: none;
}
.myCalendarEvents .fc-header-toolbar .fc-right .fc-agendaWeek-button{
  background: transparent;
  color: #ffffff;
  text-shadow: none;
  border: 0px;
  box-sizing:content-box;
  box-shadow: none;
}
.myCalendarEvents .fc-header-toolbar .fc-right .fc-agendaWeek-button.fc-state-active{
  background: #005ad9 !important;
  border-radius: 5px;
  color: #ffffff;
  text-shadow: none;
  border: 0px;
  box-sizing:content-box;
  box-shadow: none;
}
.myCalendarEvents .fc-head-container.fc-widget-header{
  background: #e8e8e8;
  padding-top: 5px;
  padding-bottom: 5px;
}
.myCalendarEvents .fc-head-container.fc-widget-header .fc-day-header span{
  color:#003e87;
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: none;
  font-weight: 600;
}
.myCalendarEvents .fc-widget-content table tbody td{
  height:70px;
  border: solid 1px #f5f4f4 !important;
  
}
.myCalendarEvents .fc-time-grid-event{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}



/****************************************************************************************************/
/*************************************** this is datetimepicker-calendar *************************************/
/****************************************************************************************************/

 .datetimepicker .table-condensed{ width:240px; }

 .datetimepicker .table-condensed th,.datetimepicker .table-condensed td { padding: 4px 15px; }

 .datetimepicker .table-condensed thead > tr > th,
 .datetimepicker .table-condensed tbody > tr > th,
 .datetimepicker .table-condensed tfoot > tr > th,
 .datetimepicker .table-condensed thead > tr > td,
 .datetimepicker .table-condensed tbody > tr > td,
 .datetimepicker .table-condensed tfoot > tr > td {
    font-size: 14px; padding: 5px; color:'555555';
  }

  .datetimepicker .table-condensed thead > tr , .datetimepicker .table-condensed tbody > tr , .datetimepicker .table-condensed tbody , .datetimepicker .table-condensed tfoot > tr {border:0;}

  .datetimepicker .table-condensed thead tr th.next::after{ content: '\f178'; font-size: 15px; font-weight: 700; color:black;}

  .datetimepicker .table-condensed thead tr th.switch{ font-size: 14px; padding: 5px; font-family: 'Manrope' , sans-serif; font-weight: 600; font-style: normal; color:'555555';}

  .datetimepicker .table-condensed thead tr th.prev::before{ content: '\f177'; font-size: 15px; font-weight: 700; color:black;}

  
/****************************************************************************************************/
/*************************************** this is datepicker-calendar *************************************/
/****************************************************************************************************/

.datepicker-days .table-condensed{ width:240px; }

.datepicker-days .table-condensed th,.datepicker-days .table-condensed td { padding: 4px 15px; }

.datepicker-days .table-condensed thead > tr > th,
.datepicker-days .table-condensed tbody > tr > th,
.datepicker-days .table-condensed tfoot > tr > th,
.datepicker-days .table-condensed thead > tr > td,
.datepicker-days .table-condensed tbody > tr > td,
.datepicker-days .table-condensed tfoot > tr > td {
   font-size: 14px; padding: 5px; color:'555555';
 }

 .datepicker-days .table-condensed thead > tr , .datepicker-days .table-condensed tbody > tr , .datepicker-days .table-condensed tbody , .datepicker-days .table-condensed tfoot > tr {border:0;}

 .datepicker-days .table-condensed thead tr th.next::after{ content: '\f178'; font-size: 15px; font-weight: 700; color:black;}

 .datepicker-days .table-condensed thead tr th.switch{ font-size: 14px; padding: 5px; font-family: 'Manrope' , sans-serif; font-weight: 600; font-style: normal; color:'555555';}

 .datepicker-days .table-condensed thead tr th.prev::before{ content: '\f177'; font-size: 15px; font-weight: 700; color:black;}
