
/* header-calendar */
.cal-row-fluid.cal-row-head .cal-cell1{
    color:blue !important;
    background-color: white !important;
    border-bottom: 1px solid blue !important;
}

#cal-header{
    background-color: #003F87 !important;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

/* button header-calendar */
.pull-right.form-inline{
   margin-right:0px !important;
}

/* rows calendar */
.cal-row-fluid.cal-before-eventlist{
    border-bottom: 0px !important;
}

/* month-row */
.cal-month-box{
    border-left: 0px !important;
    border-bottom: 0px !important;
    border-right: 0px !important;
    background-color: white !important;
}
#current-month{
    color:white !important;
}

#cal-header .fas.fa-chevron-left{
    color:white !important;
   
}
#cal-header .fas.fa-chevron-right{
    color:white !important;
   
}

.cal-month-day.cal-day-inmonth.cal-day-today{
    /* edw na allaksei to xrwma */
    /* background-color: blue !important;
    border-radius: 50% !important; */
}
.cal-month-day.cal-day-inmonth.cal-day-today span{
    /* color: white !important; */
}

.event-legend span{
    font-size:13px !important;
}









/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------mobile - portrait-----------------------------------------------*/

@media (max-width: 425px){ 
    .container_fluid_calendar{
        background-color: white;
        border-radius: 15px;
        height:auto;
        margin-top:35px;
    }

    #cal-header{
        margin-left:-23px !important;
        margin-right:-23px !important;
    }
}


/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------- tablet ------------------------------------------------------- */

@media (min-width: 768px) and (max-width: 1023px){ 

    .container_fluid_calendar{
        background-color: white;
        border-radius: 15px;
        height:auto;
        margin-top:35px;
    }

    #cal-header{
        margin-left:-23px !important;
        margin-right:-23px !important;
    }

}



/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------- laptop ------------------------------------------------------- */
@media (min-width: 1024px) and (max-width:1399px){

    .container_fluid_calendar{
        background-color: white;
        border-radius: 15px;
        height:auto;
        margin-left:11px !important;
        
    }

    #cal-header{
        margin-left:-23px !important;
        margin-right:-23px !important;
    }

    /* .cal-cell1.cal-cell{
      border: 0 !important;
    } */
    
    
}


/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------large - desktop - laptop -------------------------------------------- */
 /* large laptop-desktop */
@media (min-width: 1400px) { 

    .container_fluid_calendar{
        background-color: white;
        border-radius: 15px;
        height:auto;
        margin-left:11px !important;
        
    }

    #cal-header{
        margin-left:-23px !important;
        margin-right:-23px !important;
    }

    /* .cal-cell1.cal-cell{
        border: 0 !important;
      } */
      

}

