table.dataTable tbody tr{
    background-color: #ffffff;
}
.table-default tr td{
    background-color: #ffffff;
}
.dataTables_wrapper input[type="search"]{
    background-color: #ffffff !important;
}
.dataTables_wrapper select {
    background-color: #ffffff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{ background: #ffffff;}
#portfolio_lessons_paginate .paginate_button.current{ background: #e8e8e8;}

#portfolio_lessons_filter input[type="search"]{
    border:solid 1px #e8e8e8 !important;
}