
/*************************************** FIRST CHOICE OF SELECTOR IN FORMS  *********************************************************/

.select2-selection.select2-selection--multiple{ border:none; border-bottom: 2px solid transparent; border-image: linear-gradient(0.25turn, rgb(31, 180, 226), rgb(79, 125, 165), rgba(249, 145, 0, 0));
    border-image-slice: 1; overflow-y: auto !important; background: transparent;
}

.select2-selection--multiple:before { content: ""; position: absolute; right: 7px; top: 42%; border-top: 5px solid #888;
    border-left: 4px solid transparent; border-right: 4px solid transparent; background: transparent;
}

.select2-selection__rendered{ overflow-y: auto !important;  background: transparent; }

.select2.select2-container{ width:100% !important; background: transparent; }

/*************************************** SECOND CHOICE OF SELECTOR IN FORMS  *********************************************************/

/* .select2-selection.select2-selection--multiple{ border-radius: 15px; background: white; height:46px; border:none; border-bottom: none;
  border-image: none; border-image-slice: none; }

.select2-selection--multiple:before { content: ""; position: absolute; right: 7px; top: 42%; border-top: 5px solid red;
  border-left: 4px solid transparent; border-right: 4px solid transparent; background: white;
}

.select2-selection__rendered{ overflow-y: auto !important;  background: white; }

.select2.select2-container{ width:100% !important; background: white; } */

/****************************************** rich-text-editor bg-tools ******************************************/
.mce-container{ background: #F5F5F5; }

.form-wrapper.form-edit .form-group:has(.mce-container) .control-label-notes{margin-bottom: 5px;}

.mce-toolbar-grp{  background: #fff;  border-bottom:0px !important; }