

.ColLegends{
  border-bottom:solid 1px blue; height:45px
}

input[type=checkbox].toggles{
  display:none;
}

input[type=checkbox].toggles + label{
  display:inline-block;
  height:35px;
  width:180px;
  position: relative;
  font-size: 20px;
  border: 2px solid blue;
  padding:0;
  margin:0;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
}

input[type=checkbox].toggles + label::before{
  position: absolute;
  top: 4px;
  height: 44px;
  width:44px;

  transition: all 0.3s ease;
  z-index: 3;
  content: '';
}

/* apo pisw otan patisei kai paei deksia */
input[type=checkbox].toggles + label::after{
  width:140px;
  text-align: center;
  z-index: 2;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
  content: attr(data-checked);
  font-size:10px;
}



input[type=checkbox].toggles:not(:checked) + label{
  background-color: transparent;
  text-align: right;
}

/* apo pisw prin pathsei mathitis*/
input[type=checkbox].toggles:not(:checked) + label::after{
  content: attr(data-unchecked);
  font-size: 11px;
  right: 0;
  left: auto;
  opacity: 1;
  color: white;
  padding-left:60px;
}
input[type=checkbox].toggles:not(:checked) + label::before{
  left: 0px;
  background-color: white;
  content: attr(data-checked);
}
input[type=checkbox].toggles:checked + label::before{
  left: 0px;
  background-color: white;
  content: attr(data-unchecked);
}



input[type=checkbox].toggles:checked + label{
  text-align: left;
  border-color: blue;
}
input[type=checkbox].toggles:checked + label::after{
  background-color: transparent;
  font-size: 13px;
  left: 4px;
  right:auto;
  opacity: 1;
  font-size: 11px;
  color: white;
  text-align: left;

}
input[type=checkbox].toggles:checked + label::before{
  left:81px;
  font-size: 15px;
  color: white;
  text-align: center;
}



input[type="checkbox"].toggles + label.rounded{
  border-radius: 30px;
  content: attr(data-checked);
}
input[type="checkbox"].toggles + label.rounded::before{
  border-radius: 50%;
  padding-top:8px;
  padding-bottom: 10px;
  height:32.5px;
  width:95px;
  margin-top:-5px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  background-color: blue;
  color:white;
  /* content: attr(data-checked); */
  font-size: 11px;
  text-align: center;
}

.sidebarTexts{
  font-size: 12.5px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  display: inline-block;

}
/* .sidebarTexts i::after{
  content: "|\00a0\00a0" !important;
} */

.sidebarTexts:hover{
  background-color: blue;
}
.sidebarTextsAdmin{
  font-size: 12.5px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 6px;
  display: inline-block;
}
.sidebarTextsAdmin:hover{
  background-color: blue;
}



.classOne.fas.fa-angle-up{
  opacity: 0;
  margin-top:5px;
}
.classOne.fas.fa-angle-down{
  margin-top:5px;
}



.classTwo.fas.fa-angle-up{
  margin-top:5px;opacity: 1;
  margin-right:-9px;
}
.classTwo.fas.fa-angle-down{
  margin-top:5px;opacity: 0;
}



.classThree.fas.fa-angle-up{
  opacity: 0;
  margin-top:5px;
}
.classThree.fas.fa-angle-down{
  margin-top:5px;
}


.nav-link{
  font-size:14px;
  border-bottom: solid 1px white;
}

.nav-link:active,
.nav-link:focus,
.nav-link:hover{
  background-color: #003F87;
  border-bottom: solid 1px white;
}


.nav-item:active{
  border:0;
}


ul {
  list-style-type: none;
}

.col_maincontent_active{
  transition: 0.4s;
  min-height:auto;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.announcement-course-page{
  transition: 0.4s;
  min-height:auto;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}

.col_maincontent_registration{
  transition: 0.4s;
  height:60vh;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.col_maincontent_active_unit{
  transition: 0.4s;
  height:auto;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;

}

.col_maincontent_active_calendar{
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}

.col_maincontent_active_CourseComplete{
  transition: 0.4s;
  height:auto;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-box-shadow: 0 0 3px #ccc;
  -webkit-box-shadow: 0 0 3px #ccc;
  box-shadow: 0 0 3px #ccc;
}

.col_maincontent_active_PersonalDoc{
  transition: 0.4s;
  height:auto;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.col_maincontent_active_all{
  transition: 0.4s;
  height:auto;
  background-color: white;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;

}


.col_sidebar_active{
  transition: 0.4s;
  float:right;
  margin-right:0px;
  /* background-color:#f5f5f5; */
}
.col_sidebar_active2{
  transition: 0.4s;
  float:right;
  margin-right:0px;
  background-color:#f5f5f5;
}

.navrbar_menu_btn{
  width:auto; margin-left:-10px;
  margin-top:-20px;
}

.navbar_breadcrumb{
  margin-left:60px; margin-top:-35px;
  height:auto;
  width:95%;
}

.menu_btn_button{
  margin-top:-13px;
  margin-left:10px;
}

.breadcrumb li{
  white-space:nowrap;
}




/* /* mobile - portrait * */

@media(max-width: 425px){

   .btn-close.text-reset{
     background-color:white;
   }

    .offcanvas-start.d-lg-none.mr-auto.show{
      width:280px;
      overflow-y: scroll;
      background-color: #003F87;
    }

    .navbar_sidebar{
      background-color: #003F87;
      width:auto;
      border-bottom-right-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-top-left-radius: 30px;
      padding-left:0px;
    }

    .nav-link{
      font-size:13px;
      border-bottom: solid 1px white;
    }

    .active-nav{
      opacity:1;
    }


    .user-menu-section{
      display:none;
    }

    .content-class{
      margin-top:0px;
    }

    .container_input_search{
      margin-top:-50px;
    }


    footer{
      margin-left:-10px;
      width:105.4%;
    }

    .menu_btn_button{
      display:none;
      pointer-events: none;
    }

    .navbar-toggler {
      padding: 0.25rem 0.75rem;
      font-size: 1.125rem;
      line-height: 1;
      background-color: white;
      border: 3px solid orange;
      border-radius: 0.25rem;
      margin-left:5px;
    }

    .navbar-toggler-icon {
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      content: "";
      background: no-repeat center center;
      background-size: 100% 100%;
      color:blue;
    }

}


/* mobile L */

@media (min-width: 426px) and (max-width: 767px){
  .offcanvas-start.d-lg-none.mr-auto.show{
    width:285px;
    overflow-y: scroll;
    background-color: #003F87;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px){
   .col_sidebar_active{
     opacity: 1;
     /* filter: brightness(100%); */
   }

   .btn-close.text-reset{
    background-color:white;
  }

   .offcanvas-start.d-lg-none.mr-auto.show{
     width:285px;
     overflow-y: scroll;
     background-color: #003F87;
   }

   .navbar_sidebar{
     background-color: #003F87;
     width:auto;
     border-bottom-right-radius: 30px;
     border-top-right-radius: 30px;
     border-bottom-left-radius: 30px;
     border-top-left-radius: 30px;
   }

   .nav-link{
    font-size:13px;
    border-bottom: solid 1px white;
  }

  .active-nav{
    opacity:1;

  }

  .user-menu-section{
    display:none;
  }

  .content-class{
    margin-top:0px;
  }

  .container_input_search{
    margin-top:-50px;
  }


  .menu_btn_button{
    display:none;
    pointer-events: none;
  }


  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.125rem;
    line-height: 1;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin-left:5px;
  }

  .navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
  }


}

@media(min-width:1024px) and (max-width:1199px){

  .on{
    font-size:7px !important;
  }
  .off{
    font-size:7px !important;
  }
  .on2{
    font-size:7px !important;
    padding-top: 18px !important;
    padding-right: 15px !important;
  }
  .off2{
    font-size:7px !important;
    padding-left: 22px !important;
    padding-top: 7px !important;
  }

  .viewPageAs{
    font-size:12px !important;
  }

  .active_tools_dropdown2.nav-link.text-white{
    font-size:12px !important;
  }
  .active_tools_dropdown3.nav-link.text-white{
    font-size:12px !important;
  }
  .sidebarColToolText .text-wrap{
    font-size:12px !important;
    margin-top:5px !important;
  }
  .sidebarTexts{
    padding-left: 25px !important;
  }

  .col_maincontent_active_PersonalDoc{
    width:auto;
    margin-left: 0px;
  }

  .col_maincontent_active_ProfileUser{
    width:auto;
    margin-left: 0px;
  }

  .col_maincontent_registration{
    width:100%;
    margin-left: 0px;
  }

  .col_maincontent_active{
    min-height: 60vh;
  }
  .col_maincontent_active_all{
    min-height: 60vh;
  }

  .navbar_sidebar{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width:auto;
    height:auto;
    position:relative;
    background-color: #003F87;
  }

  .active-nav{
    margin-left:-450px;
  }
  .active-nav2{
    margin-left:-218px;
  }

  .active-cont{
    width: 100%;
    align-items: end;
    margin: 0px 0px 0px auto;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .active-cont-completeCourse{
    width: 100%;
    align-items: end;
    margin: 0px 0px 0px auto;


    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* background-color: red !important; */
  }


}

/* laptop */
@media (min-width: 1200px) and (max-width:1399px){

  .on{
    font-size:10px !important;
  }
  .off{
    font-size:10px !important;
  }
  .on2{
    font-size:10px !important;
    padding-top: 15px !important;
  }
  .off2{
    font-size:10px !important;
    padding-left: 15px !important;
    padding-top: 4px !important;
  }

  .col_maincontent_active_PersonalDoc{
    width:auto;
    margin-left: 0px;
  }

  .col_maincontent_active_ProfileUser{
    width:auto;
    margin-left: 0px;
  }


  .col_maincontent_registration{
    width:100%;
    margin-left: 0px;
  }

  .col_maincontent_active{
    min-height: 60vh;
  }
  .col_maincontent_active_all{
    min-height: 60vh;
  }

  .navbar_sidebar{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width:auto;
    min-height:auto;
    position:relative;
    background-color: #003F87;
  }
  .active-nav{
    margin-left:-450px;
  }
  .active-nav2{
    margin-left:-218px;
  }
  .active-cont{
    width: 100%;
    align-items: end;
    margin: 0px 0px 0px auto;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }


  .active-cont-completeCourse{
    width: 100% ;
    align-items: end;
    margin: 0px 0px 0px auto;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}



/* large desktop */
@media (min-width: 1400px){
  .navbar_sidebar{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width:auto;
    height:auto;
    position:relative;
    background-color: #003F87;
  }
  .active-nav{
    margin-left:-550px;
  }
  .active-cont{
    width: 100%;
    align-items: end;
    margin: 0px 0px 0px auto;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .active-cont-unit{
    width: 100%;
    align-items: end;
    margin: 0px 0px 0px auto;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .active-cont-completeCourse{
    width: 100% ;
    align-items: end;
    margin: 0px 0px 0px auto;


    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .col_maincontent_active{
    min-height: 65vh !important;
  }
  .registerCourse_container{
    min-height: 65vh !important;
  }
  .courses-register-details{
    min-height: 65vh !important;
  }
  .col_maincontent_active_all{
    min-height: 65vh !important;
  }
  .courses-details{
    min-height: 65vh !important;
  }

}

@media (min-width: 2560px){

  .active-nav{
    margin-left:-870px;
  }
  .col_maincontent_active{
    min-height: 75vh !important;
  }
  .registerCourse_container{
    min-height: 75vh !important;
  }
  .courses-register-details{
    min-height: 75vh !important;
  }

  .col_maincontent_active_all{
    min-height: 75vh !important;
  }

  .courses-details{
    min-height: 75vh !important;
  }

}






@media (min-width:1400px){
  .table-responsive{
    overflow: inherit;
  }
  .btn-toggle{
      width: 12rem;
  }
}
@media (min-width: 1200px) and (max-width: 1399px){
  .table-responsive{
    overflow: inherit;
  }
  .btn-toggle{
      width: 10.5rem;
  }
  .off2{
    margin-left:-85px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px){
  .table-responsive{
    overflow: inherit;
  }
  .btn-toggle{
      width: 8.5rem;
  }
  .off2{
    margin-left:-85px;
  }
}
@media (min-width: 768px) and (max-width: 1023px){
  .btn-toggle{
    width: 11rem;
  }
  .off2{
    margin-left:-85px;
  }
}
@media (min-width: 426px) and (max-width: 767px){
  .btn-toggle{
    width: 11rem;
  }
  .off2{
    margin-left:-85px;
  }
}
@media(max-width: 425px){
  .btn-toggle{
    width: 11rem;
  }
  .off2{
    margin-left:-85px;
  }
}



.on2{
  margin-right:-95px;
  font-size: 12px;
  color:white;
  padding-top:13px;
}

.off2{
  margin-top:-33px; color:white;
  font-size: 12px;
  margin-left:-95px;
}


.btn-toggle{
  position: relative;
  height: 3rem;
  border-radius: 5rem;
  overflow: hidden;
  outline: none;
  border: 2px solid blue;
  background-color: transparent;
}

.btn-toggle span.on, .btn-toggle.btn-toggle-on span.off {
  display: none;
}

.btn-toggle .on {
  right: 0;
  left: auto;
  padding-left:20px;
}

.btn-toggle>span {
  border-radius: 5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: blue;
  color: white;
  font-size:12px;
  /* box-shadow: 2px 0px 2px #ddd;
  -moz-box-shadow: 2px 0px 2px #ddd;
  -webkit-box-shadow: 2px 0px 2px #ddd; */
  padding: 0px 25px 0px 5px;
}

.btn-toggle span.off, .btn-toggle.btn-toggle-on span.on {
  display: inline-block;
}




















