
.tool-sidebar-text{color:white; font-size: 12px;}

/* ------------------------ LEFT MENU HOVER ITEMS --------------------- */

.leftMenuToolCourse{ background: transparent; }

.toolSidebarTxt{ font-size: 13px; color: white; font-family: 'Manrope' ,'Fontawesome', sans-serif; font-weight: 500; font-style: normal;}

.posTool { margin-top:2px; }

.leftMenuToolCourse.active{ background-color:  white; border: 0; }

.leftMenuToolCourse.active span{ color: #003F87; }

.leftMenuToolCourse:hover{ background-color: #005ad7; }

.leftMenuToolCourse.active:hover{ background-color:  #ccc; border: 0; }

#background-cheat-leftnav,#bgr-cheat-header{background:#003e85;}
#leftnav{background:transparent;}
#bgr-cheat-footer{background: #001146;} a{color:#005ad9;}
#leftnav .panel a.list-group-item:hover{background: #005ad7;}
#leftnav .panel a.list-group-item.active:hover{background: #ccc;}

@media(min-width:992px) and (max-width:1199px){
  #background-cheat-leftnav{
    width:180px;
  }
  .col_maincontent_active{
    width:calc(100% - 180px - 0px);
  }
}


/* --------------------------------------- Basic classes ------------------------------- */

.nav-link{ font-size:14px;  border-bottom: solid 1px white; }

.nav-item:active{  border:0; }

.col_maincontent_active{ 
  transition: 0.4s;  
  min-height: calc(100vh - 147px - 188.56px - 32px); 
  background-color: white; 
  border-radius: 15px; 
}

.col_maincontent_active_Homepage{ 
  transition: 0.4s;  
  min-height: calc(100vh - 147px - 188.56px - 32px);
  background-color: white;  
  border-radius:15px;
 }

.col_maincontent_active_HomepageStart{ 
  transition: 0.4s;  
  background-color: white;  
  border-radius:15px; 
}
@media(min-width:992px){
  /* +147px is the padding 147px of jumbotron */
  .col_maincontent_active_HomepageStart{
    min-height: calc(100vh - 147px + 147px - 390px - 300px - 188.55px);
    border-radius:0px;
  }
}

.col_maincontent_active_unit{ 
  transition: 0.4s;  
  height:auto; 
  background-color: white;  
  border-radius:15px; 
  -moz-box-shadow: 0 0 3px #ccc; 
  -webkit-box-shadow: 0 0 3px #ccc; 
  box-shadow: 0 0 3px #ccc; 
}

.col_maincontent_coursePage{ 
  height:auto; 
  background-color: white;  
  border-radius:15px; 
  -moz-box-shadow: 0 0 3px #ccc; 
  -webkit-box-shadow: 0 0 3px #ccc; 
  box-shadow: 0 0 3px #ccc ;
}

.col_sidebar_active{ 
  transition: 0.4s;  
  border-top-left-radius: 15px;  
  border-bottom-left-radius: 15px;  
  background-color: transparent !important ;
}

.ContentLeftNav{
 width:100%;
  background: #003e85;
  border-radius: 15px;
}

.lineSidebar{
  height:1px; background-color:white; opacity: 0.3;
}

.navrbar_menu_btn{ 
  width:auto; 
  margin-left:-10px; 
  margin-top:-20px; 
}

.navbar_breadcrumb{ 
  margin-left:60px; 
  margin-top:-35px; 
  height:auto; 
  width:95%; 
}

.breadcrumb li{ white-space:nowrap; }

@media(max-width: 425px){ 

  .btn-close.text-reset{ background-color:white; }

  .offcanvas-start.d-lg-none.show{ width:280px; overflow-y: scroll; background-color: #003F87; }

  .nav-link{  font-size:13px;  border-bottom: solid 1px white; }

  .active-nav{ opacity:1; }

  .menu_btn_button{ display:none; pointer-events: none; }

}

/* mobile L */

@media (min-width: 426px) and (max-width: 767px){ 

  .offcanvas-start.d-lg-none.show{ width:285px; overflow-y: scroll; background-color: #003F87; }
}

/* tablet */
@media (min-width: 768px) and (max-width: 1023px){ 

  .btn-close.text-reset{ background-color:white; }

  .offcanvas-start.d-lg-none.show{ width:285px; overflow-y: scroll; background-color: #003F87; }

  .nav-link{ font-size:13px; border-bottom: solid 1px white; }

  .active-nav{ opacity:1; }

  .menu_btn_button{  display:none;  pointer-events: none; }
  
}

@media(min-width:992px) and (max-width:1023px){

  .menu_btn_button{ display:block; pointer-events: all; }

  .active-nav{ margin-left:-100vw; }

  .active-nav2{ margin-left:-218px; }

  .active-cont{ width: 100%; align-items: end; margin: 0px 0px 0px auto;
     background-color: white; border-radius:15px; }

}

@media(min-width:1024px) and (max-width:1199px){

  .active-nav{ margin-left:-100vw; }

  .active-nav2{ margin-left:-218px; }

  .active-cont{ width: 100%; align-items: end; 
     margin: 0px 0px 0px auto; background-color: white; border-radius:15px;  }

}

/* laptop */
@media (min-width: 1200px) and (max-width:1399px){

  .active-nav{ margin-left:-100vw; }

  .active-nav2{ margin-left:-218px; }

  .active-cont{  width: 100%;  align-items: end; 
     margin: 0px 0px 0px auto;  background-color: white;  border-radius:15px; }
}



/* large desktop */
@media (min-width: 1400px){ 

  .active-nav{ margin-left:-100vw; }

  .active-cont{ width: 100%;  align-items: end; 
     margin: 0px 0px 0px auto;  background-color: white;  border-radius:15px; }

}


/* ************************************************************************************************************************************* */
/* ************************************************************************************************************************************* */
/************************************** THIS IS SECOND CHOICE OF VIEW-STUDENT-TEACHER TOOGLE BUTTON **************************************/
/* ************************************************************************************************************************************* */
/* ************************************************************************************************************************************* */
.switch-sidebar { position: relative; display: inline-block; height: 30px;  width:140px; }

.slider-btn-on{ width:140px; }

.switch-sidebar input {display:none;}

.slider-round { position: absolute;  cursor: pointer; top: 0; left: 0; right: 0;
  bottom: 0; background-color: #005ad7; -webkit-transition: .4s; transition: .4s; }

.slider-round:before { position: absolute; content: ""; height: 23px; width: 23px;
  left: 6px; bottom: 3.6px; background-color: white; -webkit-transition: .4s; transition: .4s; 
  background-repeat: no-repeat; background-size: cover; background-image: url(../img/change.svg);
}

input:checked + .slider-round { background-color: #4682B4; }

input:focus + .slider-round { box-shadow: 0 0 1px #005ad7; }

input:checked + .slider-round:before { -webkit-transform: translateX(105px); -ms-transform: translateX(105px); transform: translateX(105px); }

.on { display: none; }

.on, .off {  color: white; position: absolute; transform: translate(-50%,-50%);
  top: 50%; left: 50%; font-size: 10px; font-weight: 600; font-style: normal; }

input:checked+ .slider-round .on {display: block;}

input:checked + .slider-round .off {display: none;}

.slider-round { border-radius: 34px; }

.slider-round:before { border-radius: 50%;}