/* 
===================================================
    SASS for HOC-C051-IF-03 and HOC-C051-IF-04 
===================================================
*/
/* SASS VARIABLES */
/* Colors */
/* Metrics */
/* Font family */
/* SASS MIXINS */
/*
  MAIN LAYOUT
  Sticky flexible footer - http://pixelsvsbytes.com/blog/2011/09/sticky-css-footers-the-flexible-way/
*/
/* line 100, ../style.scss */
html, body {
  height: 100%;
  margin: 0pt;
  font-family: "Open Sans";
}

/* line 108, ../style.scss */
.Frame {
  display: table;
  height: 100%;
  width: 100%;
  padding-left: 180px;
  padding-right: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 123, ../style.scss */
.Row {
  display: table-row;
  height: 1px;
}

/* line 129, ../style.scss */
.Row.Expand {
  height: auto;
}

/* MAIN SECTION */
/* line 139, ../style.scss */
#header .header-content {
  position: fixed;
  width: 100%;
  left: 0px;
  z-index: 10000;
  padding: 0px 180px;
  padding-right: 0;
  background: #eeeeee;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
}
/* line 158, ../style.scss */
#header .header-content #uni-info {
  display: inline-block;
  float: left;
  font-size: 0.75em;
}
/* line 163, ../style.scss */
#header .header-content #uni-info .uni-icon {
  display: inline-block;
  height: 50px;
  width: auto;
  vertical-align: middle;
  padding: 6px;
  margin-left: 3.5em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 172, ../style.scss */
#header .header-content #uni-info .uni-icon img {
  max-height: 100%;
  width: auto;
}
/* line 184, ../style.scss */
#header .top-nav {
  float: right;
  height: 50px;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 196, ../style.scss */
#header .top-nav li {
  float: left;
  height: 100%;
}
/* line 202, ../style.scss */
#header .top-nav li > * {
  width: 4em;
  height: 100%;
  display: inline-block;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  color: #666;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28%;
}
/* line 218, ../style.scss */
#header .top-nav li > *.auto-width {
  min-width: 8em;
  width: auto;
}
/* line 226, ../style.scss */
#header .top-nav li > *:hover {
  background-color: #4da1e4;
  color: white;
}
/* line 231, ../style.scss */
#header .top-nav li > *:hover .username {
  color: white!important;
}
/* line 236, ../style.scss */
#header .top-nav li > * > * {
  top: 1em;
  position: relative;
  vertical-align: middle;
  display: inline-block;
}
/* line 244, ../style.scss */
#header .top-nav li.user-info span {
  text-align: left;
}
/* line 248, ../style.scss */
#header .top-nav li.user-info .fa {
  padding: 0 0.8em 0 1em;
}
/* line 252, ../style.scss */
#header .top-nav li.user-info .username {
  font-size: 0.85em;
}
/* line 259, ../style.scss */
#header .top-nav li.sidebutton > span:hover {
  background: #4da1e4;
  color: white;
}

/* line 268, ../style.scss */
#main > * {
  padding-top: 70px!important;
  /* equal to header height + some content padding */
}

/* line 275, ../style.scss */
#main #content {
  position: relative;
  background: #eee;
  width: 100%;
  float: left;
  padding: 3em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 286, ../style.scss */
#main #content #title {
  padding: 1em 0em;
  text-align: left;
}
/* line 292, ../style.scss */
#main #content #title .page-title {
  display: inline-block;
}
/* line 295, ../style.scss */
#main #content #title #doc-toggle {
  float: right;
  margin: 1em 0em;
  margin-top: 0em;
  color: #868686;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 308, ../style.scss */
#main #content #breadcrumb {
  padding: 1em 0em;
  margin-bottom: 1em;
  color: #a7a7a7;
  font-size: 0.8em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* 
  Real TABLE LIST 
  for datatables
*/
/* line 329, ../style.scss */
table.my-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}
/* line 335, ../style.scss */
table.my-table thead tr {
  font-size: 0.75em;
}
/* line 339, ../style.scss */
table.my-table td {
  margin: 0px;
  padding: 0px;
}
/* line 343, ../style.scss */
table.my-table td.table-row-date {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8em;
  padding: 1em 2em;
}
/* line 350, ../style.scss */
table.my-table td.table-row-date, table.my-table td.table-row-settings {
  text-align: center;
  width: 1em;
  white-space: nowrap;
}
/* line 356, ../style.scss */
table.my-table td.table-row-settings {
  text-align: right;
}
/* line 360, ../style.scss */
table.my-table td.table-row-name {
  padding: 0em 1em;
}
/* line 365, ../style.scss */
table.my-table .button {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background: transparent;
  margin: 0px;
}
/* line 373, ../style.scss */
table.my-table .button:hover {
  background: #4da1e4;
  color: white;
}
/* line 377, ../style.scss */
table.my-table .item-options {
  position: relative;
}
/* line 381, ../style.scss */
table.my-table .item-options:hover .option-button {
  color: white;
  background: #4da1e4;
}
/* line 385, ../style.scss */
table.my-table .item-options:hover ul {
  left: -300%;
}
/* line 390, ../style.scss */
table.my-table .item-options .option-button {
  position: relative;
  z-index: 2;
  color: #7E7E7E;
  background: #F8F8F8;
  width: 4.1em;
  padding: 1em 0em;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
/* line 404, ../style.scss */
table.my-table .item-options ul {
  background: #333333;
  color: white;
  position: absolute;
  top: 0em;
  left: 0.05em;
  z-index: 1;
  padding: 0em;
  margin: 0em;
  list-style: none;
  -webkit-transition: left 100ms linear;
  -moz-transition: left 100ms linear;
  -o-transition: left 100ms linear;
  -ms-transition: left 100ms linear;
  transition: left 100ms linear;
}
/* line 418, ../style.scss */
table.my-table .item-options ul li {
  display: inline-block;
  width: 4.1em;
  padding: 1em 0em;
  text-align: center;
  cursor: pointer;
}
/* line 425, ../style.scss */
table.my-table .item-options ul li:hover {
  background: #4da1e4;
}

/* Datatables fixes */
/* line 437, ../style.scss */
.dataTables_wrapper {
  padding-bottom: 2em;
}
/* line 440, ../style.scss */
.dataTables_wrapper thead tr {
  border-bottom: 1px solid #DADADA;
}
/* line 444, ../style.scss */
.dataTables_wrapper thead tr th:hover {
  background-color: #eee;
}
/* line 451, ../style.scss */
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
  font-size: 0.85em;
  margin-bottom: 2em;
  color: rgba(0, 0, 0, 0.4);
}
/* line 457, ../style.scss */
.dataTables_wrapper .dataTables_length {
  width: auto!important;
}
/* line 461, ../style.scss */
.dataTables_wrapper .dataTables_filter {
  float: none!important;
  width: auto!important;
}
/* line 469, ../style.scss */
.dataTables_wrapper .sorting_asc,
.dataTables_wrapper .sorting_desc,
.dataTables_wrapper .sorting {
  cursor: pointer;
}
/* line 473, ../style.scss */
.dataTables_wrapper input, .dataTables_wrapper select, .dataTables_wrapper textarea {
  width: auto;
}
/* line 477, ../style.scss */
.dataTables_wrapper tr {
  border-bottom: 1px solid #eee;
}
/* line 480, ../style.scss */
.dataTables_wrapper tr:hover {
  background: #FCFCFC!important;
}
/* line 485, ../style.scss */
.dataTables_wrapper tr.odd {
  background-color: transparent;
}
/* line 489, ../style.scss */
.dataTables_wrapper tr.odd td.sorting_1 {
  background-color: #eee;
  background-color: transparent;
}
/* line 494, ../style.scss */
.dataTables_wrapper tr.even td.sorting_1 {
  background-color: #f6f6f6;
  background-color: transparent;
}
/* line 499, ../style.scss */
.dataTables_wrapper td:not(:last-child), .dataTables_wrapper th {
  border-right: 1px solid #eee;
}

/* TABLE LIST */
/* line 509, ../style.scss */
ul.tablelist {
  font-size: 0.75em;
  margin: 0px;
  padding: 0px;
  cursor: default;
}
/* line 516, ../style.scss */
ul.tablelist li.list-item {
  position: relative;
  max-height: 3.35em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style-type: none;
  border-bottom: 1px solid #eee;
  background: white;
  overflow: hidden;
}
/* line 529, ../style.scss */
ul.tablelist li.list-item .item-right-cols > span:not(:last-child) {
  border-right: 1px solid #eee;
}
/* line 534, ../style.scss */
ul.tablelist li.list-item .item-right-cols > span:first-child {
  border-left: 1px solid #eee;
}
/* line 539, ../style.scss */
ul.tablelist li.list-item .item-right-cols {
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
  max-width: 95%;
}
/* line 549, ../style.scss */
ul.tablelist li.list-item .item-right-cols > span,
ul.tablelist li.list-item .item-title {
  padding: 1em;
  display: inline-block;
}
/* line 556, ../style.scss */
ul.tablelist li.list-item .item-right-cols .item-content {
  font-size: 0.8em;
}
/* line 561, ../style.scss */
ul.tablelist li.list-item .item-right-cols a {
  width: 1em;
  padding: 1em 1.4em;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
/* line 571, ../style.scss */
ul.tablelist li.list-item .item-right-cols .item-date {
  color: rgba(0, 0, 0, 0.6);
  background: white;
  width: 4.5em;
  text-align: center;
  vertical-align: top;
}
/* line 580, ../style.scss */
ul.tablelist li.list-item .item-right-cols .item-options {
  padding: 0px;
  margin-left: -0.26em;
  padding-right: 3.8em;
}
/* line 587, ../style.scss */
ul.tablelist li.list-item .item-right-cols .item-options .options-icon {
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 0px;
  width: 1em;
  text-align: center;
  padding: 1em 1.4em;
  color: #7E7E7E;
  background: #F8F8F8;
}
/* line 604, ../style.scss */
ul.tablelist li.list-item .item-right-cols .item-options:hover .options-icon {
  background: #4da1e4;
  color: white;
}
/* line 610, ../style.scss */
ul.tablelist li.list-item .item-right-cols .options-content {
  display: block;
  margin-right: -20em;
  background: #333333;
  color: white;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}
/* line 622, ../style.scss */
ul.tablelist li.list-item .item-options:hover .options-content {
  margin-right: 0em;
  background: #333333;
}
/* line 628, ../style.scss */
ul.tablelist li.list-item .item-right-cols .item-options a:hover {
  color: white;
  background: #4da1e4;
}
/* line 637, ../style.scss */
ul.tablelist li.list-item:first-child,
ul.tablelist li.list-item:first-child .item-date {
  -webkit-animation: NEW-ITEM-FX 3s 1;
  -moz-animation: NEW-ITEM-FX 3s 1;
  -o-animation: NEW-ITEM-FX 3s 1;
  animation: NEW-ITEM-FX 3s 1;
}
/* line 645, ../style.scss */
ul.tablelist li.list-item:hover {
  background: #FCFCFC;
}

/* BOX LIST */
/* line 656, ../style.scss */
.boxlist {
  padding: 0px;
}
/* line 660, ../style.scss */
.boxlist .list-item {
  display: block;
  position: relative;
  width: 100%;
  padding: 0em;
  margin-bottom: 1em;
  overflow: hidden;
  /*important for the transition*/
  list-style-type: none;
  background: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 676, ../style.scss */
.boxlist .list-item.hidden {
  background: rgba(255, 255, 255, 0.6);
}
/* line 680, ../style.scss */
.boxlist .list-item.hidden .item-content {
  opacity: 0.6;
}
/* line 684, ../style.scss */
.boxlist .list-item:hover .side-header {
  color: #eee;
}
/* line 689, ../style.scss */
.boxlist .list-item .item-content {
  width: 93%;
  /* a fallback for calc */
  width: -webkit-calc(100% - 4em);
  width: -moz-calc(100% - 4em);
  width: calc(100% - 4em);
  position: relative;
  display: inline-block;
  padding-left: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 706, ../style.scss */
.boxlist .item-header {
  padding: 1em 0em 0.5em 0em;
  border-bottom: 1px solid #eee;
}
/* line 711, ../style.scss */
.boxlist .item-header .item-title {
  margin: 0px;
}
/* line 715, ../style.scss */
.boxlist .item-header .item-date {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.4);
}
/* line 720, ../style.scss */
.boxlist .item-body {
  padding: 1em 0em;
  min-height: 5em;
}
/* line 727, ../style.scss */
.boxlist .list-item .item-side {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #eee;
  -webkit-transition: all 50ms linear;
  -moz-transition: all 50ms linear;
  -o-transition: all 50ms linear;
  -ms-transition: all 50ms linear;
  transition: all 50ms linear;
}
/* line 745, ../style.scss */
.boxlist .list-item .option-button {
  display: inline-block;
  position: relative;
  z-index: 9;
  padding: 1em 1.4em;
  background: #F8F8F8;
  color: #7E7E7E;
  text-align: center;
  width: 1em;
  /* as long as its a content box... */
  border-radius: 0px 2px 0px 0px;
  -webkit-border-radius: 0px 2px 0px 0px;
  -moz-border-radius: 0px 2px 0px 0px;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
/* line 763, ../style.scss */
.boxlist .list-item .item-side .item-options:hover .option-button {
  background: #4da1e4;
  color: white;
}
/* line 769, ../style.scss */
.boxlist .list-item .item-side .item-options ul {
  position: relative;
  z-index: 2;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-right: -100%;
  background: #333333;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}
/* line 783, ../style.scss */
.boxlist .list-item .item-side .item-options:hover ul {
  margin-right: 0%;
}
/* line 787, ../style.scss */
.boxlist .list-item .item-side .item-options > * {
  float: right;
}
/* line 791, ../style.scss */
.boxlist .list-item .item-side:hover .item-options ul {
  display: block;
}
/* line 795, ../style.scss */
.boxlist .list-item .item-options ul li {
  display: inline-block;
  padding: 1em 1.4em;
  z-index: 2;
  width: 1em;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
/* line 811, ../style.scss */
.boxlist .list-item .item-options ul li:hover {
  background: #4da1e4;
}

/* line 816, ../style.scss */
.delete-action {
  color: #ce6b6b;
}

/* line 820, ../style.scss */
.delete-action:hover {
  background: #ce6b6b !important;
  color: white!important;
}

/* 
MAIN MENU
LEFT NAV 
*/
/* line 834, ../style.scss */
#leftnav {
  width: 180px;
  height: 100%;
  position: fixed;
  z-index: 99999;
  background: #303338;
  box-shadow: inset -10px 0px 7px -7px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset -10px 0px 7px -7px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset -10px 0px 7px -7px rgba(0, 0, 0, 0.5);
}
/* line 846, ../style.scss */
#leftnav .logo {
  width: 100%;
  min-height: 180px;
  background: url("../../img/eclass-new-logo.png") no-repeat center;
}
/* line 856, ../style.scss */
#leftnav ul.navlist {
  width: 100%;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  overflow: hidden;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 869, ../style.scss */
#leftnav ul.navlist ul {
  list-style: none;
  padding: 0;
  padding-bottom: .5em;
}
/* line 874, ../style.scss */
#leftnav ul.navlist ul li {
  margin-bottom: 1px;
}
/* line 879, ../style.scss */
#leftnav ul.navlist > li:last-of-type {
  border-bottom: 1px solid #414141;
}
/* line 883, ../style.scss */
#leftnav ul.navlist .title {
  color: #ADADAD;
  display: block;
  padding: 1em 10px;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  border-top: 1px solid #414141;
  font-size: 0.75em;
}
/* line 897, ../style.scss */
#leftnav ul.navlist .title:hover {
  color: #4da1e4;
}
/* line 901, ../style.scss */
#leftnav ul.navlist .title.ui-state-active {
  border-bottom: none;
}
/* line 908, ../style.scss */
#leftnav .navlist li a {
  width: 100%;
  display: inline-block;
  padding: 1em;
  margin-left: 10px;
  color: #FDFDFD;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 926, ../style.scss */
#leftnav .navlist li:last-child > a {
  border-bottom: none;
}
/* line 931, ../style.scss */
#leftnav .navlist li a.active {
  color: #222222;
  background: #eee;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
/* line 937, ../style.scss */
#leftnav .navlist li a.active .fa {
  color: #2E3033;
}
/* line 941, ../style.scss */
#leftnav .navlist li a.active:hover {
  color: white;
}
/* line 948, ../style.scss */
#leftnav .navlist li a:hover {
  background: #4da1e4;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  /*background: -moz-linear-gradient(right , #2b78e4 30%, #333333 100%) repeat scroll 0 0 transparent;
  background: -webkit-linear-gradient(right , #2b78e4 30%, #333333 100%) repeat scroll 0 0 transparent;
  background: -o-linear-gradient(right , #2b78e4 30%, #333333 100%) repeat scroll 0 0 transparent;*/
}
/* line 953, ../style.scss */
#leftnav .navlist li a:hover .fa {
  color: white;
}
/* line 964, ../style.scss */
#leftnav .navlist li a .fa {
  display: inline-block;
  width: 2em;
  vertical-align: middle;
  color: #B3B3B3;
}
/* line 974, ../style.scss */
#leftnav .navlist li a .leftnav-text {
  font-size: 0.8em;
}

/* RIGHT SIDEBAR */
/* sidebar toggle class */
/* line 988, ../style.scss */
body.sidebar-opened #sidebar {
  right: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  opacity: 1;
}
/* line 996, ../style.scss */
body.sidebar-opened #header .header-content,
body.sidebar-opened .Frame {
  padding-right: 240px;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* line 1003, ../style.scss */
#sidebar {
  position: fixed;
  height: 100%;
  width: 240px;
  right: -240px;
  top: 0px;
  z-index: 10001;
  background: #dee0e2;
  word-wrap: break-word;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 1027, ../style.scss */
#sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4, #sidebar h5, #sidebar h6 {
  color: #686868;
  font-weight: 600;
  margin-bottom: 0.6em;
  margin-top: 0.3em;
}
/* line 1034, ../style.scss */
#sidebar .toggle-sidebar {
  text-align: center;
  width: 3em;
  padding: 0.3em 0em;
  margin: 0.5em;
  float: right;
  color: #8B8B8B;
  display: inline-block;
  position: relative;
  border: 1px solid #CFCFCF;
  cursor: default;
}
/* line 1047, ../style.scss */
#sidebar .toggle-sidebar:hover {
  background: #4da1e4;
  border-color: #4da1e4;
  color: white;
}
/* line 1054, ../style.scss */
#sidebar ul, #sidebar li {
  list-style-type: none;
  padding: 0em;
  margin: 0em;
}
/* line 1060, ../style.scss */
#sidebar .side-list {
  padding-bottom: 1em;
}
/* line 1064, ../style.scss */
#sidebar .side-list .lesson-title {
  background: #344458;
  margin: 0px;
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  margin: 0 16px;
  border: 1px solid #48586D;
  border-top-width: 0px;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  transition: all 100ms linear;
}
/* line 1090, ../style.scss */
#sidebar .side-list .lesson-title:first-of-type {
  border-top-width: 1px;
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
}
/* line 1096, ../style.scss */
#sidebar .side-list .lesson-title:last-of-type {
  border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
}
/* line 1100, ../style.scss */
#sidebar .side-list .lesson-title:hover {
  background: #48586D;
  color: rgba(255, 255, 255, 0.85);
}
/* line 1104, ../style.scss */
#sidebar .side-list .lesson-title:hover:after {
  color: rgba(255, 255, 255, 0.6);
}
/* line 1109, ../style.scss */
#sidebar .side-list .lesson-title.ui-accordion-header-active {
  border-bottom: none;
  color: white;
  background: #425164;
}
/* line 1114, ../style.scss */
#sidebar .side-list .lesson-title.ui-accordion-header-active:last-of-type {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
/* line 1118, ../style.scss */
#sidebar .side-list .lesson-title.ui-accordion-header-active:after {
  color: #4da1e4;
}
/* line 1124, ../style.scss */
#sidebar .side-list > div {
  background: #253447;
  border-top: none;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 16px;
}
/* line 1134, ../style.scss */
#sidebar .side-list > div:last-of-type {
  border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
}
/* line 1139, ../style.scss */
#sidebar .side-list ul {
  padding: 0em 2em 1em 1.35em;
  font-size: 0.75em;
}
/* line 1143, ../style.scss */
#sidebar .side-list ul > li {
  padding: 5px 0em;
}
/* line 1148, ../style.scss */
#sidebar .side-list .lesson-id {
  opacity: 0.5;
  font-size: 0.85em;
  font-weight: 700;
}
/* line 1154, ../style.scss */
#sidebar .side-list .lesson-professor {
  font-weight: 600;
  padding-top: 0px;
}
/* line 1159, ../style.scss */
#sidebar .side-list .lesson-notifications {
  margin-top: 1em;
}
/* line 1163, ../style.scss */
#sidebar .side-list .lesson-notifications .item {
  margin-right: 1.5em;
  position: relative;
}
/* line 1167, ../style.scss */
#sidebar .side-list .lesson-notifications .item .count {
  position: absolute;
  left: 0.8em;
  bottom: 0.8em;
  display: inline-block;
  text-align: center;
  background: #ce6b6b;
  color: white;
  width: 1.5em;
  height: 1.5em;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 0.75em;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
}
/* line 1189, ../style.scss */
#sidebar .side-list .lesson-notifications .item .fa {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.8);
}

/* line 1202, ../style.scss */
#sidebar .blocks .sidebar-title {
  margin: 0;
  font-weight: 600;
  padding-left: 13px;
  font-size: 0.75em;
  text-transform: uppercase;
  padding: 1.375em;
  background: #e3e4e6;
}
/* line 1213, ../style.scss */
#sidebar .blocks .title {
  margin: 0;
  padding: 2em 0em!important;
  font-weight: 700;
  font-size: 0.7em;
  text-align: center;
  overflow: hidden;
}
/* line 1224, ../style.scss */
#sidebar .blocks .title .txt {
  text-transform: uppercase;
}
/* line 1228, ../style.scss */
#sidebar .blocks .title i.fa {
  display: block;
  opacity: .9;
  font-size: 2.3em;
  margin-top: 0.4em;
}
/* line 1237, ../style.scss */
#sidebar .blocks .title .tricky {
  margin-left: -100%;
  width: 200%;
  position: relative;
  height: 45px;
  -webkit-transition: margin-left 120ms linear;
  -moz-transition: margin-left 120ms linear;
  -o-transition: margin-left 120ms linear;
  -ms-transition: margin-left 120ms linear;
  transition: margin-left 120ms linear;
}
/* line 1245, ../style.scss */
#sidebar .blocks .title .tricky > div {
  display: inline-block;
  width: 49%;
  height: 100%;
  position: relative;
  top: 0px;
  vertical-align: middle;
  padding: 0.5em 0em;
  -webkit-transition: opacity 60ms linear;
  -moz-transition: opacity 60ms linear;
  -o-transition: opacity 60ms linear;
  -ms-transition: opacity 60ms linear;
  transition: opacity 60ms linear;
}
/* line 1257, ../style.scss */
#sidebar .blocks .title .tricky .icon {
  opacity: 1;
}
/* line 1261, ../style.scss */
#sidebar .blocks .title .tricky .description {
  font-weight: 400;
  padding: 0.5em 1em;
  opacity: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 1270, ../style.scss */
#sidebar .blocks .title:hover:not(.ui-accordion-header-active) .tricky {
  margin-left: 0%;
}
/* line 1273, ../style.scss */
#sidebar .blocks .title:hover:not(.ui-accordion-header-active) .tricky .description {
  opacity: .55;
}
/* line 1277, ../style.scss */
#sidebar .blocks .title:hover:not(.ui-accordion-header-active) .tricky .icon {
  opacity: 0;
}
/* line 1283, ../style.scss */
#sidebar .blocks .title:hover:not(.ui-accordion-header-active) .txt {
  color: #4da1e4;
}
/* line 1289, ../style.scss */
#sidebar .blocks .title.ui-accordion-header-active .tricky {
  margin-left: 0%;
}
/* line 1291, ../style.scss */
#sidebar .blocks .title.ui-accordion-header-active .tricky .description {
  opacity: .55;
}
/* line 1299, ../style.scss */
#sidebar .blocks li.block {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
/* line 1303, ../style.scss */
#sidebar .blocks li.block > .ui-accordion-content,
#sidebar .blocks li.block > .ui-accordion-header-active {
  background: rgba(255, 255, 255, 0.3);
}
/* line 1307, ../style.scss */
#sidebar .blocks li.block > .ui-accordion-content {
  padding: 1em 0em;
}
/* line 1311, ../style.scss */
#sidebar .blocks li.block textarea, #sidebar .blocks li.block input {
  width: 90%;
  margin: 0em auto 1em auto;
  display: block;
}
/* line 1317, ../style.scss */
#sidebar .blocks li.block textarea {
  min-height: 12em;
}
/* line 1321, ../style.scss */
#sidebar .blocks li.block button {
  margin: 1.1em;
  margin-top: 0em;
  font-size: 0.8em;
}
/* line 1327, ../style.scss */
#sidebar .blocks li.block .goto {
  float: right;
  color: #7E7E7E;
  padding: 0.5em;
  margin-right: 0.5em;
}
/* line 1334, ../style.scss */
#sidebar .blocks li.block .input-parent {
  position: relative;
}
/* line 1337, ../style.scss */
#sidebar .blocks li.block .input-parent textarea, #sidebar .blocks li.block .input-parent input {
  padding-left: 2em;
}
/* line 1341, ../style.scss */
#sidebar .blocks li.block .input-parent .fa {
  position: absolute;
  top: 0.7em;
  left: 1.5em;
  z-index: 9;
  opacity: 0.2;
}

/* line 1352, ../style.scss */
.accordion {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* line 1356, ../style.scss */
.accordion ul, .accordion li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* line 1364, ../style.scss */
.accordion-title,
.ui-accordion-header {
  padding-right: 2em!important;
  position: relative;
  display: block;
  outline: none!important;
  cursor: pointer;
}
/* line 1373, ../style.scss */
.accordion-title:after,
.ui-accordion-header:after {
  position: absolute;
  display: inline-block;
  width: 1em;
  height: 1em;
  right: 1em;
  top: 42%;
  top: calc(50% - 0.5em);
  font-family: FontAwesome;
  font-size: 0.85em;
  content: "\f107";
  color: rgba(255, 255, 255, 0.2);
  moz-transform-origin: center center;
  -webkit-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  transition: all 100ms linear;
}
/* line 1396, ../style.scss */
.accordion-title.ui-state-active:after,
.ui-accordion-header.ui-state-active:after {
  behavior: url(-ms-transform.htc);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  transition: all 100ms linear;
}

/* ACCORDION LIST STYLE */
/* line 1407, ../style.scss */
.accordion-list-style .accordion-title {
  padding: 1em;
  margin: 0em;
}
/* line 1411, ../style.scss */
.accordion-list-style .accordion-title .description {
  display: block;
  font-size: 0.75em;
  line-height: 2em;
  opacity: 0.5;
}
/* line 1419, ../style.scss */
.accordion-list-style .accordion-title:hover {
  background: #dee0e2;
}
/* line 1423, ../style.scss */
.accordion-list-style .accordion-title:after {
  top: 2.9em;
}
/* line 1427, ../style.scss */
.accordion-list-style .accordion-title.ui-state-active {
  background: #FAFAFA;
}
/* line 1429, ../style.scss */
.accordion-list-style .accordion-title.ui-state-active h4 {
  color: #4da1e4 !important;
}
/* line 1435, ../style.scss */
.accordion-list-style li:not(:last-child) .accordion-title {
  border-bottom: 1px solid #E0E0E0;
}
/* line 1439, ../style.scss */
.accordion-list-style li:last-child .content {
  border-top: 1px solid #eee;
}
/* line 1443, ../style.scss */
.accordion-list-style li .content {
  background: #EFF0F5;
  border-bottom: 2px solid #eee;
  line-height: 2em;
}
/* line 1449, ../style.scss */
.accordion-list-style .content {
  padding: 1em;
  padding-left: 2.4em;
  line-height: 1.6em;
  font-size: 0.8em;
}
/* line 1456, ../style.scss */
.accordion-list-style .content img {
  float: left;
  margin: 0em 1em 1em 0em;
}
/* line 1461, ../style.scss */
.accordion-list-style .content .label:hover {
  background: white;
}

/* FOOTER */
/* line 1474, ../style.scss */
#footer .content {
  padding: 1em 3.8em;
  font-size: 0.8em;
  color: #999999;
  background: #e4e4e4;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

/* GENERAL */
/* toolbox */
/* line 1493, ../style.scss */
.toolbox {
  display: inline-block;
  padding: 0.65em;
  color: #333;
  background: #ececec;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #f8f8f8;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: inset 0px -2px 8px #dddddd;
  -moz-box-shadow: inset 0px -2px 8px #dddddd;
  -webkit-box-shadow: inset 0px -2px 8px #dddddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  position: relative;
  text-align: right;
  margin: 1em;
  margin-right: 0em;
}
/* line 1521, ../style.scss */
.toolbox ul {
  display: block;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
/* line 1532, ../style.scss */
.toolbox li {
  list-style-type: none;
  display: inline-block;
}
/* line 1539, ../style.scss */
.toolbox ul.toolbox-submenu {
  display: none;
}

/* line 1545, ../style.scss */
.toolbox:hover .toolbox-submenu {
  display: inline-block;
}

/* just inner emboss */
/* line 1553, ../style.scss */
.inner-emboss {
  display: inline-block;
  padding: 0.65em;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #333;
  background: #ececec;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #f8f8f8;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: inset 0px -2px 8px #dddddd;
  -moz-box-shadow: inset 0px -2px 8px #dddddd;
  -webkit-box-shadow: inset 0px -2px 8px #dddddd;
}

/* COURSE MAIN INFO CONTAINER */
/* line 1572, ../style.scss */
#lesson-banner {
  position: relative;
  min-height: 13em;
}
/* line 1578, ../style.scss */
#lesson-banner .banner-left {
  width: 40%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  margin-right: 1em;
}
/* line 1588, ../style.scss */
#lesson-banner .banner-left .banner-image {
  background: url("../../img/ph1.jpg") no-repeat center;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 2px 0px 0px 2px;
  -webkit-border-radius: 2px 0px 0px 2px;
  -moz-border-radius: 2px 0px 0px 2px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 1598, ../style.scss */
#lesson-banner .banner-left .banner-image:after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0.25) 68%, rgba(255, 255, 255, 0.85) 86%, rgba(255, 255, 255, 0.95) 92%, white 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(57%, rgba(255, 255, 255, 0)), color-stop(68%, rgba(255, 255, 255, 0.25)), color-stop(86%, rgba(255, 255, 255, 0.85)), color-stop(92%, rgba(255, 255, 255, 0.95)), color-stop(99%, white));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0.25) 68%, rgba(255, 255, 255, 0.85) 86%, rgba(255, 255, 255, 0.95) 92%, white 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0.25) 68%, rgba(255, 255, 255, 0.85) 86%, rgba(255, 255, 255, 0.95) 92%, white 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0.25) 68%, rgba(255, 255, 255, 0.85) 86%, rgba(255, 255, 255, 0.95) 92%, white 99%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 57%, rgba(255, 255, 255, 0.25) 68%, rgba(255, 255, 255, 0.85) 86%, rgba(255, 255, 255, 0.95) 92%, #ffffff 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
  /* IE6-9 */
}
/* line 1619, ../style.scss */
#lesson-banner .banner-content {
  margin-left: 40%;
  padding: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 1624, ../style.scss */
#lesson-banner .banner-content .banner-description {
  font-size: 0.85em;
  min-height: 6em;
}
/* line 1629, ../style.scss */
#lesson-banner .banner-content hr {
  margin-bottom: 0.8em;
}

/* line 1636, ../style.scss */
#lesson-footer {
  font-size: 0.85em;
  text-align: center;
}
/* line 1640, ../style.scss */
#lesson-footer img {
  position: relative;
  height: 100%;
  width: auto;
  vertical-align: middle;
  margin-right: 1em;
  height: 3em;
}
/* line 1649, ../style.scss */
#lesson-footer .title {
  position: relative;
  display: block;
  text-align: center;
  margin: 1em auto;
}
/* line 1656, ../style.scss */
#lesson-footer .contentbox > div {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 1662, ../style.scss */
#lesson-footer .label-group {
  padding: 1em;
  padding-top: 0em;
  font-size: 0.85em;
}

/* MY BOX */
/* line 1674, ../style.scss */
.contentbox {
  background: white;
  min-height: 2.4em;
  margin: 0.5em 0em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: 0 1px 4px #dddddd;
  -moz-box-shadow: 0 1px 4px #dddddd;
  -webkit-box-shadow: 0 1px 4px #dddddd;
}
/* line 1687, ../style.scss */
.contentbox h1, .contentbox h2, .contentbox h3, .contentbox h4, .contentbox h5, .contentbox h6 {
  margin: .5em 0em;
}

/* MY BUTTON */
/* line 1696, ../style.scss */
.button {
  font-family: "Open Sans";
  font-size: 0.85em;
  padding: 0.5em 1.2em;
  margin: 0 0.2em;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: center;
  background: white;
  border: 1px solid transparent;
  border-bottom: 1px solid #DADADA;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: 0px 0px 1px 0px #adadad;
  -moz-box-shadow: 0px 0px 1px 0px #adadad;
  -webkit-box-shadow: 0px 0px 1px 0px #adadad;
  /*
    Giving right/reft margin on icons that ain't last/first childs
  */
}
/* line 1727, ../style.scss */
.button > .fa:not(:last-child) {
  margin-right: 10px;
}
/* line 1731, ../style.scss */
.button > .fa:not(:first-child) {
  margin-left: 10px;
}
/* line 1735, ../style.scss */
.button > .fa.fa-caret-down {
  margin-right: 0px!important;
}
/* line 1741, ../style.scss */
.button:hover, .button:focus {
  background: #F3F3F3;
  outline: 0;
}
/* line 1747, ../style.scss */
.button:active {
  background: #4da1e4 !important;
  border-color: #4da1e4;
  border-bottom-color: #3F87C1!important;
  color: white!important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* flippin btn */
/* line 1763, ../style.scss */
.flippin-btn {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0);
  background: transparent;
  border-radius: .25rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

/* line 1780, ../style.scss */
.flippin-btn,
.flippin-btn:after,
.flippin-btn:before {
  padding: .6875rem 2rem;
  -webkit-transition: -webkit-transform 0.75s,background-color .125s;
  -moz-transition: -moz-transform 0.75s,background-color .125s;
  -ms-transition: -ms-transform 0.75s,background-color .125s;
  transition: transform 0.75s,background-color .125s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 1793, ../style.scss */
.flippin-btn:after,
.flippin-btn:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: .25rem;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 1807, ../style.scss */
.flippin-btn:hover:before {
  background: #4da1e4;
  color: white;
}

/* line 1812, ../style.scss */
.flippin-btn:before {
  z-index: 2;
  color: #fff;
  background-color: #4da1e4;
  color: #9C9C9C;
  background-color: #FFFFFF;
  content: attr(data-label);
}

/* line 1821, ../style.scss */
.flippin-btn:after {
  z-index: 1;
  background-color: #999;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAJmZmf///7CwsOPj4////9fX18rKysPDwyH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
  content: '';
}

/* line 1834, ../style.scss */
.flippin-btn:active:before {
  background-color: #3571c8;
}

/* line 1838, ../style.scss */
.flippin-btn.loading {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

/* MY BUTTON COLORS */
/* line 1849, ../style.scss */
.button.color-green {
  color: white;
  background: #6bce6b;
  border-bottom: 1px solid #4AA04A;
  border-top: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
/* line 1859, ../style.scss */
.button.color-green:hover {
  background: #83DE83;
}

/* line 1866, ../style.scss */
.button.color-red {
  color: white;
  background: #ce6b6b;
  border-bottom: 1px solid #984B4B;
  border-top: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
/* line 1876, ../style.scss */
.button.color-red:hover {
  background: #E58080;
}

/* line 1882, ../style.scss */
.button.hover-blue:hover {
  background: #4da1e4;
  border-color: #4da1e4;
  border-bottom-color: #3F87C1;
  color: white;
}

/* MY BUTTON SIZES */
/* line 1891, ../style.scss */
.button.size-xl {
  font-size: 2em;
}

/* line 1895, ../style.scss */
.button.size-l {
  font-size: 1.5em;
}

/* line 1899, ../style.scss */
.button.size-s {
  font-size: 0.85em;
}

/* DROPDOWN */
/* line 1907, ../style.scss */
.button.dropdown.opened {
  background: #4da1e4 !important;
  border-bottom-color: #3F87C1;
  color: white;
}
/* line 1915, ../style.scss */
.button.dropdown.opened .dropdown-menu {
  display: block;
  -webkit-transition: all 150ms linear 1s;
  -moz-transition: all 150ms linear 1s;
  -o-transition: all 150ms linear 1s;
  -ms-transition: all 150ms linear 1s;
  transition: all 150ms linear 1s;
}

/* line 1924, ../style.scss */
.button.dropdown.open-on-hover:hover .dropdown-menu {
  display: block;
}

/* line 1929, ../style.scss */
ul.dropdown-menu {
  display: none;
  position: absolute;
  top: calc(100% + 0.1em);
  left: -1px;
  z-index: 1000;
  float: left;
  min-width: 100%;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-clip: padding-box;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
  -moz-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
}

/* line 1958, ../style.scss */
.float-right .dropdown-menu {
  right: -1px;
  left: auto;
}

/* line 1964, ../style.scss */
ul.dropdown-menu:before {
  content: "";
  position: absolute;
  background: transparent;
  height: 100%;
  width: 100%;
  top: -0.4em;
  left: 0px;
  z-index: -1;
}

/* line 1975, ../style.scss */
ul.dropdown-menu li a {
  display: block;
  text-align: left;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

/* line 1987, ../style.scss */
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: white;
  background-color: #4da1e4;
}

/* PAGINATION */
/* line 1998, ../style.scss */
.my-pager {
  margin: 1em 0em;
  text-align: right;
  font-size: 0.85em;
}

/* line 2006, ../style.scss */
.my-pager .items > .button {
  padding: 0.5em 0.8em;
  vertical-align: middle;
  cursor: pointer;
}

/* line 2017, ../style.scss */
.my-pager .active {
  color: #4da1e4 !important;
  border-top: none;
  border-bottom: none;
  background: #E4E4E4;
  cursor: default!important;
  border: 1px solid #CECECE;
  box-shadow: inset 0px 2px 5px lightgrey;
  -moz-box-shadow: inset 0px 2px 5px lightgrey;
  -webkit-box-shadow: inset 0px 2px 5px lightgrey;
}

/* line 2030, ../style.scss */
.my-pager .items > span:hover {
  color: #4da1e4;
}

/* TOGGLE SWTICH */
/* line 2038, ../style.scss */
.my-toggle > * {
  vertical-align: middle;
}

/* line 2043, ../style.scss */
.my-toggle .txt {
  font-size: 0.75em;
}

/* line 2048, ../style.scss */
input.toggle {
  position: relative;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-appearance: button;
  cursor: pointer;
  border: 1px solid #3D79A8;
  background-color: #4da1e4;
  color: #FFF;
  white-space: nowrap;
  overflow: hidden;
  width: 4em;
  height: 2em;
  outline: none;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.2);
}

/* line 2075, ../style.scss */
input.toggle:after {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
  background: #eee;
  border-top: 0.2em solid #fdfdfd;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

/* line 2095, ../style.scss */
input.toggle:hover:after {
  background: white;
}

/* line 2100, ../style.scss */
input.toggle[type=checkbox]:checked {
  border: 1px solid #aaaaaa;
  background-color: #dddddd;
}

/* line 2107, ../style.scss */
input.toggle[type=checkbox]:checked:after {
  left: 0px;
}

/* INPUT TEXTAREA SELECT */
/* line 2115, ../style.scss */
input,
textarea {
  width: 100%;
}

/* line 2121, ../style.scss */
input,
textarea, select {
  font-family: "Open Sans";
  padding: 0.5em;
  border: 1px solid #D5D5D5;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  @inlcude transition(all 150ms linear);
}

/* line 2137, ../style.scss */
input:focus,
textarea:focus,
select:focus {
  border-color: #66afe9;
  outline: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/* line 2145, ../style.scss */
textarea {
  resize: vertical;
}

/* TAG & LABEL */
/* line 2152, ../style.scss */
.tag {
  display: inline;
  padding: 0.4em;
  font-size: 0.8em;
  line-height: 1;
  color: #fff;
  background: #999;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
}

/* line 2165, ../style.scss */
.label-group {
  padding: 2em 0em;
  padding-top: 2.5em;
}
/* line 2168, ../style.scss */
.label-group .title {
  display: inline-block;
  margin-right: 1em;
  font-weight: 600;
  font-size: 0.85em;
  opacity: 0.6;
}

/* line 2179, ../style.scss */
.label {
  font-size: 0.75em;
  display: inline-block;
  margin: 0 0.5em 0.8em 0;
  position: relative;
  border: 1px solid #e7e7e7;
  padding: .5em;
  border-radius: 2px;
  cursor: default;
  color: #A7A7A7;
  -webkit-transition: background 100ms linear;
  -moz-transition: background 100ms linear;
  -o-transition: background 100ms linear;
  -ms-transition: background 100ms linear;
  transition: background 100ms linear;
}
/* line 2195, ../style.scss */
.label > span {
  font-weight: 600;
  color: #808080;
}
/* line 2200, ../style.scss */
.label:hover {
  background: #e7e7e7;
  color: #3D3D3D;
}

/* HEADINGS */
/* line 2208, ../style.scss */
h1 {
  font-size: 2em;
  font-weight: 300;
}

/* line 2214, ../style.scss */
h1.page-title {
  margin: 0em;
  font-weight: 400!important;
  color: #333;
}

/* line 2221, ../style.scss */
#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
  color: #555;
}

/* line 2226, ../style.scss */
.h-separator {
  border-bottom: 1px solid #dbdbdb;
  padding: 0.6em 0em;
  color: #4da1e4;
}

/* line 2232, ../style.scss */
hr {
  height: 1px;
  border: none;
  background: #eee;
}

/* Misc */
/*
.description{
  font-size: 0.75em;
  display: block;
  font-style: italic;
  opacity:0.5;
}
*/
/* line 2249, ../style.scss */
.button-row {
  margin: 1em 0em;
}

/* line 2253, ../style.scss */
.button-row > * {
  display: inline-block!important;
}

/* line 2257, ../style.scss */
.align-center {
  text-align: center;
}

/* line 2261, ../style.scss */
.align-right {
  text-align: right;
}

/* line 2265, ../style.scss */
.align-left {
  text-align: left;
}

/* line 2269, ../style.scss */
.float-right {
  float: right;
}

/* line 2273, ../style.scss */
.padding {
  padding: 0.5em;
}

/* line 2277, ../style.scss */
.a-wrapper {
  margin: 2em 0em;
}

/* line 2281, ../style.scss */
.content-title {
  text-transform: uppercase;
}

/* line 2285, ../style.scss */
.displaynone {
  display: none;
}

/* line 2289, ../style.scss */
a {
  text-decoration: none;
  color: #4da1e4;
}

/* line 2294, ../style.scss */
a:hover {
  text-decoration: underline;
}

/* line 2298, ../style.scss */
a.goto {
  position: relative;
  padding-right: 1.5em!important;
  font-size: 0.75em;
}
/* line 2304, ../style.scss */
a.goto:after {
  content: "\f105";
  font-family: 'FontAwesome';
  position: absolute;
  display: block;
  right: 0px;
  top: calc(50% - 0.5em);
  width: 1em;
  height: 1em;
  color: #7E7E7E;
}

/* Font awesome icons seem to be looking better on specific sizes */
/* line 2320, ../style.scss */
.fa {
  font-size: 0.85em;
}

/* line 2324, ../style.scss */
h3 {
  font-weight: 600;
}

/* line 2328, ../style.scss */
img {
  max-width: 100%;
  position: relative;
}

/* FIXED WIDTH */
/* line 2339, ../style.scss */
body:not(.fixed-width) #sidebar .blocks {
  margin-top: 0em!important;
}

/* line 2344, ../style.scss */
body.fixed-width {
  max-width: 1366px;
  margin: 0 auto;
  background: #1F252E;
}
/* line 2350, ../style.scss */
body.fixed-width .Frame {
  background: #1F252E;
  position: relative;
  overflow: hidden;
}
/* line 2356, ../style.scss */
body.fixed-width #leftnav {
  z-index: 999;
  padding-top: 0em;
  top: 2.1em;
  background: #1F252E;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
/* line 2365, ../style.scss */
body.fixed-width.sidebar-opened #sidebar {
  opacity: 1;
}
/* line 2369, ../style.scss */
body.fixed-width.sidebar-opened #header .header-content .top-nav li.sidebutton .fa {
  color: #4da1e4;
}
/* line 2374, ../style.scss */
body.fixed-width #header .header-content {
  color: #5F5F5F;
  position: fixed;
  width: 1186px;
  max-width: 100%;
  padding: 0em;
  padding-top: 2.1em;
  left: auto;
  background: #1F252E;
  outline: none;
  z-index: 10002;
}
/* line 2387, ../style.scss */
body.fixed-width #header .header-content:after, body.fixed-width #header .header-content:before {
  content: "";
  position: absolute;
  z-index: 999;
  width: 2em;
  height: 100%;
  bottom: 0px;
  display: block;
  left: -2em;
  background: #1F252E;
}
/* line 2399, ../style.scss */
body.fixed-width #header .header-content:after {
  right: -2em;
  left: auto;
}
/* line 2404, ../style.scss */
body.fixed-width #header .header-content .top-nav-wrapper {
  position: relative;
  width: 100%;
  height: 50px;
  background: #DBDBDB;
  border-radius: 4px 4px 0px 0px;
  z-index: 9999;
  box-shadow: 0px -5px 10px 0px black;
  -moz-box-shadow: 0px -5px 10px 0px black;
  -webkit-box-shadow: 0px -5px 10px 0px black;
}
/* line 2417, ../style.scss */
body.fixed-width #header .header-content .top-nav li:last-child > span {
  border-radius: 0px 4px 0px 0px;
  -webkit-border-radius: 0px 4px 0px 0px;
  -moz-border-radius: 0px 4px 0px 0px;
}
/* line 2421, ../style.scss */
body.fixed-width #header .header-content .top-nav li .fa {
  color: #5F5F5F;
}
/* line 2425, ../style.scss */
body.fixed-width #header .header-content .top-nav li > span {
  border-left: 1px solid rgba(0, 0, 0, 0.08);
}
/* line 2429, ../style.scss */
body.fixed-width #header .header-content .top-nav li > *:hover {
  color: white;
}
/* line 2431, ../style.scss */
body.fixed-width #header .header-content .top-nav li > *:hover .fa {
  color: white!important;
}
/* line 2438, ../style.scss */
body.fixed-width #header .header-content .fa {
  color: #B3B3B3;
}
/* line 2443, ../style.scss */
body.fixed-width #main #content {
  z-index: 9999;
  margin-top: 3.1em;
  padding-top: 3.1em!important;
  border-radius: 0px;
  box-shadow: 0px -7px 10px 0px black;
  -moz-box-shadow: 0px -7px 10px 0px black;
  -webkit-box-shadow: 0px -7px 10px 0px black;
}
/* line 2451, ../style.scss */
body.fixed-width #sidebar {
  opacity: 0;
  position: absolute;
  padding-top: 85px;
  border-left: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 2458, ../style.scss */
body.fixed-width #sidebar .blocks {
  position: absolute;
  /* It's 239px (and not 240 px alike parent element) 'cause of the (1px border) && (border-box) rules of the parent */
  width: 240px;
}
/* line 2463, ../style.scss */
body.fixed-width #sidebar .toggle-sidebar {
  display: none;
}
/* line 2468, ../style.scss */
body.fixed-width .Frame, body.fixed-width .header-content {
  padding-right: 0em!important;
}
/* line 2472, ../style.scss */
body.fixed-width .md-overlay {
  z-index: 99998;
}
/* line 2476, ../style.scss */
body.fixed-width .md-modal {
  z-index: 99999;
}

/* end of fixed width alterations */
/* MODAL WINDOWS - http://tympanus.net/Development/ModalWindowEffects/ */
/* line 2488, ../style.scss */
.md-modal.color-dark .md-content {
  background: #2E3033!important;
}

/* line 2492, ../style.scss */
.md-modal .md-content p {
  font-size: 0.65em;
}

/* line 2496, ../style.scss */
.md-modal .modal-icon {
  margin-right: 10px;
}

/* line 2500, ../style.scss */
.md-modal .md-close {
  background: rgba(0, 0, 0, 0.2);
  border: none;
  text-transform: uppercase;
  color: #eee;
  padding: 0.5em 1em;
  font-size: 0.75em;
  cursor: pointer;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

/* line 2518, ../style.scss */
.md-modal .md-close:hover {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

/* line 2523, ../style.scss */
.modal-overlay-bg-dark {
  background: rgba(35, 35, 35, 0.8) !important;
}

/* COLUMNS */
/* line 2535, ../style.scss */
.column-one-half,
.column-one-third,
.column-one-fourth,
.column-three-fourth {
  float: left;
  margin-left: 2.564102564102564%;
}

/* line 2544, ../style.scss */
.column-one-half .contentbox,
.column-one-third .contentbox,
.column-one-fourth .contentbox,
.column-three-fourth .contentbox {
  margin: 1em 0em;
}

/* line 2549, ../style.scss */
.column-one-half {
  width: 48.717948717948715%;
}

/* line 2553, ../style.scss */
.column-one-third {
  width: 31.623931623931625%;
}

/* line 2557, ../style.scss */
.column-one-fourth {
  width: 23.076923076923077%;
}

/* line 2561, ../style.scss */
.column-three-fourth {
  width: 74.35897435897436%;
}

/* line 2565, ../style.scss */
.column-first {
  clear: both;
  margin-left: 0;
}

/* CSS ANIMATIONS */
/* line 2574, ../style.scss */
.transition {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}

@-webkit-keyframes NEW-ITEM-FX {
  /* line 2580, ../style.scss */
  0% {
    background: #e8ffcb;
  }

  /* line 2581, ../style.scss */
  20% {
    background: #e8ffcb;
  }

  /* line 2582, ../style.scss */
  100% {
    background: rgba(232, 255, 203, 0);
  }
}

@-moz-keyframes NEW-ITEM-FX {
  /* line 2588, ../style.scss */
  0% {
    background: #e8ffcb;
  }

  /* line 2589, ../style.scss */
  20% {
    background: #e8ffcb;
  }

  /* line 2590, ../style.scss */
  100% {
    background: rgba(232, 255, 203, 0);
  }
}

@-o-keyframes NEW-ITEM-FX {
  /* line 2596, ../style.scss */
  0% {
    background: #e8ffcb;
  }

  /* line 2597, ../style.scss */
  20% {
    background: #e8ffcb;
  }

  /* line 2598, ../style.scss */
  100% {
    background: rgba(232, 255, 203, 0);
  }
}

@keyframes NEW-ITEM-FX {
  /* line 2604, ../style.scss */
  0% {
    background: #e8ffcb;
  }

  /* line 2605, ../style.scss */
  20% {
    background: #e8ffcb;
  }

  /* line 2606, ../style.scss */
  100% {
    background: rgba(232, 255, 203, 0);
  }
}

