<!DOCTYPE HTML>
<html>
<head>
<link rel="stylesheet" type="text/css" href="css/global.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
</head>
<body>

	<!-- Left Nav -->
	<aside id="leftnav">
		<div class="logo"></div>
		<ul class="navlist">
			<li><a class="active" href=""><span class="leftnav-icon home-icon"></span><span class="leftnav-text">Lesson Home</span></a></li>
			<li><a href=""><span class="leftnav-icon calendar-icon"></span><span class="leftnav-text">Calendar</span></a></li>
			<li><a href=""><span class="leftnav-icon link-icon"></span><span class="leftnav-text">Links</span></a></li>
			<li><a href=""><span class="leftnav-icon documents-icon"></span><span class="leftnav-text">Documents</span></a></li>
			<li><a href=""><span class="leftnav-icon media-icon"></span><span class="leftnav-text">Media</span></a></li>
			<li><a href=""><span class="leftnav-icon announcements-icon"></span><span class="leftnav-text">Announcements</span></a></li>
		</ul>
	</aside>

	<!-- Main section -->
	<section class="Frame">

		<!-- header -->
	    <header id="header" class="Row">
	    	<div class="header-content">
		    	<ul class="top-nav">
					<li><a class="active home-icon" href=""></a></li>
					<li><a class="folder-icon" href=""></a></li>
					<li><a class="copy-icon" href=""></a></li>
					<li><a class="search-icon" href=""></a></li>
					<li><a class="message-icon" href=""></a></li>
				</ul>
	    	</div>
	    </header>

	    <!--  -->
	    <section id="main" class="Row Expand">
	    	<section id="content">
	    		<section id="bread">home > mathimata</section>

				<h1 class="page-title">Course A</h1><!-- start slipsum code -->

				<h1>Box with info</h1>
				<p class="quotebox">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu nulla magna. Aliquam blandit varius elementum. Fusce vitae interdum lectus, quis scelerisque erat. Vestibulum at ipsum quis mi tristique pellentesque id a massa. Sed nec auctor sem. Maecenas hendrerit leo dolor, ac consectetur nulla sodales id. Integer ornare accumsan enim, eu commodo mi laoreet vel. Nam commodo pellentesque nisl non dictum. 
				</p>

				<h1>Info</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu nulla magna. Aliquam blandit varius elementum. Fusce vitae interdum lectus, quis scelerisque erat. Vestibulum at ipsum quis mi tristique pellentesque id a massa. Sed nec auctor sem. Maecenas hendrerit leo dolor, ac consectetur nulla sodales id. Integer ornare accumsan enim, eu commodo mi laoreet vel. Nam commodo pellentesque nisl non dictum. </p>

				<h1>Info</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu nulla magna. Aliquam blandit varius elementum. Fusce vitae interdum lectus, quis scelerisque erat. Vestibulum at ipsum quis mi tristique pellentesque id a massa. Sed nec auctor sem. Maecenas hendrerit leo dolor, ac consectetur nulla sodales id. Integer ornare accumsan enim, eu commodo mi laoreet vel. Nam commodo pellentesque nisl non dictum. </p>

				<h1>Info</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu nulla magna. Aliquam blandit varius elementum. Fusce vitae interdum lectus, quis scelerisque erat. Vestibulum at ipsum quis mi tristique pellentesque id a massa. Sed nec auctor sem. Maecenas hendrerit leo dolor, ac consectetur nulla sodales id. Integer ornare accumsan enim, eu commodo mi laoreet vel. Nam commodo pellentesque nisl non dictum. </p>

				<h1>Info</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu nulla magna. Aliquam blandit varius elementum. Fusce vitae interdum lectus, quis scelerisque erat. Vestibulum at ipsum quis mi tristique pellentesque id a massa. Sed nec auctor sem. Maecenas hendrerit leo dolor, ac consectetur nulla sodales id. Integer ornare accumsan enim, eu commodo mi laoreet vel. Nam commodo pellentesque nisl non dictum. </p>

		</section>

	    </section>

	    <aside id="sidebar">

	    </aside>

	    <footer id="footer" class="Row">
	    	<div class="content">
	    		<span>Sticky flexible height Footer</span>
	    	</div>
	    </footer>

	</section>

</body>
</html>