<!DOCTYPE HTML>
<!-- BEGIN mainBlock -->
<html>
<head>
<title>{%PAGE_TITLE%}</title>
<link rel="stylesheet" type="text/css" href="{%template_base%}/css/global.css">

<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700,800&subset=latin,greek' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{%template_base%}/sass-css/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="{%template_base%}/sass-css/stylesheets/popup.css">
<link rel="stylesheet" type="text/css" href="{%template_base%}/sass-css/stylesheets/modal/component.css">
<link rel="stylesheet" type="text/css" href="{%template_base%}/js/datatables/media/css/demo_table.css">

<script type="text/javascript" src="{%template_base%}/js/modal/modernizr.custom.js"></script>


{%EXTRA_CSS%}
{%TOOL_CSS%}
{%HEAD_EXTRAS%}
</head>
<body class="sidebar-opened">

<!-- Left Nav -->
<!-- BEGIN leftNavBlock -->
	<aside id="leftnav">
		<div class="logo"></div>
		<ul class="navlist accordion-first-active">
			<!-- BEGIN leftNavCategoryBlock -->
			<li>
				<!-- BEGIN leftNavCategoryTitleBlock -->
				<span class="title accordion-title">{%ACTIVE_TOOLS%}</span>
				<!-- END leftNavCategoryTitleBlock -->
				<ul>
					<!-- BEGIN leftNavLinkBlock -->
					<li><a class="{%TOOL_CLASS%}" href="{%TOOL_LINK%}"><i class="fa {%IMG_CLASS%}"></i><span class="leftnav-text">{%TOOL_TEXT%}</span></a></li>
					<!-- END leftNavLinkBlock -->
				</ul>
			</li>
			<!-- END leftNavCategoryBlock -->
		</ul>
	</aside>

<!-- END leftNavBlock -->


<!-- Main section -->
	<section class="Frame">


	<!-- Header -->
	    <header id="header" class="Row">
	    	<div class="header-content">
                {%LANG_USER%} {%USER_NAME%} {%USER_SURNAME%} <a href='{%LOGOUT_LINK%}'>{%LANG_LOGOUT%}</a>
		    	<ul class="top-nav">
					<li><a class="active home-icon" href=""></a></li>
					<li><a class="folder-icon" href=""></a></li>
					<li><a class="copy-icon" href=""></a></li>
					<li><a class="search-icon" href=""></a></li>
					<li><a class="message-icon" href=""></a></li>
				</ul>
	    	</div>
	    </header>

	    <!--  -->
	    <section id="main" class="Row Expand">
	    	<section id="content">
                <!-- BEGIN breadCrumbHomeBlock -->
                <section id="bread">{%BREAD_HREF_FRONT%}{%BREAD_TEXT%}{%BREAD_HREF_END%}
                <!-- END breadCrumbHomeBlock -->
                <!-- BEGIN breadCrumbStartBlock -->
                {%BREAD_ARROW%} {%BREAD_HREF_FRONT%}{%BREAD_TEXT%}{%BREAD_HREF_END%}
                <!-- END breadCrumbStartBlock -->
                <!-- BEGIN breadCrumbEndBlock -->
                <!-- END breadCrumbEndBlock -->
                </section>

                {%LANG_SELECT%}

                <!-- BEGIN toolTitleBlock -->
                <h1 class="page-title">{%TOOL_NAME%}</h1><!-- start slipsum code -->
                {%HELP_LINK_ICON%}
                {%RSS_LINK_ICON%}
                {%ACTIVATE_MODULE%}
                <!-- END toolTitleBlock -->

                <!-- BEGIN TOOL CONTENT -->
                {%EXTRA_MSG%}
                {%TOOL_CONTENT%}
                <!-- END TOOL CONTENT -->

		    </section>

	    </section>

	    <aside id="sidebar">

	    </aside>

	    <footer id="footer" class="Row">
	    	<div class="content">
	    		<span>Sticky flexible height Footer</span>
	    	</div>
	    </footer>

	</section>

</body>
</html>
<!-- END mainBlock -->
