<!DOCTYPE HTML>
<!-- BEGIN mainBlock -->
<html>
<head>
<title>{%PAGE_TITLE%}</title>
<!--<link rel="stylesheet" type="text/css" href="{%template_base%}/css/global.css">-->

<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,300,600,700,800&subset=latin,greek' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{%template_base%}/sass-css/stylesheets/style.css">
<link rel="stylesheet" type="text/css" href="{%template_base%}/sass-css/stylesheets/popup.css">
<link rel="stylesheet" type="text/css" href="{%template_base%}/sass-css/stylesheets/modal/component.css">
<!--<link rel="stylesheet" type="text/css" href="{%template_base%}/js/datatables/media/css/demo_table.css">-->

<!--<script type="text/javascript" src="{%template_base%}/js/modal/modernizr.custom.js"></script>-->


{%EXTRA_CSS%}
{%TOOL_CSS%}
{%HEAD_EXTRAS%}
</head>
<body class="sidebar-opened">

<!-- Left Nav -->
<!-- BEGIN leftNavBlock -->
	<aside id="leftnav">
		<div class="logo"></div>
		<ul class="navlist accordion-first-active">
			<!-- BEGIN leftNavCategoryBlock -->
			<li>
				<!-- BEGIN leftNavCategoryTitleBlock -->
				<span class="title accordion-title">{%ACTIVE_TOOLS%}</span>
				<!-- END leftNavCategoryTitleBlock -->
				<ul>
					<!-- BEGIN leftNavLinkBlock -->
					<li><a class="{%TOOL_CLASS%}" href="{%TOOL_LINK%}"><i class="fa {%IMG_CLASS%}"></i><span class="leftnav-text">{%TOOL_TEXT%}</span></a></li>
					<!-- END leftNavLinkBlock -->
				</ul>
			</li>
			<!-- END leftNavCategoryBlock -->
		</ul>
	</aside>

<!-- END leftNavBlock -->


<!-- Main section -->
	<section class="Frame">


	<!-- Header -->
	    <header id="header" class="Row">
	    	<div class="header-content">
		    	<ul class="top-nav-wrapper">
		    		
		    		<div id="uni-info">
						<span class="uni-icon"><img src="http://users.auth.gr/panchara/eclass/project/img/uni2.png"></span>
						<span class="uni-title">Εθνικό και Καποδιστριακό Πανεπιστήμιο Αθηνών</span>
					</div>

					<ul class="top-nav">

<!-- SECTION A -->
						<li>
							<a href="../main/portfolio.php">
								<span class="tooltip tooltip-bottom">
									<i class="fa fa-cube"></i>
								</span>
							</a>
						</li>
						<li>
							<span class="tooltip tooltip-bottom">
								<i class="fa fa-search"></i>
							</span>
						</li>


						<li>
							<span class="tooltip tooltip-bottom">
								<i class="fa fa-globe"></i>
							</span>
						</li>
						<li>
							<span class="tooltip tooltip-bottom">
								<i class="fa fa-sign-in"></i>
							</span>
						</li>
						<li class="user-info">
							<span class="auto-width tooltip tooltip-bottom">
								<i class="fa fa-user"></i>
								<span class="username">{%USER_NAME%} {%USER_SURNAME%} <a href='{%LOGOUT_LINK%}'>{%LANG_LOGOUT%}</a></span>
							</span>
						</li>
						<li class="sidebutton displaynone">
							<span class="toggle-sidebar tooltip tooltip-bottom">
								<i class="fa fa-columns"></i>
							</span>
						</li>
					</ul>
				</ul>
	    	</div>
	    </header>

	    <!--  -->
	    <section id="main" class="Row Expand">
	    	<section id="content">
                <!-- BEGIN breadCrumbHomeBlock -->
                <section id="bread">{%BREAD_HREF_FRONT%}{%BREAD_TEXT%}{%BREAD_HREF_END%}
                <!-- END breadCrumbHomeBlock -->
                <!-- BEGIN breadCrumbStartBlock -->
                {%BREAD_ARROW%} {%BREAD_HREF_FRONT%}{%BREAD_TEXT%}{%BREAD_HREF_END%}
                <!-- END breadCrumbStartBlock -->
                <!-- BEGIN breadCrumbEndBlock -->
                <!-- END breadCrumbEndBlock -->
                </section>

                {%LANG_SELECT%}

                <!-- BEGIN toolTitleBlock -->
                <h1 class="page-title">{%TOOL_NAME%}</h1><!-- start slipsum code -->
                {%HELP_LINK_ICON%}
                {%RSS_LINK_ICON%}
                {%ACTIVATE_MODULE%}
                <!-- END toolTitleBlock -->

                <!-- BEGIN TOOL CONTENT -->
                {%EXTRA_MSG%}
                {%TOOL_CONTENT%}
                <!-- END TOOL CONTENT -->

		    </section>

	    </section>

	    <aside id="sidebar">
	    	<div class="blocks">

			<span class="toggle-sidebar tooltip tooltip-bottom" data-tooltip="Close Sidebar"><i class="fa fa-columns"></i></span>

			<h3 class="sidebar-title">My tools</h3>

			<ul class="accordion">

				<li class="block my-courses">

					<h4 class="title">
						<span class="txt">Courses</span>
						<div class="tricky">
							<div class="description">Δείτε τα μαθήματα στα οποία συμμετέχετε</div>
							<div class="icon"><i class="fa fa-list-alt"></i></div>
						</div>
					</h4>

					<div class="side-list accordion">
						<h5 class="lesson-title accordion-title">Διαφορικές εξισώσεις με μερικές παραγώγους</h5>
						<div>
							<ul>
								<li class="lesson-id">ID: 1230</li>
								<li class="lesson-professor">Μίκης Θεοδωράκης</li>
								<li class="lesson-notifications">
									<span class="item">
										<i class="fa fa-calendar"></i>
										<span class="count">3</span></span>
										<span class="item"><i class="fa fa-file-text"></i>
										<span class="count">2</span>
									</span>
								</li>
							</ul>
						</div>

						<h5 class="lesson-title accordion-title">Εφαρμοσμένη Ανάλυση Παλινδρόμησης και Διασποράς</h5>
						<div>
							<ul>
								<li class="lesson-id">ID: 1230</li>
								<li class="lesson-professor">Γεώργιος Ξενοφών</li>
								<li class="lesson-notifications">
									<span class="item"><i class="fa fa-play"></i><span class="count">12</span></span>
									<span class="item"><i class="fa fa-calendar"></i><span class="count">99</span></span>
									<span class="item"><i class="fa fa-file-text"></i><span class="count">2</span></span>
								</li>
							</ul>
						</div>

						<h5 class="lesson-title accordion-title">Μαθηματικές Μέθοδοι στην Επιχειρησιακή Έρευνα</h5>
						<div>
							<ul>
								<li class="lesson-id">ID: 1230</li>
								<li class="lesson-professor">Γιάννης Τσαρτσαφλής</li>
								<li class="lesson-notifications">
									<span class="item"><i class="fa fa fa-bullhorn"></i><span class="count">2</span></span>
									<span class="item"><i class="fa fa-file-text"></i><span class="count">2</span></span>
								</li>
							</ul>
						</div>

						<h5 class="lesson-title accordion-title">Στατιστική</h5>
						<div>
							<ul>
								<li class="lesson-id">ID: 1230</li>
								<li class="lesson-professor">Ελένη Μακιαβέλη</li>
								<li class="lesson-notifications">
									<span class="item"><i class="fa fa-calendar"></i><span class="count">3</span></span>
									<span class="item"><i class="fa fa-file-text"></i><span class="count">2</span></span>
								</li>
							</ul>
						</div>
						<h5 class="lesson-title accordion-title">Theming Drupal: The most time efficient way to beatify your omega subtheme</h5>
						<div>
							<ul>
								<li class="lesson-id">ID: 9912</li>
								<li class="lesson-professor">Παναγιώτης Χαραλαμπίδης</li>
								<li class="lesson-notifications">
									<span class="item"><i class="fa fa-calendar"></i><span class="count">3</span></span>
									<span class="item"><i class="fa fa-file-text"></i><span class="count">2</span></span>
								</li>
							</ul>
						</div>
					</div>
				</li>

				<li class="block my-notes">	

					<h4 class="title">
						<span class="txt">Notes</span>					

						<div class="tricky">
							<div class="description">Προσθήκη γρήγορης σημείωσης</div>
							<div class="icon"><i class="fa fa-pencil"></i></div>
						</div>
					</h4>

					<div>

						<div class="input-parent">
							<textarea placeholder="Type a note..."></textarea>
							<i class="fa fa-pencil"></i>
						</div>
						<button data-label="SAVE" class="button flippin-btn">SAVE</button>
						<a class="goto" href="">All notes</a>
					</div>
				</li>

				<li class="block my-courses">	
					<h4 class="title">
						<span class="txt">Messages</span>
						
						<div class="tricky">
							<div class="description">Στείλτε μήνυμα σε κάποιον άλλον χρήστη του συστήματος</div>
							<div class="icon"><i class="fa fa-envelope"></i></div>
						</div>

					</h4>
					<div>
						<div class="input-parent">
							<input class="recipients-input" type="text" placeholder="Recipients...">
							<i class="fa fa-user"></i>
						</div>
						<div class="input-parent">
							<textarea placeholder="Message..."></textarea>
							<i class="fa fa-envelope"></i>
						</div>
						<button data-label="SEND" class="button flippin-btn">SEND</button>
						<a class="goto" href="">All messages</a>
					</div>
				</li>

			</ul>
		</div>
	    </aside>

	    <footer id="footer" class="Row">
	    	<div class="content">
	    		<span>Sticky flexible height Footer</span>
	    	</div>
	    </footer>

	</section>

</body>
</html>
<!-- END mainBlock -->
