table.Video{
    padding: 2px;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.Video th {
    text-align: center!important;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.Video td {
	color: #727266;
	vertical-align: top;
	padding : 5px 4px 4px 4px;
    font-size: 10px;
}