table.ExerciseSum{
    padding: 2px;
    vertical-align: middle;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.ExerciseSum thead{
	padding: 2px;
	vertical-align: middle;
	border-top: 1px solid #CAC3B5;
	border-bottom: 1px solid #CAC3B5;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
}

table.ExerciseSum tbody{
    padding: 2px;
    vertical-align: middle;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #CAC3B5;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.ExerciseSum th{
    text-align: center;
    padding: 4px;
    padding-bottom: 6px;
    padding-top: 6px;
    font-weight: bold;
    font-size:10px !important; 
    vertical-align: middle;
	background : #fbfbfb ;
}

table.ExerciseSum td {
    padding: 4px;
    color: #727266;
    vertical-align: middle;
    background : #fbfbfb ;
}



table.Exercise {
    padding: 2px;
    vertical-align: middle;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}



table.Exercise th{
    text-align: center;
    padding: 4px;
    padding-bottom: 6px;
    padding-top: 6px;
    font-weight: bold;
    font-size:10px !important; 
    vertical-align: middle;
	background : #fbfbfb ;
}

table.Exercise td {
    padding: 4px;
    color: #727266;
    vertical-align: middle;
    background : #fbfbfb ;
}

table.Question {
    padding: 2px;
    vertical-align: middle;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.Question th {
	padding: 4px;
	background: #edecdf;
	font-size:10px;
	color: #727266;
	vertical-align: middle;
	border-top: 1px solid #edecdf;
	border-bottom: 1px solid #edecdf;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
}

table.Question td {
    padding: 4px;
    background: #Fbfbfb;
    font-size:10px;
    color: #727266;
    vertical-align: middle;
}

#question_title_id {
    border-bottom: 1px dotted #edecdf;
    padding:2px;
    padding-top:5px;
    color: #a33033;
    font-size: 10px;
    font-weight: bold;
}
