table.ExerciseSum{
    padding: 2px;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.ExerciseSum th {
    text-align: center!important;
}

table.ExerciseSum td {
	color: #727266;
	vertical-align: top;
	padding : 5px 4px 4px 4px;
}


table.Exercise {
	padding: 2px;
	vertical-align: middle;
	border-top: 1px solid #DBDCCD;
	border-bottom: 1px solid #DBDCCD;
	border-left: 1px solid #DBDCCD;
	border-right: 1px solid #DBDCCD;
}

table.Exercise th{
	text-align: center;
	padding: 4px;
	padding-bottom: 6px;
	padding-top: 6px;
	font-weight: bold;
	font-size:10px !important;
	vertical-align: middle;
	background : #edecdf;
}

table.Exercise td {
    padding: 4px;
    color: #727266;
    vertical-align: middle;
    background : #edecdf;
}

table.Question {
    padding: 2px;
	vertical-align: top;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.Question th {
	padding: 4px;
	vertical-align: top;
	background: #edecdf;
	font-size:10px;
	color: #727266;
	border-top: 1px solid #edecdf;
	border-bottom: 1px solid #edecdf;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
}

table.Question td {
	padding: 4px;
	vertical-align: top !important;
	background: #Fbfbfb;
	font-size:10px;
	color: #727266;
	vertical-align: middle;
}

#question_title_id {
    padding:2px;
    padding-top:5px;
    color: #a33033;
    font-size: 10px;
    font-weight: bold;
}

.invisible {
	color : #CAC3B5 !important;
}

.invisible a{
	color : #ABABAB;
}

.empty {
	color: #000000 !important;
}

.score {
	color: #a33033 !important;
	text-align : right;
}

.question_local_header {
	color: #a33033;
	border: red  !important;
}