table.ForumSum{
    padding: 2px;
    vertical-align: middle;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.ForumSum thead{
	padding: 2px;
	vertical-align: middle;
	border-top: 1px solid #CAC3B5;
	border-bottom: 1px solid #CAC3B5;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
	background: #edecdf !important;
}

table.ForumSum tbody{
    padding: 2px;
    vertical-align: middle;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #CAC3B5;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.ForumSum th{
	text-align: center;
	padding: 4px;
	padding-bottom: 6px;
	padding-top: 6px;
	font-weight: bold;
	font-size:10px !important;
	vertical-align: middle;
	background : #edecdf;
}

table.ForumSum td {
	color: #727266;
	vertical-align: top;
	background : #fbfbfb;
	padding : 5px 4px 4px 4px;
}

.lala {
	background : #edecdf !important;
	text-align: left;
	padding: 4px;
	padding-bottom: 6px;
	padding-top: 6px;
	font-size:10px !important;
	color: #000000 !important;
}

.lalahead {
	background : #edecdf !important;
	text-align: center !important;;
	padding: 4px;
	padding-bottom: 6px;
	padding-top: 6px;
	font-weight: bold;
}

.lalaleftside {
	background : #F7F7F7 !important;
	text-align: center;
	vertical-align: middle !important;
	font-size:10px !important;
}

.lastpost {
	background : #F7F7F7 !important;
	text-align: left;
	vertical-align: middle !important;
	font-size:9px !important;
}

.lalaleftside1 {
	background : #F4F4F4 !important;
	text-align: center;
	vertical-align: middle !important;
	font-size:10px !important;
}

.topic_row1 {
	background : #F7F7F7 !important;
	text-align: left;
	vertical-align: top !important;
	font-size:10px !important;
}

.topic_row2 {
	background : #FBFBFB !important;
	text-align: left;
	vertical-align: top !important;
	font-size:10px !important;
}

.post_massage {
	border-bottom: 1px dotted #D1D7DC;
}


