.tidy {
        vertical-align: middle;
        padding : 2px;
        font-size: 8pt;
        word-wrap: break-word;
        word-break: break-all;
        }

tbody td {
    font-size: 11px !important;
}