
body {
	font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #777777;
	line-height: 16px;
    margin: 0;
	padding: 0;
}

.install_container {
	width: 600px;
	margin: 20px auto;
	
	}

.alert {
	background-color:#fef5be;
	border-top: 2px solid #fdd425;
	border-bottom: 2px solid #fdd425;
	padding: 10px 50px;
	background-image:url(../template/classic/img/warning.png); 
    background-repeat:no-repeat;
    background-position: left;
}

.success {
    background-color: #e4f8aa;
    border-top: 2px solid #a2d410;
    border-bottom: 2px solid #a2d410;
    padding: 10px 50px;
    background-image: url(../template/classic/img/success.png); 
    background-repeat: no-repeat;
    background-position: left;
}


.tbl_alt {
    padding: 5px;
    border: none;
}	


.tbl_alt th {
    font-weight: bold;
    color: #73849b;
    text-align: center;
    padding: 5px;
    background-color: #f1f1f1;
    border: 1px dashed #dfdfdf;
}



.tbl_alt td, .tbl_alt th {
    vertical-align: top;
    border: 1px dashed #dfdfdf;
}

 .tbl_alt th {
    vertical-align: top;
    border: 1px dashed #dfdfdf;
    padding: 5px;    
}
   

.tbl_alt .odd {
    background-color: #f8f8f8; /* LIGHTER BEIGE  */
}	
	
.tbl_alt .even {
    background-color: #ffffff; /* WHITE  */
}


a:link, a:active, a:visited {
        color: #333333;
        text-decoration: underline;
}

a:hover {
    	text-decoration: underline;
}


.title {
        background-color:#8597A5;
        color: #ffffff;
        font-weight: bold;
        padding: 5px;
        border-bottom: 2px solid #73849b;
}


.sub_title {
        padding: 5px;
        border-bottom: 1px dashed #dfdfdf;
        font-weight: bold;
}

.installBullet {
	list-style-image: url(../template/classic/img/arrow_bullet.png);

}

li {
	
}


input[type=submit] {
	color: #ffffff;
	font-size: 12px;
	border: 1px solid #8597A5;
    background-color: #687A92;
	padding: 3px;
}


.button {
	color: #ffffff;
	font-size: 14px;
	border: 1px solid #8597A5;
    background-color: #687A92;
	padding: 5px;
    width: 100px;
    margin: 5px auto;
    text-align: center;
}

.button a:link {
	color: #ffffff !important;
}

input[type=reset] {
	color: #ffffff;
	font-size: 12px;
	border: 1px solid #687a92;
    background-color: #8597A5;
	padding: 3px;
}


.form_field {
    padding: 3px;
}


/* steps */

#steps {
	padding: 5px;
    background-color: #f1f1f1;
    border-bottom: 1px dashed #dfdfdf;
    border-top: 1px dashed #dfdfdf;    
    font-size: 12px;
}

#steps a {
	color: #727266;
	text-decoration: none;
	font-weight: bold;	
}

#steps a:hover {
	text-decoration: underline;
	color: #8597A5;
	font-weight: bold;
}

#steps ul {
	margin-left: 0;
	padding-left: 0;
	display: inline;
} 

#steps li {
	margin-left: 0;
	padding-left: 2px;
	border: none;
	list-style: none;
	display: inline;
	color:#727266;
	}
	
	
	






fieldset { border:1px solid green }

DIV.outer
      {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 413px;
      height: 445px;
      margin-left: -207px; /* half of width */
      margin-top: -222px;  /* half of height */
}



DIV.welcomeImg {
	float: left;
	width: 413px;
	height: 360px;
	background-image: url(welcome.png);
	background-repeat: no-repeat;
	background-position:center;
	overflow:visible;
	}
	
.currentStep {
	font-weight:bold;
	color: #333333;
}

pre.config {
        background-color: #EEEEEE;
        margin-top: 20px;
        padding: 10px;
        border-bottom: 2px solid #7FA4E7;
        border-top: 2px solid #7FA4E7;
}
