<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{%page_title%}</title>
        <link href="{%template_base%}/ebook_fullscreen.css" rel="stylesheet" type="text/css" />
        {%ebook_head%}
        <script type='text/javascript'>
            function change_section() {
                top.location = '{%ebook_url_base%}' + document.getElementsByName('section')[0].value + '/{%unit_parameter%}';
            }
        </script>
    </head>

    <body>
        <div id="eclass_ebook_header">
            <div class="tools">

                <div class='ebook_left'>
                    <a href='{%course_home_link%}' title='{%course_title%}'>{%course_title_short%}</a> &#187;
                    <a href='{%course_ebook_link%}'>{%course_ebook%}</a> &#187;
                    <span title='{%ebook_title%}'>{%ebook_title_short%}</span>
                </div>

                <div class='ebook_right'>
                    <!-- BEGIN back_link_active -->
                    <a href='{%back_chapter_link%}'><img src='{%img_base%}/ebook/back.png' alt='{%back_chapter_title%}' title='{%back_chapter_title%}' /></a>
                    <!-- END back_link_active -->
                    <!-- BEGIN back_link_inactive -->
                    <img src='{%img_base%}/ebook/back_grey.png' alt='' />
                    <!-- END back_link_inactive -->
                    <!-- BEGIN next_link_active -->
                    <a href='{%next_chapter_link%}'><img src='{%img_base%}/ebook/next.png' alt='{%next_chapter_title%}' title='{%next_chapter_title%}' /></a>
                    <!-- END next_link_active -->
                    <!-- BEGIN next_link_inactive -->
                    <img src='{%img_base%}/ebook/next_grey.png' alt='' />
                    <!-- END next_link_inactive -->
                    <a href='{%exit_fullscreen_link%}'><img src='{%img_base%}/ebook/nofullscreen.png' class="nofullscreen" alt='{%$langLeave%}' title='{%$langBackCourse%}' /></a>
                </div>

                <div class="eclass_ebook_clear"> </div>

                <div class="logo"> 
                    <img src='{%img_base%}/lp/logo_openeclass.png' alt='{%ds_logo%}' title='{%ds_logo%}' />
                    <select name='section' onChange="change_section();">
                        <!-- BEGIN chapter_select_options -->
                        <option value='{%chapter_id%}'{%chapter_selected%}>{%chapter_title%}</option>
                        <!-- END chapter_select_options -->
                    </select>
                </div>

            </div>
        </div>

        <div class='eclass_ebook_clear'> </div>

        <div id='eclass_ebook_body'>{%ebook_body%}</div>

    </body>
</html>
