<!DOCTYPE HTML>
<html lang='{%LANG%}'>
  <head>
      <title>{%PAGE_TITLE%}</title>
    <meta charset='UTF-8'>
    <link rel="stylesheet" href="{%template_base%}/CSS/bootstrap-custom.css?v={%ECLASS_VERSION%}">
    {%HEAD_EXTRAS%}
  </head>
  <body>
    <div class='container'>
      <div class='row'>
        <div class='col-xs-12 text-center'>            
          <div style='padding-top: 10px; padding-bottom: 10px;'>
              <img style = 'filter: invert(100%);' src='{%template_base%}/img/logo_eclass.png' alt=''>
          </div>
          <div class='panel panel-default'>
            <div class='panel-body'>
            <div class='alert alert-info'>
                {%TOOL_CONTENT%}
            </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
  </body> 
</html>
