<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link rel="stylesheet" type="text/css" href="css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="css/slick-theme.css"/>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/all.css">

	<link rel="stylesheet" href="css/style.min.css?donotcache" >
	<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->
	
	<!-- Latest compiled and minified JavaScript -->
	<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>-->
	<link rel="shortcut icon" href="images/favicon.png">
	<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/slick.min.js"></script>
	<script type="text/javascript" src="js/custom.js"></script>
	<script type="text/javascript" src="js/sidebar.js"></script>
	
</head>
<body>
	<div id="page-wrapper">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>                        
					</button>
					<a class="navbar-brand" href="#"><img src="images/logo.svg" /></a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#"><i class="fas fa-home"></i> Αρχική</a></li>
						<li><a href="#"><i class="fas fa-pen-nib"></i> Εγγραφή</a></li>
						<li><a href="#"><i class="fas fa-book"></i> Μαθήματα</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
				</div>
			</div>
		</nav>
    <div class="container-fluid" style="background-image: url('images/books.jpeg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-size: cover;
    ">
        <div class="row intro-row">
            <div class="col-lg-4 intro">
                <h1>
                    Καλως Ήρθατε στην <strong>Πλατφόρμα Τηλεκπαίδευσης</strong>
                </h1>
                <p>Η πλατφόρμα Open eClass αποτελεί ένα ολοκληρωμένο Σύστημα Διαχείρισης Ηλεκτρονικών Μαθημάτων.</p>
								<p>Ακολουθεί τη φιλοσοφία του λογισμικού ανοικτού κώδικα και υποστηρίζει την υπηρεσία Ασύγχρονης Τηλεκπαίδευσης χωρίς περιορισμούς και δεσμεύσεις. Η πρόσβαση στην υπηρεσία γίνεται με τη χρήση ενός απλού φυλλομετρητή (web browser) χωρίς την απαίτηση εξειδικευμένων τεχνικών γνώσεων.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid main-section">
        <div class="row">
            <div class="col-lg-8">
							<div class="popular-lessons">
                <h2 class="block-title">Δημοφιλή μαθήματα</h2>
                <div class="row">
                    <div class="col-sm-4 lesson text-center">
                        <a href="#"><img src="images/img1.jpg" alt="" /></a>
                        <h3 class="lesson-title"><a href="#">Course Name</a> <span class="lesson-id">(105)</span></h3>
                        <div class="lesson-professor">Professor's Name</div>
                    </div>
                    <div class="col-sm-4 lesson text-center">
                        <a href="#"><img src="images/img2.jpg" alt="" /></a>
                        <h3 class="lesson-title"><a href="#">Course Name</a> <span class="lesson-id">(105)</span></h3>
                        <div class="lesson-professor">Professor's Name</div>
                    </div>
                    <div class="col-sm-4 lesson text-center">
                        <a href="#"><img src="images/img3.jpg" alt="" /></a>
                        <h3 class="lesson-title"><a href="#">Course Name</a> <span class="lesson-id">(105)</span></h3>
                        <div class="lesson-professor">Professor's Name</div>
                    </div>
                    <div class="col-sm-4 lesson text-center">
                        <a href="#"><img src="images/img4.jpg" alt="" /></a>
                        <h3 class="lesson-title"><a href="#">Course Name</a> <span class="lesson-id">(105)</span></h3>
                        <div class="lesson-professor">Professor's Name</div>
                    </div>
                    <div class="col-sm-4 lesson text-center">
                        <a href="#"><img src="images/img1.jpg" alt="" /></a>
                        <h3 class="lesson-title"><a href="#">Course Name</a> <span class="lesson-id">(105)</span></h3>
                        <div class="lesson-professor">Professor's Name</div>
                    </div>
                    <div class="col-sm-4 lesson text-center">
                        <a href="#"><img src="images/img2.jpg" alt="" /></a>
                        <h3 class="lesson-title"><a href="#">Course Name</a> <span class="lesson-id">(105)</span></h3>
                        <div class="lesson-professor">Professor's Name</div>
                    </div>
                </div>
								<div class="more-link"><a href="#">ΔΕΙΤΕ ΟΛΑ ΤΑ ΜΑΘΗΜΑΤΑ</a></div>
               </div>
            </div>
            <div class="col-lg-4 sidebar">
							<div class="news">
								<h2 class="block-title">Ανακοινώσεις</h2>
								<div class="row news-list">
									<div class="col-sm-12 news-list-item">
										<div class="date">15.05.2021</div>
										<div class="title"><a href="#">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore</a></div>
									</div>
									<div class="col-sm-12 news-list-item">
										<div class="date">26.04.2021</div>
										<div class="title"><a href="#">Ut wisi enim ad minim veniam quis nostrud exerci tation ullamcorper</a></div>
									</div>
									<div class="col-sm-12 news-list-item">
										<div class="date">22.04.2021</div>
										<div class="title"><a href="#">Duis autem vel eum iriure dolor in hendrerit</a></div>
									</div>
									<div class="col-sm-12 news-list-item">
										<div class="date">18.04.2021</div>
										<div class="title"><a href="#">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore</a></div>
									</div>
									<div class="col-sm-12 news-list-item">
										<div class="date">6.04.2021</div>
										<div class="title"><a href="#">Ut wisi enim ad minim veniam quis nostrud exerci tation ullamcorper</a></div>
									</div>
									<div class="col-sm-12 news-list-item">
										<div class="date">27.03.2021</div>
										<div class="title"><a href="#">Duis autem vel eum iriure dolor in hendrerit</a></div>
									</div>
									<div class="col-sm-12 news-list-item">
										<div class="date">15.05.2021</div>
										<div class="title"><a href="#">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy nibh euismod tincidunt ut laoreet dolore</a></div>
									</div>
									<div class="col-sm-12 news-list-item">
										<div class="date">26.04.2021</div>
										<div class="title"><a href="#">Ut wisi enim ad minim veniam quis nostrud exerci tation ullamcorper</a></div>
									</div>

								</div>
							</div>
            </div>
        </div>
    </div>

    <div class="container-fluid statistics">
			<div class="statistics-wrapper">
					<h2 class="text-center">
							Στατιστικά Επισκεψιμότητας
					</h2>
					<div class="row" style=" padding-top: 40px;">
							<div class="col-lg-4 text-center">
									<i class="fas fa-book"></i>
									<div class="num">726</div>
									<div class="num-text">μαθήματα</div>
							</div>
							<div class="col-lg-4 text-center">
									<i class="fas fa-mouse-pointer"></i>
									<div class="num">10<span>K+</span></div>
									<div class="num-text">επισκέψεις/εβδομάδα</div>
							</div>
							<div class="col-lg-4 text-center">
									<i class="fas fa-user"></i>
									<div class="num">5<span>K+</span></div>
									<div class="num-text">ενεργοί χρήστες</div>
							</div>
					</div>
			</div>
    </div>
		<div class="container-fluid testimonials">
			<div class="testimonial">
				<div class="testimonial-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
				<div class="testimonial-person">Λυδία Καλομοίρη</div>
			</div>
			<div class="testimonial">
				<div class="testimonial-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
				<div class="testimonial-person">Λυδία Καλομοίρη</div>
			</div>
			<div class="testimonial">
				<div class="testimonial-body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
				<div class="testimonial-person">Λυδία Καλομοίρη</div>
			</div>
		</div>
		<footer class="site-footer">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-2">
						<ul>
							<li><a href="#">ΣΧΕΤΙΚΑ</a></li>
							<li><a href="#">ΕΠΙΚΟΙΝΩΝΙΑ</a></li>
							<li><a href="#">ΣΥΧΝΕΣ ΕΡΩΤΗΣΕΙΣ</a></li>
						</ul>
					</div>
					<div class="col-md-2">
						<ul>
							<li><a href="#">ΕΓΧΕΙΡΙΔΙΑ</a></li>
							<li><a href="#">ΟΡΟΙ ΧΡΗΣΤΗΣ</a></li>
							<li><a href="#">ΠΟΛΙΤΙΚΗ ΑΠΠΟΡΗΤΟΥ</a></li>
						</ul>
					</div>
					<div class="col-md-2">
						
					</div>
					<div class="col-md-6 text-right">
						<div class="social-icons">
							<a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-f"></i></a>
							<a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></i></a>
							<a href="https://linkedin.com/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
						</div>	
						<div class="copyright">Open eClass © 2021 All rights reserved</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>