/* ----------------Open eClass default theme CSS----------------- */
/* ---------- @author Stevy Georgiadi <stevy@gunet.gr> ---------- */

/*
 *     Table Of Sections
 *  -----------------------------------------------------------------
 *  1. Reset 
 *  2. Basic HTML tags
 *  3. Page Layout (UP to BOTTOM)
 *  4. Typography - messages | alerts
 *  5. Tables
 *  6. Course Stuff
 *  7. Perso
 *  8. BBB admin
 *  ------------------------------------------------------------------

/*-------------------------------------
   1. Reset
-------------------------------------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, 
fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-------------------------------------
   2. Basic HTML tags
       * 2.1 Headings
       * 2.2 Images
       * 2.3 Links
       * 2.4 Forms
       * 2.5 Alignments
-------------------------------------*/

html {
    margin-bottom: 1px;
    height: 100% !important;
    background-color: #dfdfdf;
}

body {
    font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #777777;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

hr {
    height: 1px;
    border: 1px dotted #dfdfdf;
}

/* 2.1 Headings */

h1 {
    font-size:18px;
}

h2 {
    font-size:16px;
}

h3 {
    font-size:14px;
}

h4 {
    font-size:12px;
}

h5 {
    font-size:11px;
}

/* 2.2 Images */

img, input[type=image] {
    border: none;
    vertical-align: middle;
}

/* 2.3 Links */ 

a:link, a:active, a:visited {
    color: #8597A5;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #687A92;
}

/* 2.4 Forms */ 

input[type=submit] {
    color: #ffffff;
    font-size: 12px;
    border: 1px solid #8597A5;
    background-color: #687A92;
    padding: 3px;
}

.eclass_button {
    color: #ffffff;
    font-size: 14px;
    border: 1px solid #8597A5;
    background-color: #687A92;
    padding: 5px;
    width: 100px;
    margin: 5px auto;
    text-align: center;
}

.eclass_button a:link, .eclass_button a:hover, .eclass_button a:visited {
    text-decoration: none;
    color: #ffffff !important;
}

input[type=reset] {
    color: #ffffff;
    font-size: 12px;
    border: 1px solid #687a92;
    background-color: #8597A5;
    padding: 3px;
}

input[type=text] {
    color: #999999;
    font-size: 13px;
    border: 1px solid #dfdfdf;
    padding: 3px;
}

select {
    color: #999999;
    font-size: 13px;
    border: 1px solid #dfdfdf;
}

legend {
    color: #ffffff;
    padding: 8px;
    font-weight: bold;
    background-color: #8597A5;	
}

fieldset {
    padding: 10px;
    font-weight: normal;
    background-color: #f8f8f8;
    margin-bottom: 20px;
    padding: 7px; 
    border: 1px solid #dfdfdf;    
}

fieldset table.th {
    background-color: #f8f8f8 !important;
    font-weight: normal;
}

/* 2.5 Alignments */ 

.left   {text-align: left !important;}
.center {text-align: center !important;}
.right  {text-align: right !important;}

/*-------------------------------------
   3. Page Layout (UP to BOTTOM)
          * container
             * header
                * user
                * langSwitc
                * logo (left)
                * search (right) 
              * breadcrumbs
              * content
              * left 
                * menu
              * content main
              * right
                * login
              * footer
-------------------------------------*/

#container {
    margin: 20px auto;
    width: 1000px;  /*fixed width*/
    background-color: #ffffff;
    border: 1px solid #8597A5;
}

#header {
    height: 120px;
    width:100%;
}

.user {
    font-size: 12px;
    color: #ffffff;
    background-color: #8597A5;
    padding: 5px;
    height: 20px;
    line-height: 20px;
}

.user a {
    color: #ffffff;
}

#userInfo {
    float: left;
}

.langSwitch {
    float: right;
    font-size: 10px;
}

.logo {
    float: left;
    width: 400px;
    height: 60px;
    margin-top: 15px;
    background-image: url(img/logo_openeclass.png);
    background-repeat: no-repeat;
}

/* search */

#search {
    float: right;
    padding: 5px;
    text-align: right;
    margin-top: 40px;
}

#search a {
    text-decoration: none;
    font-size: 11px;
}

#search a:hover {
    text-decoration: underline;
}

#search input.ok {
    border: none;
    vertical-align: middle;
    margin-top: -5px;
    margin-right:0px;
    width: 16px;
    height: 16px;
}

/* breadcrumbs */

#bread {
    padding: 5px;
    background-color: #f8f8f8;
    border-bottom: 1px dashed #dfdfdf;
    border-top: 1px dashed #dfdfdf;    
    font-size: 12px;
}

#bread a {
    color: #8597A5;
    text-decoration: none;
    font-weight: bold;	
}

#bread a:hover {
    text-decoration: underline;
    color: #687A92;
    font-weight: bold;
}

#bread ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
} 

#bread li {
    margin-left: 0;
    padding-left: 2px;
    border: none;
    list-style: none;
    display: inline;
}

/* content  */

#content {
    width: 100%;
    background-color:#ffffff;
}

#content_main {
    float: left;
    width: 770px;
    padding:5px;
    margin: 5px;
}

#content_main_first {
    float: left;
    width: 570px;
    padding:5px;
    margin: 5px;
}
#content_course {

}

/* right */

#rightbar {
    float: right;
    width: 170px;
    padding:8px;
    margin: 10px;
    border: 1px dashed #dfdfdf;
    background-color: #f8f8f8;    
} 

/* login */

.Login {
    border: 1px solid #dfdfdf;
} 

.LoginHead {
    border-bottom: 1px dashed #dfdfdf;
    border-right: none;
    color: #687A92;
    font-size: 13px;
}

.LoginData {
    font-size: 11px;
}

/* left */

.leftnav {
    float: left;
}

.navmenu {
    width: 160px;
    padding:8px;
    margin: 10px;
    border: 1px dashed #dfdfdf;
    background-color: #f8f8f8;      
}

.navcontainer {
    font-size: 12px;
}

.navcontainer ul {
    margin:0;
    padding:0;
    list-style-type: none;
}

.navcontainer a {
    display: block;
    padding: 3px;
    margin-top: 2px;
    margin-left: -8px;
    color: #8597A5;
    text-decoration: none;   
}

.navcontainer a:hover {
    text-decoration:underline;
    color: #687A92; 
}

.navcontainer li.category {
    font-weight: bold;
    border-bottom: 1px dashed #dfdfdf;
    color: #687A92;    
    padding: 5px; 
    font-size: 13px;
}

.navcontainer li img {
    float:left;
    margin-right:5px;
    clear:left;
} 

/* footer  */

#footer {
    width:100%;
    height: 50px;
    background-color: #ffffff;
    border-top: 3px solid #8597A5;
}

#footer a {
}

#clearfooter {
    height:30px;
    clear:both
}

/*-------------------------------------
   4. Typography
-------------------------------------*/

.lesson {
    font-size:18px;
    color:#687A92;
    padding: 5px 0 15px 0;
}

#tool_title {
    margin: 0 0 5px 0;
    font-size:15px;
    color:#687A92;
    padding: 0 0 5px 0;
}

.tool_title {
    margin: 0 0 5px 0;
    font-size:15px;
    color:#687A92;
    padding: 5px 0 5px 0;
}

.title1 {
    background-color:#8597A5;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    border-bottom: 2px solid #687A92;
}

.title1 a { 
    color: #ffffff;    
}

.sub_title1 {
    padding: 5px;
    border-bottom: 1px dashed #dfdfdf;
    font-weight: bold;
}

.descr_title {
    background-color:#8597A5;
    color: #ffffff;
    font-weight: bold;
    padding: 5px;
    border-bottom: 2px solid #687A92;
    margin-bottom: 10px;
}

.unit_title {
    font-weight: bold;
    padding: 5px;
    background-color:#ffffff;
    border-bottom: 1px dashed #dfdfdf;
    font-size: 14px;
    text-align: center;
    color: #8597A5;
}

/* messages and alerts */ 

.alert1 {
    background-color:#fef5be;
    border-top: 2px solid #fdd425;
    border-bottom: 2px solid #fdd425;
    padding: 10px 20px 10px 50px;
    background-image:url(img/warning.png); 
    background-repeat:no-repeat;
    background-position: left;
    margin: 10px 0 10px 0;
}

.alert2 {
    padding: 10px 50px;
    background-image:url(img/warning.png);
    background-repeat:no-repeat;
    background-position: left;
    margin: 10px 0 10px 0;
}

.caution {
    background-color:#fbdfdf;
    border-top: 2px solid #f2804d;
    border-bottom: 2px solid #f2804d;
    padding: 10px 50px;
    background-image:url(img/caution.png); 
    background-repeat:no-repeat; 
    background-position: left;
    margin: 10px 0 10px 0;
}

.success {
    background-color:#e4f8aa;
    border-top: 2px solid #a2d410;
    border-bottom: 2px solid #a2d410;
    padding: 10px 50px;
    background-image:url(img/success.png);
    background-repeat:no-repeat; 
    background-position: left;
    margin: 10px 0 10px 0;
}

.noteit {
    background-color:#fffcd5;
    border-top: 2px solid #ffd04f;
    border-bottom: 2px solid #ffd04f;
    padding: 10px 50px;
    background-image:url(img/noteit.png); 
    background-repeat:no-repeat; 
    background-position: left top;
    margin: 10px 0 10px 0;
}

.info {
    background-color:#e1e9f9;
    border-top: 2px solid #7fa4e7;
    border-bottom: 2px solid #7fa4e7;
    padding: 10px 50px;
    background-image:url(img/info.png); 
    background-repeat:no-repeat; 
    background-position: left;
    margin: 10px 0 10px 0;
}

/* ----- Learning Path ----- */

.correct{ color: #749d1e;
          background-image: url(img/tick.png); 
          background-repeat: no-repeat;
          padding-left: 20px;
          margin-right: 20px;
}
.error{  color: #e66d08;
         background-image: url(img/error.png); 
         background-repeat: no-repeat;
         padding-left: 20px;
         margin-right: 20px; }

/* colors */ 

.red {
    color: #ff0000 !important;
}

.grey {
    color: #999999 !important;
}

/*-------------------------------------
   5. Tables
-------------------------------------*/
.smaller {
    font-size: 11px;
}

.tbl {
    padding: 5px;
    border: none;
}

.tbl th {
    vertical-align: top;
}

.tbl_1 {
    padding: 5px;
    border: none;
}

.tbl_1 td {
    border: 1px dashed #dfdfdf;
}

.tbl_1 th {
    font-weight: bold;
    color: #687A92;
    text-align: center;
    padding: 5px;
    background-color: #f8f8f8;
    border-left: 1px dashed #dfdfdf;
    border-top: 1px dashed #dfdfdf;
    border-bottom: 1px dashed #dfdfdf;
    border-right: none;
}

.tbl_border {
    border: 1px solid #dfdfdf;
}

.tbl_white {
    border: 1px solid #dfdfdf;
    background-color: #ffffff !important;
}

.tbl_courseid {
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.tbl_courseid th {
    font-weight: bold;
    background-color: #f8f8f8;
    padding: 3px;
}

.tbl_header_row {
    font-weight: bold;
    text-align: center;
    background-color: #f8f8f8; 
    padding: 3px;
}

.tbl th {
    font-weight: bold;
    background-color: #f8f8f8; 
    padding: 3px;
}

.tbl_border th {
    font-weight: bold;
    background-color: #f8f8f8;
    padding: 3px;
}

.tbl_course_type {
    border: none;
    margin: 10px 0;
    border-bottom: 1px dashed #dfdfdf;
}

.tbl_lesson td {
    border-bottom: 1px dashed #dfdfdf;    
}
.tbl_lesson tr:hover td { 
    background-color: #f3f3f9;
} 
/* Alternating Table Row   */

.tbl_alt {
    padding: 5px;
    border: none;
    border: 1px solid #dfdfdf; 
}	

table.graded, table.ungraded{
    margin: 15px 0;
}

div.filtering {
    margin-top: 10px;
}

.tbl_alt th {
    font-weight: bold;
    color: #687A92;
    text-align: center;
    padding: 5px;
    background-color: #f8f8f8;
    border-bottom: 1px dashed #dfdfdf;
}

.tbl_alt td, .tbl_alt th {
    vertical-align: top;
    border-right: 1px dashed #dfdfdf;
    border-bottom: 1px dashed #dfdfdf;    
}

.tbl_alt th {
    vertical-align: top;
    border-right: 1px dashed #dfdfdf;
    border-bottom: 1px dashed #dfdfdf;
    padding: 5px;    
}

.tbl_alt .odd {
    background-color: #f8f8f8; 
}	

.tbl_alt .even {
    background-color: #ffffff; 
}	

.tbl_alt_border {
    background-color: #ffffff; 
    border-bottom: 1px dotted #dfdfdf; 
}

/*	Hover effect to table rows */	

.tbl_alt tr:hover td { 
    background-color: #f3f3f9;
} 

/* Alternating Table Row NO_Border   */

.tbl_alt_bordless {
    padding: 5px;
    border: none;
}

.tbl_alt_bordless tr {
    border-bottom: 1px dotted #dfdfdf; 
}

.tbl_alt_bordless tr.nobrd {
    border-bottom: none;
}

.tbl_alt_bordless th {
    font-weight: bold;
    background-color: #dfdfdf; 
    text-align: center;
    padding: 3px;
}

.tbl_alt_bordless td, .tbl_alt_bordless th {
    vertical-align: top;
}

.tbl_alt_bordless .odd {
    background-color: #f8f8f8; 
}

.tbl_alt_bordless .even {
    background-color: #ffffff; 
}

/* Hover effect to table rows */

.tbl_alt_bordless tr:hover td {
    background-color: #f3f3f9;
}

/*	Sortable Table*/	

.sortable {
    border: 1px solid #dfdfdf;
}

table.sortable a.sortheader {
    font-weight: bold;
    color: #687A92;
    background-color: #f8f8f8;
    text-decoration: none;
    padding : 0px;
    display: block;
}

table.sortable tr:hover td {
    background-color: #f3f3f9;
}

table.sortable_odd {
    background-color: #f8f8f8; 
}

table.sortable_even {
    background-color: #dfdfdf; 
}

.sortable th {
    background-color: #f8f8f8;
    border-bottom: 1px dashed #dfdfdf;
    text-align: center;
    padding: 3px;

}
.sortable td, th {
    border-right: 1px dashed #dfdfdf;    
}

a.sortheader, a.sortheader:link, a.sortheader:active, a.sortheader:visited {
    background-color: #dfdfdf;
    color: #687A92;
    font-weight: bold;
    text-decoration: underline;
}

/*  Table */

tr.odd {
    background-color: #f8f8f8;
}

tr.even {
    background-color: #ffffff;
}

td.odd {
    background-color: #f8f8f8;
}

td.even {
    background-color: #ffffff;
}

th {
    text-align: left !important;
}

td {
    padding: 4px;
}

td, tr {
    vertical-align: top;}

td.bold {
    font-weight: bold;
}

.toolbox {
    white-space: nowrap;
}

/*-------------------------------------
   6. Course Stuff
-------------------------------------*/

#operations_container {
    text-align: right;
    padding: 8px;
    background: #8597A5;
    font-size: 11px;
    color: #ffffff;
    margin-bottom: 15px;
    overflow: hidden;
    background-image: url(img/admin-tools.png);
    background-repeat: no-repeat;
}

#operations_container a {
    color: #ffffff;
    font-size: 11px;
    font-weight: normal;
    vertical-align: middle;
    text-decoration: none;
}

#operations_container a:hover {
    text-decoration: underline;
    color: #ffffff;
    font-size: 11px;
    vertical-align: middle;
}

#opslist {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#opslist li {
    display: inline;
    padding: 0;
    margin: 0;
}

#opslist li:before { content: " | "; }
#opslist li:first-child:before { content: ""; }

.course_info {
    margin-bottom: 1em;
}
.course_info h1 {
    color: #8597A5;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px dashed #dfdfdf;
    font-size: 13px;   

}
.course_info h1 a {
    font-weight: bold;
    color: #8597A5;
}

.course_info h4 {
    padding: 0px 0px;
    color: #8597A5;
    font-weight: bold;
    background: none !important;
    border-bottom: none !important;
}

.invisible {
    background-color: #dfdfdf; 
}

.invisible a,
.invisible a:link,
.invisible a:visited,
a.invisible,
a:link.invisible,
a:visited.invisible
{
    color: silver !important;
}

a.unit_link, a.unit_link:link, a.unit_link:active, a.unit_link:visited {
    color: #8597A5;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;

}

a.unit_link:hover {
    color: #8597A5 !important;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
}

a.unit_link_invisible, a.unit_link_invisible:link, a.unit_link_invisible:active, a.unit_link_invisible:visited {
    font-style: italic;
    color: silver !important;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
}

a.unit_link_invisible:hover {
    color: silver !important;
    font-style: italic;
    font-size: 11px;
    font-weight: bold;
    text-decoration: underline;
}

ul.poll_answers li {
    margin: 1em 0;
    list-style-image: url(img/arrow.png);
}

.q_comments {
font-size: 12px;
padding: 5px 5px 5px 5px;
background-color: #f8f8f8;
}
/*-------------------------------------
   7. Perso
-------------------------------------*/

.panel_left {
    float:left;
    width: 450px;
    margin-top: 10px;
}

.panel_right {
    float:right;
    width: 300px;
    margin-top: 10px;
}

.panel_title {
    margin: 1px;
    padding: 3px 10px;
    cursor: pointer;
    position: relative;
    color: #687A92;
    font-weight: bold;
    border-bottom: 1px dashed #dfdfdf;
    background: #f8f8f8 url(img/up_down.png) no-repeat right -51px;
}


.panel_title.active {
    background-position: right 5px;
}


.panel_content_open {
    margin-bottom: 20px;
}

.panel_content {
    padding: 5px 10px;
    margin-bottom: 20px;
    max-height: 350px;
    overflow: auto;
}






/* ----- START admin ----- */
.invisible {
    background: #f8f8f8;
    color: #dfdfdf;
}

/* ----- START agenda ----- */
.today {
    background-color: #F5BCA9;
    font-weight: bold;
    color: #687A92;
    padding: 5px;
    text-align: center;

}

.monthLabel {
    text-align: center;
    color: #627aad;
    background-color:#f3f3f9;
    padding: 10px;
}

.day {
    border-bottom: 1px dotted #727266;
}

.event {
    padding: 4px 0px 0px 4px;
}

.agendaBody {
    padding: 0px 0px 0px 4px;
}
/* ----- END agenda ----- */

/* ----- START phpbb ----- */

.Forum_leftside {
    background : #F7F7F7; 
    text-align: center;
    vertical-align: middle;
    font-size:11px;
}

.Forum_post {
    background : #F7F7F7 !important;
    text-align: center;
    vertical-align: middle !important;
    font-size:9px !important;
}

.Forum_leftside1 {
    background : #F4F4F4 !important;
    text-align: center;
    vertical-align: middle !important;
    font-size:11px !important;
}

.topic_row1 {
    background : #F7F7F7 !important;
    text-align: left;
    vertical-align: top !important;
    font-size:11px !important;
}

.topic_row2 {
    background : #FBFBFB !important;
    text-align: left;
    vertical-align: top !important;
    font-size:11px !important;
}

.post_massage {
    border-bottom: 1px dotted #D1D7DC;
}

.forum_category {
    margin-top: 8px;
    margin-left: 4px;
    margin-bottom: 8px;
    text-align: center;
    padding: 4px;
    color: #000000 !important;
    background-color: #d8dfea !important;;
    font-weight: normal;
    font-size:11px !important;
}

/* ----- Pagination ----- */
.pagination {
    height: 1%; /* IE tweak (holly hack) */
    width: auto;
    text-align: right;
    margin-top: 5px;
    float: right;
}

.pagination span.page-sep {
    display: none;
}

li.pagination {
    margin-top: 0;
}

.pagination strong, .pagination b {
    font-weight: normal;
}

.pagination span strong {
    padding: 0 2px;
    margin: 0 2px;
    font-weight: normal;
    color: #FFFFFF;
    background-color: #bfbfbf;
    border: 1px solid #bfbfbf;
    font-size: 0.9em;
}

.pagination span a, .pagination span a:link, .pagination span a:visited, .pagination span a:active {
    font-weight: normal;
    text-decoration: none;
    color: #747474;
    margin: 0 2px;
    padding: 0 2px;
    background-color: #eeeeee;
    border: 1px solid #bababa;
    font-size: 0.9em;
    line-height: 1.5em;
}

.pagination span a:hover {
    border-color: #d2d2d2;
    background-color: #d2d2d2;
    color: #FFF;
    text-decoration: none;
}

.pagination img {
    vertical-align: middle;
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
    display: block;
    float: left;
    width: auto;
    margin-top: 0;
    padding: 1px 0px 1px 0px;
    font-size: 0.9em;
    background: none no-repeat;
}

.pages{
    float: right;
    width: auto;
    margin-top: 0;
    padding: 1px 1px 1px 1px;
    font-size: 0.9em;
}

.row .pagination span a, li.pagination span a {
    background-color: #FFFFFF;
}

.row .pagination span a:hover, li.pagination span a:hover {
    background-color: #d2d2d2;
}

/* ----- END phpbb ----- */



/* ----- START Search ----- */
.Results {
    padding: 2px 1px 1px 14px;
    list-style: disc;
    color: #727266;
}

table.Search{
    padding: 0px 0px 0px 0px;
    border-top: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
    border-left: 1px solid #f1f2f2;
    border-right: 1px solid #f1f2f2;
}

table.Search th {
    text-align: center !important;
    border-top: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
    border-left: 1px solid #f1f2f2;
    border-right: 1px solid #f1f2f2;
}

table.Search td {
    color: #727266;
    vertical-align: top;
    padding : 5px 4px 4px 4px;
    font-size: 11px;
}
/* ----- END Search ----- */






.custom_list {
    padding: 0 15px 0 15px;
    margin: 0 5px;
}

.custom_list ul {
    margin: 0;
    padding: 0;
}

.custom_list li {
    list-style-image:url(img/arrow_bullet.png);
}

.custom_list_order ol {
    margin: 0;
    padding: 0 15px 0 15px;
}


.glossary {
    border-bottom: 1px dotted #727266;
    color: #cc3333 !important;  
    text-decoration: none !important;
    cursor:help; }

.glossary a {
    border-bottom: 1px dotted #727266;
    color: #cc3333 !important;  
    text-decoration: none !important;
    cursor:help; }

.alphabetic_index {
    text-align: center;
    padding-bottom: 10px;
}

/* ----- Lesson Layout ----- */

.image_kef {
    padding: 5px !important;
    margin-right: 10px !important;
}



#keywords {

}

#goals {

}

#aps {

}

#material {

}

.definitions {

}


.description {
    font-weight: bold;
    border-bottom: 1px solid #dfdfdf;
    color:#e79544;
    padding: 3px;
}


.meros {

    border: 2px solid #e5eaf1 !important;
    color:#627aad;
    background-color: #f2f5fa;
}

.meros a {
    color:#627aad;
}	

.image_exof {
    padding: 5px !important;
    border: 2px solid #e5eaf1 !important;
    margin-left: 0px !important;
    margin-right: 10px !important;
}

.image_kef {
    padding: 5px !important;
    border: 2px solid #e5eaf1 !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
    float: right;
}


.image_cover {
    clear: both;
    padding: 10px !important;
    border: 2px solid #d2dbe8 !important;
    margin-left: 10px !important;
    margin-right: 0px !important;
    float: right;
}

/* ----- End Lesson Layout ----- */


.add_user a {
    color: #029516 !important;
    font-size: 11px;
}

.add_user a:hover {
    color: #02c81c !important;
    text-decoration: underline;
    font-size: 11px;
}

.add_teacherLabel {
    text-align: center;
    color: #627aad;
    background-color:#fff9ae;
    font-size: 11px;
    border: 1px solid #ddd685;
}

td.section {
    padding-left: 20px;
}
td.subsection {
    padding-left: 40px;
}

@media print {
    .leftnav, #header, #operations_container,
    .deactivate_module, .activate_module,
    .title1 {
        display: none;
    }
    * {
        color: black;
    }
}

/* --  Work -- */
.expired {
    color: red;
}

/* -- Gauge bar colors -- */
.gaugebar_bg {
    background-color: #E6E6E6;
}
.gaugebar_fg {
    background-color: #4F76A3;
}

/* -- Password strength indicator -- */
.pwstrength {
    font-weight: bold;
    font-size: 13px;
    color: #666;
    padding: 3px;
    margin-left: 4px;
}

.pwstrength span {
    padding: 6px;
    margin: 0px;
}

.pwstrengthShort {
    background: #edabab;
    border: 1px solid #bc0000;
}

.pwstrengthWeak {
    background: #edabab;
    border: 1px solid #bc0000;
}

.pwstrengthGood {
    background: #ede3ab;
    border: 1px solid #bc9f00;
}

.pwstrengthStrong {
    background: #d3edab;
    border: 1px solid #73bc00;
}

/* -- OpenCourses Metadata Form -- */
.cmetarow {
    clear: both; 
    padding: 4px;
}

.cmetalabel {
    font-weight: bold;
    float: left;
    width: 232px;
    border-right: 1px dashed #dfdfdf;
    padding-bottom: 4px;
}

.cmetalabelinaccordion {
    font-weight: bold;
    float: left;
    width: 170px;
    border-right: 1px dashed #dfdfdf;
    padding-bottom: 4px;
}

.cmetafield {
    padding-left: 4px;
}

.cmetamandatory {
    font-size: 11px;
    color: red;
    padding: 4px;
    float: right;
}

.cmetaaccordion {
    clear: both;
}

.cmetalabel a, .cmetalabelinaccordion a {
    color: rgb(119, 119, 119) !important;
    border-bottom: 1px dashed;
}

.cmetalabel a:hover, .cmetalabelinaccordion a:hover {
    border-bottom: none;
}

/* ----- START BBB Admin ----- */
.dataTables_filter {
    text-align: right;
}
#timedisplay {
    padding-left: 1em;
    float: right;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}
/* Wiki table of contents and diff */
#toc {
    padding:5px;
    background-color:#f0f0f0;
    border:1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:auto;
    text-align:center;
}

.dataTables_info {
    float: left;
    width: 60%;
}

#toc div {
    text-align:left;
}

.dataTables_length {
    float: left;
    width: 40%;
}

#toc tr, #toc td, #toc th, #toc caption {
    background-color:#f0f0f0;
    border:none;
}

.sorting {
    background: url("./img/datatables_pagination/sort_both.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}

.diff {
    font-family: monospace;
    padding: 5px;
    margin: 5px;
}

.sorting_asc {
    background: url("./img/datatables_pagination/sort_asc.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}

.diffEqual {
    background-color: white;
}

.sorting_desc {
    background: url("./img/datatables_pagination/sort_desc.png") no-repeat scroll right center rgba(0, 0, 0, 0);
}

.diffMoved {
    background-color: #00CCFF;
}

.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	float: left;
	cursor: pointer;
	*cursor: hand;
	color: #111 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
	outline: none;
}

.diffAdded {
    background-color: #A3FF9C;
}

.paginate_disabled_previous,
.paginate_disabled_next {
	color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
	padding-right: 23px;
	margin-left: 10px;
}

.diffDeleted {
    background-color: #FFA59C;
}

.paginate_disabled_previous {
	background: url('./img/datatables_pagination/back_disabled.png') no-repeat top left;
}

/* Wiki lock time progress bar */
.progress {
    width: 50%;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.paginate_enabled_previous {
	background: url('./img/datatables_pagination/back_enabled.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
	background: url('./img/datatables_pagination/back_enabled_hover.png') no-repeat top left;
}

.progress .bar {
    float: left;
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.paginate_disabled_next {
	background: url('./img/datatables_pagination/forward_disabled.png') no-repeat top right;
}

/* Wiki tables */
.wikitable {
    margin-top: 10px;
    margin-bottom: 10px;
}

.paginate_enabled_next {
	background: url('./img/datatables_pagination/forward_enabled.png') no-repeat top right;
}
.paginate_enabled_next:hover {
	background: url('./img/datatables_pagination/forward_enabled_hover.png') no-repeat top right;
}

.wikitable td {
    border: 1px solid black;
}

/* ----- END BBB Admin ----- */

/* ----- START Tag Cloud ----- */
div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; width:300px; height:40px; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #a5d24a; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #cde69c; color: #638421; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;}
div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px;  } 
div.tagsinput input { width:85px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
.not_valid {background: #FBD8DB !important; color: #90111A !important;}
/* ----- END Tag Cloud ----- */

.wikitable th {
    border: 1px solid black;
}

/* Wiki table of contents and diff */
#toc {
    padding:5px;
    background-color:#f0f0f0;
    border:1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right:auto;
    text-align:center;
}

#toc div {
    text-align:left;
}

#toc tr, #toc td, #toc th, #toc caption {
    background-color:#f0f0f0;
    border:none;
}

.diff {
    font-family: monospace;
    padding: 5px;
    margin: 5px;
}

.diffEqual {
    background-color: white;
}

.diffMoved {
    background-color: #00CCFF;
}

.diffAdded {
    background-color: #A3FF9C;
}

.diffDeleted {
    background-color: #FFA59C;
}

/* Wiki lock time progress bar */
.progress {
    width: 50%;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress .bar {
    float: left;
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

/* Wiki tables */
.wikitable {
    margin-top: 10px;
    margin-bottom: 10px;
}

.wikitable td {
    border: 1px solid black;
}

.wikitable th {
    border: 1px solid black;
}
.blog_posts {
    float: left; 
    width: 75%; 
    word-wrap:break-word;
}

.blog_post {
    margin-bottom: 10px;
}

.blog_post_content {
    margin-bottom: 10px;
}

.blog_post_title {
    margin-bottom: 10px;
}

.blog_post_empty_space {
    margin-bottom: 40px;
}

.blog_tree {
    list-style-type: none; 
    padding: 0;
    margin-left: 0;
}

.blog_tree_m_cur {
    list-style-type: disk;
    padding: 0;
    margin-left: 15px;
}

.blog_tree_m {
    display:none;
    list-style-type: disk;
    padding: 0;
    margin-left: 15px;
}

.blog_tree_y_cur {
    list-style-type: none;
    padding: 0;
    margin-left: 15px;
}

.blog_tree_y {
    display:none;
    list-style-type: none;
    padding: 0;
    margin-left: 15px;
}

.commenting {
    margin-bottom: 40px;
}

.commentArea {
    display: none;
}

.comment {
    margin-top: 10px;
    margin-bottom: 20px;
}

/*-------------------
       RATING
--------------------*/
.rating {
    margin-bottom: 10px;
}

.rateit {
    display: -moz-inline-box;
    display: inline-block;
    position: relative;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
}

.rateit .rateit-range
{
    position: relative;
    display: -moz-inline-box;
    display: inline-block;
    background: url(img/star.gif);
    height: 16px;
    outline: none;
}

.rateit .rateit-range * {
    display:block;
}

/* for IE 6 */
* html .rateit, * html .rateit .rateit-range
{
    display: inline;
}

/* for IE 7 */
* + html .rateit, * + html .rateit .rateit-range
{
    display: inline;
}

.rateit .rateit-hover, .rateit .rateit-selected
{
    position: absolute;
    left: 0px;
}

.rateit .rateit-hover-rtl, .rateit .rateit-selected-rtl
{
    left: auto;
    right: 0px;
}

.rateit .rateit-hover
{
    background: url(img/star.gif) left -32px;
}

.rateit .rateit-hover-rtl
{
    background-position: right -32px;
}

.rateit .rateit-selected
{
    background: url(img/star.gif) left -16px;
}

.rateit .rateit-selected-rtl
{
    background-position: right -16px;
}

.rateit .rateit-preset
{
    background: url(img/star.gif) left -48px;
}

.rateit .rateit-preset-rtl
{
    background: url(img/star.gif) left -48px;
}

.rateit button.rateit-reset
{
    background: url(img/delrate.gif) 0 0;
    width: 16px;
    height: 16px;
    display: -moz-inline-box;
    display: inline-block;
    float: left;
    outline: none;
    border:none;
    padding: 0;
}

.rateit button.rateit-reset:hover, .rateit button.rateit-reset:focus
{
    background-position: 0 -16px;
}

.hideratewidget {
    display:none;
}

/*-------------------*/

.sharingcontainer {
    margin-bottom: 10px;
}

.sharinglist {
    display: inline;
    padding-left: 10px;
}

.sharinglist li {
    display: inline;
    list-style-type: none;
    padding-right: 10px;
}
