
<!-- BEGIN mainBlock --><!DOCTYPE HTML>
<html lang="{%LANG%}">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{%PAGE_TITLE%}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery -->
    <script type="text/javascript" src="{%URL_PATH%}js/jquery-3.6.0.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="{%URL_PATH%}js/bootstrap.bundle.min.js?v={%ECLASS_VERSION%}"></script>

	<script src="{%URL_PATH%}js/jquery.dataTables.min.js"></script>
    <script src="{%URL_PATH%}js/classic-ckeditor.js"></script>

     <!-- BootBox -->
    <script src="{%URL_PATH%}js/bootbox/bootbox.min.js?v={%ECLASS_VERSION%}"></script>

    <!-- SlimScroll -->
    <script src="{%URL_PATH%}js/jquery.slimscroll.min.js"></script>
    <!-- BlockUI -->
    <script src="{%URL_PATH%}js/blockui-master/jquery.blockUI.js"></script>
    <script>
        $(function() {
            $('.blockUI').click(function() {
                $.blockUI({ message: "<h4><span class='fa fa-refresh fa-spin'></span> {%LANG_PLEASE_WAIT%}</h4>" });
            });
        });
    </script>
    <script>
    bootbox.setDefaults({
      locale: "{%LANG%}"
    });
    var sidebarConfig = { notesLink: '{%NOTES_LINK%}', messagesLink: '{%URL_PATH%}main/ajax_sidebar.php', courseCode: '{%COURSE_CODE%}', courseId: '{%COURSE_ID%}', note_fail_messge: '{%langFieldsRequ%}' };
    </script>
    <!-- Our javascript -->
    <script type="text/javascript" src="{%URL_PATH%}js/custom.js?v={%ECLASS_VERSION%}"></script>

    <!-- Favicon for various devices -->
    <link rel="shortcut icon" href="{%template_base%}/favicon/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="{%template_base%}/favicon/openeclass_128x128.png" />
    <link rel="icon" type="image/png" href="{%template_base%}/favicon/openeclass_128x128.png" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{%template_base%}/css/bootstrap.min.css">

    <!-- Font Awesome - A font of icons -->
    <link href="{%template_base%}/css/font-awesome-6.4.0/css/font-awesome.css" rel="stylesheet">

	<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{%template_base%}/css/default.css">

    {%EXTRA_CSS%}
    {%TOOL_CSS%}
    {%HEAD_EXTRAS%}

</head>


<body>

<div class="d-flex flex-column min-vh-100 container-lg bg-light">
	<noscript>
		<div id="noScript" style="background: #fafafa none repeat scroll 0 0; box-shadow: 0 0 5px 1px #000000; color: #333333; font-size: 16px; padding: 12px; text-align: center; opacity: 0.9;">
			The eClass platform requires JavaScript to be viewed properly.<br> Please turn it on and refresh.
			<br>
			<span class="fa fa-exclamation-circle"></span>

		</div>
	</noscript>

	<!-- BEGIN headerBlock -->
	<div class="{%container%} header_container bg-light d-flex justify-content-center align-items-center">
		<div class="row" id="header_section">
			<div class="col-12 nav-container">
			<!-- END normalViewOpenDiv -->

				<nav id="header" class="navbar navbar-default pt-3 pb-0" role="navigation">
					<!-- BEGIN logoBlock -->
					<a href='{%LOGO_URL_PATH%}' class="navbar-brand small-logo install-logo">
						<img class="img-responsive hidden-md hidden-lg ms-2" src="{%logo_img_small%}" alt='{%GO_TO_HOME%}'>
					</a>
					<!-- END logoBlock -->
					<ul class="nav navbar-nav navbar-right">
						<!-- BEGIN LoggedInBlock -->

						<li {%HOMEBUTTON_STYLE%}><a href="{%URL_PATH%}main/portfolio.php"><span class="fa fa-home"></span><span class="sr-only">{%LANG_PORTFOLIO%}</span></a></li>
						{%ADMIN_ICON%}
						<li id="profile_menu_dropdown" class="dropdown">
						   <a class="dropdown-toggle clearfix" role="button" id="dropdownMenu1" {%PROFILE_MENU_DATA_TOGGLE%}>
							   <img alt="{%LANG_USER_ICON%}" class="img-circle user-icon" src="{%USER_ICON%}" style="display: block; float: left; max-height: 20px;"><div style="display: block; float: left;">{%USERNAME%}</div>
							</a>

							<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
								<!-- BEGIN AdminToolsBlock -->
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="{%ADMIN_LINK%}"><span class="fa fa-wrench fa-fw"></span>{%LANG_ADMIN%}</a>
								</li>
								<!-- END AdminToolsBlock -->
								<li role="presentation" {%topMenuDivider%}>
									<a role="menuitem" tabindex="-1" href="{%URL_PATH%}main/portfolio.php"><span class="fa fa-home fa-fw"></span>{%LANG_MYPORTFOLIO%}</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="{%COURSES_LINK%}"><span class="fa fa-graduation-cap fa-fw"></span>{%LANG_COURSES%}</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="{%MESSAGES_LINK%}"><span class="fa fa-envelope-o fa-fw"></span>{%LANG_MESSAGES%}</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="{%ANNOUNCEMENTS_LINK%}"><span class="fa fa-bullhorn fa-fw"></span>{%LANG_ANNOUNCEMENTS%}</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="{%AGENDA_LINK%}"><span class="fa fa-calendar fa-fw"></span>{%LANG_AGENDA%}</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="{%NOTES_LINK%}"><span class="fa fa-edit fa-fw"></span>{%LANG_NOTES%}</a>
								</li>
								<!-- BEGIN PersoBlogBlock -->
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="{%MYBLOG_LINK%}"><span class="fa fa-columns fa-fw"></span>{%LANG_MYBLOG%}</a>
								</li>
								<!-- END PersoBlogBlock -->
								<!-- BEGIN ePortfolioBlock -->
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="{%MYEPORTFOLIO_LINK%}"><span class="fa fa-star fa-fw"></span>{%LANG_MYEPORTFOLIO%}</a>
								</li>
								<!-- END ePortfolioBlock -->
								<!-- BEGIN MyDocsBlock -->
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="{%MYDOCS_LINK%}"><span class="fa fa-folder-open-o fa-fw"></span>{%LANG_MYDOCS%}</a>
								</li>
								<!-- END MyDocsBlock -->
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="{%PROFILE_LINK%}"><span class="fa fa-user fa-fw"></span>{%LANG_PROFILE%}</a>
								</li>
								<li role="presentation">
									<a role="menuitem" tabindex="-1" href="{%STATS_LINK%}"><span class="fa fa-area-chart fa-fw"></span>{%LANG_STATS%}</a>
								</li>
								<li role="presentation" style="border-top: 1px solid #ddd">
									<a role="menuitem" tabindex="-1" href="{%LOGOUT_LINK%}"><span class="fa fa-unlock fa-fw"></span>{%LANG_LOGOUT%}</a>
								</li>
							</ul>
						</li>

						<li><a id="toggle-sidebar"><span class="fa fa-sliders"></span></a></li>
						<!-- END LoggedInBlock -->
						<!-- BEGIN LoggedOutBlock -->
						{%LANG_SELECT%}
						<!-- BEGIN LoginIconBlock -->
						<li><a href="{%LOGOUT_LINK%}"><span class="fa fa-lock"></span><span class="sr-only">{%LANG_LOGOUT%}</span></a></li>
						<!-- END LoginIconBlock -->
						<!-- END LoggedOutBlock -->
					</ul>
				</nav>
			</div>
		</div>
	</div>
	<!-- END headerBlock -->

	<div class="p-0">
		<div class="container-fluid main-container p-0 bg-light">
			<div class="row m-auto">
				<div class="col-12 justify-content-center bg-light col_maincontent_active_Install">


					<div class="{%container%} body_container p-lg-5 p-md-3 p-2">
					<div class="row" id="Frame">
						<!-- BEGIN normalViewOpenDiv -->
						<div id="background-cheat-leftnav" class="hidden-xs hidden-sm col-md-2 pull-left"></div>
						<div id="background-cheat" class="col-12 col-sm-12 col-md-10 pull-right"></div>
						<div id="main-content" class="col-12 col-md-7 col-lg-8">
						<!-- END normalViewOpenDiv -->
						<!-- BEGIN mobileViewOpenDiv -->
						<div id="background-cheat" class="col-12"></div>
						<div id="main-content" class="col-12">
						<!-- END mobileViewOpenDiv -->

							<div class="row row-main">
								<div class="col-md-12 add-gutter">
									<!-- BEGIN breadCrumbs -->
									<div class="row" {%BREADCRUMB_STYLE%}>
										<nav role="navigation" class="col-12">
											<ol class="breadcrumb">
												<!-- BEGIN breadCrumbLinkBlock -->
												<li><a href='{%BREAD_HREF%}'>{%BREAD_TEXT%}</a></li>
												<!-- END breadCrumbLinkBlock -->
												<!-- BEGIN breadCrumbEntryBlock -->
												<li class="ms-2 text-secondary">{%BREAD_TEXT%}</li>
												<!-- END breadCrumbEntryBlock -->
											</ol>
										</nav>
									</div>
									<!-- END breadCrumbs -->

									<!-- BEGIN titleRowBlock -->
									<div class="row title-row margin-top-thin">

										<div class="col-9">

											<!-- BEGIN pageTitleBlock -->

													<h1 class='page-title'>{%SECTION_TITLE%}</h1>
													<!-- BEGIN professorBlock -->
													<h2 class='page-subtitle'>{%PROFESSOR%}</h2>
													<!-- END professorBlock -->

											<!-- END pageTitleBlock -->


											<!-- BEGIN toolTitleBlock -->
											<div class='row'>
												<div class='col-md-12'>
													<h2 class='page-subtitle'>
														{%TOOL_NAME%}
														{%RSS_LINK_ICON%}
														{%ACTIVATE_MODULE%}
													</h2>
												</div>
											</div>
											<!-- END toolTitleBlock -->

										</div>


										<div class='col-3'>
											{%HELP_LINK_ICON%}
											<!-- BEGIN statusSwitchBlock -->
											<div class='pull-right'>
												<form method='post' action='{%STUDENT_VIEW_URL%}' id='student-view-form'>
													<button class='btn-toggle {%STUDENT_VIEW_CLASS%}' data-toggle='tooltip' data-placement='top' title='{%STUDENT_VIEW_TITLE%}'>
														<span class='on'><span class='fa fa-users'></span></span>
														<span class='off'><span class='fa fa-graduation-cap'></span></span>
														<span class='hidden'>.</span>
													</button>
												</form>
											</div>
											<!-- END statusSwitchBlock -->
										</div>
									</div>
									<!-- END titleRowBlock -->

									<!-- BEGIN TOOL CONTENT -->
									{%EXTRA_MSG%}
									{%TOOL_CONTENT%}
									<!-- END TOOL CONTENT -->
								</div>
							</div>
						</div>
						<!-- BEGIN leftNavBlock -->
						<div id="leftnav" class="d-none d-md-block col-md-5 col-lg-4 sidebar {%leftNavClass%} embeded float-menu">

							<div class="panel-group" id="sidebar-accordion">
								<!-- BEGIN leftNavCategoryBlock -->
								<div class="panel">

									<!-- BEGIN leftNavCategoryTitleBlock -->
									<a class="collapsed parent-menu" data-bs-toggle="collapse" data-bs-parent="#sidebar-accordion" href="#collapse{%TOOL_GROUP_ID%}">
										<div class="panel-heading">
											<h3 class="panel-title">
												<span class="fa fa-chevron-right"></span>
												<span>{%ACTIVE_TOOLS%}</span>
											</h3>
										</div>
									</a>
									<!-- END leftNavCategoryTitleBlock -->

									<div id="collapse{%TOOL_GROUP_ID%}" class="panel-collapse list-group collapse {%GROUP_CLASS%} show">
										<!-- BEGIN leftNavLinkBlock -->
										<a href="{%TOOL_LINK%}" class="list-group-item {%TOOL_CLASS%}" {%TOOL_EXTRA%}>
											<span class="fa {%IMG_CLASS%} fa-fw"></span>
											<span>{%TOOL_TEXT%}</span>
										</a>
										<!-- END leftNavLinkBlock -->
									</div>

								</div>
								<!-- END leftNavCategoryBlock -->
								{%ECLASS_LEFTNAV_EXTRAS%}
							</div>
						</div>
						<!-- END leftNavBlock -->
						<!-- BEGIN sideBarBlock -->
						<div id="sidebar-container">
							<aside id="sidebar" class="outer">
								<div class="panel-group outerpanel" id="accordion-right-parent">
									<div class="panel panel-default">
										<div class="panel-heading" data-bs-toggle="collapse" data-bs-parent="#accordion-right-parent" data-bs-target="#collapseCourses">
											<h4 class="panel-title title">
												<span class="fa fa-list-alt"></span><span class="txt" >{%MY_COURSES%}</span>
											</h4>
										</div>
										<div id="collapseCourses" class="panel-collapse collapse side-list">
											<div class="panel-body">
												<div class="panel-group innerpanel" id="accordion-right">
													<div id="innerpanel-container">
													<!-- BEGIN sideBarCourseBlock -->
													<div class="panel panel-default">
														<div class="panel-heading" data-bs-toggle="collapse" data-bs-parent="#accordion-right" data-bs-target="#collapse{%sideBarCollapseId%}-right">
															<div class="panel-title lesson-title clearfix">
																<a href="{%sideBarCourseURL%}" class="lesson-title-link">{%sideBarCourseTitle%}</a><span class="fa fa-caret-down lesson-title-caret"></span>
															</div>
														</div>
														<div id="collapse{%sideBarCollapseId%}-right" class="panel-collapse collapse">
															<div class="panel-body">
																<ul>
																	<li class="lesson-professor">{%sideBarCourseProf%}</li>
																	<li class="lesson-notifications" data-id="{%sideBarCourseID%}">
																		<!-- BEGIN sideBarCourseNotifyBlock -->
																		<a href='{%sideBarCourseNotifyURL%}' class='item' title='{%sideBarCourseNotifyTitle%}' data-bs-toggle='tooltip'><span class='fa {%sideBarCourseNotifyIcon%}'></span><span class='count'>{%sideBarCourseNotifyCount%}</span></a>
																		<!-- END sideBarCourseNotifyBlock -->
																	</li>
																</ul>
															</div>
														</div>
													</div>
													<!-- END sideBarCourseBlock -->
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" data-bs-toggle="collapse" data-bs-parent="#accordion-right-parent" data-bs-target="#collapseMessages">
											<h4 class="panel-title title">
												<span class="fa fa-envelope"></span><span class="txt">{%MY_MESSAGES%}</span><span class="num-msgs"></span>
											</h4>
										</div>
										<div id="collapseMessages" class="panel-collapse collapse side-list overlayed">
											<div class="panel-body">
												<ul class="sidebar-mymessages">
												</ul>
												<div style="padding-top: 5px; border-top: 1px solid #ccc; margin-top: 15px;">
													<a class="goto" href="{%MESSAGES_LINK%}">{%langAllMessages%}</a>
												</div>
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading" data-bs-toggle="collapse" data-bs-parent="#accordion-right-parent" data-bs-target="#collapseNotices">
											<h4 class="panel-title title">
												<span class="fa fa-pencil"></span><span class="txt">{%QUICK_NOTES%}</span>
											</h4>
										</div>
										<div id="collapseNotices" class="panel-collapse collapse side-list overlayed">
											<div class="spinner-div hidden">
												<img src="{%template_base%}/img/ajax-loader.gif" alt=''>
												<p class="hidden"></p>
											</div>
											<div class="panel-body">
												<div class="input-parent input-group">
													<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
													<label class="sr-only" for="title-note">{%langEnterNoteLabel%}</label>
													<input id="title-note" class="form-control" type="text" placeholder="{%langNoteTitle%}...">
												</div>
												<div class="input-parent input-group">
													<span class="input-group-addon"><span class="fa fa-pencil"></span></span>
													<label class="sr-only" for="text-note">{%langEnterNoteLabel%}</label>
													<textarea id="text-note" class="form-control" rows="6" placeholder="{%langEnterNote%}..."></textarea>
												</div>
												<button id="save_note" data-label="Save" class="btn btn-default btn-xs">{%langSave%}</button>
												<a class="goto" href="{%NOTES_LINK%}">{%langAllNotes%}</a>
											</div>
										</div>
									</div>
								</div>
							</aside>
						</div>

						<!-- END sideBarBlock -->
					</div>

					<!-- BEGIN footerBlock -->

					<!-- END footerBlock -->

				</div>
			</div>
		</div>
	</div>



</div>

</body>
</html>
<!-- END closingTagsBlock -->
<!-- END mainBlock -->
