#conference{
	position:absolute;
	height: 200px;
	width: 200px;
	/*border:groove;*/
	top:210px;
	left:220px;
	
	border:1px solid #a2a2a3;
	background: #edecdf;
	}

#video{
	position:absolute;
	height: 200px;
	width: 200px;
	/*border:groove;*/
	top:435px;
	left:220px;
	
	border:1px solid #a2a2a3;
	background: #edecdf;
}
#video_presantation_control{
	position:absolute;
	height:203px;
	width: 200px;
	/*border:groove;*/
	top:659px;
	left:220px;
	
	border:1px solid #a2a2a3;
	background: #edecdf;
}

#chat_window{
	position:relative;
	height: 300px;
	width: 800px;
	/*border:groove;*/
	border:1px solid #a2a2a3;
	background: #edecdf;
	overflow: auto;
}

#iframe{
	height:500px;
	width:700px;
}
#chat{
	position: relative;
	height: 100px;
	width:500px;
	overflow: auto;
	
	border:2px inset #a2a2a3;
	background:#ffffff;
	margin-top: 2px;
	margin-bottom: 2px;
	/*margin-left: 10px;*/
	/*margin-right: 10px;*/
}
#chat_control{
	position: relative;
	width:700px
}
#background{
	height:650px;
	width:930px;
}

#chat_div{
	position:absolute;
	/*border:groove;*/
	top:720px;
	left:430px;
	width:700px;
	
	border:1px solid #a2a2a3;
	background: #edecdf;
}
