table.ForumCategory{
    padding: 2px;
    vertical-align: middle;
    border-top: 1px solid #edecdf  !important;
    border-bottom: 1px solid #edecdf !important;
    border-left: 1px solid #edecdf !important;
    border-right: 1px solid #edecdf !important;
}

table.ForumCategory thead{
	border-top: 1px solid #CAC3B5;
	border-bottom: 1px solid #CAC3B5;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
	background: #CAC3B5 !important;
}

table.ForumCategory tbody{
    padding: 2px;
    vertical-align: middle;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #CAC3B5;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.ForumCategory th{
	text-align: center;
	padding: 4px;
	padding-bottom: 6px;
	padding-top: 6px;
	font-weight: bold;
	font-size:10px !important;
	vertical-align: middle;
	background: #CAC3B5 !important;
}

table.ForumCategory td {
	color: #000;
	vertical-align: top;
	padding : 5px 4px 4px 4px;
	    border-bottom: 1px dotted #fff;
	background: #EDECDF !important;
}

.lala {
	background : #edecdf !important;
	text-align: left;
	padding: 4px;
	padding-bottom: 6px;
	padding-top: 6px;
	font-weight: bold;
	color: #000000 !important;
}

.lalahead {
	background : #edecdf !important;
	text-align: center;
	padding: 4px;
	padding-bottom: 6px;
	padding-top: 6px;
	font-weight: bold;
}

.lalaleftside {
	background : #F7F7F7 !important;
	text-align: center;
	vertical-align: middle !important;
	font-size:10px !important;
}

.lalaleftside1 {
	background : #F4F4F4 !important;
	text-align: center;
	vertical-align: middle !important;
	font-size:10px !important;
}