table.ForumAdmSum{
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}



table.ForumAdmSum th{
	border-top: 1px solid #edecdf;
	border-bottom: 1px solid #edecdf;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
	background: #edecdf !important;
	text-align: left;
	font-weight: bold;
	font-size:10px !important;
}



table.ForumCategory{
    padding: 2px;
    vertical-align: middle;
    border-top: 1px solid #edecdf;
	border-bottom: 1px solid #edecdf;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
    font-size:10px !important;
}


table.ForumCategory th{
	text-align: center;
	padding: 4px;
    border-top: 1px solid #edecdf;
	border-bottom: 1px solid #edecdf;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
	padding-bottom: 6px;
	padding-top: 6px;
	font-weight: bold;
	font-size:10px !important;
	vertical-align: middle;
	background: #edecdf !important;
}
