.wikiTitle h1{
            color: grey;
            background: none;
            font-size: 11px;
            font-weight: bold;
            /*font-weight: normal;*/
        }
.wiki2xhtml{
            vertical-align:middle;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            font-size: 10px;
            padding: 1px;
            border: 1px solid #CAC3B5;
            background-color: #f9f8ea;
            color: #666666;
        }
.wiki2xhtml h2,h3,h4{
            color: Black;
            background: none;
        }
.wiki2xhtml h2{
            border-bottom: 1px solid #aaaaaa;
            font-size: 11px;
            font-weight:bold;
        }
.wiki2xhtml h3{
            border-bottom: 1px groove #aaaaaa;
            font-size: 11px;
            font-weight:bold;
        }
.wiki2xhtml h4{
            font-size: 11px;
            font-weight:bold;
        }

.wiki2xhtml a.wikiEdit{
            color: red;
        }
.diff{
            font-family: monospace;
            padding: 5px;
            margin: 5px;
        }
.diffEqual{
            background-color: white;
        }
.diffMoved{
            background-color: #00CCFF;
        }
.diffAdded{
            background-color: lime;
        }
.diffDeleted{
            background-color: #FF00AA;
        }



.invisible { 
    color: #999999 !important;
    background-color: #f9f8ea !important;
}

.invisible a,
.invisible a:link,
.invisible a:visited,
a.invisible,
a:link.invisible,
a:visited.invisible
{
   color: #999999;
}

.comments{ color: #a19b99; }
.correct{ color: #009900; }
.error{  color: #990000; }

.comment {
    font-size: smaller;
    margin-left: 30px;
}


.LP_button { 
    vertical-align:middle;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 2px;
    border: 1px solid #CAC3B5;
    background-color: #f9f8ea;
    color: #666666;
}

.LP_Operations {
    background: #CAC3B5;
    font-size: 11px;
    color: #000000;
    border-top: 1px solid #a33033;
    border-bottom: 1px solid #a33033;
	border-left: 1px solid #CAC3B5;
	border-right: 1px #000000 solid;
}

.LP_Operations td{
    padding: 2px !important;
}

.Group_Operations a {
   color: #000000;
   font-size: 10px;
   font-weight: normal;
   text-decoration: none;
}

.LP_Operations a:hover {
       text-decoration: underline;
       color: #ffffff;
       font-size: 10px;
}


a.claroCmd {
   font-size: 10px;
   font-weight: normal;
   text-decoration: none;
}

a.claroCmd:hover {
   text-decoration: underline;
}



table.WikiSum{
    padding: 2px;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.WikiSum thead{
	padding: 2px;
	border-top: 1px solid #edecdf;
	border-bottom: 1px solid #edecdf;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
}


table.WikiSum th{
	text-align: center;
	padding: 4px;
	padding-bottom: 6px;
	padding-top: 6px;
	font-weight: bold;
	font-size:10px !important;
    border-top: 1px solid #edecdf;
	border-bottom: 1px solid #edecdf;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
    background: #edecdf;
}

table.WikiSum td{
	color: #727266;
}


.Wiki_header {
    color: #000 !important;
    background-color: #edecdf !important;
	text-align: center !important;
	font-weight: bold !important;
}


table.ExerciseSum{
    padding: 2px;
    vertical-align: middle;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.ExerciseSum thead{
	padding: 2px;
	vertical-align: middle;
	border-top: 1px solid #CAC3B5;
	border-bottom: 1px solid #CAC3B5;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
}

table.ExerciseSum tbody{
    padding: 2px;
    vertical-align: middle;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #CAC3B5;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.ExerciseSum th{
	text-align: center;
	padding: 4px;
	padding-bottom: 6px;
	padding-top: 6px;
	font-weight: bold;
	font-size:10px !important;
	vertical-align: middle;
	background : #fbfbfb;
}

table.ExerciseSum td {
	color: #727266;
	vertical-align: top;
	background : #fbfbfb;
	padding : 5px 4px 4px 4px;
}


table.Exercise {
	padding: 2px;
	vertical-align: middle;
	border-top: 1px solid #DBDCCD;
	border-bottom: 1px solid #DBDCCD;
	border-left: 1px solid #DBDCCD;
	border-right: 1px solid #DBDCCD;
}

table.Exercise th{
	text-align: center;
	padding: 4px;
	padding-bottom: 6px;
	padding-top: 6px;
	font-weight: bold;
	font-size:10px !important;
	vertical-align: middle;
	background : #edecdf;
}

table.Exercise td {
    padding: 4px;
    color: #727266;
    vertical-align: middle;
    background : #edecdf;
}

table.Question {
    padding: 2px;
	vertical-align: top;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.Question th {
	padding: 4px;
	vertical-align: top;
	background: #edecdf;
	font-size:10px;
	color: #727266;
	border-top: 1px solid #edecdf;
	border-bottom: 1px solid #edecdf;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
}

table.Question td {
	padding: 4px;
	vertical-align: top !important;
	background: #Fbfbfb;
	font-size:10px;
	color: #727266;
	vertical-align: middle;
}

#question_title_id {
    padding:2px;
    padding-top:5px;
    color: #a33033;
    font-size: 10px;
    font-weight: bold;
}

.invisible {
	color : #CAC3B5 !important;
}

.invisible a{
	color : #ABABAB;
}

.empty {
	color: red !important;
}

.score {
	color: #a33033 !important;
	text-align : right;
}

.question_local_header {
	color: #a33033;
	border: red  !important;
}

