div#content_login { margin-right: 350px; padding-left: 10px; }
div#content_login p { line-height:1.4; }

div#extra { background: #FF8539; }

div#wrapper { float: left; width: 99%; margin-right:-300px; }
div#navigation { float: right; width: 300px; }
div#extra { float: right; clear: right; width:200px; }
div#footer { clear: both; width: 100%; }

.course_info {
        background: #ffffff;
        margin-bottom: 1em;
}
.course_info h1 {
        border-bottom: 1px solid #a2a2a3;
        padding: 5px 2px;
        color: #a33033;
        font-size: 11px;
        font-weight: bold;
}
.course_info h1 a {
        font-size: 11px;
        font-weight: bold;
        color: #a33033;
}
.actions {
        float: right;
        padding: 0;
        margin: 0;
}
.actions td {
        padding: 0 2px;
        margin: 0;
        width: 20%;
        text-align: center;
}
.actions img {
        vertical-align: middle;
}
