/* 
==========================================================
    SASS for structure of eclass v3.0 - version 0.01008a 
==========================================================
*/

@import 'global';


/* MAIN-CONTENT -------------------------------------------------------*/
/*#main-content
{
  background-color: $color-main-content;
  overflow: hidden;
}*/

/* MEDIA QUERIES -------------------------------------------------------------------*/



/* No breakpoints bellow 1366 or smth */


@media (max-width: 992px){
  .navbar .navbar-nav > li a{
    padding: 15px 0.5em;    
  }

  #main-content,
  #header.navbar .navbar-nav > li:last-child > a,
  .navbar-default {
    border-radius: 0px;
  }
}
