/*

eClass

MAIN LAYOUT
STICKY FLEXIBLE FOOTER - http://pixelsvsbytes.com/blog/2011/09/sticky-css-footers-the-flexible-way/

*/

html, body {
    height: 100%;
    margin: 0pt;

    font-family:'Open Sans';
}

.Frame {
     display: table;
     height: 100%;
     width: 100%;


    padding-left: 180px;
    padding-right: 240px;   
    background: #FDFDFD;
    
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.Row {
     display: table-row;
     height: 1px;
}

.Row.Expand {
     height: auto;
}



/* Left Nav */

#leftnav{
    width:180px;
    height:100%;
    position:fixed;
    z-index:2;

    background: #333333;

    box-shadow: inset -3px 0px 9px -1px rgb(0,0,0);
    -moz-box-shadow: inset -3px 0px 9px -1px rgb(0,0,0);
    -webkit-box-shadow: inset -3px 0px 9px -1px rgb(0,0,0);
}

.logo{
    width: 100%;
    min-height: 180px;

    background:url('../img/eclass-new-logo.png') no-repeat center;
}

.navlist{
    width: 100%;

    margin: 0px;
    padding: 0px;

    list-style-type: none;

    overflow:hidden;
    
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.navlist li a{
    width:100%;
    display:inline-block;

    padding: 1em;
	
	margin-left:10px;
 
    color: #FDFDFD;
    
    border-bottom: 1px solid rgb(37, 37, 37);

    text-decoration: none;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.navlist li a.active{
    color: #313131;
    background: #FDFDFD!important;
	
	
	border-radius: 2px;

    box-shadow: 0px 4px 4px #000000;
    -moz-box-shadow: 0px 4px 4px #000000;
    -webkit-box-shadow: 0px 4px 4px #000000;
}

.navlist li a:hover{
    background: #2b78e4;
	border-radius: 2px;
	/*background: -moz-linear-gradient(right , #2b78e4 30%, #333333 100%) repeat scroll 0 0 transparent;
	background: -webkit-linear-gradient(right , #2b78e4 30%, #333333 100%) repeat scroll 0 0 transparent;
	background: -o-linear-gradient(right , #2b78e4 30%, #333333 100%) repeat scroll 0 0 transparent;*/
	
}

.navlist li a .leftnav-icon{
    display: inline-block;
    height:2em;
    width:2em;
    margin-right:0.5em;

    vertical-align: middle;

    background-repeat: no-repeat;
    background-position: center;
    background-size:50%;
}

.navlist li a .leftnav-text{
    font-size: 0.8em;
}

/* Icons */

.home-icon{
    background-image:url('../img/home.png');
}

.calendar-icon{
    background-image:url('../img/calendar.png');
}

.link-icon{
    background-image:url('../img/link.png');
}

.documents-icon{
    background-image:url('../img/documents.png');
}

.media-icon{
    background-image:url('../img/media.png');
}

.announcements-icon{
    background-image:url('../img/calendar.png');
}


/* Main Section */

#header .header-content{
    position:fixed;
    width:100%;
    left:0px;
    z-index:1;

    padding: 0px 180px;
    padding-right:240px;

    background: #FDFDFD;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    box-shadow: 0 2px 4px #CCCCCC;
    -moz-box-shadow: 0 2px 4px #CCCCCC;
    -webkit-box-shadow: 0 2px 4px #CCCCCC;
}

#header .top-nav{
    float:right;
}

#header .top-nav{
    height:50px;

    margin:0px;
    padding:0px;
    list-style-type: none;
}

#header .top-nav li{
    float:left;
    height:100%;
}


#header .top-nav li a{
    width:4em;
    height:100%;
    display: inline-block;

    border-left: 1px solid rgb(185, 185, 185);

    text-decoration: none;
    vertical-align: middle;

    background-position: center;
    background-repeat: no-repeat;
    background-size:28%;
}

.top-nav .folder-icon{background-image:url('../img/folder.png');}

.top-nav .copy-icon{background-image:url('../img/copy.png');}

.top-nav .search-icon{background-image:url('../img/search.png');}

.top-nav .message-icon{background-image:url('../img/message.png');}


.top-nav .home-icon:hover{background-image:url('../img/home-white.png');}

.top-nav .folder-icon:hover{background-image:url('../img/folder-white.png');}

.top-nav .copy-icon:hover{background-image:url('../img/copy-white.png');}

.top-nav .search-icon:hover{background-image:url('../img/search-white.png');}

.top-nav .message-icon:hover{background-image:url('../img/message-white.png');}


#header .top-nav li a:hover{
    background-color: #2b78e4;
}

#main > *{
    padding-top:70px!important; /* equal to header height + some content padding */
}

#content{
    width: 100%;
    float: left;

    padding:3em;

    border-bottom: 1px solid rgba(0,0,0,.05);

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#bread{
    padding:1em 0em;

    color:rgb(167, 167, 167);
    font-size:0.8em;

    border-bottom:1px solid rgba(0,0,0,.05);
}

#sidebar{
    height: 100%;
    width: 240px;
    position:fixed;
    right:0px;
    top:0px;

    z-index:2;

    background: #F2F2F2;

    word-wrap:break-word;

    box-shadow: 0px 2px 4px #999999;
    -moz-box-shadow: 0px 2px 4px #999999;
    -webkit-box-shadow: 0px 2px 4px #999999;
}

/* Footer */

#footer .content{
    padding:1em 3.8em;
    font-size:0.8em;
	color: #999999;
}


/* HEADINGS */

h1.page-title{
    font-size:3em;
    font-weight:300;
    margin:0.5em 0em;
}

.quotebox{
    background:white;
    padding:1em;
	border-radius: 2px;
    box-shadow: 0 1px 4px #DDDDDD;
    -moz-box-shadow: 0 1px 4px #DDDDDD;
    -webkit-box-shadow: 0 1px 4px #DDDDDD;
}