.invisible_doc {
	font-style: italic;
	background-color: #F1F1F1;
	color: silver;
}

.invisible_doc td{
	font-style: italic;
	background-color: #F1F1F1;
	color: silver;
}

.invisible_doc a {
	font-style: italic;
	background-color: #F1F1F1;
	color: silver;
}