.comment {
  text-align: left;
}

table.Documents{
    padding: 2px;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;;
    background-color: #fbfbfb;
}

.DocHead {
   background-color: #fbfbfb;
   color: #727266;
   text-align: center !important;
}


table.Documents th {
    text-align: center!important;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
    font-weight: normal !important;
}

table.Documents td {
        font-size: 10px;
        padding: 5px 4px 4px 4px;
        text-align: center;
}

table.Documents img {
       vertical-align: middle; 
}
