
/****************************************** rich-text-editor bg-tools ******************************************/

.mce-tinymce.mce-container.mce-panel{
    /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.13); */
    /* box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 15%); */
    border: solid 1px #e8e8e8;
    margin-top: 5px;
}

.mce-toolbar-grp.mce-container.mce-panel.mce-last{
    border: 0px !important;
}
.mce-container-body.mce-stack-layout{
    border: 0px !important;
}

.mce-container.mce-menubar.mce-toolbar.mce-first, .mce-toolbar-grp.mce-container.mce-panel.mce-last{
    border: 0px !important;
}


.mce-edit-area.mce-container.mce-panel.mce-stack-layout-item{
    border: 0px !important
}


.mce-statusbar.mce-container.mce-panel.mce-stack-layout-item.mce-last{
    border: 0px !important;
}

.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    color: #333;
}