#marginForm fieldset
{
	display: block;
	margin: 0 0 1em 0;
	border: 0 solid #FFFFFF;
	border-top: 1px solid #84b3fa;
	padding: 0 1em 1em 1em;
	font-size: 12px;
}

#marginForm label
{
	clear: both;
	float: left;
	display: block;
	width: 100%;
	margin-top: 0.2em;
	font-weight: normal;
}

#marginForm label.first
{
	margin-top: 0.2em;
}