.Results {
    padding: 2px 1px 1px 14px;
    list-style: disc;
    color: #727266;
}


table.Search{
    padding: 0px 0px 0px 0px;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.Search th {
    text-align: center !important;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.Search td {
	color: #727266;
	vertical-align: top;
	padding : 5px 4px 4px 4px;
    font-size: 10px;
}