table.xinha_editor td {
	vertical-align: top;
	font-size : 10px;
	padding : 1px 1px 1px 1px;
}

table.unit-navigation {
        width: 100%;
        margin: 0;
        padding: 0;
}
.left {
        text-align: left;
}
.right {
        text-align: right;
}
.center {
        text-align: center;
}
.unit-select {
        text-align: center;
        margin-top: 2em;
        padding-bottom: 2em;
}

table img {
        vertical-align: middle;
}


.topic {
	padding-left: 1em;
}
.topic img {
	padding-right: 10px;
}
.forum {
	background: rgb(237, 236, 223);
}
