td.category {
	background: #E6EDF5;
	color: #4F76A3;
	font-weight:bold;
	text-align:left;
}
.cellpos{
	position:relative;
	vertical-align:middle; 
	text-align:center;
}

form.sort {
 	margin: 0 auto;
	text-align:right;
}

.dropbox_detail {  
		font-size: 10px; 
		font-family: Verdana, Arial, Helvetica; 
}

.dropbox_date {  
		font-style: italic;
}

.dropbox_person {  
		font-weight: bold;
}

.dropbox_listTitle { 
		font-style: bold;
		color: black;
}

table.dropbox {
    padding: 2px;
	vertical-align: top;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.dropbox th {
	padding: 4px;
	vertical-align: top;
	background: #edecdf;
	font-size:10px;
    font-weight: bold;
	color: #727266;
	border-top: 1px solid #edecdf;
	border-bottom: 1px solid #edecdf;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
	font-style : normal;
	font-variant : normal;
}

table.dropbox td {
	padding: 4px;
	vertical-align: top !important;
	font-size:10px;
	color: #727266;
	vertical-align: middle;
}
