td.category {
	background: #E6EDF5;
	color: #4F76A3;
	font-weight:bold;
	text-align:left;
}
.cellpos{
	vertical-align:top; 
	text-align:center;
}

.Group_Operations {
    text-align: center;
    padding: 6px;
    background: #CAC3B5;
    font-size: 11px;
    color: #000000;
    border-top: 1px solid #a33033;
    border-bottom: 1px solid #a33033;
	border-left: 1px solid #CAC3B5;
	border-right: 1px solid #CAC3B5;
}

.Group_Operations td{
    text-align: center;
    padding: 2px !important;
}

table.GroupSum{
    padding: 2px;
    vertical-align: middle;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.GroupSum thead{
	padding: 2px;
	vertical-align: middle;
	border-top: 1px solid #CAC3B5;
	border-bottom: 1px solid #CAC3B5;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
}

table.GroupSum tbody{
    padding: 2px;
    vertical-align: middle;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #CAC3B5;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.GroupSum th{
	text-align: center;
	padding: 4px;
	padding-bottom: 6px;
	padding-top: 6px;
	font-weight: bold;
	font-size:10px !important;
	vertical-align: middle;
	background : #fbfbfb;
}

table.GroupSum td {
	color: #727266;
	vertical-align: top;
	background : #fbfbfb;
	padding : 5px 4px 4px 4px;
}


div#content_login p{
    line-height:1.4;
}
div#navigation{backgroundX:red;}
div#extra{backgroundX:#FF8539}

div#wrapper{float:left;width:99%;margin-right:-300px}
div#content_login{margin-right:350px; padding-leftX:10px;}
div#navigation{float:right;width:300px;}