.toolBar_Button{
    margin-top: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    padding: 0px 0px 0px 0px;
    border: 0px solid #727266;
    background-color: #CAC3B5;
    color: #000000;
    font-weight: bold;
}

.toolBar_Button:hover {
	background-color:white;
}

.Questionnaire_Operations {
    background: #CAC3B5;
    font-size: 11px;
    color: #000000;
    border-top: 1px solid #a33033;
    border-bottom: 1px solid #a33033;
	border-left: 1px solid #CAC3B5;
	border-right: 1px solid #CAC3B5;
}

.Questionnaire_Operations td{
    padding: 6px !important;
}

.Questionnaire_Operations a, a:link, a:active, a:visited {
   color: #000000;
   font-size: 10px;
   font-weight: normal;
   text-decoration: none;
}

.Questionnaire_Operations a:hover {
       text-decoration: underline;
       color: #ffffff;
       font-size: 10px;
}



table.Questionnaire {
    padding: 2px;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.Questionnaire th {
	padding: 4px;
	background: #edecdf;
	font-size:10px;
    font-weight: bold;
	color: #727266;
	font-style : normal;
	font-variant : normal;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

.newQue {
      border-top: 1px solid #727266;
}


table.Questionnaire td {
	padding: 4px;
	font-size:10px;
	color: #727266;
	vertical-align: middle;
}
