/* 
=============================================================
    SASS for UI Inventory of eclass v3.0 - version 0.1006a
=============================================================
*/
/* 
================================================================
    SASS for eclass UI v3.0 - Global styles - version 0.0926a
================================================================
*/
/* COLORS ---------------------------------------------------------------------- */
/* FONTS ------------------------------------------------------------------------- */
/* TRANSITIONS ------------------------------------------------------------------- */
/* MIXINS ------------------------------------------------------------------------------- */
/* CSS ANIMATIONS -----------------------------------------------------------------*/
/* line 113, ../SASS/global.scss */
.transition {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}

@-webkit-keyframes NEW-ITEM-FX {
  0% {
    background: #e8ffcb;
  }
  20% {
    background: #e8ffcb;
  }
  100% {
    background: rgba(232, 255, 203, 0);
  }
}
@-moz-keyframes NEW-ITEM-FX {
  0% {
    background: #e8ffcb;
  }
  20% {
    background: #e8ffcb;
  }
  100% {
    background: rgba(232, 255, 203, 0);
  }
}
@-o-keyframes NEW-ITEM-FX {
  0% {
    background: #e8ffcb;
  }
  20% {
    background: #e8ffcb;
  }
  100% {
    background: rgba(232, 255, 203, 0);
  }
}
@keyframes NEW-ITEM-FX {
  0% {
    background: #e8ffcb;
  }
  20% {
    background: #e8ffcb;
  }
  100% {
    background: rgba(232, 255, 203, 0);
  }
}
/* GLOBAL STYLES -----------------------------------------------------------------*/
/* line 13, ../SASS/inventory.scss */
.delete-action {
  color: #CE6B6B;
}

/* line 14, ../SASS/inventory.scss */
.delete-action:hover {
  background: #CE6B6B !important;
  color: white !important;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* line 16, ../SASS/inventory.scss */
.align-left {
  text-align: left;
}

/* line 17, ../SASS/inventory.scss */
.align-right {
  text-align: right;
}

/* Extend bootstrap style - margins */
/* line 21, ../SASS/inventory.scss */
.no-margin {
  margin: 0px !important;
}

/* line 22, ../SASS/inventory.scss */
.margin-top {
  margin-top: 15px !important;
}

/* line 23, ../SASS/inventory.scss */
.margin-top-thin {
  margin-top: 10px !important;
}

/* line 24, ../SASS/inventory.scss */
.margin-top-fat {
  margin-top: 20px !important;
}

/* line 25, ../SASS/inventory.scss */
.margin-bottom {
  margin-bottom: 15px !important;
}

/* line 26, ../SASS/inventory.scss */
.margin-bottom-thin {
  margin-bottom: 10px !important;
}

/* line 27, ../SASS/inventory.scss */
.margin-bottom-fat {
  margin-bottom: 20px !important;
}

/* line 28, ../SASS/inventory.scss */
.margin-right {
  margin-right: 15px !important;
}

/* line 29, ../SASS/inventory.scss */
.margin-right-thin {
  margin-right: 10px !important;
}

/* line 30, ../SASS/inventory.scss */
.margin-right-fat {
  margin-right: 20px !important;
}

/* line 31, ../SASS/inventory.scss */
.margin-left {
  margin-left: 15px  !important;
}

/* line 32, ../SASS/inventory.scss */
.margin-left-thin {
  margin-left: 10px !important;
}

/* line 33, ../SASS/inventory.scss */
.margin-left-fat {
  margin-left: 20px !important;
}

/* line 34, ../SASS/inventory.scss */
.space-after-icon {
  margin-right: 5px;
}

/* line 35, ../SASS/inventory.scss */
.space-before-icon {
  margin-left: 5px;
}

/* line 37, ../SASS/inventory.scss */
.float-left {
  float: left;
}

/* line 38, ../SASS/inventory.scss */
.float-right {
  float: right;
}

/* line 40, ../SASS/inventory.scss */
.align-left {
  text-align: left !important;
}

/* line 41, ../SASS/inventory.scss */
.align-right {
  text-align: right !important;
}

/* Extend bootstrap style - gutters and paddings */
/* line 46, ../SASS/inventory.scss */
.padding {
  padding: 15px;
}

/* line 47, ../SASS/inventory.scss */
.padding-thin {
  padding: 10px;
}

/* line 48, ../SASS/inventory.scss */
.padding-fat {
  padding: 20px;
}

/* line 49, ../SASS/inventory.scss */
.no-padding {
  padding: 0px;
}

/* line 51, ../SASS/inventory.scss */
.no-gutters {
  padding-right: 0;
  padding-left: 0;
}

/* line 56, ../SASS/inventory.scss */
.add-gutter {
  padding-left: 30px;
  padding-right: 30px;
}

/* line 62, ../SASS/inventory.scss */
.remove-gutter {
  padding-left: 0px;
  padding-right: 0px;
}

/* line 69, ../SASS/inventory.scss */
.whole-row {
  width: 100% !important;
}

/* line 74, ../SASS/inventory.scss */
.place-at-toolbox {
  margin: 0em 0.2em 0.65em 0.2em !important;
}

/* line 80, ../SASS/inventory.scss */
.focused {
  box-shadow: 0 0px 10px #BBBBBB !important;
  -moz-box-shadow: 0 0px 10px #BBBBBB !important;
  -webkit-box-shadow: 0 0px 10px #BBBBBB !important;
}

/* line 85, ../SASS/inventory.scss */
.infotext-sm {
  font-size: 0.8em;
  font-style: italic;
  color: #888888;
}

/* Style for links -------------------------------------------------*/
/* line 97, ../SASS/inventory.scss */
a {
  text-decoration: none;
  color: #4da1e4;
  outline: 0;
}
/* line 103, ../SASS/inventory.scss */
a:hover {
  text-decoration: underline;
  outline: 0;
}
/* line 109, ../SASS/inventory.scss */
a:focus {
  outline: 0;
}
/* line 114, ../SASS/inventory.scss */
a.goto {
  position: relative;
  padding-right: 1.5em !important;
  font-size: 0.75em;
}
/* line 120, ../SASS/inventory.scss */
a.goto:after {
  content: "\f105";
  font-family: "FontAwesome";
  position: absolute;
  display: block;
  right: 0px;
  top: calc(50% - 0.5em);
  width: 1em;
  height: 1em;
  color: #7E7E7E;
}

/* line 136, ../SASS/inventory.scss */
#header_section, #footer_section {
  padding: 0 15px;
}

/* line 139, ../SASS/inventory.scss */
#header_section > div, #footer_section > div {
  padding: 0px;
}

/* Styles for headings, hr and titles --------------------------------------------------*/
/* line 145, ../SASS/inventory.scss */
h1 {
  font-size: 2em;
  font-weight: 300;
}

/* line 151, ../SASS/inventory.scss */
h1.page-title {
  margin: 0em;
  font-weight: 400 !important;
  color: #333;
  font-size: 20px;
}

/* line 162, ../SASS/inventory.scss */
#main h1 {
  color: #444;
}
/* line 167, ../SASS/inventory.scss */
#main h2, #main h3, #main h4, #main h5, #main h6 {
  color: #777;
}

/* line 173, ../SASS/inventory.scss */
.h-separator {
  border-bottom: 1px solid #dbdbdb;
  padding: 0.6em 0em;
  color: #4da1e4;
}

/* line 180, ../SASS/inventory.scss */
hr {
  height: 1px;
  border: none;
  background: #eee;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* line 189, ../SASS/inventory.scss */
.descr_title {
  float: right;
}

/* Font awesome icons seem to be looking better on specific sizes */
/*.fa
{
  font-size:1em !important;
}*/
/* line 203, ../SASS/inventory.scss */
.content-title {
  color: #888888;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 213, ../SASS/inventory.scss */
.page-subtitle {
  color: #555555;
  font-size: 16px;
  margin: 10px 0;
}
/* line 219, ../SASS/inventory.scss */
.page-subtitle a {
  text-decoration: none;
}

/* line 225, ../SASS/inventory.scss */
.page-subtitle-name {
  color: #555555;
  font-size: 18px;
  margin: 10px 0;
}

/* Extend bootstrap style - forms */
/* line 234, ../SASS/inventory.scss */
.form-control {
  border-radius: 2px 2px 2px 2px !important;
  -webkit-border-radius: 2px 2px 2px 2px !important;
  -moz-border-radius: 2px 2px 2px 2px !important;
}

/* BREADCRUMB - Extend bootstrap style -------------------------------------------------------------------*/
/* line 246, ../SASS/inventory.scss */
.breadcrumb {
  padding-left: 0px !important;
  background-color: transparent !important;
  margin-bottom: 1em !important;
  color: #a7a7a7 !important;
  font-size: 0.8em !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05) !important;
}

/* PANEL - Extent bootstrap style (to match old contebox) -------------------------------------------------*/
/* line 261, ../SASS/inventory.scss */
#main-content .panel {
  background: #FFFFFF !important;
  min-height: 2.4em  !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: 0 0px 7px #DDDDDD;
  -moz-box-shadow: 0 0px 7px #DDDDDD;
  -webkit-box-shadow: 0 0px 7px #DDDDDD;
}

/* TOOLBOX PANEL -----------------------------------------------------------------------------------------------*/
/* line 274, ../SASS/inventory.scss */
.toolbox {
  padding: 0.65em 0.65em 0em 0.65em;
  color: #333;
  background: #F0F4F6;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #f8f8f8;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: inset 0px -2px 8px #dddddd;
  -moz-box-shadow: inset 0px -2px 8px #dddddd;
  -webkit-box-shadow: inset 0px -2px 8px #dddddd;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  position: relative;
  text-align: right;
  margin-right: 0em;
  display: inline-block;
}
/* line 289, ../SASS/inventory.scss */
.toolbox ul:not(.dropdown-menu) {
  display: block;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}
/* line 297, ../SASS/inventory.scss */
.toolbox li {
  list-style-type: none;
  display: inline-block;
}
/* line 303, ../SASS/inventory.scss */
.toolbox ul.toolbox-submenu {
  display: none;
}

/* line 311, ../SASS/inventory.scss */
.toolbox:hover .toolbox-submenu {
  display: inline-block;
}

/* line 320, ../SASS/inventory.scss */
.toolbox-border-only {
  padding: 0.65em 0.65em 0em 0.65em;
  color: #333;
  border: 1px solid #d8d8d8;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  position: relative;
  text-align: right;
  margin-right: 0em;
  display: inline-block;
}

/* tiny-icons actions--------------------------------------------------------------------------- */
/* line 343, ../SASS/inventory.scss */
.tiny-icon {
  color: #999;
  font-size: 15px !important;
  text-decoration: none;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 350, ../SASS/inventory.scss */
.tiny-icon .tiny-icon-text {
  font-size: 12px !important;
}

/* line 356, ../SASS/inventory.scss */
.tiny-icon:hover {
  color: #4da1e4;
  text-decoration: none;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* line 363, ../SASS/inventory.scss */
.tiny-icon-rss:hover {
  color: #FFBB4F !important;
  text-decoration: none;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* line 370, ../SASS/inventory.scss */
.tiny-icon-green:hover {
  color: #6BCE6B !important;
  text-decoration: none;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* line 377, ../SASS/inventory.scss */
.tiny-icon-red:hover {
  color: #CE6B6B !important;
  text-decoration: none;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* TOOGLES -----------------------------------------------------------------------------*/
/* line 390, ../SASS/inventory.scss */
.btn-toggle {
  padding: 0px;
  height: 3rem;
  width: 6rem;
  position: relative;
  border-radius: 5rem;
  overflow: hidden;
  background: #F0F4F6;
  box-shadow: inset -3px 0px 2px #dddddd;
  -moz-box-shadow: inset -3px 0px 2px #dddddd;
  -webkit-box-shadow: inset -3px 0px 2px #dddddd;
  border: 1px solid #d8d8d8;
  outline: none !important;
}

/* line 405, ../SASS/inventory.scss */
.btn-toggle.btn-toggle-on {
  background: #4da1e4;
  box-shadow: inset 3px 0px 2px #555555;
  -moz-box-shadow: inset 3px 0px 2px #555555;
  -webkit-box-shadow: inset 3px 0px 2px #555555;
}

/* line 410, ../SASS/inventory.scss */
.btn-toggle:hover span {
  background: #4da1e4;
  color: white;
  box-shadow: 0px 0px 4px #000000;
  -moz-box-shadow: 0px 0px 4px #000000;
  -webkit-box-shadow: 0px 0px 4px #000000;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* line 417, ../SASS/inventory.scss */
.btn-toggle span.on {
  display: none;
}

/* line 421, ../SASS/inventory.scss */
.btn-toggle span.off {
  display: inline-block;
}

/* line 425, ../SASS/inventory.scss */
.btn-toggle.btn-toggle-on span.on {
  display: inline-block;
}

/* line 429, ../SASS/inventory.scss */
.btn-toggle.btn-toggle-on span.off {
  display: none;
}

/* line 433, ../SASS/inventory.scss */
.btn-toggle span {
  border-radius: 5rem;
  text-align: center;
  vertical-align: middle;
  line-height: 3rem;
  display: inline-block;
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  color: #555555;
  box-shadow: 2px 0px 2px #dddddd;
  -moz-box-shadow: 2px 0px 2px #dddddd;
  -webkit-box-shadow: 2px 0px 2px #dddddd;
}

/* line 450, ../SASS/inventory.scss */
.btn-toggle .on {
  right: 0;
  left: auto;
}

/*#doc-toggle
{
  float: right;
  margin:1em 0em;
  margin-top: 0em;
  color: #868686;  
  @include user-select(none);
}
.toggle-sidebar
{
  cursor: pointer;
}*/
/* TOGGLE SWTICH */
/*.my-toggle > *
{
  vertical-align: middle;
}

.my-toggle .txt
{
  font-size:0.75em;
}

input.toggle
{
  position:relative;
  padding-left:5px;
  padding-right:5px;

  @include border-radius(15px);

  -webkit-appearance:button;

  cursor:pointer;  

  border: 1px solid #3D79A8;
  background-color: $color-hover;

  color:#FFF;
  white-space: nowrap;
  overflow:hidden;

  width:4em;
  height:2em;
  
  outline:none;

  @include box-shadow(inset 0px 1px 4px rgba(0, 0, 0,0.2));
}

input.toggle:after
{
  position:absolute;
  content:"";
  top:0px;
  right:0px;
  width:50%;
  height:100%;

  background:#eee;

  border-top: 0.2em solid rgb(253, 253, 253);

  @include border-radius(50%);

  @include box-sizing(border-box);

  @include box-shadow(0px 2px 5px rgba(0, 0, 0,0.5));
}

input.toggle:hover:after
{
  background:white;
}

input.toggle[type=checkbox]:checked
{
  border: 1px solid #aaaaaa;

  background-color: #dddddd;
}

input.toggle[type=checkbox]:checked:after
{
  left:0px;
}*/
/* BUTTONS and styles -------------------------------------------------------------------*/
/* line 555, ../SASS/inventory.scss */
.btn-default-eclass {
  color: #555555;
  outline: 0;
  font-family: "Open Sans";
  font-size: 1em;
  padding: 0.5em 1.2em;
  margin: 0 0.2em;
  display: inline-block;
  position: relative;
  cursor: pointer;
  text-align: center;
  background: white;
  border: 1px solid transparent;
  border-bottom: 1px solid #DADADA;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  box-shadow: 0 0px 7px #DDDDDD;
  -moz-box-shadow: 0 0px 7px #DDDDDD;
  -webkit-box-shadow: 0 0px 7px #DDDDDD;
  /*
    Giving right/reft margin on icons that ain't last/first childs
  */
}
/* line 580, ../SASS/inventory.scss */
.btn-default-eclass > .fa:not(:last-child) {
  margin-right: 10px;
}
/* line 585, ../SASS/inventory.scss */
.btn-default-eclass > .fa:not(:first-child) {
  margin-left: 10px;
}
/* line 590, ../SASS/inventory.scss */
.btn-default-eclass > .fa.fa-caret-down {
  margin-right: 0px !important;
}
/* line 595, ../SASS/inventory.scss */
.btn-default-eclass:hover, .btn-default-eclass:focus {
  text-decoration: none;
  outline: 0;
  background: #4da1e4;
  border-color: #4da1e4;
  border-bottom-color: #3F87C1;
  color: white;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 607, ../SASS/inventory.scss */
.btn-default-eclass:active {
  background: #4da1e4 !important;
  border-color: #4da1e4;
  border-bottom-color: #3F87C1 !important;
  color: white !important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* BUTTON COLORS */
/* line 621, ../SASS/inventory.scss */
.btn-default-eclass.color-green {
  color: white;
  background: #6BCE6B;
  border: 1px solid transparent;
  border-bottom: 1px solid #4AA04A;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
/* line 629, ../SASS/inventory.scss */
.btn-default-eclass.color-green:hover, .btn-default-eclass.color-green:focus {
  text-decoration: none;
  outline: 0;
  background: #4da1e4;
  border-color: #4da1e4;
  border-bottom-color: #3F87C1;
  color: white;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 641, ../SASS/inventory.scss */
.btn-default-eclass.color-green:active {
  background: #4da1e4 !important;
  border-color: #4da1e4;
  border-bottom-color: #3F87C1 !important;
  color: white !important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* line 654, ../SASS/inventory.scss */
.btn-default-eclass.color-red {
  color: white;
  background: #CE6B6B;
  border-bottom: 1px solid #984B4B;
  border-top: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
/* line 662, ../SASS/inventory.scss */
.btn-default-eclass.color-red:hover, .btn-default-eclass.color-red:focus {
  background: #E58080;
  text-decoration: none;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 671, ../SASS/inventory.scss */
.btn-default-eclass.color-red:active {
  background: #E58080 !important;
  outline: 0 !important;
  border-bottom-color: #984B4B !important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* BUTTON SIZES */
/* line 685, ../SASS/inventory.scss */
.btn-default-eclass.size-xl {
  font-size: 1.2em;
}

/* line 690, ../SASS/inventory.scss */
.btn-default-eclass.size-l {
  font-size: 1.1em;
}

/* line 695, ../SASS/inventory.scss */
.btn-default-eclass.size-s {
  font-size: 0.85em;
}

/* flippin btn */
/* line 706, ../SASS/inventory.scss */
.btn-flippin {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: transparent;
  background: transparent;
  border-radius: .25rem;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

/* line 722, ../SASS/inventory.scss */
.btn-flippin,
.btn-flippin:after,
.btn-flippin:before {
  padding: .6875rem 2rem;
  -webkit-transition: -webkit-transform 0.75s,background-color .125s;
  -moz-transition: -moz-transform 0.75s,background-color .125s;
  -ms-transition: -ms-transform 0.75s,background-color .125s;
  transition: transform 0.75s,background-color .125s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* line 736, ../SASS/inventory.scss */
.btn-flippin:after,
.btn-flippin:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: .25rem;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 751, ../SASS/inventory.scss */
.btn-flippin:hover:before {
  background: #4da1e4;
  color: white;
}

/* line 756, ../SASS/inventory.scss */
.btn-flippin:before {
  z-index: 2;
  color: #fff;
  background-color: #4da1e4;
  color: #9C9C9C;
  background-color: #FFFFFF;
  content: attr(data-label);
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* line 767, ../SASS/inventory.scss */
.btn-flippin:after {
  z-index: 1;
  background-color: #999;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(data:image/gif;base64,R0lGODlhEAAQAPIAAJmZmf///7CwsOPj4////9fX18rKysPDwyH+GkNyZWF0ZWQgd2l0aCBhamF4bG9hZC5pbmZvACH5BAAKAAAAIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQACgABACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkEAAoAAgAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkEAAoAAwAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkEAAoABAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQACgAFACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQACgAGACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAAKAAcALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==);
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
  content: '';
}

/* line 780, ../SASS/inventory.scss */
.btn-flippin:active:before {
  background-color: #3571c8;
}

/* line 784, ../SASS/inventory.scss */
.btn-flippin.loading {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

/* TABLE LIST -----------------------------------------------------------------------------------------------*/
/* line 801, ../SASS/inventory.scss */
ul.tablelist {
  font-size: 0.8em;
  margin: 0px;
  padding: 0px;
  cursor: default;
}
/* line 808, ../SASS/inventory.scss */
ul.tablelist li.list-item {
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  list-style-type: none;
  border-bottom: 1px solid #eee;
  background: white;
  overflow: hidden;
}
/* line 818, ../SASS/inventory.scss */
ul.tablelist li.list-item:last-child {
  border-bottom: none;
}
/* line 823, ../SASS/inventory.scss */
ul.tablelist li.list-item .max-height {
  max-height: 3.35em;
}
/* line 828, ../SASS/inventory.scss */
ul.tablelist li.list-item .item-right-cols > span:not(:last-child) {
  border-right: 1px solid #eee;
}
/* line 833, ../SASS/inventory.scss */
ul.tablelist li.list-item .item-right-cols > span:first-child {
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
/* line 839, ../SASS/inventory.scss */
ul.tablelist li.list-item .item-right-cols {
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
  max-width: 95%;
}
/* line 848, ../SASS/inventory.scss */
ul.tablelist li.list-item .item-right-cols > span,
ul.tablelist li.list-item .item-title {
  display: inline-block;
}
/* line 854, ../SASS/inventory.scss */
ul.tablelist li.list-item .item-wholeline {
  padding: 0.7em 0;
  /*padding-right: 60px;*/
  display: inline-block;
}
/* line 861, ../SASS/inventory.scss */
ul.tablelist li.list-item .item-right-cols .item-content {
  font-size: 0.9em;
}
/* line 866, ../SASS/inventory.scss */
ul.tablelist li.list-item .item-right-cols a {
  width: 1em;
  padding: 1em 1.4em;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}
/* line 876, ../SASS/inventory.scss */
ul.tablelist li.list-item .item-right-cols .item-date {
  color: rgba(0, 0, 0, 0.6);
  background: white;
  width: 4.5em;
  text-align: center;
  vertical-align: top;
}
/* line 885, ../SASS/inventory.scss */
ul.tablelist li.list-item .item-right-cols .item-options {
  padding: 0px;
  margin-left: -0.26em;
  padding-right: 3.8em;
}
/* line 892, ../SASS/inventory.scss */
ul.tablelist li.list-item .item-right-cols .item-options .options-icon {
  position: absolute;
  display: inline-block;
  top: 0px;
  right: 0px;
  width: 1em;
  text-align: center;
  padding: 1em 1.4em;
  color: #7E7E7E;
  background: #F8F8F8;
}
/* line 905, ../SASS/inventory.scss */
ul.tablelist li.list-item .item-right-cols .item-options:hover .options-icon {
  background: #4da1e4;
  color: white;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 912, ../SASS/inventory.scss */
ul.tablelist li.list-item .item-right-cols .options-content {
  display: block;
  margin-right: -25em;
  background: #333333;
  color: white;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 924, ../SASS/inventory.scss */
ul.tablelist li.list-item .item-options:hover .options-content {
  margin-right: 0em;
  background: #333333;
}
/* line 930, ../SASS/inventory.scss */
ul.tablelist li.list-item .item-right-cols .item-options a {
  color: white;
}
/* line 934, ../SASS/inventory.scss */
ul.tablelist li.list-item .item-right-cols .item-options a:hover {
  color: white;
  background: #4da1e4;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 941, ../SASS/inventory.scss */
ul.tablelist li.list-item .text-title {
  font-size: 1.3em;
  padding-bottom: 5px;
}
/* line 947, ../SASS/inventory.scss */
ul.tablelist li.list-item .text-grey {
  font-style: italic;
  color: #999999;
}
/* line 957, ../SASS/inventory.scss */
ul.tablelist li.list-item:first-child,
ul.tablelist li.list-item:first-child .item-date {
  -webkit-animation: NEW-ITEM-FX 3s 1;
  -moz-animation: NEW-ITEM-FX 3s 1;
  -o-animation: NEW-ITEM-FX 3s 1;
  animation: NEW-ITEM-FX 3s 1;
}
/* line 965, ../SASS/inventory.scss */
ul.tablelist li.list-item:hover {
  background: #FCFCFC;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* BOX LIST -----------------------------------------------------------------------------------------------*/
/* line 978, ../SASS/inventory.scss */
.boxlist {
  padding: 0px;
}
/* line 983, ../SASS/inventory.scss */
.boxlist .list-item {
  display: block;
  position: relative;
  width: 100%;
  padding: 0em;
  margin-bottom: 1em;
  overflow: hidden;
  /*important for the transition*/
  list-style-type: none;
  background: #FFFFFF;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 996, ../SASS/inventory.scss */
.boxlist .list-item.hidden {
  background: rgba(255, 255, 255, 0.6);
}
/* line 1001, ../SASS/inventory.scss */
.boxlist .list-item.hidden .item-content {
  opacity: 0.6;
}
/* line 1006, ../SASS/inventory.scss */
.boxlist .list-item:hover .side-header {
  color: #eee;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 1012, ../SASS/inventory.scss */
.boxlist .list-item .item-content {
  /*width: 93%;*/
  /* a fallback for calc */
  /*width: -webkit-calc(100% - 4em);
  width: -moz-calc(100% - 4em);
  width: calc(100% - 4em);*/
  width: 100%;
  position: relative;
  display: inline-block;
  padding-left: 1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 1025, ../SASS/inventory.scss */
.boxlist .item-header {
  padding: 1em 4em 1em 0em;
  border-bottom: 1px solid #eee;
}
/* line 1031, ../SASS/inventory.scss */
.boxlist .item-header h4.item-title {
  margin: 0px;
  font-size: 15px;
}
/* line 1037, ../SASS/inventory.scss */
.boxlist .item-header .item-date {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.4);
}
/* line 1043, ../SASS/inventory.scss */
.boxlist .item-body {
  padding: 1em 1em 1em 0em;
  min-height: 5em;
  font-size: 14px;
}
/* line 1050, ../SASS/inventory.scss */
.boxlist .list-item .item-side {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  color: #eee;
  -webkit-transition: all 50ms linear;
  -moz-transition: all 50ms linear;
  -o-transition: all 50ms linear;
  -ms-transition: all 50ms linear;
  transition: all 50ms linear;
}
/* line 1065, ../SASS/inventory.scss */
.boxlist .list-item .option-button {
  display: inline-block;
  position: relative;
  z-index: 9;
  padding: 1em 1.4em;
  background: #F8F8F8;
  color: #7E7E7E;
  text-align: center;
  width: 1em;
  /* as long as its a content box... */
  border-radius: 0px 2px 0px 0px;
  -webkit-border-radius: 0px 2px 0px 0px;
  -moz-border-radius: 0px 2px 0px 0px;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
/* line 1079, ../SASS/inventory.scss */
.boxlist .list-item .item-side .item-options:hover .option-button {
  background: #4da1e4;
  color: white;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 1087, ../SASS/inventory.scss */
.boxlist .list-item .item-side .item-options ul {
  position: relative;
  z-index: 2;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  margin-right: -100%;
  background: #333333;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 1099, ../SASS/inventory.scss */
.boxlist .list-item .item-side .item-options:hover ul {
  margin-right: 0%;
}
/* line 1104, ../SASS/inventory.scss */
.boxlist .list-item .item-side .item-options > * {
  float: right;
}
/* line 1109, ../SASS/inventory.scss */
.boxlist .list-item .item-side:hover .item-options ul {
  display: block;
}
/* line 1114, ../SASS/inventory.scss */
.boxlist .list-item .item-options ul li {
  display: inline-block;
  padding: 1em 1.4em;
  z-index: 2;
  width: 1em;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
/* line 1127, ../SASS/inventory.scss */
.boxlist .list-item .item-options ul li:hover {
  background: #4da1e4;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* Course-home lesson banner */
/* line 1139, ../SASS/inventory.scss */
.banner-image-wrapper {
  overflow: hidden;
  padding: 0;
}

/*.banner-image-wrapper img.banner-image{
    max-width: none;
}*/
/* Course-home licence box */
/* line 1150, ../SASS/inventory.scss */
.license_info_box {
  text-align: center;
}
/* line 1154, ../SASS/inventory.scss */
.license_info_box img {
  width: 100px;
  margin: 8px 0 5px 0;
}

/* COURSE MAIN INFO CONTAINER - TODO - CAN I REMOVE THIS? -------------------------------------------------------*/
/*
#lesson-banner
{
  position: relative;
  min-height: 13em;

  .banner-left
  {
    width: 40%;    
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    margin-right:1em;
    padding: 1em;

    .banner-image
    {
      width: 100%;
      height: 100%;
      position: relative;
      @include border-radius(2px 0px 0px 2px);
      @include background-size(cover);

      &:after
      {
        position: absolute;
        top: 0px;
        left: 0px;
        content: "";
        display: block;
        width: 100%;
        height: 100%;
       
      }

    }
  }

  .banner-content
  {
    margin-left: 40%;
    padding:1em;
    @include box-sizing(border-box);

    .banner-description
    {
      font-size:0.8em;
      min-height: 6em;
      line-height: 1.7em;
    }

    hr
    {
      margin-bottom: 0.8em;
    }

  }
}*/
/* LABEL -------------------------------------------------------------------------------- */
/*.label
{
  font-size: 0.75em !important;
  display: inline-block;
  margin: 0 0.5em 0.8em 0;
  position: relative;

  border: 1px solid rgb(231, 231, 231);
  padding: .5em;
  border-radius: 2px;

  cursor: default;

  color:#A7A7A7;

  @include transition(background 100ms linear);

  > span{        
    font-weight: 600;
    color: #808080;
  }

  &:hover{
    background: #e7e7e7;
    color: #3D3D3D;
  }
}*/
/* DROPDOWN */
/*
.button.dropdown.opened{

  background: $color-hover!important;

  border-bottom-color: #3F87C1;

  color:white;

  .dropdown-menu{
    display:block;

    @include transition(all 150ms linear 1s);
  }

}

.button.dropdown.open-on-hover:hover{
  .dropdown-menu{
    display: block;
  }
}

ul.dropdown-menu{
  display: none;

  position: absolute;

  top: calc(100% + 0.1em);

  left: -1px;
  z-index: 1000;
  float: left;

  min-width: 100%;

  padding: 5px 0;
  margin: 2px 0 0;

  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);

  background-clip: padding-box;

  @include border-radius(2px);

  @include box-shadow(0px 6px 12px rgba(0,0,0,.175));
}


ul.dropdown-menu:before{
  content: "";
  position: absolute;
  background: transparent;
  height:100%;
  width:100%;
  top:-0.4em;
  left:0px;
  z-index:-1;
}

ul.dropdown-menu li a{
  display: block;
  text-align: left;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}


.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  text-decoration: none;
  color: white;
  background-color: #4da1e4;
}*/
/* PAGINATION ------------------------------------------------------------------- */
/*
.my-pager
{
  margin:1em 0em;
  text-align: right;

  font-size: 0.85em;
}

.my-pager .items > .button
{
  padding:0.5em 0.8em;
  vertical-align: middle;
  cursor:pointer;
}

.my-pager .page-number
{
}

.my-pager .active
{  
  color: $color-hover!important;
  border-top: none;
  border-bottom: none;
  background: #E4E4E4;
  cursor:default!important;

  border: 1px solid #CECECE;

  @include box-shadow(inset 0px 2px 5px #D3D3D3);
}

.my-pager .items > span:hover
{
  color:$color-hover;
}*/
/* INPUT TEXTAREA SELECT ----------------------------------------------------------------- */
/*
input,
textarea{
  width: 100%;
}

input,
textarea,select
{
  font-family: $font-default;
  padding: 0.5em;
  
  border: 1px solid #D5D5D5;
  @include border-radius(2px);
  
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  
  @inlcude transition(all 150ms linear);
}

input:focus,
textarea:focus,
select:focus{
  border-color: #66afe9;
  outline: 0;
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

textarea{
  resize: vertical;
}*/
/* TAG & LABEL ------------------------------------------------------------------- */
/*
.tag {
  display: inline;
  padding: 0.4em;
  font-size: 0.8em;
  line-height: 1;
  color: #fff;
  background: #999;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius(.25em);
}

.label-group{
    padding:2em 0em;
    padding-top:2.5em;
  .title{
    display:inline-block;
    margin-right: 1em;
    font-weight: 600;
    font-size:0.85em;
    opacity: 0.6;

  }  
}

}*/
/* MODAL WINDOWS - http://tympanus.net/Development/ModalWindowEffects/ -------------------------------------------*/
/*
.md-modal.color-dark .md-content{
  background: #2E3033!important;
}

.md-modal .md-content p{
  font-size: 0.65em;
}

.md-modal .modal-icon{
  margin-right:10px;
}

.md-modal .md-close{
  background:rgba(0,0,0,.2);

  border:none;

  text-transform: uppercase;

  color:#eee;

  padding:0.5em 1em;

  font-size:0.75em;

  cursor:pointer;

  @include border-radius(2px);
}

.md-modal .md-close:hover{  
  background:rgba(0,0,0,.3);
  color:white;
}

.modal-overlay-bg-dark{
  background: rgba(35, 35, 35, 0.8)!important;
}*/
/* Action Button ------------------------------------------------------------------- */
/* line 1540, ../SASS/inventory.scss */
.opt-btn-wrapper {
  position: relative;
  width: 56px;
  height: 48px;
}

/* line 1546, ../SASS/inventory.scss */
.opt-btn {
  position: absolute;
  background-color: #F8F8F8;
}

/* line 1551, ../SASS/inventory.scss */
.opt-btn:hover {
  background-color: #4da1e4 !important;
  color: white !important;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* line 1557, ../SASS/inventory.scss */
.opt-btn-more-wrapper {
  position: absolute;
  width: 56px;
  height: 48px;
  right: 0px;
  overflow: hidden;
}

/* line 1565, ../SASS/inventory.scss */
.opt-btn-more-tool {
  float: left;
}

/* line 1569, ../SASS/inventory.scss */
.tool-btn {
  width: 56px;
  height: 48px;
  cursor: pointer;
  text-align: center;
  line-height: 48px;
  color: #7e7e7e;
}

/* line 1578, ../SASS/inventory.scss */
.tool-btn a {
  display: block;
  width: 56px;
  height: 48px;
  color: white;
  background-color: #232C3A;
}

/* line 1586, ../SASS/inventory.scss */
.tool-btn.delete a {
  color: #CE6B6B;
}

/* line 1590, ../SASS/inventory.scss */
.tool-btn.delete a:hover {
  color: white;
  background-color: #CE6B6B;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* line 1597, ../SASS/inventory.scss */
.tool-btn a:hover {
  color: white;
  background-color: #4da1e4;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* Action Bar ------------------------------------------------------------------- */
/* line 1607, ../SASS/inventory.scss */
.action-bar-wrapper ul {
  padding: 0px;
  margin: 0px;
  /*li a{
      color: #333;
  }*/
}

/* line 1616, ../SASS/inventory.scss */
ul.expandable {
  display: none;
  margin-top: 9px;
}
/* line 1620, ../SASS/inventory.scss */
ul.expandable.secondary-active {
  display: block;
}

/* Datatables ---------------------------------------------------------*/
/* line 1626, ../SASS/inventory.scss */
.not_visible {
  color: rgba(3, 3, 3, 0.3);
  font-style: italic;
}

/* line 1631, ../SASS/inventory.scss */
tr.not_visible td:not(:last-child) {
  color: rgba(3, 3, 3, 0.3);
  font-style: italic;
}
/* line 1634, ../SASS/inventory.scss */
tr.not_visible td:not(:last-child) a {
  color: rgba(3, 3, 3, 0.3);
  font-style: italic;
}

/* theme.html Leftnav and Maincontent Columns equal heights -------------------------------------------*/
/* line 1643, ../SASS/inventory.scss */
.row {
  position: relative !important;
}

/* line 1647, ../SASS/inventory.scss */
#leftnav.no-embed {
  top: -70px;
}

/* line 1651, ../SASS/inventory.scss */
.row-main {
  padding-bottom: 2em;
  padding-top: 1em;
}

/* line 1655, ../SASS/inventory.scss */
#background-cheat {
  position: absolute;
  background-color: #fafafa;
  height: 100%;
  right: 0px;
  padding: 0px;
}

/* line 1664, ../SASS/inventory.scss */
#my-courses .panel .alert {
  margin: 15px;
}

/*# sourceMappingURL=inventory.css.map */
/* line 1671, ../SASS/inventory.scss */
th.option-btn-cell {
  width: 56px;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/* line 1677, ../SASS/inventory.scss */
td.option-btn-cell {
  width: 56px;
  padding: 0px !important;
}

/* line 1681, ../SASS/inventory.scss */
.container {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 1686, ../SASS/inventory.scss */
#Frame {
  padding: 0 0;
  margin: 0 0;
}

/* line 1691, ../SASS/inventory.scss */
.side_content {
  padding-top: 24px;
}

/* line 1696, ../SASS/inventory.scss */
#dropboxTabs .nav-tabs {
  margin-bottom: 15px;
}

/* line 1700, ../SASS/inventory.scss */
#profile_menu_dropdown ul li:last-child {
  border-top: 1px #ddd solid;
}

/* line 1704, ../SASS/inventory.scss */
#portfolio_lessons_filter, #inbox_table_filter, #outbox_table_filter {
  position: relative;
}
/* line 1707, ../SASS/inventory.scss */
#portfolio_lessons_filter:before, #inbox_table_filter:before, #outbox_table_filter:before {
  position: absolute;
  font-family: FontAwesome;
  top: 6px;
  right: 10px;
  content: "\f002";
  color: #999;
}
/* line 1715, ../SASS/inventory.scss */
#portfolio_lessons_filter label, #inbox_table_filter label, #outbox_table_filter label {
  margin: 0 0 10px 0;
}
/* line 1718, ../SASS/inventory.scss */
#portfolio_lessons_filter input, #inbox_table_filter input, #outbox_table_filter input {
  margin: 0px;
  padding-right: 25px;
}

/* line 1723, ../SASS/inventory.scss */
table#portfolio-lessons tr {
  padding: 5px 0;
}

/* line 1728, ../SASS/inventory.scss */
.panel-footer .event {
  display: inline-block;
  margin-right: 10px;
}

/* line 1734, ../SASS/inventory.scss */
p.link-to-more {
  text-align: right;
  font-size: 12px;
  margin: 0px;
}

/* line 1740, ../SASS/inventory.scss */
table.dataTable tbody td.right-cell {
  border-left: 1px solid #ddd;
  line-height: 56px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 40px;
}

/* line 1748, ../SASS/inventory.scss */
#calendar_wrapper {
  margin-bottom: 25px;
}
/* line 1751, ../SASS/inventory.scss */
#calendar_wrapper .calendar-header {
  margin-top: 20px;
  margin-bottom: 15px;
}
/* line 1755, ../SASS/inventory.scss */
#calendar_wrapper .calendar-header #calendar-header {
  border-bottom: 1px #999 solid;
}
/* line 1759, ../SASS/inventory.scss */
#calendar_wrapper .calendar-header h4 {
  margin: 0px;
  padding: 0px;
  line-height: 50px;
}
/* line 1765, ../SASS/inventory.scss */
#calendar_wrapper .calendar-header .form-inline {
  padding: 10px 0;
}

/* Calendar - Extend style of bootstrap calendar ------------------------------------------------------------------*/
/* line 1774, ../SASS/inventory.scss */
span[data-cal-date] {
  margin-right: 5px !important;
  margin-top: 5px !important;
}

/* line 1780, ../SASS/inventory.scss */
.event-legend {
  font-size: 11px;
  color: #666;
  line-height: 13px;
}
/* line 1784, ../SASS/inventory.scss */
.event-legend .event {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* line 1790, ../SASS/inventory.scss */
.event {
  width: 14px !important;
  height: 14px !important;
  opacity: 0.7 !important;
  border-radius: 7px !important;
  border: 0px !important;
  margin-bottom: 4px !important;
  box-shadow: 0 0px 0px #BBBBBB !important;
  -moz-box-shadow: 0 0px 0px #BBBBBB !important;
  -webkit-box-shadow: 0 0px 0px #BBBBBB !important;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 1802, ../SASS/inventory.scss */
.event:hover {
  opacity: 1 !important;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* line 1808, ../SASS/inventory.scss */
#cal-slide-content {
  background: #232C3A !important;
  background-image: none;
}
