/* 
=============================================================
    SASS for UI Inventory of eclass v3.0 - version 0.1006a
=============================================================
*/
/* 
================================================================
    SASS for eclass UI v3.0 - Global styles - version 0.0926a
================================================================
*/
/* COLORS ---------------------------------------------------------------------- */
/* FONTS ------------------------------------------------------------------------- */
/* TRANSITIONS ------------------------------------------------------------------- */
/* MIXINS ------------------------------------------------------------------------------- */
/* CSS ANIMATIONS -----------------------------------------------------------------*/
/* line 114, ../SASS/global.scss */
.transition {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}

@-webkit-keyframes NEW-ITEM-FX {
  /* line 120, ../SASS/global.scss */
  0% {
    background: #e8ffcb;
  }

  /* line 121, ../SASS/global.scss */
  20% {
    background: #e8ffcb;
  }

  /* line 122, ../SASS/global.scss */
  100% {
    background: rgba(232, 255, 203, 0);
  }
}

@-moz-keyframes NEW-ITEM-FX {
  /* line 128, ../SASS/global.scss */
  0% {
    background: #e8ffcb;
  }

  /* line 129, ../SASS/global.scss */
  20% {
    background: #e8ffcb;
  }

  /* line 130, ../SASS/global.scss */
  100% {
    background: rgba(232, 255, 203, 0);
  }
}

@-o-keyframes NEW-ITEM-FX {
  /* line 136, ../SASS/global.scss */
  0% {
    background: #e8ffcb;
  }

  /* line 137, ../SASS/global.scss */
  20% {
    background: #e8ffcb;
  }

  /* line 138, ../SASS/global.scss */
  100% {
    background: rgba(232, 255, 203, 0);
  }
}

@keyframes NEW-ITEM-FX {
  /* line 144, ../SASS/global.scss */
  0% {
    background: #e8ffcb;
  }

  /* line 145, ../SASS/global.scss */
  20% {
    background: #e8ffcb;
  }

  /* line 146, ../SASS/global.scss */
  100% {
    background: rgba(232, 255, 203, 0);
  }
}

/* GLOBAL STYLES -----------------------------------------------------------------*/
/* Font awesome icons seem to be looking better on specific sizes */
/*.fa
{
  font-size:1em !important;
}*/
/* theme.html Leftnav and Maincontent Columns equal heights -------------------------------------------*/
/* line 27, ../SASS/inventory.scss */
div.row.oc-metedata-list ul li:first-child {
  padding-left: 10px;
}
/* line 30, ../SASS/inventory.scss */
div.row.oc-metedata-list ul li {
  padding-left: 25px;
}
/* line 32, ../SASS/inventory.scss */
div.row.oc-metedata-list ul li .badge.valid {
  background-color: #006400;
}
/* line 35, ../SASS/inventory.scss */
div.row.oc-metedata-list ul li .badge.not-valid {
  background-color: #ad2121;
}

/* line 44, ../SASS/inventory.scss */
.opencourses .inner_opencourses span.opencourse_header {
  display: block;
  font-size: 18px;
  color: #aaa;
  text-align: center;
}
/* line 51, ../SASS/inventory.scss */
.opencourses .inner_opencourses div .num_sub_wrapper {
  padding-top: 15px;
}
/* line 54, ../SASS/inventory.scss */
.opencourses .inner_opencourses div span {
  display: block;
}
/* line 57, ../SASS/inventory.scss */
.opencourses .inner_opencourses div .opencourse_link {
  font-size: 16px;
  color: #444;
  padding: 8px 0px 14px 0;
  text-align: center;
}
/* line 63, ../SASS/inventory.scss */
.opencourses .inner_opencourses div .opencourse_num {
  font-size: 40px;
  float: left;
  font-weight: 900;
  height: 40px;
  line-height: 40px;
  padding: 0 3px;
}
/* line 71, ../SASS/inventory.scss */
.opencourses .inner_opencourses div .opencourse_num_text {
  padding: 0px;
}
/* line 74, ../SASS/inventory.scss */
.opencourses .inner_opencourses div .opencourse_num_text a {
  display: block;
}
/* line 78, ../SASS/inventory.scss */
.opencourses .inner_opencourses div > div > div {
  float: right;
}
/* line 81, ../SASS/inventory.scss */
.opencourses .inner_opencourses div .opencourse_sub {
  float: left;
  background-color: #428bca;
  height: 40px;
  color: white;
  font-size: 13px;
  padding: 0px 15px;
}
/* line 89, ../SASS/inventory.scss */
.opencourses .inner_opencourses div .opencourse_triangle {
  float: left;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #428bca;
  width: 0px;
  height: 0px;
}
/* line 98, ../SASS/inventory.scss */
.opencourses .inner_opencourses a:hover {
  text-decoration: none;
}

/* line 103, ../SASS/inventory.scss */
div.glossary-categories a:hover {
  text-decoration: none;
}
/* line 106, ../SASS/inventory.scss */
div.glossary-categories td.space-left {
  padding-left: 25px;
}

/* line 111, ../SASS/inventory.scss */
.list-header {
  background-color: #eeeeee !important;
  color: #777777 !important;
}

/* line 115, ../SASS/inventory.scss */
.panel.opencourses-national {
  min-height: 2px;
}
/* line 119, ../SASS/inventory.scss */
.panel.opencourses-national a {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #666;
  color: white;
  padding: 15px 5px;
  height: 100%;
  text-align: center;
}
/* line 129, ../SASS/inventory.scss */
.panel.opencourses-national a:hover {
  text-decoration: none;
  color: white;
}

/* line 134, ../SASS/inventory.scss */
.no-borders {
  border: 0px;
}

/* line 138, ../SASS/inventory.scss */
#dropboxTabs .nav-tabs {
  margin-bottom: 15px;
}

/* line 142, ../SASS/inventory.scss */
#profile_menu_dropdown ul li:last-child {
  border-top: 1px #ddd solid;
}

/* line 145, ../SASS/inventory.scss */
.add-unit-btn {
  line-height: 37px;
  font-size: 22px;
  margin: 0px 10px;
  color: #5cb85c;
}

/* line 151, ../SASS/inventory.scss */
.course-info-title {
  margin-bottom: 10px;
}
/* line 153, ../SASS/inventory.scss */
.course-info-title h4 {
  line-height: 30px;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  color: #666;
}
/* line 161, ../SASS/inventory.scss */
.course-info-title .edit-course-title {
  margin: 0px 15px;
}
/* line 163, ../SASS/inventory.scss */
.course-info-title .edit-course-title i {
  font-size: 16px;
  line-height: 30px;
  color: #666;
  text-decoration: none;
  font-weight: bold;
}
/* line 170, ../SASS/inventory.scss */
.course-info-title .edit-course-title i:hover {
  color: #4DA1E4;
}

/* line 175, ../SASS/inventory.scss */
ul.sharinglist li a i {
  color: #666;
}

/* line 178, ../SASS/inventory.scss */
ul.sharinglist li a i:hover {
  color: #333;
}

/* line 182, ../SASS/inventory.scss */
ul.front-announcements, .single_announcement {
  list-style: none;
  padding-left: 0px;
}
/* line 185, ../SASS/inventory.scss */
ul.front-announcements li, .single_announcement li {
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}
/* line 188, ../SASS/inventory.scss */
ul.front-announcements li a:hover, .single_announcement li a:hover {
  text-decoration: none;
}
/* line 192, ../SASS/inventory.scss */
ul.front-announcements li:first-child, .single_announcement li:first-child {
  padding-top: 0px;
}
/* line 195, ../SASS/inventory.scss */
ul.front-announcements li:last-child, .single_announcement li:last-child {
  padding-bottom: 0px !important;
}
/* line 198, ../SASS/inventory.scss */
ul.front-announcements .announcement-title, .single_announcement .announcement-title {
  font-weight: bold;
  font-size: 15px;
}
/* line 202, ../SASS/inventory.scss */
ul.front-announcements .announcement-date, .single_announcement .announcement-date {
  font-style: italic;
  color: #777;
  font-size: 13px;
  line-height: 30px;
}
/* line 208, ../SASS/inventory.scss */
ul.front-announcements .announcement-main, .single_announcement .announcement-main {
  padding: 10px;
}
/* line 211, ../SASS/inventory.scss */
ul.front-announcements .announcements-more, .single_announcement .announcements-more {
  text-align: right;
}
/* line 217, ../SASS/inventory.scss */
ul.front-announcements li:last-child, .single_announcement li:last-child {
  border-bottom: none;
  padding-bottom: 10px;
}

/* line 224, ../SASS/inventory.scss */
.dataTables_filter {
  position: relative;
}
/* line 226, ../SASS/inventory.scss */
.dataTables_filter:before {
  position: absolute;
  font-family: FontAwesome;
  top: 6px;
  right: 10px;
  content: "\f002";
  color: #999;
}
/* line 234, ../SASS/inventory.scss */
.dataTables_filter label {
  margin: 0 0 10px 0;
  width: 100%;
}
/* line 238, ../SASS/inventory.scss */
.dataTables_filter input {
  margin: 0px !important;
  padding-right: 25px;
}

/* line 244, ../SASS/inventory.scss */
table#portfolio-lessons tr {
  padding: 5px 0;
}

/* line 248, ../SASS/inventory.scss */
.navbar-toggle {
  border: none;
  margin-left: 8px;
  border-right: 1px solid #e7e7e7;
  border-radius: 0px;
  margin: 0px;
  padding-left: 15px;
  padding-right: 15px;
  height: 52px;
}

/* line 259, ../SASS/inventory.scss */
.quick-change-pwd {
  text-align: right;
  font-size: 11px;
}

/* line 263, ../SASS/inventory.scss */
#scrollToTop {
  display: none;
  position: fixed;
  right: 0px;
  padding-right: 45px;
  bottom: 15px;
}

/* line 270, ../SASS/inventory.scss */
#scrollToTop i {
  padding: 0 0 10px 0;
  color: #a7a7a7;
  cursor: pointer;
}

/* line 276, ../SASS/inventory.scss */
.footer span {
  line-height: 24px;
}

/* line 279, ../SASS/inventory.scss */
.panel-footer .event-legend > div {
  margin-bottom: 5px;
}

/* line 283, ../SASS/inventory.scss */
.panel-footer .event {
  display: inline-block;
  margin-right: 8px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

/* line 291, ../SASS/inventory.scss */
p.link-to-more {
  text-align: right;
  font-size: 12px;
  margin: 0px;
}

/* line 297, ../SASS/inventory.scss */
table.dataTable tbody td.right-cell {
  border-left: 1px solid #ddd;
  line-height: 56px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 40px;
}

/* line 304, ../SASS/inventory.scss */
div.profile-pers-info-name {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 10px;
}

/* line 310, ../SASS/inventory.scss */
div#profile-about-me {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 316, ../SASS/inventory.scss */
.extapp table.extapp-table thead.list-header td {
  padding: 10px;
}
/* line 321, ../SASS/inventory.scss */
.extapp table.extapp-table tr td {
  padding: 20px;
}

/* line 326, ../SASS/inventory.scss */
#calendar_wrapper {
  margin-bottom: 25px;
}
/* line 329, ../SASS/inventory.scss */
#calendar_wrapper .calendar-header {
  margin-bottom: 15px;
}
/* line 333, ../SASS/inventory.scss */
#calendar_wrapper .calendar-header #calendar-header {
  border-bottom: 1px #999 solid;
}
/* line 337, ../SASS/inventory.scss */
#calendar_wrapper .calendar-header h4 {
  margin: 0px;
  padding: 0px;
  line-height: 50px;
}
/* line 343, ../SASS/inventory.scss */
#calendar_wrapper .calendar-header .form-inline {
  padding: 10px 0;
}

/* Calendar - Extend style of bootstrap calendar ------------------------------------------------------------------*/
/* line 353, ../SASS/inventory.scss */
span[data-cal-date] {
  margin-right: 5px !important;
  margin-top: 5px !important;
}

/* line 358, ../SASS/inventory.scss */
.event-legend {
  font-size: 11px;
  color: #666;
  line-height: 10px;
}
/* line 362, ../SASS/inventory.scss */
.event-legend .event {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

/* line 369, ../SASS/inventory.scss */
.event {
  width: 14px;
  height: 14px;
  opacity: 0.7 !important;
  border-radius: 7px;
  border: 0px !important;
  margin-bottom: 4px;
  box-shadow: 0 0px 0px #bbbbbb !important;
  -moz-box-shadow: 0 0px 0px #bbbbbb !important;
  -webkit-box-shadow: 0 0px 0px #bbbbbb !important;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 380, ../SASS/inventory.scss */
.event:hover {
  opacity: 1 !important;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* line 387, ../SASS/inventory.scss */
#cal-slide-content {
  background: #232c3a !important;
  background-image: none;
}
