html {
    margin-bottom: 1px;
    height: 99%!important;
    height: auto;
}

body {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 1px;
    height: 99%!important;
    background-color: #ffffff;
    font-family: "Helvetica", Verdana, Arial, Helvetica, sans-serif;
    position: relative;

}

.lp_right {
    float: right;
    padding: 5px;
    text-align: right;
    color: #ffffff;
    font-size: 12px;
}

.lp_right_grey {
    float: right;
    padding: 5px;
    text-align: right;
    color: #777777;
    font-size: 12px;
}

.lp_left {
    color: #ffffff;
    float: left;
    padding: 5px;
}

.lp_left a {
    font-weight: bold;
}

a img {
    border: none;
}

.header {
    width: 100%;
    top: 0;
    height: 80px;
    margin: 0 auto;
    border-bottom: 3px solid #687A92;
    background-color: #ffffff;
    min-width: 800px;
}

.tools {
    height: 30px;
    width: 100%;
    font-size: 13px;
    z-index: 1;
    background-color: #687A92;
    float: left;
}

.tools a {
    color: #ffffff;
    text-decoration:none;
}
.tools a:hover {
    text-decoration:underline;
    color: #ffffff;
}

.logo {
    float: left;
}

.clear {
    clear: both;
}

.menu_left {
    background-color: #eeeeee;
    color: #666666;
    font-size: 13px;
    position: relative;
    height: 100%;
}

.menu_left a {
    font-weight: bold;
    text-decoration: none;
    color: #8597A5;
}

.menu_left a:hover {
    text-decoration: underline;
    color: #687A92;
}

.menu_left ul {
    margin-top: 7px;
    margin-bottom: 11px;
    padding: 0px;
}

.menu_left li {
    line-height: 22px;
    list-style-type: none;
    padding-left: 5px;
}

.menu_left li.category {
    border-bottom: 1px dashed #DFDFDF;
    color: #687A92;
    font-size: 13px;
    font-weight: bold;
    line-height: 22px;
    list-style-type: none;
    padding-bottom: 5px;
    padding-left: 10px;
}

.menu_left ul>li em{
    color:#8a6d3b;
    font-weight: bold;
    font-style: normal;
}

.menu_left ul>li{
    font-size: 12px;
}

.menu_left li img {
    margin-right: 4px;
    vertical-align: middle;
}

.main_right {
    float: left;
    margin-left: 30px;
    padding: 20px;
    color: #666666;	
}

