/* 
==========================================================
    SASS for structure of eclass v3.0 - version 0.01008a 
==========================================================
*/
/* 
================================================================
    SASS for eclass UI v3.0 - Global styles - version 0.0926a
================================================================
*/
/* COLORS ---------------------------------------------------------------------- */
/* FONTS ------------------------------------------------------------------------- */
/* TRANSITIONS ------------------------------------------------------------------- */
/* MIXINS ------------------------------------------------------------------------------- */
/* CSS ANIMATIONS -----------------------------------------------------------------*/
/* line 113, ../SASS/global.scss */
.transition {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}

@-webkit-keyframes NEW-ITEM-FX {
  0% {
    background: #e8ffcb;
  }
  20% {
    background: #e8ffcb;
  }
  100% {
    background: rgba(232, 255, 203, 0);
  }
}
@-moz-keyframes NEW-ITEM-FX {
  0% {
    background: #e8ffcb;
  }
  20% {
    background: #e8ffcb;
  }
  100% {
    background: rgba(232, 255, 203, 0);
  }
}
@-o-keyframes NEW-ITEM-FX {
  0% {
    background: #e8ffcb;
  }
  20% {
    background: #e8ffcb;
  }
  100% {
    background: rgba(232, 255, 203, 0);
  }
}
@keyframes NEW-ITEM-FX {
  0% {
    background: #e8ffcb;
  }
  20% {
    background: #e8ffcb;
  }
  100% {
    background: rgba(232, 255, 203, 0);
  }
}
/* line 11, ../SASS/structure.scss */
body {
  background: #232C3A;
  font-family: 'Open Sans';
  position: relative;
}

/* line 18, ../SASS/structure.scss */
body > .container {
  padding: 0 15px;
}

/* LEFTNAV - MAIN MENU, LOGO */
/* line 25, ../SASS/structure.scss */
#leftnav {
  top: -53px;
  background: #232C3A;
  padding: 0;
}
/* line 29, ../SASS/structure.scss */
#leftnav .logo {
  margin: 0.8em 0.8em 0px;
}
/* line 32, ../SASS/structure.scss */
#leftnav .logo img {
  margin: 0 auto;
}
/* line 34, ../SASS/structure.scss */
#leftnav .panel {
  border: none;
  margin: 0;
  margin-bottom: 1em;
  background: inherit;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px 0px 0px 5px;
}
/* line 42, ../SASS/structure.scss */
#leftnav .panel .list-group {
  border-radius: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
/* line 46, ../SASS/structure.scss */
#leftnav .panel .panel-heading {
  border-radius: 4px 0px 0px 0px !important;
  padding: 10px 7px;
}
/* line 49, ../SASS/structure.scss */
#leftnav .panel .panel-heading .panel-title {
  text-align: center;
  font-size: 0.85em;
  font-weight: bold;
}
/* line 54, ../SASS/structure.scss */
#leftnav .panel .panel-heading:hover {
  color: #4da1e4;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 59, ../SASS/structure.scss */
#leftnav .panel a {
  color: #ADADAD;
  text-decoration: none;
}
/* line 63, ../SASS/structure.scss */
#leftnav .panel a.parent-menu {
  outline: 0;
  display: block;
  background: rgba(0, 0, 0, 0.2);
}
/* line 67, ../SASS/structure.scss */
#leftnav .panel a.parent-menu:not(.collapsed) {
  border-radius: 4px 0px 0px 0px;
  color: #4da1e4;
}
/* line 74, ../SASS/structure.scss */
#leftnav .panel a.parent-menu:hover, #leftnav .panel a.parent-menu:not(.collapsed) {
  border-radius: 4px 0px 0px 4px;
}
/* line 78, ../SASS/structure.scss */
#leftnav .panel a.list-group-item {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.075);
  padding: 0.6em 15px;
  background: transparent;
  text-align: center;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 85, ../SASS/structure.scss */
#leftnav .panel a.list-group-item > span {
  font-size: 0.9em;
  margin-left: 0.5em;
}
/* line 89, ../SASS/structure.scss */
#leftnav .panel a.list-group-item:hover {
  text-decoration: none;
  color: #eee;
  background: #4da1e4;
  border-radius: 4px 0px 0px 4px;
  margin-left: 0px;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 97, ../SASS/structure.scss */
#leftnav .panel a.list-group-item.active {
  background: #FAFAFA;
  text-shadow: none;
  color: #333;
  border-radius: 4px 0px 0px 4px;
  box-shadow: -8px 0px 10px -4px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -8px 0px 10px -4px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: -8px 0px 10px -4px rgba(0, 0, 0, 0.8);
}
/* line 107, ../SASS/structure.scss */
#leftnav .panel a.list-group-item:last-child {
  border-bottom: none;
}
/* line 110, ../SASS/structure.scss */
#leftnav .panel a.list-group-item:first-child {
  border-top: 1px solid rgba(255, 255, 255, 0.075);
}

/* LOGO - Extent bootstrap style -------------------------------------*/
/* line 123, ../SASS/structure.scss */
.logo {
  min-height: 20px;
  min-width: 20px;
}

/* MAIN-CONTENT -------------------------------------------------------*/
/* line 133, ../SASS/structure.scss */
#main-content {
  background-color: #FAFAFA;
  overflow: hidden;
}

/* line 139, ../SASS/structure.scss */
#header.navbar {
  margin-bottom: 0px;
  padding: 0;
  border: 0;
  background-color: #EEEEEE;
  border-bottom: 1px solid #DBDBDB;
}
/* line 146, ../SASS/structure.scss */
#header.navbar .navbar-nav {
  margin: 0;
  float: right;
}
/* line 150, ../SASS/structure.scss */
#header.navbar .navbar-nav > li {
  border-left: 1px solid #e7e7e7;
  float: left;
  cursor: pointer;
}
/* line 154, ../SASS/structure.scss */
#header.navbar .navbar-nav > li ul li a {
  padding-top: 3px;
  padding-bottom: 3px;
}
/* line 158, ../SASS/structure.scss */
#header.navbar .navbar-nav > li a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 22px;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 165, ../SASS/structure.scss */
#header.navbar .navbar-nav > li a i.fa {
  margin: 0 1em;
}
/* line 169, ../SASS/structure.scss */
#header.navbar .navbar-nav > li a:hover, #header.navbar .navbar-nav > li a:focus {
  background: #4da1e4;
  color: white;
}
/* line 176, ../SASS/structure.scss */
#header.navbar .navbar-nav > li .user-icon {
  width: 20px;
  margin-right: 10px;
}
/* line 182, ../SASS/structure.scss */
#header.navbar .navbar-nav > li:last-child > a {
  border-radius: 0 4px 0px 0px;
}

/* line 190, ../SASS/structure.scss */
.navbar-default {
  border-radius: 4px 4px 0px 0px;
}

/* line 195, ../SASS/structure.scss */
#progressbar-outer {
  width: 500px;
  border: 1px solid #025694;
}

/* line 201, ../SASS/structure.scss */
#progressbar-inner {
  height: 25px;
  background: #423440;
  background: linear-gradient(top, #273242, #6F8FBD);
  background: -ms-linear-gradient(top, #273242, #6F8FBD);
  background: -webkit-gradient(linear, left top, left bottom, from(#273242), to(#6F8FBD));
  background: -moz-linear-gradient(top, #273242, #6F8FBD);
}

/* FOOTER --------------------------------------------------------------------------------------*/
/* line 213, ../SASS/structure.scss */
footer.footer {
  text-align: center;
  padding: 1em;
  background: #EEEEEE;
  color: #a7a7a7;
  border-top: 1px solid #DBDBDB;
  border-radius: 0 0 4px 4px;
}

/* SIDEBAR ------------------------------------------------------------------------------------ */
/* line 230, ../SASS/structure.scss */
a.toggle-active {
  background-color: #e3e4e6 !important;
}

/* line 234, ../SASS/structure.scss */
#sidebar-container {
  display: none;
  position: absolute;
  width: 20.5em;
  right: 0px;
  overflow: hidden;
  border-bottom: #c9c9c9;
}
/* line 242, ../SASS/structure.scss */
#sidebar-container #sidebar {
  position: relative;
  width: 18.5em;
  right: -18.5em;
  background-color: #DEE0E2;
  word-wrap: break-word;
  box-shadow: -3px 0px 7px 0px #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 252, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel {
  padding: 0px;
  margin: 0px;
}
/* line 256, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .input-group-addon {
  width: 39px;
}
/* line 260, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .input-group {
  margin: 5px 0;
}
/* line 264, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .sidebar-title {
  margin: 0;
  font-weight: 600;
  padding-left: 13px;
  font-size: 0.75em;
  text-transform: uppercase;
  padding: 1.8em;
  background: #e3e4e6;
}
/* line 276, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .title {
  margin: 0;
  padding: 2em 0em !important;
  font-weight: 700;
  font-size: 0.8em;
  text-align: center;
  overflow: hidden;
  text-transform: uppercase;
}
/* line 286, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .title i.fa {
  padding-right: 10px;
  opacity: .9;
  font-size: 16px;
}
/* line 294, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel li.outerpanel {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
/* line 297, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel li.outerpanel > .ui-accordion-content,
#sidebar-container #sidebar .panel-group.outerpanel li.outerpanel > .ui-accordion-header-active {
  background: rgba(255, 255, 255, 0.3);
}
/* line 302, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel li.outerpanel > .ui-accordion-content {
  padding: 1em 0em;
}
/* line 306, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel li.outerpanel textarea {
  min-height: 12em;
}
/* line 310, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel li.outerpanel button {
  margin: 1.1em;
  margin-top: 0em;
}
/* line 316, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .panel {
  border: none;
  margin: 0px;
  background-color: #dddddd;
}
/* line 322, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .panel-heading {
  background-image: none;
  border: none;
  background-color: #DEE0E2;
}
/* line 327, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .panel-heading h4 {
  cursor: pointer;
}
/* line 331, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .goto {
  display: inline-block;
  float: right;
  margin-right: 0.5em;
  font-size: 0.75em;
}
/* line 337, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .goto:hover {
  text-decoration: none;
}
/* line 340, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel {
  margin-bottom: 0px;
  max-height: 200px;
  overflow: scroll;
  border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
}
/* line 346, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel .panel-heading {
  margin: 0px;
  padding: 0px;
}
/* line 350, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel .panel-heading > div {
  margin-left: 0px;
  margin-right: 0px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0px;
}
/* line 357, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel .panel-body {
  background: #253447;
  border-top: none;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
/* line 363, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel a.lesson-title-link {
  display: inline-block;
  height: 100%;
  width: 80%;
  line-height: 37px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 374, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel i.lesson-title-caret {
  display: inline-block;
  height: 100%;
  width: 20%;
  text-align: center;
  line-height: 37px;
  border-left: solid 1px #232c3a;
}
/* line 387, ../SASS/structure.scss */
#sidebar-container h1, #sidebar-container h2, #sidebar-container h3, #sidebar-container h4, #sidebar-container h5, #sidebar-container h6 {
  color: #686868;
  font-weight: 600;
}
/* line 391, ../SASS/structure.scss */
#sidebar-container ul, #sidebar-container li {
  list-style-type: none;
  padding: 0em;
  margin: 0em;
}

/* line 399, ../SASS/structure.scss */
#sidebar .side-list {
  background: #253447;
  border-top: none;
  color: rgba(255, 255, 255, 0.9);
}
/* line 403, ../SASS/structure.scss */
#sidebar .side-list .lesson-title {
  background: #344458;
  font-size: 0.85em;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  margin: 0 16px;
  border: 1px solid #48586D;
  border-top-width: 0px;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 417, ../SASS/structure.scss */
#sidebar .side-list .lesson-title:first-of-type {
  border-top-width: 1px;
  border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
}
/* line 422, ../SASS/structure.scss */
#sidebar .side-list .lesson-title:last-of-type {
  border-radius: 0px 0px 4px 4px;
  -webkit-border-radius: 0px 0px 4px 4px;
  -moz-border-radius: 0px 0px 4px 4px;
}
/* line 425, ../SASS/structure.scss */
#sidebar .side-list .lesson-title a.lesson-title-link:hover {
  background: #48586D;
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
}
/* line 430, ../SASS/structure.scss */
#sidebar .side-list .lesson-title a.lesson-title-link:hover:after {
  color: rgba(255, 255, 255, 0.6);
}
/* line 434, ../SASS/structure.scss */
#sidebar .side-list .lesson-title i.lesson-title-caret:hover {
  background: #48586D;
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
}
/* line 439, ../SASS/structure.scss */
#sidebar .side-list .lesson-title i.lesson-title-caret:hover:after {
  color: rgba(255, 255, 255, 0.6);
}
/* line 443, ../SASS/structure.scss */
#sidebar .side-list .lesson-title.ui-accordion-header-active {
  border-bottom: none;
  color: white;
  background: #425164;
}
/* line 448, ../SASS/structure.scss */
#sidebar .side-list .lesson-title.ui-accordion-header-active:last-of-type {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
/* line 452, ../SASS/structure.scss */
#sidebar .side-list .lesson-title.ui-accordion-header-active:after {
  color: #4da1e4;
}
/* line 457, ../SASS/structure.scss */
#sidebar .side-list ul {
  font-size: 0.75em;
}
/* line 460, ../SASS/structure.scss */
#sidebar .side-list ul > li {
  padding: 5px 0em;
}
/* line 464, ../SASS/structure.scss */
#sidebar .side-list .lesson-id {
  opacity: 0.5;
  font-size: 0.85em;
  font-weight: 700;
}
/* line 469, ../SASS/structure.scss */
#sidebar .side-list .lesson-professor {
  font-weight: 600;
  padding-top: 0px;
}
/* line 473, ../SASS/structure.scss */
#sidebar .side-list .lesson-notifications {
  margin-top: 1em;
}
/* line 475, ../SASS/structure.scss */
#sidebar .side-list .lesson-notifications .item {
  margin-right: 1.5em;
  position: relative;
}
/* line 478, ../SASS/structure.scss */
#sidebar .side-list .lesson-notifications .item .count {
  position: absolute;
  left: 0.8em;
  bottom: 0.8em;
  display: inline-block;
  text-align: center;
  background: #CE6B6B;
  color: white;
  width: 1.5em;
  height: 1.5em;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 0.75em;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
}
/* line 493, ../SASS/structure.scss */
#sidebar .side-list .lesson-notifications .item .fa {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.8);
}

/* ACCORDIONS --------------------------------------------------------------------*/
/* line 503, ../SASS/structure.scss */
.accordion {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* line 507, ../SASS/structure.scss */
.accordion ul, .accordion li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* line 515, ../SASS/structure.scss */
.accordion-title,
.ui-accordion-header {
  padding-right: 2em !important;
  position: relative;
  display: block;
  outline: none !important;
  cursor: pointer;
}
/* line 525, ../SASS/structure.scss */
.accordion-title:after,
.ui-accordion-header:after {
  position: absolute;
  display: inline-block;
  width: 1em;
  height: 1em;
  right: 1em;
  top: 42%;
  top: calc(50% - 0.5em);
  font-family: FontAwesome;
  font-size: 0.85em;
  content: "\f107";
  color: rgba(255, 255, 255, 0.2);
  moz-transform-origin: center center;
  -webkit-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 548, ../SASS/structure.scss */
.accordion-title.ui-state-active:after,
.ui-accordion-header.ui-state-active:after {
  behavior: url(-ms-transform.htc);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* INDEX --------------------------------------------------------------------------- */
/* line 565, ../SASS/structure.scss */
body.page-login h1 {
  margin: 1.25em 1em;
}

/* line 570, ../SASS/structure.scss */
.jumbotron.jumbotron-login {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 60px;
  margin-top: 10px;
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  background-color: #025694;
  /* fallback from css grandient */
  background: url("{%template_base%}/img/jumbotron-bg.png") repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 30% 60%;
  background-repeat: no-repeat;
  background: -webkit-gradient(radial, 30% 60%, 0, 30% 60%, 300, from(#009bcf), to(#025694));
  background: -webkit-radial-gradient(30% 60%, closest-corner, #009BCF, #025694);
  background: -moz-radial-gradient(30% 60%, closest-corner, #009BCF, #025694);
  background: -ms-radial-gradient(30% 60%, closest-corner, #009BCF, #025694);
}
/* line 600, ../SASS/structure.scss */
.jumbotron.jumbotron-login .graphic {
  min-height: 250px;
  background-image: url("../img/indexlogo.png");
  background-repeat: no-repeat;
  background-position: 20%;
  background-size: 353px;
}

/* line 610, ../SASS/structure.scss */
form.login-form {
  font-size: 0.85em;
  position: relative;
  z-index: 99;
  background: white;
  border-radius: 3rem;
  padding: 2em 3em;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 624, ../SASS/structure.scss */
form.login-form:hover {
  box-shadow: 0px 0px 20px 3px black;
  -moz-box-shadow: 0px 0px 20px 3px black;
  -webkit-box-shadow: 0px 0px 20px 3px black;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 632, ../SASS/structure.scss */
form.login-form h2 {
  text-align: center;
  font-size: 1.8em;
  margin: 2rem 0rem;
  margin-top: 0rem;
  color: #232c3a;
}
/* line 640, ../SASS/structure.scss */
form.login-form .form-group {
  margin: 0rem;
}
/* line 645, ../SASS/structure.scss */
form.login-form .form-group > * {
  display: inline-block;
  float: none;
}
/* line 651, ../SASS/structure.scss */
form.login-form .form-group input {
  width: 82%;
  border-bottom: 1px solid #eeeeee;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px;
  border-width: 1px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
  font-size: 1.1em;
  padding: 0.4em;
  line-height: 1.42857143;
  color: #444444;
}
/* line 672, ../SASS/structure.scss */
form.login-form .form-group input:focus {
  border-color: #4da1e4;
}
/* line 678, ../SASS/structure.scss */
form.login-form .form-group label {
  width: 17%;
  margin: 0;
  text-align: center;
}
/* line 684, ../SASS/structure.scss */
form.login-form .form-group i.fa {
  font-size: 1.2em;
  margin: 0;
  color: #aaaaaa;
}
/* line 691, ../SASS/structure.scss */
form.login-form .login-settings {
  margin: 2rem 0rem;
  font-size: 0.9em;
}
/* line 695, ../SASS/structure.scss */
form.login-form .login-settings > * {
  margin: 0;
}
/* line 699, ../SASS/structure.scss */
form.login-form .login-settings .checkbox,
form.login-form .login-settings .link {
  color: rgba(0, 0, 0, 0.5);
}
/* line 704, ../SASS/structure.scss */
form.login-form .login-settings .checkbox label,
form.login-form .login-settings .link label {
  font-weight: bold;
}
/* line 709, ../SASS/structure.scss */
form.login-form .login-settings .link a {
  float: right;
  margin-top: 0.3em;
  color: rgba(0, 0, 0, 0.5);
}
/* line 715, ../SASS/structure.scss */
form.login-form .login-settings .checkbox label span {
  margin-top: 0.3em;
  display: inline-block;
}
/* line 721, ../SASS/structure.scss */
form.login-form .btn.btn-login {
  width: 100%;
  height: 4rem;
  border-radius: 4rem;
  font-weight: 600;
  color: white;
  background: #428bca;
  letter-spacing: 0.1em;
  outline: none;
}
/* line 732, ../SASS/structure.scss */
form.login-form .btn.btn-login:hover {
  background: #3071a9;
}

/* DELETE THIS */
/* line 740, ../SASS/structure.scss */
.row .deleteThisClass {
  height: 400px;
  border: 1px solid #eee;
  background: rgba(0, 0, 0, 0.05);
}

/* MEDIA QUERIES -------------------------------------------------------------------*/
/* No breakpoints bellow 1366 or smth */
@media (max-width: 1339px) {
  /* line 765, ../SASS/structure.scss */
  body > .container {
    width: 100%;
  }
}
@media (min-width: 1340px) {
  /* line 771, ../SASS/structure.scss */
  .container {
    width: 1340px;
  }
}
@media (min-width: 992px) {
  /* line 777, ../SASS/structure.scss */
  #leftnav .panel a.list-group-item,
  #leftnav .panel .panel-heading .panel-title {
    text-align: left;
  }
}
@media (max-width: 992px) {
  /* line 784, ../SASS/structure.scss */
  body > .container {
    padding: 0;
    margin: 0;
  }

  /* line 788, ../SASS/structure.scss */
  #leftnav .panel a.list-group-item,
  #leftnav .panel .panel-heading .panel-title {
    text-align: left;
  }

  /* line 792, ../SASS/structure.scss */
  .navbar .navbar-nav > li a {
    padding: 15px 0.5em;
  }

  /* line 796, ../SASS/structure.scss */
  #main-content,
  #header.navbar .navbar-nav > li:last-child > a,
  .navbar-default, .footer {
    border-radius: 0px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 992px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 992px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 992px), only screen and (min-device-pixel-ratio: 2) and (min-width: 992px), only screen and (min-resolution: 192dpi) and (min-width: 992px), only screen and (min-resolution: 2dppx) and (min-width: 992px) {
  /* Medium screen, retina, stuff to override above media query */
}
