/* 
==========================================================
    SASS for structure of eclass v3.0 - version 0.01008a 
==========================================================
*/
/* 
================================================================
    SASS for eclass UI v3.0 - Global styles - version 0.0926a
================================================================
*/
/* COLORS ---------------------------------------------------------------------- */
/* FONTS ------------------------------------------------------------------------- */
/* TRANSITIONS ------------------------------------------------------------------- */
/* MIXINS ------------------------------------------------------------------------------- */
/* CSS ANIMATIONS -----------------------------------------------------------------*/
/* line 114, ../SASS/global.scss */
.transition {
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}

@-webkit-keyframes NEW-ITEM-FX {
  /* line 120, ../SASS/global.scss */
  0% {
    background: #e8ffcb;
  }

  /* line 121, ../SASS/global.scss */
  20% {
    background: #e8ffcb;
  }

  /* line 122, ../SASS/global.scss */
  100% {
    background: rgba(232, 255, 203, 0);
  }
}

@-moz-keyframes NEW-ITEM-FX {
  /* line 128, ../SASS/global.scss */
  0% {
    background: #e8ffcb;
  }

  /* line 129, ../SASS/global.scss */
  20% {
    background: #e8ffcb;
  }

  /* line 130, ../SASS/global.scss */
  100% {
    background: rgba(232, 255, 203, 0);
  }
}

@-o-keyframes NEW-ITEM-FX {
  /* line 136, ../SASS/global.scss */
  0% {
    background: #e8ffcb;
  }

  /* line 137, ../SASS/global.scss */
  20% {
    background: #e8ffcb;
  }

  /* line 138, ../SASS/global.scss */
  100% {
    background: rgba(232, 255, 203, 0);
  }
}

@keyframes NEW-ITEM-FX {
  /* line 144, ../SASS/global.scss */
  0% {
    background: #e8ffcb;
  }

  /* line 145, ../SASS/global.scss */
  20% {
    background: #e8ffcb;
  }

  /* line 146, ../SASS/global.scss */
  100% {
    background: rgba(232, 255, 203, 0);
  }
}

/* MAIN-CONTENT -------------------------------------------------------*/
/* line 12, ../SASS/structure.scss */
#main-content {
  background-color: #fafafa;
  overflow: hidden;
}

/* line 16, ../SASS/structure.scss */
#header_section .nav-container {
  border-bottom: 1px solid #DBDBDB;
}

/* line 20, ../SASS/structure.scss */
#header.navbar {
  margin-bottom: 0px;
  padding: 0;
  border: 0;
  background-color: #eeeeee;
}
/* line 26, ../SASS/structure.scss */
#header.navbar .navbar-nav {
  margin: 0;
  float: right;
}
/* line 30, ../SASS/structure.scss */
#header.navbar .navbar-nav > li {
  border-left: 1px solid #e7e7e7;
  float: left;
  cursor: pointer;
}
/* line 34, ../SASS/structure.scss */
#header.navbar .navbar-nav > li ul li a {
  padding: 6px 17px 6px 4px;
}
/* line 37, ../SASS/structure.scss */
#header.navbar .navbar-nav > li a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 22px;
  /*          @include transition(all $transition-time linear);*/
}
/* line 44, ../SASS/structure.scss */
#header.navbar .navbar-nav > li a i.fa {
  margin: 0 1em;
}
/* line 49, ../SASS/structure.scss */
#header.navbar .navbar-nav > li a:hover, #header.navbar .navbar-nav > li a:focus {
  background: #4da1e4;
  color: white;
}
/* line 56, ../SASS/structure.scss */
#header.navbar .navbar-nav > li .user-icon {
  width: 20px;
  margin-right: 10px;
}
/* line 61, ../SASS/structure.scss */
#header.navbar .navbar-nav > li:last-child > a {
  border-radius: 0 4px 0px 0px;
}

/* line 70, ../SASS/structure.scss */
.navbar-default {
  border-radius: 4px 4px 0px 0px;
}

/* FOOTER --------------------------------------------------------------------------------------*/
/* line 76, ../SASS/structure.scss */
footer.footer {
  text-align: center;
  padding: 1em;
  background: #eeeeee;
  color: #a7a7a7;
  border-top: 1px solid #DBDBDB;
  border-radius: 0 0 4px 4px;
}

/* SIDEBAR ------------------------------------------------------------------------------------ */
/* line 92, ../SASS/structure.scss */
a.toggle-active {
  background-color: #e3e4e6 !important;
}

/* line 96, ../SASS/structure.scss */
#sidebar-container {
  display: none;
  position: absolute;
  width: 20.5em;
  right: 0px;
  overflow: hidden;
  border-bottom: #c9c9c9;
  z-index: 300;
}
/* line 105, ../SASS/structure.scss */
#sidebar-container #sidebar {
  position: relative;
  width: 18.5em;
  right: -18.5em;
  background-color: #eaeaea;
  word-wrap: break-word;
  box-shadow: -3px 6px 7px 0px #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* line 115, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel {
  padding: 0px;
  margin: 0px;
}
/* line 119, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel > .panel {
  padding-bottom: 5px;
  background-color: #eaeaea;
  box-shadow: none !important;
}
/* line 124, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .sidebar-mymessages {
  color: #333;
  font-size: 12px;
}
/* line 128, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .sidebar-mymessages .list-item {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
/* line 133, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .sidebar-mymessages .list-item:last-child {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: none;
}
/* line 138, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .panel-body {
  padding: 0px 8px;
  border: none;
}
/* line 143, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .input-group {
  margin: 5px 0;
}
/* line 147, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .title {
  margin: 0;
  padding: 2em 0em !important;
  font-weight: 700;
  font-size: 0.85em;
  text-align: center;
  overflow: hidden;
}
/* line 156, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .title i.fa {
  padding-right: 10px;
  opacity: .9;
  font-size: 16px;
}
/* line 162, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .course-btn {
  color: #888;
  padding: 8px 0;
  width: 24px;
}
/* line 167, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .course-btn i {
  cursor: pointer;
}
/* line 171, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel #up.course-btn {
  padding-bottom: 0px;
}
/* line 174, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel #down.course-btn {
  padding-top: 0px;
}
/* line 177, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .panel {
  border: none;
  margin: 0px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
}
/* line 183, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .panel-heading {
  background-image: none;
  border: none;
  background-color: #DEE0E2;
}
/* line 188, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .panel-heading h4 {
  cursor: pointer;
}
/* line 192, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .goto {
  display: inline-block;
  float: right;
  margin-right: 0.5em;
  font-size: 0.75em;
}
/* line 198, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .goto:hover {
  text-decoration: none;
}
/* line 201, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel {
  margin-bottom: 0px;
}
/* line 204, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel #innerpanel-container {
  position: relative;
  top: -1px;
  padding: 1px 0;
}
/* line 210, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel .panel {
  margin: 6px 3px;
  box-shadow: none;
}
/* line 214, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel .panel:first-child {
  margin-top: 3px;
}
/* line 217, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel .panel:last-child {
  margin-bottom: 3px;
}
/* line 221, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel .panel-heading {
  margin: 0px;
  padding: 0px;
}
/* line 225, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel .panel-heading > div {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 230, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel .panel-body {
  background-color: #efefef;
  border-top: none;
  color: #999;
}
/* line 236, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel a.lesson-title-link {
  display: block;
  float: left;
  height: 37px;
  line-height: 37px;
  width: 80%;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #4da1e4;
}
/* line 249, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel a.lesson-title-link:hover, #sidebar-container #sidebar .panel-group.outerpanel .innerpanel a.lesson-title-link.active {
  text-decoration: none;
  color: #1a70b1;
}
/* line 254, ../SASS/structure.scss */
#sidebar-container #sidebar .panel-group.outerpanel .innerpanel i.lesson-title-caret {
  background-color: #efefef;
  display: block;
  float: right;
  height: 37px;
  width: 20%;
  text-align: center;
  line-height: 37px;
  border-left: solid 1px #ececec;
  color: #666;
}
/* line 268, ../SASS/structure.scss */
#sidebar-container h1, #sidebar-container h2, #sidebar-container h3, #sidebar-container h4, #sidebar-container h5, #sidebar-container h6 {
  color: #686868;
  font-weight: 600;
}
/* line 272, ../SASS/structure.scss */
#sidebar-container ul, #sidebar-container li {
  list-style-type: none;
  padding: 0em;
  margin: 0em;
}

/* line 280, ../SASS/structure.scss */
#sidebar .side-list {
  background: #f7f7f7;
  border-top: none;
  color: rgba(255, 255, 255, 0.9);
}
/* line 284, ../SASS/structure.scss */
#sidebar .side-list .panel-body {
  padding: 6px 8px 10px !important;
}
/* line 287, ../SASS/structure.scss */
#sidebar .side-list .lesson-title {
  height: 37px;
  background: #fff;
  font-size: 0.85em;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
  position: relative;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 600;
  margin: 0 16px;
  border-top-width: 0px;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 301, ../SASS/structure.scss */
#sidebar .side-list ul {
  font-size: 0.75em;
}
/* line 304, ../SASS/structure.scss */
#sidebar .side-list ul > li {
  padding: 5px 5px;
}
/* line 308, ../SASS/structure.scss */
#sidebar .side-list .lesson-id {
  opacity: 0.5;
  font-size: 0.85em;
  font-weight: 700;
}
/* line 313, ../SASS/structure.scss */
#sidebar .side-list .lesson-professor {
  color: #333;
}
/* line 316, ../SASS/structure.scss */
#sidebar .side-list .lesson-notifications {
  margin-top: 1em;
}
/* line 318, ../SASS/structure.scss */
#sidebar .side-list .lesson-notifications i {
  color: #444 !important;
}
/* line 321, ../SASS/structure.scss */
#sidebar .side-list .lesson-notifications .item {
  margin-right: 1.5em;
  position: relative;
}
/* line 324, ../SASS/structure.scss */
#sidebar .side-list .lesson-notifications .item .count {
  position: absolute;
  left: 0.8em;
  bottom: 0.8em;
  display: inline-block;
  text-align: center;
  background: #ce6b6b;
  color: white;
  width: 1.5em;
  height: 1.5em;
  font-size: 0.75em;
  font-weight: 600;
  border-radius: 0.75em;
  -webkit-border-radius: 0.75em;
  -moz-border-radius: 0.75em;
}
/* line 339, ../SASS/structure.scss */
#sidebar .side-list .lesson-notifications .item .fa {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.8);
}

/* ACCORDIONS --------------------------------------------------------------------*/
/* line 349, ../SASS/structure.scss */
.accordion {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/* line 353, ../SASS/structure.scss */
.accordion ul, .accordion li {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* line 362, ../SASS/structure.scss */
.accordion-title,
.ui-accordion-header {
  padding-right: 2em !important;
  position: relative;
  display: block;
  outline: none !important;
  cursor: pointer;
}
/* line 371, ../SASS/structure.scss */
.accordion-title:after,
.ui-accordion-header:after {
  position: absolute;
  display: inline-block;
  width: 1em;
  height: 1em;
  right: 1em;
  top: 42%;
  top: calc(50% - 0.5em);
  font-family: FontAwesome;
  font-size: 0.85em;
  content: "\f107";
  color: rgba(255, 255, 255, 0.2);
  moz-transform-origin: center center;
  -webkit-transform-origin: center center;
  -o-transform-origin: center center;
  -ms-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 394, ../SASS/structure.scss */
.accordion-title.ui-state-active:after,
.ui-accordion-header.ui-state-active:after {
  behavior: url(-ms-transform.htc);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}

/* INDEX --------------------------------------------------------------------------- */
/* line 411, ../SASS/structure.scss */
body.page-login h1 {
  margin: 1.25em 1em;
}

/* line 416, ../SASS/structure.scss */
.jumbotron.jumbotron-login {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 60px;
  margin-top: 10px;
  min-height: 315px;
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  background-color: #025694;
  /* fallback from css grandient */
  background: url("../img/jumbotron-bg.png") repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: url("../img/indexlogo.png") 10% 60% no-repeat, radial-gradient(closest-corner at 30% 60%, #009bcf, #025694);
  background-size: 353px, cover;
}

/* line 447, ../SASS/structure.scss */
div.login-form {
  font-size: 0.85em;
  position: relative;
  z-index: 99;
  background: white;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  padding: 2em 2em;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
  /*  .form-group{
      margin:0rem;
    }
  
  
    .form-group >*{
      display:inline-block;
      float:none;
    }
  
  
    .form-group input{
  
      width: 82%;
  
      border-bottom: 1px solid #eeeeee;
      border-top: none;
      border-right: none;
      border-left: none;
      border-radius: 0px;
      border-width: 1px;
      
  
      @include box-shadow(none);
  
      
      outline:none;
      font-size:1.1em;
      padding: 0.4em;
      line-height: 1.42857143;
      color: #444444;
  
      &:focus{
        border-color: $color-hover;
      }
  
    }
  
    .form-group label{
      width: 17%;
      margin:0;
      text-align: center;
    }
  
    .form-group i.fa{
      font-size:1.2em;
      margin:0;
      color:#aaaaaa;
    }*/
}
/* line 457, ../SASS/structure.scss */
div.login-form:hover {
  box-shadow: 0px 0px 20px 3px black;
  -moz-box-shadow: 0px 0px 20px 3px black;
  -webkit-box-shadow: 0px 0px 20px 3px black;
  -webkit-transition: all 120ms linear;
  -moz-transition: all 120ms linear;
  -o-transition: all 120ms linear;
  -ms-transition: all 120ms linear;
  transition: all 120ms linear;
}
/* line 461, ../SASS/structure.scss */
div.login-form h2 {
  text-align: center;
  font-size: 1.8em;
  margin: 2rem 0rem;
  margin-top: 0rem;
  color: #232c3a;
}
/* line 520, ../SASS/structure.scss */
div.login-form .login-settings {
  margin: 5px 0px 0px 0px;
  font-size: 0.9em;
}
/* line 524, ../SASS/structure.scss */
div.login-form .login-settings > div:first-child {
  text-align: right;
  padding: 5px 0;
}
/* line 529, ../SASS/structure.scss */
div.login-form .login-settings > hr {
  margin: 5px 0 10px;
}
/* line 533, ../SASS/structure.scss */
div.login-form .login-settings .alt_login span:first-child {
  font-weight: bold;
}
/* line 536, ../SASS/structure.scss */
div.login-form .login-settings > * {
  margin: 0;
}
/* line 541, ../SASS/structure.scss */
div.login-form .login-settings .checkbox,
div.login-form .login-settings .link {
  color: rgba(0, 0, 0, 0.5);
}
/* line 546, ../SASS/structure.scss */
div.login-form .login-settings .checkbox label,
div.login-form .login-settings .link label {
  font-weight: bold;
}
/* line 550, ../SASS/structure.scss */
div.login-form .login-settings .link a {
  float: right;
  margin-top: 0.3em;
  color: rgba(0, 0, 0, 0.5);
}
/* line 556, ../SASS/structure.scss */
div.login-form .login-settings .checkbox label span {
  margin-top: 0.3em;
  display: inline-block;
}
/* line 562, ../SASS/structure.scss */
div.login-form .btn.btn-login {
  margin: 15px 0 5px;
  width: 100%;
  height: 4rem;
  border-radius: 4rem;
  font-weight: 600;
  color: white;
  background: #428bca;
  letter-spacing: 0.1em;
  outline: none;
}
/* line 572, ../SASS/structure.scss */
div.login-form .btn.btn-login:hover {
  background: #3071a9;
}

/* DELETE THIS */
/* line 580, ../SASS/structure.scss */
.row .deleteThisClass {
  height: 400px;
  border: 1px solid #eee;
  background: rgba(0, 0, 0, 0.05);
}

/* MEDIA QUERIES -------------------------------------------------------------------*/
/* No breakpoints bellow 1366 or smth */
@media (max-width: 1339px) {
  /* line 594, ../SASS/structure.scss */
  body > .container {
    width: 100%;
  }
}
@media (min-width: 1340px) {
  /* line 600, ../SASS/structure.scss */
  .container {
    width: 1340px;
  }
}
@media (min-width: 992px) {
  /* line 607, ../SASS/structure.scss */
  #leftnav .panel a.list-group-item,
  #leftnav .panel .panel-heading .panel-title {
    text-align: left;
  }
}
@media (max-width: 992px) {
  /* line 613, ../SASS/structure.scss */
  body > .container {
    padding: 0;
    margin: 0;
  }

  /* line 618, ../SASS/structure.scss */
  #leftnav .panel a.list-group-item,
  #leftnav .panel .panel-heading .panel-title {
    text-align: left;
  }

  /* line 621, ../SASS/structure.scss */
  .navbar .navbar-nav > li a {
    padding: 15px 0.5em;
  }

  /* line 627, ../SASS/structure.scss */
  #main-content,
  #header.navbar .navbar-nav > li:last-child > a,
  .navbar-default, .footer {
    border-radius: 0px !important;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 992px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 992px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 992px), only screen and (min-device-pixel-ratio: 2) and (min-width: 992px), only screen and (min-resolution: 192dpi) and (min-width: 992px), only screen and (min-resolution: 2dppx) and (min-width: 992px) {
  /* Medium screen, retina, stuff to override above media query */
}
