table.WorkSum {
    padding: 2px;
	vertical-align: top;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.WorkSum th {
	padding: 4px;
	vertical-align: top;
	font-size:10px;
	color: #727266;
	border-top: 1px solid #edecdf;
	border-bottom: 1px solid #edecdf;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
}

table.WorkSum td {
	padding: 4px;
	vertical-align: top; !important
	font-size:10px;
	color: #727266;
	vertical-align: middle;
}




table.Work {
	padding: 2px;
	vertical-align: middle;
	border-top: 1px solid #DBDCCD;
	border-bottom: 1px solid #DBDCCD;
	border-left: 1px solid #DBDCCD;
	border-right: 1px solid #DBDCCD;
}

table.Work th{
	text-align: center;
	padding: 4px;
	padding-bottom: 6px;
	padding-top: 6px;
	font-weight: bold;
	font-size:10px !important;
	vertical-align: middle;
	background : #edecdf;
}

table.Work td {
    padding: 4px;
    color: #727266;
    vertical-align: middle;
    background : #edecdf;
}

table.Work_List {
    padding: 2px;
	vertical-align: top;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}


.grade_input{
	margin-top: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	padding: 0px 5px 0px 0px;
	border: 1px solid #a33033;
	background-color: #fff;
	color: #000;
	text-align : right;
}

.grade {
	color: #000000;
	vertical-align: top;
	background : #fff !important;
	padding : 5px 4px 4px 4px;
}



table.Work_List th {
	padding: 4px;
	vertical-align: top;
	background: #edecdf;
	font-size:10px;
	color: #727266;
	border-top: 1px solid #edecdf;
	border-bottom: 1px solid #edecdf;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
}

table.Work_List thead {
	text-align : center !Important;
}

table.Work_List td {
	padding: 4px;
	vertical-align: top !important;
	background: #Fbfbfb;
	font-size:10px;
	color: #727266;
	vertical-align: middle;
}

table.Info {
	background: #ffffff;
}

table.Info td {
	font-size: 9	px;
	background: #fff !important;
	border-bottom: 1px solid #ffffff;
	border-top: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
}



.invisible {
	color : #CAC3B5 !important;
    background: #FFFFCC
}

.invisible a{
	color : #ABABAB;
}

.empty {
	color: red !important;
}

.score {
	color: #a33033 !important;
	text-align : right;
}









td.category {
	background: #E6EDF5;
	color: #4F76A3;
	
	text-align:left;
}
.cellpos{
	position:relative;
	vertical-align:middle; 
	text-align:center;
}

form.sort {
 	margin: 0 auto;
	text-align:right;
}

.dropbox_detail {  
		font-size: 10px; 
		font-family: Verdana, Arial, Helvetica; 
}

.dropbox_date {  
		font-style: italic;
}

.dropbox_person {  
		font-weight: bold;
}

.dropbox_listTitle { 
		font-style: bold; 
		color: black;
}

table.dropbox {
    padding: 2px;
	vertical-align: top;
    border-top: 1px solid #edecdf;
    border-bottom: 1px solid #edecdf;
    border-left: 1px solid #edecdf;
    border-right: 1px solid #edecdf;
}

table.dropbox th {
	padding: 4px;
	vertical-align: top;
	background: #edecdf;
	font-size:10px;
	color: #727266;
	border-top: 1px solid #edecdf;
	border-bottom: 1px solid #edecdf;
	border-left: 1px solid #edecdf;
	border-right: 1px solid #edecdf;
	font-style : normal;
	font-variant : normal;
	font-weight : normal;
}

table.dropbox td {
	padding: 4px;
	vertical-align: top !important;
	background: #Fbfbfb;
	font-size:10px;
	color: #727266;
	vertical-align: middle;
}

.expired {
	color: red;
}

.not_expired {
	color: #008040;
}

.expired_today {
	color: #FF8000;
}

table.xinha_editor td {
	vertical-align: top;
    	font-size : 10px;
	padding : 1px 1px 1px 1px;
}